<div class="sombreadoSubtitulos">
<h5 mat-dialog-title class="subtitulo-seccion">Busqueda de Paciente
  <span class="example-spacer"></span>
  <button mat-button class="mat-button-icon" (click)="onNoClick()">
    <div class="example-tooltip-host" matTooltip="Salir" aria-label="hola">
      <span>
        <i class="material-icons">close</i>
      </span>
    </div>
    <!-- </div> -->
  </button>
</h5>
</div>
<div mat-dialog-content>
  <mat-card-content>
    <div class="modal-body">
      <div class="row">

        <div class="col-sm-4 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre(s)" [(ngModel)]="nombres" name="nombre_busqueda" #nombre_busqueda="ngModel">
            <mat-error>
              <app-validators-messages [controlVar]="nombre_busqueda" labelName="Nombre">
              </app-validators-messages>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-4 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Apellido Paterno" [(ngModel)]="apellidoPate" name="apellido_paterno" #apellido_paterno="ngModel">
            <mat-error>
              <app-validators-messages [controlVar]="apellido_paterno" labelName="Apellido Paterno">
              </app-validators-messages>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-4 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Apellido Materno" [(ngModel)]="apellidoMate" name="apellido_materno" #apellido_materno="ngModel">
            <mat-error>
              <app-validators-messages [controlVar]="apellido_materno" labelName="Apellido Materno">
              </app-validators-messages>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-12 text-right">
      <button class="border-botton" mat-raised-button (click)="obtenerPersona()"> Buscar </button>
      <!--<button mat-button (click)="limpiar()"> Limpiar </button>-->
    </div>
  </mat-card-content>

  <mat-card style="width:100%;max-width: 100%">

    <mat-card-content>

      <div class="table responsive">

        <mat-table #table [dataSource]="dataSource">
          <!-- Tipo Documento  -->
          <ng-container matColumnDef="descripcionTipoDocumentoIdentidad">
            <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.descripcionTipoDocumentoIdentidad}} </mat-cell>
          </ng-container>
          <!-- Numero Documento  -->
          <ng-container matColumnDef="numeroDocumentoIdentidad">
            <mat-header-cell *matHeaderCellDef> N&uacute;mero D. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.numeroDocumentoIdentidad}} </mat-cell>
          </ng-container>
          <!-- Apellido Paterno  -->
          <ng-container matColumnDef="apellidoPaterno">
            <mat-header-cell *matHeaderCellDef> Apellido P. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.apellidoPaterno}} </mat-cell>
          </ng-container>
          <!-- Apellido Materno  -->
          <ng-container matColumnDef="apellidoMaterno">
            <mat-header-cell *matHeaderCellDef> Apellido M. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.apellidoMaterno}} </mat-cell>
          </ng-container>
          <!-- Nombres  -->
          <ng-container matColumnDef="nombres">
            <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nombres}} </mat-cell>
          </ng-container>
          <!-- Paginador  -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="asigPaciente(row)" class="tablita"></mat-row>

        </mat-table>

      </div>

    </mat-card-content>

  </mat-card>
</div>