<main *ngIf="showMenu==1">

    <mat-card>
        <mat-card-header class=" sombreadoSubtitulos">
            <mat-card-title class="subtitulo-seccion">Listado de Atenciones</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="text-center aliFecha">
                <mat-form-field class="col-sm-3">
                    <input matInput placeholder="Fecha de Atención" [matDatepicker]="picker" [(ngModel)]="_params.feProgramacion" name="feProgramacion" #feProgramacion="ngModel" (dateInput)="getListaCitaxProgramacion()" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>
                <!-- <div class="text-right">
                        <button mat-raised-button color="accent" class="col-sm-2" (click)="pruebita()" >Pruebita</button>
                    </div>  -->
                <!-- <mat-error>
                        <app-validators-messages [controlVar]="feProgramacion" labelName="Fecha de cita"> </app-validators-messages>
                    </mat-error> -->
                <!-- <div class="col-sm-2">
                    <button mat-raised-button (click)="getListaCitaxProgramacion()" [disabled]="_params.feProgramacion == null">Buscar</button>
                </div> -->
            </div>
                       
            <div class="form-grup form-group-sm">
                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="especialidad">
                        <mat-header-cell *matHeaderCellDef> Servicio Hospitalario </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.especialidad}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="descActividad">
                        <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.descActividad}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="hoInicio">
                        <mat-header-cell *matHeaderCellDef> Hora Inicio </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.hoInicio}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="hoFinal">
                        <mat-header-cell *matHeaderCellDef> Hora Final </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.hoFinal}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="descAmbiente">
                        <mat-header-cell *matHeaderCellDef> Ambiente </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.descAmbiente}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{(element.flEstado==1 ? 'Disponible' : 'No Disponible')}}
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row style="cursor: pointer;" *matRowDef="let row; columns: displayedColumns;"
                        (click)="tablePacientesCitados(row.idProgramacion)"></mat-row>

                </mat-table>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="idProgramacion!==null">
        <mat-card-header class=" sombreadoSubtitulos">
            <mat-card-title  class="subtitulo-seccion">Listado de Pacientes Citados</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
           
                <mat-table #table [dataSource]="dataSource1">

                    <ng-container matColumnDef="ordenAtencion">
                        <mat-header-cell *matHeaderCellDef> Orden de Atención </mat-header-cell>
                        <mat-cell *matCellDef="let element; let i=index"> {{i+1}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nombreCompleto">
                        <mat-header-cell *matHeaderCellDef> Paciente </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.apePaterno}} {{element.apeMaterno}}
                            {{element.noNombre}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="edad">
                        <mat-header-cell *matHeaderCellDef> Edad </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.edad == 0 ? element.edadLetras : element.edad +
                            ' años'}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="historiaClinica">
                        <mat-header-cell *matHeaderCellDef> Historia Clinica </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.idHistoria}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="grupoEtareo">
                        <mat-header-cell *matHeaderCellDef> Grupo Etareo </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.grupoEtareo}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.estadoCita}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="atender">
                        <mat-header-cell *matHeaderCellDef> Atender </mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngStyle]="{'background-color': darkgray}">
                            <button mat-button *ngIf='element.idEstadoCita=="R"'>
                                <i class="material-icons"
                                    (click)="ingresar(element.idCitaEncrip, element.idGrupoEtarioEncrip, element.idPersona)">assignment</i>
                            </button>
                            <!-- <button *ngIf='element.idEstadoCita=="R"' mat-raised-button value="ingresar" (click)="ingresar(element.idCitaEncrip, element.idGrupoEtarioEncrip, element.idPersona)">Ingresar</button> -->
                            <p *ngIf="element.idEstadoCita!='R'"> -- </p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="verAM">
                        <mat-header-cell *matHeaderCellDef> Ver Acto Medico </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-button *ngIf="element.idEstadoCita=='A'">
                                <i class="material-icons" (click)="openModal(element)">remove_red_eye</i>
                            </button>
                            <p *ngIf="element.idEstadoCita!='A'"> -- </p>
                            <!-- <button mat-raised-button value="Falta" id="{{element.idCitaEncrip}}" (click)="openModalCancelar(element.idCitaEncrip)">No se Presento</button> -->
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns1;" readonly="row.idEstadoCita=='S'">
                    </mat-row>

                </mat-table>
     
        </mat-card-content>
    </mat-card>

</main>

<!-- MENU -->
<main *ngIf="showMenu==2">
    <!-- <div class="example-container" [class.example-is-mobile]="mobileQuery.matches"> -->
    <mat-toolbar class="example-toolbar">
        <!-- <a mat-button class="mat-button {{activo[uri]}}" *ngFor="let uri of arrayUris; let i = index;" (click)="goToModulo(uri)">{{jsonUris[uri]}}</a> -->
        
        <div *ngFor="let lsM of _menu">
            <a mat-button class="mat-button {{lsM.activo}}" *ngIf="!lsM.hidden" (click)="goToModulo(lsM.uri)">{{lsM.nombrePagina}}</a>
        </div>
        <span class="example-spacer"></span>
        <!-- [style.visibility]="mobileQuery.matches ? 'visible' : 'hidden' " -->
        <button mat-icon-button (click)="snav.toggle()" tabindex="-1">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <!-- (backdropClick)="close('backdrop')" (keydown.escape)="close('escape')" disableClose -->
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 20 : 0">
        <mat-sidenav opened="true" position="end" #snav [mode]="mobileQuery.matches ? 'push' : 'side'"
            [fixedInViewport]="mobileQuery.matches ? 'false':'false'" fixedTopGap="56">
            <app-ultimas-atenciones></app-ultimas-atenciones>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
            <div class="text-right" *ngIf="!verificando()">
                <!--*ngIf="verificando()" leonel saca este boton -->
                <button mat-raised-button  class="col-sm-2" (click)="finalizar()" [disabled]="verificando()">Finalizar
                    Atencion</button>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <!-- </div> -->
</main>