.buscar {
    padding-top: 15px;
   }
.mat-toolbar{
 background-color: #fff;
}
.isDisabled {
    background: transparent  !important;
    color: #9E9E9E  !important;
    font-family:  sans-serif !important;
    font-size: 14px;
    padding-left: 10px; 
    padding-right: 10px; 
    text-align: center;
    font-weight: 600;
    overflow: hidden;
    opacity: 0.5;
    text-decoration: none;
    cursor: not-allowed !important;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .color-gray {background-color: darkgray}