<mat-card>
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Cobertura</mat-card-title>
    <div class="emp">
      <button class="enlace negrita" type="button" (click)="modalInsertarCobertura()">
        Nueva Cobertura
      </button>
    </div>
  </mat-card-header>


  <mat-card-content>
    <form #coberturaForm="ngForm" novalidate name="coberturaForm">
      <div class="card-body">

        <div class="row centrar">

          <!-- Convenio -->
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <mat-label>Convenios</mat-label>
              <mat-select placeholder="Seleccionar" name="convenios" (selectionChange)="seleccionarConvenio(paramsBusqueda.idConvenio)"
                [(ngModel)]="paramsBusqueda.idConvenio">
                <mat-option *ngFor="let co of convenio" [value]="co.idConvenio">
                  {{co.nombreConvenio}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- Termina Convenio -->

          <!-- Producto  -->
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <mat-label>Productos</mat-label>
              <mat-select placeholder="Seleccionar" name="productos" (selectionChange)="seleccionarProductos(paramsBusqueda.coProdCode)"
                [(ngModel)]="paramsBusqueda.coProdCode">
                <mat-option *ngFor="let p of producto" [value]="p.coProdCode">
                  {{p.noProdName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- Termina Producto -->

          <div class="col-sm-3" style="margin-top:1%;">
            <button mat-raised-button (click)="getCobertura()" [disabled]="isInvalid(coberturaForm)">Buscar
            </button>
          </div>

        </div>

      </div>
    </form>

    <div class="table responsive" *ngIf="cobertura.length!=0">

      <mat-table #table [dataSource]="dataSource">

        <!-- convenio -->
        <ng-container matColumnDef="convenio">
          <mat-header-cell *matHeaderCellDef> Convenio </mat-header-cell>
          <mat-cell *matCellDef="let cobertura"> {{ cobertura.nombreConvenio }} </mat-cell>
        </ng-container>

        <!-- producto -->
        <ng-container matColumnDef="producto">
          <mat-header-cell *matHeaderCellDef>Producto</mat-header-cell>
          <mat-cell *matCellDef="let cobertura"> {{ cobertura.noProdName }} </mat-cell>
        </ng-container>

        <!-- codigo cobertura -->
        <ng-container matColumnDef="codigocobertura">
          <mat-header-cell *matHeaderCellDef  matTooltip="Codigo Cobertura" matTooltipPosition="above">C.C</mat-header-cell>
          <mat-cell *matCellDef="let cobertura"> {{cobertura.coCoberCode}}{{cobertura.coSubTipoCober}} </mat-cell>
        </ng-container>

        <!-- cobertura -->
        <ng-container matColumnDef="cobertura">
          <mat-header-cell *matHeaderCellDef>Cobertura</mat-header-cell>
          <mat-cell *matCellDef="let cobertura"> {{ cobertura.noSubTipoCoberName }} </mat-cell>
        </ng-container>

         <!-- tipo cobertura -->
         <ng-container matColumnDef="tipocobertura">
          <mat-header-cell *matHeaderCellDef  matTooltip="Tipo de Cobertura" matTooltipPosition="above">T.Cobertura</mat-header-cell>
          <mat-cell *matCellDef="let cobertura"> {{ cobertura.noCoberCode }} </mat-cell>
        </ng-container>

        <!-- copago fijo -->
        <ng-container matColumnDef="copagofijo">
          <mat-header-cell *matHeaderCellDef>Pago Fijo</mat-header-cell>
          <mat-cell *matCellDef="let cobertura">S/ {{ cobertura.copagoFijo }} </mat-cell>
        </ng-container>

        <!-- copago variable -->
        <ng-container matColumnDef="copagovariable">
          <mat-header-cell *matHeaderCellDef>Pago Variable</mat-header-cell>
          <mat-cell *matCellDef="let cobertura"> {{ cobertura.copagoVariable }} % </mat-cell>
        </ng-container>

        <!-- copago variable -->
        <ng-container matColumnDef="nocalifservname">
          <mat-header-cell *matHeaderCellDef>Calif. Servicio</mat-header-cell>
          <mat-cell *matCellDef="let cobertura"> {{ cobertura.noCalifServName }} </mat-cell>
        </ng-container>

        <!-- editar -->
        <ng-container matColumnDef="editar">
          <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
          <mat-cell *matCellDef="let cobertura">
            <button mat-button (click)="modalEditarCobertura(cobertura)">
              <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">edit</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- eliminar -->
        <ng-container matColumnDef="eliminar">
          <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
          <mat-cell *matCellDef="let cobertura">
            <button mat-button (click)="modalEliminarCobertura(cobertura)">
              <div class="example-tooltip-host" matTooltip="Eliminar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">delete</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Header -->
        <mat-header-row *matHeaderRowDef="displayedColumnsA"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsA;">
        </mat-row>
      </mat-table>
      <!--  -->
    </div>

  </mat-card-content>

</mat-card>