<!-- <mat-card>
  <app-persona-datos [idCita]="idCita"></app-persona-datos>
</mat-card>

<mat-card>
  <app-acto-medico-cita [idCita]="idCita"></app-acto-medico-cita>
</mat-card> -->
<!--TABLA LISTA DE PROCEDIMIENTOS ANTERIORES-->


<!--FORMULARIO ACTO MEDICO: -->
<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Solicitud de Procedimiento</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #registrarOrdenProc="ngForm" novalidate name="registrarOrdenProc">
      <div class="card-body">
        <div class="row">
          <!--COLUMNA 1: -->
          <div class="col-sm-2 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <mat-label>C&oacute;digo:</mat-label>
              <input matInput type="text" maxlength="8" [(ngModel)]="codigoProcedimiento" (input)="onSearchChange($event.target.value)" name="codigoProcs" #codigoProcs="ngModel" id="codigoProcs" [disabled]="isValidModify()" matTooltip="Escribir Codigo de 5 digitos"
                [matTooltipPosition]="'above'" />
              <mat-error>
                <app-validators-messages [controlVar]="codigoProcs" labelName="C&oacute;digo">

                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-sm-10 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <mat-label>Descripci&oacute;n De Procedimiento:</mat-label>
              <textarea matInput type="text" [matAutocomplete]="auto" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3" [(ngModel)]="descripcionProcedimiento" name="DescripcionProcs" #DescripcionProcs="ngModel"
                id="DescripcionProcs" (input)="getProcedimientos($event.target.value)" [disabled]="isValidModify()"></textarea>
              <mat-error>
                <app-validators-messages [controlVar]="DescripcionProcs" labelName="Descripci&oacute;n De Procedimiento">

                </app-validators-messages>
              </mat-error>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <div>
                  <mat-option (onSelectionChange)="placeNumDesc(numDocs)" *ngFor="let numDocs of lsNombreProcedimiento"
                    [value]="numDocs.descProcedimiento">
                    <span>{{ numDocs.descProcedimiento }}</span>
                  </mat-option>
                </div>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <!--COLUMNA 3: -->
          <div class="col-sm-2 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <mat-label>Cantidad:</mat-label>
              <input matInput [(ngModel)]="cantidadProc" name="cantidadProcs" #cantidadProcs="ngModel" id="cantidadProcs"
                (keypress)="setInputPattern($event, 'positiveDigits')" [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" />
              <mat-error>
                <app-validators-messages [controlVar]="cantidadProcs" labelName="Cantidad">

                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>

          <!--MOTIVO: -->
          <div class="col-sm-10 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <mat-label>Motivo de Orden:</mat-label>
              <textarea matInput type="text" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3"
                [(ngModel)]="motivo" name="motivoProcs" #motivoProcs="ngModel" id="motivoProcs"></textarea>
              <mat-error>
                <app-validators-messages [controlVar]="motivoProcs" labelName="Motivo de Orden">

                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>

          <!--BOTON GRABAR: -->
          <div class="col-12 text-right">
            <button *ngIf="showButton==1" mat-raised-button (click)="cleanRegistro(registrarOrdenProc)">Limpiar</button>
            <button *ngIf="showButton==1" mat-raised-button (click)="grabarProcedimiento(registrarOrdenProc)" type="submit" [disabled]="isInvalid()">Solicitar</button>
            <button *ngIf="showButton==2" mat-raised-button (click)="cancelarActualizacion(registrarOrdenProc)">Cancelar</button>
            <button *ngIf="showButton==2" mat-raised-button (click)="ActualizarProcedimiento(registrarOrdenProc)" type="submit" [disabled]="isInvalid()">Actualizar</button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>


<mat-card *ngIf="showProcRegi==2">
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Procedimientos Registrados</mat-card-title>
    <span class="example-spacer"></span>

    <button mat-button class="mat-button-icon-noModal" (click)="imprimirProcRegitrados()">
      <div class="example-tooltip-host" matTooltip="Imprimir" [matTooltipPosition]="'above'">
        <span>
          <i class="material-icons">print</i>
        </span>
      </div>
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="table-responsive">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> C&oacute;digo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.codProcedimiento}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="descProcedimiento">
          <mat-header-cell *matHeaderCellDef> Descripcion del Procedimiento </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descProcedimiento}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cantidad">
          <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="motivo">
          <mat-header-cell *matHeaderCellDef> Motivo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.motivoProcedimiento}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="editar">
          <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="obtenerDatosProcedimientoActualizar(element)">
              <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">edit</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="eliminar">
          <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="eliminarSolicitudProcedimiento(element.idProcedimiento)">
              <div class="example-tooltip-host" matTooltip="Eliminar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">delete</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedProcedimientosRegistrados"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedProcedimientosRegistrados;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="showProcAnt==2">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Procedimientos Anteriores</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <div class="table-responsive">
        <mat-table #table [dataSource]="dataSource2">
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef> C&oacute;digo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.codProcedimiento}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="descProcedimientoss">
            <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado2'"> Descripcion del Procedimiento </mat-header-cell>
            <mat-cell *matCellDef="let element"  [ngClass]="'anchoListado2'" ngbPopover="{{element.descProcedimiento}}" triggers="mouseenter:mouseleave"
            popoverTitle="Procedimiento"> {{element.descProcedimiento | truncate : 50}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="informe">
            <mat-header-cell *matHeaderCellDef> Informe </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.informe}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="personal">
            <mat-header-cell *matHeaderCellDef> Personal </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.personal.nombrePersonal}}
              {{element.personal.apellidoPaternoPersonal}} {{element.personal.apellidoMaternoPersonal}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="estadoProc">
            <mat-header-cell *matHeaderCellDef matTooltip="Estado de Procedimiento" matTooltipPosition="above"> Edo.P</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.estadoOrden}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="ver">
            <mat-header-cell *matHeaderCellDef> Ver </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              <button mat-button (click)="verDetalles(element)" *ngIf="estadoDetalle[i]==1">
                <div class="example-tooltip-host" matTooltip="Ver Detalles" [matTooltipPosition]="'above'">
                  <span>
                    <i class="material-icons">visibility</i>
                  </span>
                </div>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedProcedimientosAnteriores"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedProcedimientosAnteriores;"></mat-row>
        </mat-table>
        <div class="col-12 text-right padBot">
          <button mat-raised-button (click)="openModalListar()" [disabled]="noRegistros()">ver m&aacute;s</button>
          <!-- <button *ngIf="showButton==1" mat-raised-button (click)="cleanRegistro(registrarOrdenProc)">Limpiar</button> -->
        </div>
      </div>
    </mat-card-content>
  </mat-card>