.example-spacer {
    flex: 1 1 auto;
}
.mat-column-descProcedimiento {
    flex: 0 0 40%;
}
.mat-column-motivo {
    flex: 0 0 30%;
}
.mat-column-codigo{
    flex: 0 0 8%;
}

.mat-column-descProcedimientoss {
    flex: 0 0 35%;
}
.mat-column-ver{
    flex: 0 0 5%;
}
textarea {
    resize: none;
    overflow: hidden
}
.padBot{
    padding-bottom: 1.5%;
}