<mat-card class="todaspartes"> 
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion"> </mat-card-title>
    <div class="container">
      <div class="seccion-title">
        <h5>MAQUINARIAS</h5>
      </div>
      <div class="margenSuperior2">
        <a mat-button class="mat-button enlace negrita text-right hover " (click)="modalabrir(0)">Registrar</a>
        <a mat-button class="mat-button enlace negrita text-right hover " (click)="modalInactivos()">Inactivos</a>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="col-12 card-body text-center">
      <mat-form-field class="col-sm-6 mat-form-field-flex1">
        <input matInput placeholder="Nombre de la maquinaria" [(ngModel)]="requestListar.nombre" (input)="busqueda($event.target.value)"
          matTooltip="Mínimo 2 caracteres" [matTooltipPosition]="'above'" (keypress)="setInputPattern($event, 'soloUnEspacioNumeroLetra')" [pattern]="setValidatorPattern('soloUnEspacioNumeroLetra', setQuantifier('+'), true, true)">
      </mat-form-field>
    </div>

    <div class="table responsive">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> N° de Serie </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.codigo }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="material">
          <mat-header-cell *matHeaderCellDef>Maquinaria</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.nombre }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="marca">
          <mat-header-cell *matHeaderCellDef>Marca </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.marca }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <mat-header-cell *matHeaderCellDef> Próx. Mantenimiento </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.fechaMantenimiento }} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="compra">
          <mat-header-cell *matHeaderCellDef> Fecha de Compra </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.fechaCompra }} </mat-cell>
        </ng-container>

        
        <ng-container matColumnDef="precio">
          <mat-header-cell *matHeaderCellDef> Precio de Compra</mat-header-cell>
          <mat-cell *matCellDef="let element">S/{{ element.precioCompra }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ubicacion">
          <mat-header-cell *matHeaderCellDef> Ubicación </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.ubicacion }} </mat-cell>
        </ng-container>

        <!-- VER -->
        <ng-container matColumnDef="ver">
          <mat-header-cell *matHeaderCellDef> Ver </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="modalabrir(1,element)">
            <button mat-button>
              <div class="example-tooltip-host" matTooltip="Ver" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">visibility</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- EDITAR -->
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="modalabrir(2,element)">
            <button mat-button>
              <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">edit</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- ELIMINAR -->
        <ng-container matColumnDef="eliminar">
          <mat-header-cell *matHeaderCellDef> En Reparación </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="modalelementDelete(element)">
            <button mat-button>
              <div class="example-tooltip-host" matTooltip="Máquina en Reparación" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">build</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Header -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <!-- PAGINADOR -->
      <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
        showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>


</mat-card>