<div class="container form-group"> </div>
  <h2>Gestionar Caja</h2>
  <div class="form-group">
      <div class="row">
        <div class="col-6">
            <label>Origen</label>
            <select class="form-control" [(ngModel)]="_param[0].idOrigen">
              <option value="">Seleccione Origen</option>
              <option *ngFor="let origen of origen" value="{{origen.id}}">{{origen.valor}}</option>
            </select>
        </div>
        <div class="col-6">
            <label>Turno</label>
            <select class="form-control" [(ngModel)]="_param[0].idTurno" >
              <option value="">Seleccione Turno</option>
              <option *ngFor="let turno of turnos" value="{{turno.id}}">{{turno.valor}}</option>
            </select>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group">
          <label>Fecha</label>
          <div class='input-group date' id='datetimepicker1'>
              <input type='datetime-local' class="form-control" />
              <span class="input-group-addon" >
                  <span class="fa fa-calendar"></span>
              </span>
          </div>
      </div>
    </div>
  </div>
  <div class="col-xs-3 text-center form-group">
      <button type="submit" class="btn btn-primary btn-sm" (click)="getAllAperturaCaja()"><i class="fa fa-search"></i> Buscar</button>
  </div>
  <table class="table table-striped">
    <thead>
      <th>Número Caja</th>
      <th>Encargado</th>
      <th>Turno</th>
      <th>Fecha</th>
      <th>Acción</th>
    </thead>
    <tbody>
      <tr *ngFor="let aperCaja of aperCaja">
        <td>{{aperCaja.nombrePersonal}} </td>
        <td>{{aperCaja.nombrePersonal}} {{aperCaja.apellidoPaternoPersonal}}</td>
        <td>{{aperCaja.descripcionTurno}}</td>
        <td>{{aperCaja.fhApertura}}</td>
        <td><a type="button" (click)="detalleCaja()"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
        <td></td>  
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="12" class="text-center">
          <ngb-pagination class="d-inline-block" [collectionSize]="1" [(page)]="_param[0].nuPagina"
            [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" ></ngb-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
 


