  <mat-card>
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Tipo de Orden</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #tipoOrden="ngForm" novalidate name="tipoOrden">
        <div class="col-12 card-body">
          <div class="row">
            <!-- Nombre -->
            <div class="col-sm-4">
              <mat-form-field class="example-full-width mat-form-field-flex2">
                <mat-label>Tipo de Orden</mat-label>
                <input matInput type="text" name="nombre" id="nombre" #nombre="ngModel" [(ngModel)]="nomb" (keypress)="setInputPattern($event, 'alfanumericsSpace')"
                  [pattern]="setValidatorPattern('alfanumericsSpace', setQuantifier(), true, true)" required>
                <mat-error>
                  <app-validators-messages [controlVar]="url" labelName="Tipo de Orden">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>
            <!-- URL -->
            <div class="col-sm-6">
              <mat-form-field class="example-full-width mat-form-field-flex2">
                <mat-label>URL</mat-label>
                <input matInput name="url" id="url" #url="ngModel" [(ngModel)]="urlSO" 
                  required>
                <mat-error>
                  <app-validators-messages [controlVar]="url" labelName="URL">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-2 buttoninf">
            <div *ngIf="flbotones">
                <button type="submit" [disabled]="tipoOrden.invalid" (click)="insertTipoOrden()" mat-raised-button>Registrar
                </button>
              </div>
              <div *ngIf="flbotones==false">
              <button type="submit" [disabled]="tipoOrden.invalid" (click)="editarTipoOrden(tipoOrden)" mat-raised-button>Editar
              </button>
            </div>
          </div>
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-content>
      <div class="table responsive" *ngIf="tipoOrden.length!=0">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let tipoOrden" > {{ tipoOrden.descripcionTipoOrden }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="url">
            <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado4'" matTooltip> URL </mat-header-cell>
            <mat-cell *matCellDef="let tipoOrden" [ngClass]="'anchoListado4'"> {{ tipoOrden.urlServicioOrigen }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="editar">
            <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
            <mat-cell *matCellDef="let tipoOrden">
              <button mat-button (click)="edit(tipoOrden)">
                <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                  <span>
                    <i class="material-icons">edit</i>
                  </span>
                </div>
              </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="eliminar">
            <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
            <mat-cell *matCellDef="let tipoOrden">
              <button mat-button (click)="modalDeleteTipoOrden(tipoOrden)">
                <div class="example-tooltip-host" matTooltip="Eliminar" [matTooltipPosition]="'above'">
                  <span>
                    <i class="material-icons">delete_forever</i>
                  </span>
                </div>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsA"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsA;">
          </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
          showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>