

<div class="row c-cita-virtual row-fluid">
  <div class="col-12">
    <div class="text-left">
      <button type="button" class="btn btn-outline-primary" (click)="modalRegistrarCitaVirtual()">Registrar Cita Virtual</button>
      <button type="button" class="btn btn-outline-info" (click)="modalVerProgramacion()">Ver Programación</button>
    </div>
  </div>

  <div class="col-12">
    <hr>
  </div>

  <div class="col modal-header">
    <h5>Citas por Atender</h5>
  </div>

  <div class="col-12">
    <div class="row-fluid">
      <font size="2">
        <table class="table table-hover table-responsive table-overflow">
          <thead>
            <tr>
              <th>Establecimiento Médico</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Médico</th>
              <th>Especialidad</th>
              <th>Historial Clínico</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of citaVirtualProgramada">
              <td>{{item.nombreIpres}}</td>
              <td>{{item.fechaCita}}</td>
              <td>{{item.horaCita}}</td>
              <td>{{item.nomMedico}}</td>
              <td>{{item.especialidad}}</td>
              <td>
                <a href="">Historial</a>
              </td>
              <td>
                <button type="button" class="btn btn-outline-primary">Visualizar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </font>
      <nav aria-label="Page navigation example" class="c-randy">
        <ul class="pagination justify-content-center text-center">
          <li class="page-item disabled">
            <a class="page-link" href="" tabindex="-1">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="col-12">
    <hr>
  </div>

  <div class="col modal-header">
    <h5>Citas Programadas</h5>
  </div>

  <div class="col-12">
    <div class="row-fluid">
      <table class="table table-hover table-responsive table-overflow">
        <thead>
          <tr>
            <th>Establecimiento Médico</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Médico</th>
            <th>Especialidad</th>
            <th>Historial Clínico</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of citaVirtualPorAtender">
            <td>{{item.nombreIpres}}</td>
            <td>{{item.fechaCita}}</td>
            <td>{{item.horaCita}}</td>
            <td>{{item.nomMedico}}</td>
            <td>
              <a href="">Historial</a>
            </td>
            <td>{{item.especialidad}}</td>
            <td>
              <button type="button" class="btn btn-outline-primary">Visualizar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example" class="c-randy">
        <ul class="pagination justify-content-center text-center">
          <li class="page-item disabled">
            <a class="page-link" href="" tabindex="-1">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<button type="button" class="btn btn-outline-primary" href="https://192.168.3.240:8443/demos/cuya5.html" >Llamar</button>
<a href="https://192.168.3.240:8443/demos/cuya5.html" (click)="iniVideo()">llamar</a>