<mat-card>
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Contratante</mat-card-title>
    <div class="emp">
      <button class="enlace negrita" type="button" (click)="modalInsertarContratante()">   <!--  -->
        Nuevo Contratante
      </button>
    </div>
  </mat-card-header>


  <mat-card-content>

    <div class="table responsive" *ngIf="contratante.length!=0">

      <mat-table #table [dataSource]="dataSource">

        <!-- convenio -->
        <ng-container matColumnDef="nombreEmpresaExterna">
          <mat-header-cell *matHeaderCellDef> Nombre de Contratante </mat-header-cell>
          <mat-cell *matCellDef="let contratante"> {{ contratante.nombreEmpresaExterna }} </mat-cell>
        </ng-container>

        <!-- producto -->
        <ng-container matColumnDef="url">
          <mat-header-cell *matHeaderCellDef>URL</mat-header-cell>
          <mat-cell *matCellDef="let contratante"> {{ contratante.url }} </mat-cell>
        </ng-container>

        <!-- editar -->
        <ng-container matColumnDef="editar">
          <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado'"> Editar </mat-header-cell>
          <mat-cell *matCellDef="let cobertura" [ngClass]="'anchoListado'">
            <button mat-button (click)="modalEditarContratante(cobertura)"> 
              <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">edit</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- eliminar -->
        <ng-container matColumnDef="eliminar">
          <mat-header-cell *matHeaderCellDef  [ngClass]="'anchoListado'"> Eliminar </mat-header-cell>
          <mat-cell *matCellDef="let cobertura"  [ngClass]="'anchoListado'">
            <button mat-button (click)="modalEliminarContratante(cobertura)">
              <div class="example-tooltip-host" matTooltip="Eliminar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">delete</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Header -->
        <mat-header-row *matHeaderRowDef="displayedColumnsA"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsA;">
        </mat-row>
      </mat-table>
      <!--  -->
    </div>

  </mat-card-content>

</mat-card>