<mat-card>
  <mat-card-header class="">
    <mat-card-title class="subtitulo-seccion extra" >&Uacute;ltimas Atenciones</mat-card-title>
  </mat-card-header>

  <mat-card-content >
    <div class="form-grup form-group-sm row" *ngIf="actoMedico.length==0">
      <mat-label class="col-sm-12  text-center"> No tiene Historial Clínico </mat-label>
    </div>
    <div *ngIf="actoMedico.length!=0" >
      <div tabindex="-1" *ngFor="let am of actoMedico; let i = index" aria-orientation="vertical" (click)="abrirModalHistoriaClinica(am, i)" >
        <button tabindex="-1" mat-button class="lista">{{am.abrevAtenciones}}</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
