<div class="col-lg-12 fullcenter">
  <mat-card tabindex="-1">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Productos mas Recetados</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #buscarProdxReceta="ngForm" novalidate name="buscarProdxReceta">
        <div class="card-body xa">
          <!-- Grupo Medicamentos -->
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-3 ">
                <mat-form-field class=" example-full-width">
                  <mat-select id="combo" #listaOpciones (change)="placeDesc(listaOpciones.value)"
                    [(ngModel)]="flgMedicDisp" placeholder="Seleccionar Grupo Medicamento" name="comboTipoMedic"
                    disableRipple>
                    <mat-option *ngFor="let gM of gruposMedicamentos" [value]="gM.id">
                      {{gM.valor}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


              <div class="col-sm-2 ">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" [matDatepicker]="dp" name="fhIniForm" #fhIniForm="ngModel"
                    [(ngModel)]="fhinicio" [maxDate]="fhfin" placeholder="Desde:" required>
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                  <mat-error>
                    <app-validators-messages [controlVar]="fhIniForm" labelName="Fecha Desde">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- fecha fin -->
              <div class="col-sm-2 ">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" [matDatepicker]="dpp" name="fhFinForm" #fhFinForm="ngModel"
                    [(ngModel)]="fhfin" [minDate]="fhinicio" placeholder="Hasta:" required>
                  <mat-datepicker-toggle matSuffix [for]="dpp"></mat-datepicker-toggle>
                  <mat-datepicker #dpp></mat-datepicker>
                  <mat-error>
                    <app-validators-messages [controlVar]="fhFinForm" labelName="Fecha Hasta">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-sm-5 mdl-input-group mdl-input-group__only fullcenter margenTop">
                <button type="submit" mat-raised-button (click)="buscarProductoMasRecetado(buscarProdxReceta,1)"
                  [disabled]="isInvalid(buscarProdxReceta)">Buscar</button>
                <button mat-raised-button (click)="imprimePDF_EXCEL(2)">Imprimir PDF</button>
                <button mat-raised-button (click)="imprimePDF_EXCEL(1)">Imprimir Excel</button>
              </div>

            </div>
            <!-- PRODUCTO FARMACEUTICO - DISPOSITIVO MEDICO-->

            <!-- Imprimir PDF y EXCEL -->
          </div>
        </div>
      </form>
    </mat-card-content>

    <div>
      <mat-card-content>
        <div class="table responsive" *ngIf="recetaDetalle.length!=0">
          <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="codigo">
              <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
              <mat-cell *matCellDef="let p">
                {{p.codigoMedicDisp}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="productoFarma">
              <mat-header-cell *matHeaderCellDef matTooltip="Producto Farmacéutico / Dispositivo Médico"
                matTooltipPosition="above"> P.F/D.M</mat-header-cell>
              <mat-cell *matCellDef="let p"> {{p.dciMedicDisp}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="formaFarma">
              <mat-header-cell *matHeaderCellDef matTooltip="Forma Farmacéutica / Tipo de Dispositivo"
                matTooltipPosition="above"> F.F/T.D</mat-header-cell>
              <mat-cell *matCellDef="let p"> {{p.formaFarmPresentacion}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="unidad">
              <mat-header-cell *matHeaderCellDef> Unidad de Medida </mat-header-cell>
              <mat-cell *matCellDef="let p"> {{p.descripcionUnidad}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="totalUni">
              <mat-header-cell *matHeaderCellDef> Total de Unidades </mat-header-cell>
              <mat-cell *matCellDef="let p"> {{p.cantidadUnidadMaxima}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedProductosReceta"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedProductosReceta;"></mat-row>
          </mat-table>
          <mat-paginator #paginator [pageSizeOptions]="displayedSizes" [length]="longitud" [pageSize]="pageSize"
            (page)="pageEvent($event,buscarProdxReceta)" [showFirstLastButtons]="true"></mat-paginator>
        </div>

      </mat-card-content>
    </div>
  </mat-card>
</div>