<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">

      <mat-card>
        <mat-card-header class="sombreadoSubtitulos">
          <mat-card-title class="subtitulo-seccion"> Buscar Profesional Asistencial </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="card-body">

            <form #buscarPersonal="ngForm" novalidate name="buscarPersonal">
              <div class="form-grup form-group-sm row">
                <mat-form-field class="col-6 ">
                  <mat-select placeholder="Mes:" [(ngModel)]="mesSelected" name="mes_serch" #mes_serch="ngModel" required>
                    <mat-option> -- </mat-option>
                    <mat-option *ngFor="let m of meses" [value]="m"> {{m.valor}} </mat-option>
                  </mat-select>
                  <mat-error>
                    <app-validators-messages [controlVar]="mes_serch" labelName="Mes">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col-sm-12 col-md-6 col-lg-6">
                  <mat-select placeholder="Año:" [(ngModel)]="anioSelected" name="anio_serch" #anio_serch="ngModel" required>
                    <mat-option> -- </mat-option>
                    <mat-option *ngFor="let an of anios" [value]="an"> {{an.valor}} </mat-option>
                  </mat-select>
                  <mat-error>
                    <app-validators-messages [controlVar]="anio_serch" labelName="Año">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col-sm-12 col-md-6 col-lg-6">
                  <mat-select placeholder="Areas:" [(ngModel)]="areaSelected" name="area_serch" #area_serch="ngModel" (ngModelChange)="obtenerEspecialidades()"
                    required>
                    <mat-option> -- </mat-option>
                    <mat-option *ngFor="let a of areas" [value]="a"> {{a.valor}} </mat-option>
                  </mat-select>
                  <mat-error>
                    <app-validators-messages [controlVar]="area_serch" labelName="Areas">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
           
            
                <mat-form-field class="col-sm-12 col-md-6 col-lg-6">
                  <mat-select placeholder="Especialidad:" [(ngModel)]="especialidadSelected" name="especialidad_serch" #especialidad_serch="ngModel"
                    (ngModelChange)="obtenerActividades()" [disabled]="!areaSelected" required>
                    <mat-option> -- </mat-option>
                    <mat-option *ngFor="let es of especialidades" [value]="es"> {{es.valor}} </mat-option>
                  </mat-select>
                  <mat-error>
                    <app-validators-messages [controlVar]="especialidad_serch" labelName="Especialidad">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
            
                <mat-form-field class="col-sm-12 col-md-6 col-lg-6">
                  <mat-select placeholder="Actividad:" [(ngModel)]="actividadSelected" name="actividad_serch" #actividad_serch="ngModel" (ngModelChange)="obtenerSubActividades()"
                    [disabled]="!especialidadSelected" required>
                    <mat-option> -- </mat-option>
                    <mat-option *ngFor="let a of actividades" [value]="a"> {{a.valor}} </mat-option>
                  </mat-select>
                  <mat-error>
                    <app-validators-messages [controlVar]="actividad_serch" labelName="Actividad">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
     
                <mat-form-field class="col-sm-12 col-md-6 col-lg-6">
                  <mat-select placeholder="subActividad:" [(ngModel)]="subActividadSelected" name="subActividad_serch" #subActividad_serch="ngModel"
                    (ngModelChange)="obtenerPersonales()" [disabled]="!actividadSelected" required>
                    <mat-option> -- </mat-option>
                    <mat-option *ngFor="let sa of subActividades" [value]="sa"> {{sa.valor}} </mat-option>
                  </mat-select>
                  <mat-error>
                    <app-validators-messages [controlVar]="subActividad_serch" labelName="subActividad">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
     
                <mat-form-field class="col-sm-12 col-md-12 col-lg-12">
                  <mat-select placeholder="Profesional Asistencial:" [(ngModel)]="personalSelected" name="personal_Asistencial" #personal_Asistencial="ngModel"
                    (change)="obtenerProgramaciones(buscarPersonal)" [disabled]="!subActividadSelected" required>
                    <mat-option> -- </mat-option>
                    <mat-option *ngFor="let p of personales" [value]="p"> {{p.apePaterno}} {{p.apeMaterno}} {{p.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    <app-validators-messages [controlVar]="personal_Asistencial" labelName="Profesional Asistencial">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>
            </form>

            <div class=" espa text-right" >
              <button class="border-botton" mat-raised-button type="button" (click)="cleanRegistro(buscarPersonal)"> Limpiar </button>
              <button class="border-botton" mat-raised-button type="submit" (click)="obtenerProgramaciones(buscarPersonal)" [disabled]="isInvalid(buscarPersonal)">
                Buscar
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>




      <mat-card *ngIf="personalSelected!=null">
        <mat-card-header class="sombreadoSubtitulos">
          <mat-card-title class="subtitulo-seccion"> Ingresar nueva programación </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="card-body">

            <div class="form-grup form-group-sm row">
              <mat-form-field class="col-sm-6">
                <mat-select placeholder="Turno" [(ngModel)]="turnoSelected" name="turno_select" #turno_select="ngModel" requerid>
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let ts of turnos" [value]="ts"> {{ts.valor}} </mat-option>

                  <mat-error>
                    <app-validators-messages [controlVar]="turno_select" labelName="Turno"></app-validators-messages>
                  </mat-error>

                </mat-select>
              </mat-form-field>
              <div class="col-sm-12 text-right" style="margin-top: -45px;
              height: 1px;">
                  <button mat-raised-button   (click)="addTurn()" [disabled]="actividadSelected == null"> Agregar
                      Turno </button>
              </div>
            </div>
            <div class="form-grup form-group-sm row">
              <mat-form-field class="col-12">
                <mat-select placeholder="Ambiente" [(ngModel)]="ambienteSelected" name="ambiente_Select" #ambiente_Select="ngModel" requerid>
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let ambiente of ambientes" [value]="ambiente"> {{ambiente.valor}} </mat-option>

                  <mat-error>
                    <app-validators-messages [controlVar]="ambiente_Select" labelName="Ambiente"></app-validators-messages>
                  </mat-error>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-grup form-group-sm row">
              <mat-form-field class="col-6">
                <input matInput placeholder="Fecha de Programacion Inicial" [matDatepicker]="picker" [(ngModel)]="fechProg.fecIni" [max]="fechProg.fecFin"
                  [maxDate]="fechProg.fecFin" name="fecha_progaIni" #fecha_progaIni="ngModel" (dateInput)="onDateChangee($event.target.value,1)">
                <!-- -->
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker (dateChange)="onDateChange($event.target.value)"></mat-datepicker>

                <mat-error>
                  <app-validators-messages [controlVar]="fecha_progaIni" labelName="Fecha PRogrmacion Inicial">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-6">
                <input matInput placeholder="Fecha de Programacion Final" [matDatepicker]="picker1" [(ngModel)]="fechProg.fecFin" [min]="fechProg.fecIni"
                  [minDate]="fechProg.fecIni" name="fecha_progaFin" #fecha_progaFin="ngModel" (dateInput)="onDateChangee($event.target.value,2)">
                <!---->
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>

                <mat-error>
                  <app-validators-messages [controlVar]="fecha_progaFin" labelName="Fecha PRogrmacion Final">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="espa text-right">
              <button mat-raised-button  class="border-button" [disabled]="ambienteSelected == null || turnoSelected == null || fechProg.fecIni == null || fechProg.fecFin == nul"
                (click)="insertarProgramacion()">Guardar </button>
            </div>

          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6">

        <mat-card *ngIf="personalSelected!=null">
            <mat-card-header class="sombreadoSubtitulos">
              <mat-card-title class="subtitulo-seccion"> Datos del Personal Asistencial </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="card-body">
    
                <div class="form-grup form-group-sm row">
    
                  <mat-form-field class="col">
                    <input matInput placeholder="Apellidos y Nombres" value="{{personalAsistencial.apePaterno ? personalAsistencial.apePaterno+' '+personalAsistencial.apeMaterno+', '+personalAsistencial.nombre : '--'}}"
                      readonly>
                  </mat-form-field>
                  <mat-form-field class="col">
                    <input matInput placeholder="Horas top profesional" value="{{personalAsistencial.maxHorasNormales ? personalAsistencial.maxHorasNormales+'  --  '+ personalAsistencial.maxHorasExtras : '--'}}"
                      readonly>
                  </mat-form-field>
                  <mat-form-field class="col">
                    <textarea matInput placeholder="Especialidad" value="{{personalAsistencial.especialidad ? personalAsistencial.especialidad : '--'}}"
                      matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3" readonly></textarea>
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

      <mat-card *ngIf="personalSelected!=null">
        <mat-card-header class="sombreadoSubtitulos">
          <mat-card-title class="subtitulo-seccion">Detalle de dias programados</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="card-body">
            <mat-table #table [dataSource]="dataSource">

              <ng-container matColumnDef="feProgramacion">
                <mat-header-cell *matHeaderCellDef> Fecha de P. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.feProgramacion}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="horario">
                <mat-header-cell *matHeaderCellDef> Horario </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.turno.horaInicio}} - {{element.turno.horaFin}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="eliminar">
                <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a *ngIf="element.flgEliminar==1 && element.flgOpcion =='0-0'">
                    <i class="fa fa-trash" (click)="eliminarProgramacionModal( element )"></i>
                  </a>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>