.mat-list .mat-list-item, .mat-list .mat-list-option, .mat-nav-list .mat-list-item, .mat-nav-list .mat-list-option, .mat-selection-list .mat-list-item, .mat-selection-list .mat-list-option {
    display: block;
    height: 27px !important;
}
.sinRelleno{
    margin-top: -6%;
}
.alinearBotones{
    display: flex;
    justify-content: flex-end;
    margin-top: -32px;
    padding-bottom: 14px;
}