.mat-card-main{
    max-width: 40%;
    margin: auto;
    padding: 0;
    margin-top: 25px;  
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.mat-toolbar{
  background-color: #fff;
}
.example-spacer {
  flex: 1 1 auto;
}
.titulo{
    background: transparent !important;
    color: white !important;
    font-family: 'Roboto', sans-serif !important;
    padding-left: 10px; 
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    padding-right: 10px;
}
::ng-deep .links{
    background: transparent  !important;
    color: white  !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    overflow: hidden;
    text-decoration: none !important;
    padding: 0 10px;
}
::ng-deep .activeLinks{
    background: transparent  !important;
    color: white !important;
    font-family:  sans-serif !important;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    overflow: hidden;
    text-decoration: none !important;
    padding: 0 10px;
}
// mat-dialog-container >*{
//     overflow-y: auto;
// }
// ::ng-deep .cdk-overlay-pane {
//     overflow-y: auto;
//     overflow-x: hidden;
// }
// ::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
//     background: rgba(0,0,0,.12);
//     width: 100%;
//     font-size: 14px;
// }
// ::ng-deep .mat-select-content, .mat-select-panel-done-animating {
//     background: #fff;
//     font-size: 14px;
// }
a:link { 
text-decoration:none; 
} 

