<!-- Select de Tipo de ALMACEN -->
<mat-card  *ngIf="showCombo==1">
  <mat-card-content>
    <div class="card-body">
      <div class="row">
        
        <mat-form-field class="col-4 margenAuto">
          <mat-select #listaOpciones placeholder="DESDE:" [(ngModel)]="idAlmaTipoAlma" (selectionChange)="capturarTipoAlmacen(listaOpciones.value)">
            <mat-option>
              <strong>Seleccionar Tipo de Almac&eacute;n</strong>
            </mat-option>
            <mat-option *ngFor="let item of almacenes" [value]="item">
              {{item.descripcionAlmacen}}
            </mat-option>
          </mat-select>
        </mat-form-field>
         
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-toolbar class="colorMenu3" *ngIf="showCombo==2">
  <mat-toolbar-row>
    <!--<span style="padding-left: 74px"></span>-->
    <mat-label class="titulo">{{nombFarmacia}}: </mat-label>
    <a mat-button disableRipple="true" class="mat-button {{activo[uri]}}" *ngFor="let uri of arrayUris" (click)="goToModulo(uri)">{{jsonUris[uri]}}</a>

    <span class="example-spacer"></span>
    <button mat-button class="mat-button-icon-noModal" (click)="cambiarTipoAlmacen()" *ngIf="showCambiarFarmacia==1">
      <div class="example-tooltip-host" matTooltip="Cambiar Almac&eacute;n" [matTooltipPosition]="'above'">
        <span>
          <i style="color:white!important" class="material-icons">loop</i>
        </span>
      </div>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>