<div class="col-lg-12 fullcenter">
  <mat-card tabindex="-1">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Reporte de Recetas Atendidas y No Atendidas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #buscarRecetaAtNoAt="ngForm" novalidate name="buscarRecetaAtNoAt">
        <div class="card-body xa">
          <div class="col-md-12">
            <!-- PRODUCTO FARMACEUTICO - DISPOSITIVO MEDICO-->

            <div class="row">
              <!-- fecha inicio -->
              <div class="col-sm-4 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width mat-form-field-flex3">
                  <input matInput type="text" [matDatepicker]="dp" name="fhIniForm" #fhIniForm="ngModel"
                    [(ngModel)]="fhinicio" [maxDate]="fhfin" placeholder="Desde:" required>
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                  <mat-error>
                    <app-validators-messages [controlVar]="fhIniForm" labelName="Fecha Desde">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- fecha fin -->
              <div class="col-sm-4 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width mat-form-field-flex3">
                  <input matInput type="text" [matDatepicker]="dpp" name="fhFinForm" #fhFinForm="ngModel"
                    [(ngModel)]="fhfin" [minDate]="fhinicio" placeholder="Hasta:" required>
                  <mat-datepicker-toggle matSuffix [for]="dpp"></mat-datepicker-toggle>
                  <mat-datepicker #dpp></mat-datepicker>
                  <mat-error>
                    <app-validators-messages [controlVar]="fhFinForm" labelName="Fecha Hasta">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- boton Buscar -->
              <div class="col-sm-4 mdl-input-group mdl-input-group__only fullcenter margenTop">
                <button type="submit" mat-raised-button (click)="buscarRecetaAtendidaNoAtendida(1)"
                  [disabled]="isInvalid(buscarRecetaAtNoAt)">Buscar
                </button>
                <button mat-raised-button (click)="imprimePDF_EXCEL(2)">Imprimir PDF</button>
                <button mat-raised-button (click)="imprimePDF_EXCEL(1)">Imprimir Excel</button>
              </div>
            </div>
          </div>

        </div>
      </form>
    </mat-card-content>

    <div>

      <!-- <mat-card-content>
        <div class="table responsive" *ngIf="recetaCabecera.length!=0">
            <mat-card-title>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RECETAS ATENDIDAS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RECETAS NO ATENDIDAS</mat-card-title>
            <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="fecha">
              <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
              <mat-cell *matCellDef="let recetaCabecera"> {{recetaCabecera.fhReceta}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="numRecetaT">
              <mat-header-cell *matHeaderCellDef> N° Receta </mat-header-cell>
              <mat-cell *matCellDef="let recetaCabecera"> {{recetaCabecera.numRecetaT}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="numItemT">
              <mat-header-cell *matHeaderCellDef> N° Item </mat-header-cell>
              <mat-cell *matCellDef="let recetaCabecera"> {{recetaCabecera.numItemT}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="numUnidadT">
              <mat-header-cell *matHeaderCellDef> N° Unidad </mat-header-cell>
              <mat-cell *matCellDef="let recetaCabecera"> {{recetaCabecera.numUnidadT}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="numTitularT">
              <mat-header-cell *matHeaderCellDef> N° Titular </mat-header-cell>
              <mat-cell *matCellDef="let recetaCabecera"> {{recetaCabecera.numTitularT}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="numFamiliarT">
              <mat-header-cell *matHeaderCellDef> N° Familiar </mat-header-cell>
              <mat-cell *matCellDef="let recetaCabecera"> {{recetaCabecera.numFamiliarT}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="numRecetaN">
              <mat-header-cell *matHeaderCellDef> N° Receta </mat-header-cell>
              <mat-cell *matCellDef="let recetaCabecera"> {{recetaCabecera.numRecetaN}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="numItemN">
              <mat-header-cell *matHeaderCellDef> N° Item </mat-header-cell>
              <mat-cell *matCellDef="let recetaCabecera"> {{recetaCabecera.numItemN}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="numUnidadN">
              <mat-header-cell *matHeaderCellDef> N° Unidad </mat-header-cell>
              <mat-cell *matCellDef="let recetaCabecera"> {{recetaCabecera.numUnidadN}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="numTitularN">
              <mat-header-cell *matHeaderCellDef> N° Titular </mat-header-cell>
              <mat-cell *matCellDef="let recetaCabecera"> {{recetaCabecera.numTitularN}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="numFamiliarN">
              <mat-header-cell *matHeaderCellDef> N° Familiar </mat-header-cell>
              <mat-cell *matCellDef="let recetaCabecera"> {{recetaCabecera.numFamiliarN}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedRecetaAtendidaNoAtendida"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedRecetaAtendidaNoAtendida;"></mat-row>
          </mat-table>
        </div>
        <div *ngIf="valor==true">
            <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
            showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content> -->

<div class="col-12" *ngIf="recetaCabecera.length!=0">
 <h6 class="spaceEvent"> <span>Recetas Atendidas</span> <p>--</p> <span> Recetas no Atendidas</span> </h6> 

      <table class="table   table-sm table-hover" >
        <thead>
            <!-- <tr class="">
                <th>&nbsp;</th>
                <th colspan="5" class="text-center negrita2"></th>
                <th colspan="5" class="text-center negrita2"></th>
              </tr> -->
            <tr>
            <th class="text-center negrita2">Fecha</th>

            <th class="text-center" >N° Receta</th>
            <th class="text-center" >N° Item</th>
            <th class="text-center" >N° Unidad</th>
            <th class="text-center" >N° Titular</th>
            <th class="text-center" >N° Familiar</th>

            <th class="text-center"  > N° Receta</th>
            <th class="text-center"  >N° Item</th>
            <th class="text-center"  >N° Unidad</th>
            <th class="text-center"  >N° Titular</th>
            <th class="text-center"  >N° Familiar</th>

          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let recetaCabecera of recetaCabecera">
            <tr style="text-align: center;">
              <td>{{recetaCabecera.fhReceta}}</td>

              <td>{{recetaCabecera.numRecetaT}}</td>
              <td>{{recetaCabecera.numItemT}}</td>
              <td>{{recetaCabecera.numUnidadT}}</td>
              <td>{{recetaCabecera.numTitularT}}</td>
              <td>{{recetaCabecera.numFamiliarT}}</td>

              <td>{{recetaCabecera.numRecetaN}}</td>
              <td>{{recetaCabecera.numItemN}}</td>
              <td>{{recetaCabecera.numUnidadN}}</td>
              <td>{{recetaCabecera.numTitularN}}</td>
              <td>{{recetaCabecera.numFamiliarN}}</td>

            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
      <div *ngIf="valor==true">
        <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize"
          (page)="pageEvent($event)" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </mat-card>
</div>