<mat-card class="todaspartes" id="porfas">
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion"></mat-card-title>
    <div class="container">
      <div class="seccion-title">
        <h5>Reportes</h5>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <br><br>
    <div class="table responsive">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> Inventario </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-form-field class="col-sm-12 col-md-12" *ngIf="element.id==3">
              <input matInput type="text" [matAutocomplete]="auto" placeholder="Consumo del Material:" (input)="busqueda($event.target.value)"
                [(ngModel)]="combo.nombre" matTooltip="Mínimo 2 caracteres">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                 <strong>Seleccionar Material</strong>
                <mat-option (onSelectionChange)="selectMaterial(lm)" *ngFor="let lm of listMaterial " [value]="lm.nombre">
                  <span>{{ lm.nombre}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-label *ngIf="element.id!=3" for="montoApertura"> {{ element.inv }} </mat-label>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="material">
          <mat-header-cell *matHeaderCellDef>Opción</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-form-field class="col-sm-12 col-md-12" *ngIf="element.id==3">
              <mat-select placeholder="Año:" [(ngModel)]="request.fechaRegistro" >
                <mat-option>
                  <strong>Seleccionar Año</strong>
                </mat-option>
                <mat-option *ngFor="let option of listAnos; let i = index" [value]="option.nombre">
                  {{option.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-label *ngIf="element.id!=3" for="montoApertura">Todos</mat-label>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="orden">
          <mat-header-cell *matHeaderCellDef> Reporte</mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="generarReporte(element)">
            <button mat-button>
              <div class="example-tooltip-host" matTooltip="Generar Reporte" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">picture_as_pdf</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>
  </mat-card-content>


</mat-card>