.bold-text{
    font-size: 1rem;
    font-weight: bold; 
    font-size: 20px;
    line-height: 2;
}
.example-spacer{
    flex: 1 1 auto;
}
.tablita{
    cursor: pointer;
    &:hover {
        background-color: #e0e0e0;
      }
}
.moverBoton{display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 6px;}
.alinearBoton{
    display: flex;
    justify-content: center;
}
