<!-- <div class="card" id= "card1">
  <div class="card-header">Datos Generales</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group form-group-sm row">
          <label class="col-sm-6 col-form-label">Apellidos y Nombres: </label>
          <label class="col-sm-6 col-form-label text-secondary">{{datosPaciente.persona.apellidoPaterno}} {{datosPaciente.persona.apellidoMaterno}} {{datosPaciente.persona.nombres}}</label>
        </div>
        <div class="form-group form-group-sm row">
            <label class="col-sm-4 col-form-label">Tipo de Documento: </label>
            <label class="col-sm-2 col-form-label text-secondary">{{datosPaciente.persona.descripcionDocumento}}</label>
            <label class="col-sm-3 col-form-label">N&deg; Documento: </label>
            <label class="col-sm-3 col-form-label text-secondary">{{datosPaciente.persona.numeroDocumentoIdentidad}}</label>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group form-group-sm row">
            <label class="col-sm-3 col-form-label">Fecha: </label>
            <label class="col-sm-3 col-form-label text-secondary">20/02/2018</label>
            <label class="col-sm-3 col-form-label">Sexo: </label>
            <label class="col-sm-3 col-form-label text-secondary">{{datosPaciente.persona.sexo}}</label>
        </div>
        <div class="form-group form-group-sm row">
          <label class="col-sm-6 col-form-label">Nro Historia Cl&iacute;nica: </label>
          <label class="col-sm-6 col-form-label text-secondary">{{datosPaciente.persona.idHistoria}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
<br> -->

<mat-card>
  <mat-card-header>
    <mat-card-title>Datos Generales del Paciente</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="card-body">
      <div class="row">

        <div class="col-sm-6 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Apellidos y Nombres:" disabled value="{{datosPaciente.persona.apellidoPaterno}} {{datosPaciente.persona.apellidoMaterno}} {{datosPaciente.persona.nombres}}">
          </mat-form-field>
        </div>

        <div class="col-sm-3 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Fecha Nacimiento:" disabled value="20/10/1998">
          </mat-form-field>
        </div>

        <div class="col-sm-3 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Sexo:" disabled value="{{datosPaciente.persona.sexo}}">
          </mat-form-field>
        </div>

        <div class="col-sm-3 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Tipo de Documento:" disabled value="{{datosPaciente.persona.descripcionDocumento}}">
          </mat-form-field>
        </div>

        <div class="col-sm-3 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="N° Documento:" disabled value="{{datosPaciente.persona.numeroDocumentoIdentidad}}">
          </mat-form-field>
        </div>

        <div class="col-sm-6 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nro Historia Cl&iacute;nica:" disabled value="{{datosPaciente.persona.idHistoria}}">
          </mat-form-field>
        </div>
      </div>
    </div>
    <br>
  </mat-card-content>
</mat-card>

<mat-card-content class="tablaCita">
  <div class="table responsive">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="numeroProcedimiento">
        <mat-header-cell *matHeaderCellDef> N&deg; Procedimiento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.procedimiento.idCpt}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="descProcedimiento">
        <mat-header-cell *matHeaderCellDef> Descripcion Procedimiento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.procedimiento.descProcedimiento}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsProcedimientoAtender"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsProcedimientoAtender;" (click)="getDatosToLlenar(row, informeForm)" style="cursor:pointer"></mat-row>
    </mat-table>
  </div>
</mat-card-content>

<mat-card>
  <mat-card-header>
    <mat-card-title>Atender Procedimientos</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #addInformeProc="ngForm" novalidate name="addInformeProc">
      <div class="card-body">
        <div class="row">

          <div class="col-sm-2 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <input matInput name="procedimientoNumb" placeholder="N&deg; de Procedimento:" [disabled]="isDisabled()"  value="{{procedimientoSeleccionado.idCPT}}">
            </mat-form-field>
          </div>

          <div class="col-sm-10 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <mat-label>Procedimiento:</mat-label>
              <textarea matInput name="procedimientoDesc" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5" [disabled]="isDisabled()" value="{{procedimientoSeleccionado.descProcedimiento ? procedimientoSeleccionado.descProcedimiento: '' }}"> </textarea>
            </mat-form-field>
          </div>

          <div class="col-sm-12 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <mat-label>Informe:</mat-label>
              <textarea matInput type="text"  name="informeForm" #informeForm="ngModel" id="informeForm" [(ngModel)]="informe" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3" maxlength="200"></textarea>
              <button mat-button *ngIf="informe" matSuffix mat-icon-button aria-label="Clear" (click)="informeForm.reset()" tabindex="-1" matTooltip="Limpiar" [matTooltipPosition]="'above'">
                <mat-icon aria-hidden="true">close</mat-icon>
              </button>
              <mat-error>
                <app-validators-messages [controlVar]="informeForm" labelName="Informe"></app-validators-messages>
              </mat-error>
              <mat-hint align="end" class="longitudInforme">{{ informeForm.value?.length || 0 }} / 200 </mat-hint>
            </mat-form-field>
          </div>
          <br>
          <div class="col-12 text-right">
            <button mat-raised-button type="submit" (click)="grabarInformeProcedimiento(addInformeProc,procedimientoSeleccionado.descProcedimiento)" [disabled]="isInvalid(addInformeProc,procedimientoSeleccionado.descProcedimiento,informe)">Grabar</button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<div class="col-12 text-right">
  <button type="button" mat-raised-button (click)="retornarAtencionProcedimientos()">Retornar</button>
</div>
<br>



<!--LISTADO DETALLES-->
<!-- <div class="modal-body">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive table-bordered">
        <table class="table table-bordered table-hover table-sm" id="card1">
          <thead>
            <tr id="titulo">
              <th>N&deg; de Procedimiento</th>
              <th>Procedimiento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of citasProcedimiento" (click)="getDatosToLlenar(p)">
              <td scope="row">{{p.procedimiento.idCpt}}</td>
              <td scope="row">{{p.procedimiento.descProcedimiento}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->
<!--AGREGAR INFOME DEL PROCEDIMIENTO REALIZADO AL PACINETE-->
<!-- <div class="card" id="card1">
  <div class="card-header">Agregar Procedimiento</div>
  <div class="card-body">
    <div class="row">
      
      <div class="col-md-3">
        <div class="form-group form-group-sm row">
          <label class="col-sm-6 col-form-label">N&deg; de Procedimento: </label>
          <label class="col-sm-6 col-form-label">{{procedimientoSeleccionado.idCPT}}</label>
        </div>
      </div>
      
      <div class="col-md-9">
        <div class="form-group form-group-sm row">
          <label class="col-sm-2 col-form-label">Procedimiento: </label>
          <div class="col-sm-10">
            <textarea id="textarea" name="descripcion" class="form-control" rows="3" [disabled]="isDisabled()">{{procedimientoSeleccionado.descProcedimiento}}</textarea>
          </div>
        </div>
      </div>
      
      <div class="col-md-12">
        <div class="form-group form-group-sm row">
          <label class="col-sm-2 col-form-label">Informe: </label>
          <div class="col-sm-10">
            <textarea name="informe" [(ngModel)]="informe" class="form-control" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="col-12 text-right">
        <button type="button" class="btn btn-primary" (click)="grabarInformeProcedimiento()">Grabar</button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="col-12 text-right">
  <button type="button" class="btn btn-primary" (click)="retornarAtencionProcedimientos()">Retornar</button>
</div>
<br> -->