<!-- <button mat-button class="mat-button-icon" (click)="dismiss()">
  <div class="example-tooltip-host" matTooltip="Salir" [matTooltipPosition]="'above'">
    <span>
      <i class="material-icons">close</i>
    </span>
  </div>
</button> -->
<mat-card class="matCardMin">
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">
      Medico por productos caros
    </mat-card-title>
    <div class="emp"> 
      <button mat-button class="mat-button-icon" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
  

      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="Id Receta">
          <mat-header-cell *matHeaderCellDef>Receta </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.idRecetaDetalle}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="Producto Farmacéutico / Dispositivo Médico">
          <mat-header-cell *matHeaderCellDef  matTooltip="Producto Farmacéutico / Dispositivo Médico " matTooltipPosition="above"> P.F/D.M</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.medicamento.dciProductoFarmaceutico}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="Medico">
          <mat-header-cell *matHeaderCellDef>Medico </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombrePersonal}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="Fecha">
          <mat-header-cell *matHeaderCellDef>Fecha </mat-header-cell>
       
            <mat-cell *matCellDef="let element"> {{element.fhReceta}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="Unidad de Medida">
          <mat-header-cell *matHeaderCellDef> Unidad de Medida </mat-header-cell>
         
            <mat-cell *matCellDef="let element"> {{element.descripcionUnidad}} </mat-cell>
        
        </ng-container>
  
        <ng-container matColumnDef="Cantidad">
          <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
         
            <mat-cell *matCellDef="let element"> {{element.cantidadUnidadMaxima}} </mat-cell>
            
        
        </ng-container>
        <ng-container matColumnDef="Precio">
          <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
            <mat-cell *matCellDef="let element"> S/{{element.precioVenta ? element.precioVenta  : '-' }} </mat-cell>
        
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
      </mat-table>
      <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
      showFirstLastButtons></mat-paginator>
    
  </mat-card-content>
</mat-card>

  
  




