<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Visualizar Detalle de Orden Compra</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">
      <div class="form-row justify-content-around">
        <!-- <mat-form-field class="col-auto"> -->

          <mat-form-field class="col-auto">
            <input matInput placeholder="Nombre del Producto" [(ngModel)]="paramsBusqueda.nombre" name="nombre_form"
              #nombre_form="ngModel" (keyup.enter)="busquedaDescripcion($event.target.value)">

          </mat-form-field>
          <!-- <mat-form-field class="col-auto">
          <input matInput placeholder="Nombre del Producto" name="nombre_form" [(ngModel)]="paramsBusqueda.nombre"  disabled/>
        </mat-form-field> -->
      </div>

      <mat-card>
        <mat-card-header class="sombreadoSubtitulos">
          <mat-card-title class="subtitulo-seccion">Listado de Orden Compra</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="card-body">
            <div class="table table-responsive">
              <mat-table #table [dataSource]="dataSourceMaterialOC">

                <ng-container matColumnDef="codigo">
                  <mat-header-cell *matHeaderCellDef> Codigo de Material </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.codMatProv}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombreMaterial">
                  <mat-header-cell *matHeaderCellDef> Nombre Material </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                  <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.cantidadCompra}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="precio">
                  <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.precioUnit}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="precioTotal">
                  <mat-header-cell *matHeaderCellDef> Precio Total </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.precioUnit*element.cantidadCompra}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsMaterialOC"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsMaterialOC;"></mat-row>

              </mat-table>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="text-right pr-5">
      <p>{{total}}</p>
    </div>
  </mat-card-actions>
</mat-card>