<mat-card>
  <mat-card-header class="sombreadoSubtitulos" >
    <mat-card-title class="subtitulo-seccion">Procedimientos a Atender</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div class="form-grup form-group-sm row">
        <div class="col-sm-12">
          <mat-table #table [dataSource]="dataSourceProc">

            <ng-container matColumnDef="codProcedimiento">
              <mat-header-cell *matHeaderCellDef> Código Procedimiento </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.codProcedimiento}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="descProcedimiento">
              <mat-header-cell *matHeaderCellDef> Descripción Procedimiento </mat-header-cell>
              <mat-cell *matCellDef="let element" ngbPopover="{{element.descProcedimiento}}" triggers="mouseenter:mouseleave" popoverTitle="Procedimiento"> {{element.descProcedimiento | truncate: 50}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="motivoProcedimiento">
              <mat-header-cell *matHeaderCellDef> Motivo de Procedimiento </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.motivoProcedimiento}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="atender">
              <mat-header-cell *matHeaderCellDef> Atender/Actualizar </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-button (click)="selectProced(element)" *ngIf="!element.flAtendido">
                  <div class="example-tooltip-host" matTooltip="Atender" [matTooltipPosition]="'above'">
                    <span>
                      <i class="material-icons">assignment</i>
                    </span>
                  </div>
                </button>
                <button mat-button (click)="actualizar(element)" *ngIf="element.flAtendido">
                  <div class="example-tooltip-host" matTooltip="Actualizar" [matTooltipPosition]="'above'">
                    <span>
                      <i class="material-icons">check_box</i>
                    </span>
                  </div>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row {{row.class}} "></mat-row>

          </mat-table>
        </div>

      </div>


  </mat-card-content>
</mat-card>

<mat-card *ngIf="showTabla==1">
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion"> Atencion Procedimiento </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #formProcedimiento="ngForm" name="formProcedimiento" novalidate>

      <div class="card-body" >
        <div class="form-grup form-group-sm row">
          <mat-form-field class="col-sm-1">
            <input matInput placeholder="N° de Procedimiento" [(ngModel)]="procedDatos.codProcedimiento" name="codProcedimiento"
              [disabled]="true" required>
          </mat-form-field>
          <mat-form-field class="col-sm-3">
            <input matInput placeholder="Motivo de Procedimiento" [(ngModel)]="procedDatos.motivoProcedimiento" name="motivoProcedimiento"
            [disabled]="true"   required>
          </mat-form-field>
          <mat-form-field class="col-sm-8">
            <input matInput placeholder="N° de Procedimiento" [(ngModel)]="procedDatos.descProcedimiento" name="descProcedimiento"
            [disabled]="true"  required>
          </mat-form-field>
        </div>
        <div class="form-grup form-group-sm row">
          <mat-form-field class="col-sm-12">
            <textarea matInput placeholder="Informe: " [(ngModel)]="procedDatos.informe" matTextareaAutosize
              matAutosizeMinRows="4" matAutosizeMaxRows="7" #informe="ngModel" name="informe" required></textarea>
            <mat-error>
              <app-validators-messages [controlVar]="informe" labelName="Informe">
              </app-validators-messages>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-grup form-group-sm text-right">
          <!-- <button mat-raised-button color="primary" [disabled]="isInvalid(formProcedimiento)" (click)="resetForm()">
            Reset </button> -->
          <button mat-raised-button  [disabled]="isInvalid(formProcedimiento)" (click)="registrarProcedimiento()">
            {{buttonDatos}} Procedimiento </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>


<div class="form-grup form-group-sm text-center">
  <button mat-raised-button class="col-sm-2"  (click)="backto()"> Regresar </button>
</div>