<mat-card>
        <mat-card-header class="sombreadoSubtitulos">
          <mat-card-title class="subtitulo-seccion">Registrar Material Proveedor
      
         </mat-card-title>
          <div class="colocar-left">
              <button class="mat-button-icon" mat-button (click)="close()">
                <div class="example-tooltip-host" matTooltip="Salir">
                  <span>
                    <i class="material-icons">close</i>
                  </span>
                </div>
              </button>
            </div>
        </mat-card-header>
        <mat-card-content>
          <form #registrarMaterialProveedorForm="ngForm" novalidate name="registrarMaterialProveedorForm">
            <div class="card-body">
      
              <div class="row">
      
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-label for="nombreProv"> Codigo </mat-label>
                    <input matInput name="codMatProv" #codMatProv="ngModel" id="codMatProv"
                      [(ngModel)]="param.codMatProv" />
                  </mat-form-field>
                </div>
      
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-label for="em"> Presentacion </mat-label>
                    <input matInput name="unidadMedida" #unidadMedida="ngModel" id="unidadMedida" [(ngModel)]="param.unidadMedida" />
                  </mat-form-field>
                </div>
      
                <div class="col-sm-4">
                  <mat-form-field class="example-full-width">
                    <mat-label for="ru"> Factor C. </mat-label>
                    <input matInput name="factorConversion" #factorConversion="ngModel" id="factorConversion" [(ngModel)]="param.factorConversion" />
                  </mat-form-field>
                </div>
      
              </div>
      
              <div class="row">
      
                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-label for="cont"> Precio </mat-label>
                    <input matInput name="precioCompra" #precioCompra="ngModel" id="precioCompra" [(ngModel)]="param.precioCompra" />
                  </mat-form-field>
                </div>
      
                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-label for="telf"> Descripcion </mat-label>
                    <input matInput name="descripcion" #descripcion="ngModel" id="descripcion" [(ngModel)]="param.descripcion" />
                  </mat-form-field>
                </div>
      
                <div class="col-sm-3">
                  <mat-form-field class="example-full-width">
                    <mat-select placeholder="Seleccione Material" name="idMaterial" [(ngModel)]="param.idMaterial">
                      <mat-option>Seleccione Material</mat-option>
                      <mat-option *ngFor="let ls of lsMaterial" [value]="ls.idMaterial"> {{ls.descripcionTipoPago}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>


                
                <div class="col-sm-3">
                        <mat-form-field class="example-full-width">
                          <mat-select placeholder="Seleccione Proveedor" name="idProveedor" [(ngModel)]="param.idProveedor">
                            <mat-option>Seleccione Material</mat-option>
                            <mat-option *ngFor="let ls of lsProveedor" [value]="ls.idProveedor"> {{ls.descripcionTipoPago}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
      
              </div>
      
        
      
              <div class="col-4 " align="center">
                <button mat-raised-button (click)="registrarMaterialProveedor()" [disabled]="isInvalid(registrarMaterialProveedorForm)">
                  Registrar
                </button>
              </div>
      
            </div>
          </form>
        </mat-card-content>
        <br>
      </mat-card>