<mat-card class="matCardMin">
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Registrar Area</mat-card-title>
    <div class="emp">
      <button mat-button class="mat-button-icon" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form #FormCrearArea="ngForm" novalidate name="FormCrearArea">
      <div class="modal-body">
        <div class="row centrarTituloModal">
          <div class="col-sm-10">
            <mat-form-field class="example-full-width">
              <input matInput type="text" value="" placeholder="Nombre de Area" [(ngModel)]="lsArea.descripcionArea" 
              name="descripcionArea" #descripcionArea="ngModel" required (keypress)="setInputPattern($event, 'soloUnEspacio')"
              [pattern]="setValidatorPattern('soloUnEspacio', setQuantifier('+'), true, true)"> 
              <mat-error>
                  <app-validators-messages [controlVar]="descripcionArea" labelName=" Descripcion Area">
                  </app-validators-messages>
                </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-10">
            <mat-form-field class="example-full-width ">
              <input matInput placeholder="Abreviatura de Area" [(ngModel)]="lsArea.abreviaturaArea" name="abreviaturaArea" #abreviaturaArea="ngModel" required>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <div class="modal-footer">
    <button mat-raised-button type="button" (click)="insertarArea()" [disabled]="FormCrearArea.invalid"> Aceptar </button>
    <button mat-raised-button type="button" (click)=" close()"> Cerrar </button>
  </div>

</mat-card>