<div class=" sombreadoSubtitulos text-center">
  <h4 class="subtitulo-seccion">Eliminar Programacion</h4>
  <!-- <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button> -->
</div>
<div class="modal-body">
  <div class="form-grup form-group-sm row">
    <mat-label class="col-sm-12"> ¿Está seguro que desea eliminar la programación? </mat-label>
  </div>
</div>
<div class="modal-footer">
  <div class="form-grup form-group-sm row">
    <button mat-raised-button class="col-sm-12"  (click)="onNoClick(0)"> NO</button>
  </div>
  <div class="form-grup form-group-sm row">
    <button mat-raised-button class="col-sm-12"  (click)="onNoClick(1)"> Sí </button>
  </div>
</div>
