<main *ngIf="asignarCitaDisabled">

  <div class="row tamano-contenedor">
    <mat-card class="col-4">
      <mat-card-header class="sombreadoSubtitulos">
        <mat-card-title class="subtitulo-seccion">Buscar Pacientes con Citas Pendientes y Atendidas</mat-card-title>
      </mat-card-header>


      <!--<input id="fechaPicker" appAirdatepicker placeholder="Fecha de Cita" [envioPruebaFinal]="arregloFinal" required>-->


      <!--<button mat-button matSuffix mat-icon-button>
        <mat-icon>calendar_today</mat-icon>
      </button>-->


      <!--<mat-form-field class="
        col-sm-12">
        <input matInput placeholder=" Fecha de Cita" [matDatepicker]="picker" [(ngModel)]="prueba1" name="fecha_medico"
          #fecha_medico="ngModel" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker class="carajo" #picker disabled="false"></mat-datepicker>
        <mat-error>
          <app-validators-messages [controlVar]="fecha_medico" labelName=" Fecha de Cita">
          </app-validators-messages>
        </mat-error>
    </mat-form-field>-->
      <!--<air-datepicker [airOptions]="options" (airChange)="dateChanged($event)"></air-datepicker>-->
      <!-- <button mat-raised-button (click)="pruebademierda()"> Buscar </button>-->

      <form #buscarPersona="ngForm" novalidate name="buscarPersona">
        <mat-card-content>
          <div class="card-body">
            <div class="row">

              <div class="col-sm-12 mdl-input-group mdl-input-group__only" style="text-align: center;">
                <mat-form-field class="example-full-width  mat-form-field-flex3">
                  <mat-select #listaOpciones placeholder="Seleccionar Tipo de Documento:" [(ngModel)]="CombotipoDocumento" name="combo_tipoDocumento"
                    #combo_tipoDocumento="ngModel" (selectionChange)="changeInput(listaOpciones.value)" required>
                    <mat-option> -- </mat-option>
                    <mat-option *ngFor="let td of tipoDocumento" [value]="td.id"> {{td.valor}} </mat-option>
                  </mat-select>
                  <mat-error>
                    <app-validators-messages [controlVar]="combo_tipoDocumento" labelName="Tipo de Documento">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-sm-12 mdl-input-group mdl-input-group__only" style="text-align: center;
              margin-top: 15px;">
                <mat-form-field class="example-full-width  mat-form-field-flex3">
                  <input matInput placeholder="Numero de Documento" [(ngModel)]="numeroDocumento" name="numero_documento" #numero_documento="ngModel"
                    (keypress)="setInputPattern($event, 'positiveDigits')" [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
                    minlength="{{longitudDocumento}}" [disabled]="!CombotipoDocumento" maxlength="{{longitudDocumento}}" required>

                  <mat-error>
                    <app-validators-messages [controlVar]="numero_documento" labelName="Numero de Documento">
                    </app-validators-messages>
                  </mat-error>
                  <mat-hint align="end" class="longitudInforme">
                    {{ numeroDocumento? numeroDocumento.length: '0' }} / {{longitudDocumento}}
                  </mat-hint>
                </mat-form-field>
              </div>

              <div class="col-12 text-center pad-top1">
                <button mat-raised-button type="button" (click)="openModalBuscar()">
                  Busqueda de Paciente
                </button>

                <button mat-raised-button type="submit" (click)="getPaciente(buscarPersona) ; getSolicitudCita(buscarPersona)" [disabled]="isInvalid(buscarPersona)">
                  Buscar
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </form>
    </mat-card>

    <mat-card *ngIf="flgsearchSuccessful==true" class="col-7">
      <mat-card-header class="sombreadoSubtitulos">
        <mat-card-title class="subtitulo-seccion">Datos del Paciente</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="card-body">
          <!-- <div class="row"> -->
          <div class="col-12">
            <div class="form-grup form-group-sm row">
              <mat-form-field class="col-4">
                <input matInput placeholder="Apellidos y Nombres" value="{{paciente[0]?paciente[0].apellidoPaterno:null}} {{paciente[0]?paciente[0].apellidoMaterno:null}} {{paciente[0]?paciente[0].nombres:null}}"
                  readonly="true">
              </mat-form-field>
              <mat-form-field class="col-4">
                <input matInput placeholder="Direccion Actual" value="{{paciente[0]?paciente[0].domicilioActual:null}}" readonly="true">
              </mat-form-field>
              <mat-form-field class="col-4">
                <input matInput placeholder="Tipo de Documento" value="{{paciente[0]?paciente[0].descripcionTipoDocumentoIdentidad:null}}" readonly="true">
              </mat-form-field>
            </div>
            <div class="form-grup form-group-sm row">
              <mat-form-field class="col-4">
                <input matInput placeholder="Número de Documento" value="{{paciente[0]?paciente[0].numeroDocumentoIdentidad:null}}" readonly="true">
              </mat-form-field>
              <mat-form-field class="col-4">
                <input matInput placeholder="Sexo" value="{{paciente[0]?paciente[0].descripcionSexo:null}}" readonly="true">
              </mat-form-field>
              <mat-form-field class="col-4">
                <input matInput placeholder="Edad" value="{{paciente[0]?paciente[0].edad:null}}" readonly="true">
              </mat-form-field>
            </div>
            <div class="form-grup form-group-sm row">
              <mat-form-field class="col-4">
                <input matInput placeholder="Fecha de Nacimiento" [value]="paciente[0]?paciente[0].fechaNacimiento:null | date: 'dd/MM/yyyy'" readonly="true">
              </mat-form-field>
              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Lugar de Nacimiento" value="{{paciente[0]?paciente[0].vigenciaAcreditacion:null}}" readonly="true">
              </mat-form-field>
            </div>
          </div>
          <!--  <div class="col-sm-12 col-md-6">
             <div class="form-grup form-group-sm row">
              <mat-form-field class="col-sm-12">
                <input matInput placeholder="Establecimiento Médico" [value]="paciente[0].descripcionIPRESS"
                  readonly="true">
              </mat-form-field>
            </div> -->
          <!-- <div class="form-grup form-group-sm row">
              <mat-form-field class="col-sm-12">
                <input matInput placeholder="Grado Instruccion" [value]="paciente[0].gradoInstruccion" readonly="true">
              </mat-form-field>
            </div> -->
          <!-- <div class="form-grup form-group-sm row">
              <mat-form-field class="col-sm-12">
                <input matInput placeholder="Estado Civil" [value]="paciente[0].estadoCivil" readonly="true">
              </mat-form-field>
            </div> 
          </div>-->
          <!-- </div> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Aqui empieza nueva tabla -->
  <mat-card *ngIf="flgsearchSuccessful==true && flgcitaReserv==true">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Solicitudes de Citas </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-table #table [dataSource]="dataSource3" *ngIf="solicitudCita.length != 0">

        <!-- | date: 'dd/MM/yyyy' -->
        <ng-container matColumnDef="fchSolicitud">
          <mat-header-cell *matHeaderCellDef> Fecha de Solicitud de Cita </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fhRegistro }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actoMedico">
          <mat-header-cell *matHeaderCellDef> Acto Médico </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.idActoMedico}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="servicio">
          <mat-header-cell *matHeaderCellDef> Especialidad </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descripcionEspecialidad}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actividad">
          <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descripcionActividad}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="medicoTratante">
          <mat-header-cell *matHeaderCellDef> Medico Tratante</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.apellidoPaternoPersonal+ ' ' +element.apellidoMaternoPersonal+ ' ' +element.nombrePersonal}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="destino">
          <mat-header-cell *matHeaderCellDef> Destino </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descripcionDestino}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="diasRecita">
          <mat-header-cell *matHeaderCellDef> Dias de Recita </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nroDiasRecita}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="generar">
          <mat-header-cell *matHeaderCellDef> Generar Cita </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="element.idDestino==8?redirige(3,0, element):(element.idDestino==11?redirige(2,0, element):redirige(1,0, element))">
              <div class="example-tooltip-host" matTooltip="Generar Cita" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">forward</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>

      </mat-table>
    </mat-card-content>
  </mat-card>

  <!-- Aqui acaba nueva tabla -->

  <mat-card *ngIf="flgsearchSuccessful==true && flgcitaReserv==true">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Citas Pendientes</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="idCita">
          <mat-header-cell *matHeaderCellDef  matTooltip="N° de Solicitud" matTooltipPosition="above" > N.S </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.idCita}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fechaCita">
          <mat-header-cell *matHeaderCellDef matTooltip="Fecha de Cita" matTooltipPosition="above"> F.C </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fechaCita | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="horaAtencion">
          <mat-header-cell *matHeaderCellDef> Hora de A. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.horaAtencion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="servicio">
          <mat-header-cell *matHeaderCellDef> Servicio </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.servicio}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actividad">
          <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.actividad}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="medicoTratante">
          <mat-header-cell *matHeaderCellDef> M&eacute;dico </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.medicoTratante}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="consultorio">
          <mat-header-cell *matHeaderCellDef matTooltip="Consultorio" matTooltipPosition="above"> Cons. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.consultorio}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tipoCita">
          <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.tipoCita}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="confirmado">
          <mat-header-cell *matHeaderCellDef matTooltip="Confirmado" matTooltipPosition="above"> Conf. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descConfirmar}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="pagado">
          <mat-header-cell *matHeaderCellDef> Pagado </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descPagado}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="confirmar">
          <mat-header-cell *matHeaderCellDef> Confirmar </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button *ngIf="element.confirmacionCita == 0 && element.pagado == 0" mat-button (click)="openModalConfirmacion(element)">
              <div class="example-tooltip-host" matTooltip="Confirmar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">check_box</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="reprogramar">
          <mat-header-cell *matHeaderCellDef matTooltip="Reprogramar" matTooltipPosition="above"> Repro. </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="redirige(6,element.idCita, element)">
              <div class="example-tooltip-host" matTooltip="Reprogramar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">edit</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cancelar">
          <mat-header-cell *matHeaderCellDef> Cancelar </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button *ngIf="element.pagado == 0" mat-button (click)="openModalSuspender(1,element)">
              <div class="example-tooltip-host" matTooltip="Cancelar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">block</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="imprimir">
          <mat-header-cell *matHeaderCellDef> Imprimir </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button *ngIf="element.confirmacionCita == 1 && element.pagado == 1" mat-button (click)="imprimirReporte(element.idCita)">
              <div class="example-tooltip-host" matTooltip="Imprimir" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">print</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </mat-card-content>
  </mat-card>

  <div class="col-12 text-right margenDerecho" *ngIf="flgsearchSuccessful==true">
    <div class="form-grup form-group-sm" style="margin-top: 15px;">
      <button mat-raised-button (click)="redirige(1,0, null)"> Nueva Cita </button>
      <button mat-raised-button *ngIf="flgUltiCita==true" (click)="openModalHistorial()"> Historial de Cita </button>
    </div>
  </div>

  <mat-card *ngIf="flgsearchSuccessful==true && flgUltiCita==true">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Últimas Citas</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-table #table [dataSource]="dataSource2">

        <ng-container matColumnDef="idCita">
          <mat-header-cell *matHeaderCellDef> N° de Solicitud </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.idCita}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fechaCita">
          <mat-header-cell *matHeaderCellDef> Fecha de Cita </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fechaCita | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="horaAtencion">
          <mat-header-cell *matHeaderCellDef> Hora A. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.horaAtencion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="servicio">
          <mat-header-cell *matHeaderCellDef> Servicio </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.servicio}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actividad">
          <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.actividad}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="medicoTratante">
          <mat-header-cell *matHeaderCellDef> M&eacute;dico </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.medicoTratante}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="consultorio">
          <mat-header-cell *matHeaderCellDef> Consultorio </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.consultorio}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tipoCita">
          <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.tipoCita}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="estado">
          <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>

      </mat-table>
    </mat-card-content>
  </mat-card>


  <!-- ----------------------------------- -->
  <!-- <mat-card-content>
    <div class="card-body">
      <div class="row" *ngIf="flgsearchSuccessful==true">

        <div class="col-sm-12">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Datos del Paciente</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="form-grup form-group-sm row">
                      <mat-form-field class="col-sm-12">
                        <input matInput placeholder="Apellidos y Nombres" value="{{paciente[0].apellidoPaterno}} {{paciente[0].apellidoMaterno}} {{paciente[0].nombres}}"
                          readonly="true">
                      </mat-form-field>
                    </div>
                    <div class="form-grup form-group-sm row">
                      <mat-form-field class="col-sm-6">
                        <input matInput placeholder="Tipo de Documento" value="{{paciente[0].descripcionTipoDocumentoIdentidad}}" readonly="true">
                      </mat-form-field>
                      <mat-form-field class="col-sm-6">
                        <input matInput placeholder="Número de Documento" value="{{paciente[0].numeroDocumentoIdentidad}}" readonly="true">
                      </mat-form-field>
                    </div>
                    <div class="form-grup form-group-sm row">
                      <mat-form-field class="col-sm-6">
                        <input matInput placeholder="Sexo" value="{{paciente[0].descripcionSexo}}" readonly="true">
                      </mat-form-field>
                      <mat-form-field class="col-sm-6">
                        <input matInput placeholder="Edad" value="{{paciente[0].edad}}" readonly="true">
                      </mat-form-field>
                    </div>
                    <div class="form-grup form-group-sm row">
                      <mat-form-field class="col-sm-12">
                        <input matInput placeholder="Fecha de Nacimiento" [value]="paciente[0].fechaNacimiento" readonly="true">
                      </mat-form-field>
                    </div>
                    <div class="form-grup form-group-sm row">
                      <mat-form-field class="col-sm-12">
                        <input matInput placeholder="Lugar de Nacimiento" value="{{paciente[0].departamentoNacimiento +' - '+ paciente[0].provinciaNacimiento +' - '+ paciente[0].distritoNacimiento}}"
                          readonly="true">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">

                    <div class="form-grup form-group-sm row">
                      <mat-form-field class="col-sm-12">
                        <input matInput placeholder="Direccion Actual" value="{{paciente[0].domicilioActual}}" readonly="true">
                      </mat-form-field>
                    </div>
                    <div class="form-grup form-group-sm row">
                      <mat-form-field class="col-sm-12">
                        <input matInput placeholder="Establecimiento Médico" [value]="paciente[0].descripcionIPRESS" readonly="true">
                      </mat-form-field>
                    </div>
                    <div class="form-grup form-group-sm row">
                      <mat-form-field class="col-sm-12">
                        <input matInput placeholder="Grado Instruccion" [value]="paciente[0].gradoInstruccion" readonly="true">
                      </mat-form-field>
                    </div>
                    <div class="form-grup form-group-sm row">
                      <mat-form-field class="col-sm-12">
                        <input matInput placeholder="Estado Civil" [value]="paciente[0].estadoCivil" readonly="true">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-12 text-center" *ngIf="flgcitaReserv==true">
          <div class="form-grup form-group-sm">
            <mat-label class="col-sm-12  bold-text"> Citas Reservadas </mat-label>
          </div>
          <div class="col-sm-12">
            <div class="form-grup form-group-sm row">
              <div class="col-sm-12">
                <mat-table #table [dataSource]="dataSource">

                  <ng-container matColumnDef="idCita">
                    <mat-header-cell *matHeaderCellDef> N° de Solicitud </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.idCita}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="fechaCita">
                    <mat-header-cell *matHeaderCellDef> Fecha de Cita </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fechaCita}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="horaAtencion">
                    <mat-header-cell *matHeaderCellDef> Hora de Atencion </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horaAtencion}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="servicio">
                    <mat-header-cell *matHeaderCellDef> Servicio </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.servicio}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="actividad">
                    <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.actividad}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="medicoTratante">
                    <mat-header-cell *matHeaderCellDef> M&eacute;dico Tratante </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.medicoTratante}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="consultorio">
                    <mat-header-cell *matHeaderCellDef> Consultorio </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.consultorio}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="tipoCita">
                    <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.tipoCita}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="confirmar">
                    <mat-header-cell *matHeaderCellDef> Confirmar </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <a (click)="openModalConfirmacion(element)">
                        <i class="fa fa-check-square"></i>
                      </a>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="reprogramar">
                    <mat-header-cell *matHeaderCellDef> Reprogramar </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <a>
                        <i class="fa fa-pencil" (click)="redirige(numeroDocumento,CombotipoDocumento,element.flgOperacion,element.idCita)"></i>
                      </a>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <a (click)="openModalSuspender(1,element)">
                        <i class="fa fa-trash"></i>
                      </a>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-right">
          <div class="form-grup form-group-sm">
            <button mat-raised-button (click)="redirige(numeroDocumento,CombotipoDocumento,1,0)"> Nueva Cita </button>
            <button mat-raised-button *ngIf="flgUltiCita==true" (click)="openModalHistorial()"> Historial de Cita </button>
          </div>
        </div>
        <div class="col-12 text-center" *ngIf="flgUltiCita==true">
          <div class="form-grup form-group-sm">
            <mat-label class="col-sm-12  bold-text"> Últimas Citas </mat-label>
          </div>
          <div class="col-sm-12">
            <div class="form-grup form-group-sm row">
              <div class="col-sm-12">
                <mat-table #table [dataSource]="dataSource2">

                  <ng-container matColumnDef="idCita">
                    <mat-header-cell *matHeaderCellDef> N° de Solicitud </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.idCita}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="fechaCita">
                    <mat-header-cell *matHeaderCellDef> Fecha de Cita </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fechaCita}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="horaAtencion">
                    <mat-header-cell *matHeaderCellDef> Hora de Atencion </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horaAtencion}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="servicio">
                    <mat-header-cell *matHeaderCellDef> Servicio </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.servicio}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="actividad">
                    <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.actividad}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="medicoTratante">
                    <mat-header-cell *matHeaderCellDef> M&eacute;dico Tratante </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.medicoTratante}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="consultorio">
                    <mat-header-cell *matHeaderCellDef> Consultorio </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.consultorio}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="tipoCita">
                    <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.tipoCita}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="imprimir">
                    <mat-header-cell *matHeaderCellDef> Impromir </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <a (click)="imprimirReporte(element.idCita)">
                        <i *ngIf="element.flgMostrar1" class="fa fa-print"></i>
                      </a>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <a (click)="openModalSuspender(0,element)">
                        <i *ngIf="element.flgMostrar2" class="fa fa-trash"></i>
                      </a>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>

                </mat-table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </mat-card-content> -->
  <!-- -->
</main>

<br>
<app-asignar-cita *ngIf="asignarCitaDisabled == false" [paramJson]="paramJson" (sendcita)="sendcita($event)">
</app-asignar-cita>