.nivelBoton{
    padding-top: 33px;
}
.one {
    border-style: groove;
    border-width: 2px;
}
.matardisabled{
    pointer-events:none;
    color:#b5b5b5;
}
.bold-text{
    font-size: 1rem;
    font-weight: bold; 
    font-size: 20px;
    line-height: 2;
}
.event a {
    background-color: #42B373 !important;
    background-image :none !important;
    color: #ffffff !important;
}

.tamano-contenedor{
    width: 99%;
    margin: auto;
    margin-bottom: -25px;
  }

  .pad-top1{
    padding-top: 29px;
  }
