<!-- <probando> -->
<p class="text-center ">REGISTRO DE RECETA</p>

<div class="col-sm-12 text-right">
  <label>
    <b>Fecha de solicitud:</b> {{detalleRecetaCabezera.fhReceta ? (detalleRecetaCabezera.fhReceta | date: 'dd/MM/yyyy') :
        (date | date:'dd/MM/yyyy')}}
  </label>
</div>
<div class=" row ">

  <div class="col-6 paddRightCero">
    <mat-card>
      <form #saveRecetaForm="ngForm" novalidate name="saveRecetaForm">
        <mat-card-header class="sombreadoSubtitulos">
          <mat-card-title class="subtitulo-seccion">Datos de la medicina a recetar</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <mat-label>Producto Farmacútico/Dispositivo Médico:</mat-label>

                  <!-- <input matInput [matAutocomplete]="auto" name="descMedic" #descMedic="ngModel" id="descMedic" [(ngModel)]="descripMedicDispMedicProducSanit" (input)="buscarMedicDispProdDescripcion($event.target.value)" (ngModelChange)="filteredDispMedi = filterMeds(descripMedicDispMedicProducSanit)" required /> -->
                  <input matInput [matAutocomplete]="auto" name="descMedic" #descMedic="ngModel" id="descMedic"
                    [(ngModel)]="descripMedicDispMedicProducSanit"
                    (input)="buscarMedicDispProdDescripcion($event.target.value)" required />
                  <button mat-button *ngIf="descripMedicDispMedicProducSanit" matSuffix mat-icon-button
                    aria-label="Clear" (click)="descripMedicDispMedicProducSanit=''">
                    <mat-icon>close</mat-icon>
                  </button>

                  <mat-error>
                    <app-validators-messages [controlVar]="descMedic"
                      labelName="Producto Farmacútico/Dispositivo Médico" [dirtyOption]="true" [touchedOption]="true">
                    </app-validators-messages>
                  </mat-error>
                  <mat-autocomplete #auto="matAutocomplete">
                    <div>
                      <mat-option (onSelectionChange)="seleccionaMedicamentoMaterial(dispMeD)"
                        *ngFor="let dispMeD of medicDispMedicProdSanit"
                        [value]="dispMeD.dispositivoMedicamento+' '+dispMeD.formaFarmaceutica+ ' '+dispMeD.concentracion  ">
                        <span>{{ dispMeD.dispositivoMedicamento }} {{dispMeD.formaFarmaceutica}}
                          {{dispMeD.concentracion }} </span> | <small> cantidad: {{    dispMeD. stock    }} </small>

                      </mat-option>
                    </div>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-sm-3 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Unidad de Medida"
                    [(ngModel)]="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].idUnidad" name="idUnidad"
                    id="idUnidad" #idUnidad="ngModel" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let asd of unidadesMedidas" [value]="asd.idUnidad">{{asd.nombreUnidad}}
                    </mat-option>
                  </mat-select>

                  <mat-error>
                    <app-validators-messages [controlVar]="idUnidad" labelName="Unidad de Medida" [dirtyOption]="true"
                      [touchedOption]="true">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-3 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Cantidad:" name="cantGeneReceta" #cantGeneReceta="ngModel"
                    id="cantGeneReceta" [(ngModel)]="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].cantidad"
                    (keypress)="setInputPattern($event, 'positiveDigits')" required
                    [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" [min]="1">
                  <button mat-button *ngIf="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].cantidad"
                    matSuffix mat-icon-button aria-label="Clear"
                    (click)="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].cantidad=''">
                    <mat-icon>close</mat-icon>
                  </button>

                  <mat-error>
                    <app-validators-messages [controlVar]="cantGeneReceta" labelName="Cantidad" [dirtyOption]="true"
                      [touchedOption]="true">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-3 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Duración(Días):" name="diasDuracion" #diasDuracion="ngModel"
                    id="diasDuracion"
                    [(ngModel)]="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].diasDuracion"
                    (keypress)="setInputPattern($event, 'positiveDigits')" required
                    [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" [min]="1">
                  <button mat-button *ngIf="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].diasDuracion"
                    matSuffix mat-icon-button aria-label="Clear"
                    (click)="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].cantidad=''">
                    <mat-icon>close</mat-icon>
                  </button>

                  <mat-error>
                    <app-validators-messages [controlVar]="diasDuracion" labelName="Duración(Días)" [dirtyOption]="true"
                      [touchedOption]="true">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-3 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Frecuencia(Dosis):" name="frecuencia" #frecuencia="ngModel"
                    id="frecuencia" [(ngModel)]="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].dosificacion"
                    required>
                  <button mat-button *ngIf="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].dosificacion"
                    matSuffix mat-icon-button aria-label="Clear"
                    (click)="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].dosificacion=''">
                    <mat-icon>close</mat-icon>
                  </button>

                  <mat-error>
                    <app-validators-messages [controlVar]="frecuencia" labelName="Frecuencia(Dosis):"
                      [dirtyOption]="true" [touchedOption]="true">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Posología" name="posologia" #posologia="ngModel"
                    [(ngModel)]="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].posologia"
                    matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3" required></textarea>
                  <button mat-button *ngIf="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].posologia"
                    matSuffix mat-icon-button aria-label="Clear"
                    (click)="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].posologia=''">
                    <mat-icon>close</mat-icon>
                  </button>

                  <mat-error>
                    <app-validators-messages [controlVar]="posologia" labelName="Posología" [dirtyOption]="true"
                      [touchedOption]="true">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- <div class="col-sm-6 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Diagnostico"
                  [(ngModel)]="recetaCabezeraRequest.recetaCabecera.recetaDetalleList[0].idDiagnostico" name="idDiagnostico"
                  id="idDiagnostico" #idDiagnostico="ngModel" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let asd of listaDiagnostico" [value]="asd.idDiagnostico">{{asd.descripcionDiagnostico}}
                  </mat-option>
                </mat-select>

                <mat-error>
                  <app-validators-messages [controlVar]="idDiagnostico" labelName="Diagnostico" [dirtyOption]="true"
                    [touchedOption]="true">
                  </app-validators-messages>
                </mat-error>
                </mat-form-field>
              </div> -->
              <div class="col-sm-12 text-right">
                <button type="submit" mat-raised-button (click)="saveReceta(saveRecetaForm)"
                  [disabled]="isInvalid(saveRecetaForm)">Recetar Medicamento</button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>

  <div class="col-6 paddLeftCero">
    <mat-card>
      <mat-card-header class="sombreadoSubtitulo">
        <mat-card-title class="subtitulo-seccion">Relación de medicamentos recetados</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="table responsive">
          <mat-table #table [dataSource]="matDataSource">
            <!-- <ng-container matColumnDef="Cogido">
              <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
              <mat-cell *matCellDef="let item">
                {{item.medicamento ? item.medicamento.codigo : item.dispMedicoProdSanitario.codigo}}
              </mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="Descripcion">
              <mat-header-cell *matHeaderCellDef matTooltip="Descripción" matTooltipPosition="above"> Des
              </mat-header-cell>
              <mat-cell *matCellDef="let item">
                {{item.medicamento ? item.medicamento.dciProductoFarmaceutico :
                      item.dispMedicoProdSanitario.dciDispMedicoProdSanitario}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Unidad">
              <mat-header-cell *matHeaderCellDef> Unidad </mat-header-cell>
              <mat-cell *matCellDef="let item"> {{item.nombreUnidad}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Cantidad">
              <mat-header-cell *matHeaderCellDef matTooltip="Cantidad" matTooltipPosition="above"> Cant
              </mat-header-cell>
              <mat-cell *matCellDef="let item"> {{item.cantidad}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Duracion">
              <mat-header-cell *matHeaderCellDef matTooltip="Duración" matTooltipPosition="above"> Dur
              </mat-header-cell>
              <mat-cell *matCellDef="let item"> {{item.diasDuracion}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Diagnostico">
              <mat-header-cell *matHeaderCellDef matTooltip="Diagnóstico" matTooltipPosition="above"> Diag
              </mat-header-cell>
              <mat-cell *matCellDef="let item"> {{item.descripcionDiagnostico}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Accion">
              <mat-header-cell *matHeaderCellDef> Acci&oacute;n </mat-header-cell>
              <mat-cell *matCellDef="let item">
                <button mat-button (click)="modalDetalleRecetaDelete(item.idRecetaDetalle)">
                  <div class="example-tooltip-host" matTooltip="Eliminar" [matTooltipPosition]="'above'">
                    <span>
                      <i class="material-icons">delete</i>
                    </span>
                  </div>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


</div>

<div class="row">
  <div class="col-7 paddRightCero">
    <mat-card class="margenTopCero">
      <mat-card-header class="sombreadoSubtitulos">
        <mat-card-title class="subtitulo-seccion"> Medicamentos Recetados </mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <table class="table table-sm">
          <thead>
            <tr>
              <!-- <th class="text-center"> # </th> -->
              <th class="text-center"> Área </th>
              <th class="text-center anchoListado5" > Especialidad. </th>
              <th class="text-center"> Medicamento </th>
              <th class="text-center"> Cantidad </th>
              <th class="text-center"> Fecha </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let lsM of lsMedicamentosAntxPersona; let j=index;">
              <tr *ngFor="let lsMRD of lsM.recetaDetalleList; let i = index">
                <!-- <td scope="row" class="text-center">{{ x+ i+j+1 }}</td> -->
                <td scope="row" class="text-center">{{lsM.actoMedico.area.valor}}</td>
                <td scope="row" class="text-center anchoListado5">{{lsM.actoMedico.cita.programacion.especialidad.valor}}</td>
                <td scope="row" class="text-center">
                  {{ lsMRD.medicamento ? lsMRD.medicamento.dciProductoFarmaceutico : lsMRD.dispMedicoProdSanitario.dciDispMedicoProdSanitario }}
                </td>
                <td scope="row" class="text-center"> {{lsMRD.cantidad}} </td>
                <td scope="row" class="text-center"> {{lsM.fhReceta}} </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <!-- PAGINADOR -->

        <mat-paginator [length]="pagination.nuRegisMostrar" [pageSize]="pageSize"
          (page)="pageEvent($event,buscarRecetaxMedic)" showFirstLastButtons></mat-paginator>
        <!-- <p>{{descripDiagnosticos}}</p> -->

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-5 paddLeftCero">
    <mat-card class="margenTopCero">
      <mat-card-header class="sombreadoSubtitulos">
        <mat-card-title class="subtitulo-seccion">Diagnóstico</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <table class="table table-sm" style="display: table;">
          <thead>
            <tr>
              <!-- <th class="text-center"> # </th> -->
              <!-- <th class="text-center"> C&oacute;digo </th> -->
              <th class="text-center anchoListado3"> Nombre del Diagnóstico </th>
              <th class="text-center"> Fecha </th>
            </tr>
          </thead>
          <tbody>
            <!-- <ng-container *ngFor="let exA of ExamenAnteriores; let j=index"> -->
            <tr *ngFor="let lsDA of lsdiagnosticoPersona; let i = index">
              <!-- <td scope="row" class="text-center">{{ i }}</td> -->
              <!-- <td scope="row" class="text-center">{{lsDA.codigoDiagnostico}}</td> -->
              <td scope="row" class="text-center anchoListado3">{{lsDA.descripcionDiagnostico}}</td>
              <td scope="row" class="text-center">{{lsDA.fecha}}</td>
              <!-- </ng-container> -->
          </tbody>
        </table>
        <!-- <p>{{descripAntecedentes}}</p> -->

      </mat-card-content>
    </mat-card>
  </div>


</div>

<div class="col-12 text-right">
  <button type="submit" mat-raised-button (click)="imprimirReceta()" [disabled]="detalleRecetaCabezera==null">Imprimir
    Receta</button>
</div>
<br>