<mat-card class="matCardMin">
  <mat-card-header class=" yes sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Nueva Asignación de Servicios</mat-card-title>
    <div class="emp" >
        <button mat-button class="mat-button-icon" (click)="close()">
          <div class="example-tooltip-host" matTooltip="Salir" aria-label="hola">
            <span>
              <i class="material-icons">close</i>
            </span>
          </div>
        </button>
      </div>
  </mat-card-header>
  <mat-card-content>
     
    <div class=col-sm-12>
      <div class="card-body">
        <div class="row justifyContent">
              <div class="col-sm-6 ">
                <mat-form-field class="example-full-width">
                  <mat-label>Nombre de Servicio</mat-label>
                  <mat-select placeholder="Seleccionar" name="Lsservicio" (selectionChange)="seleccionarServicio()" [(ngModel)]="request.idServicio"
                    required>
                    <mat-option *ngFor="let se of Lsservicio" [value]="se.idServicio">
                      {{se.descripcionServicio}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-2 al">
                     <button mat-raised-button  (click)="insertarServicioCobertura()">Agregar</button>
              </div>
        </div>
      </div>
    </div>

    <!-- <div class=col-12>
      <div class="row">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <div class="text-center">
                <button mat-raised-button style class="col-sm-2" (click)="obtenerServicioCobertura()">Buscar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="Codigo de Servicio">
        <mat-header-cell *matHeaderCellDef> Codigo de Servicio </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.idServicio}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Nombre de Servicio">
        <mat-header-cell *matHeaderCellDef> Nombre de Servicio </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcionTarifario}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="Eliminar">
        <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button>
            <i class="material-icons" (click)="modalEliminarServicioCobertura(element)">delete_forever</i>
          </button>
        </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="displayedSize" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
    showFirstLastButtons></mat-paginator>
    
  </mat-card-content>
</mat-card>
<!-- <div class="col-sm-12 text-rigth" >
    <button mat-raised-button style class="col-sm-2" (click)="close(1)">Cancelar</button>
  </div> -->