<div class="modal-header">
  <h4 class="modal-title text-center"> Actualizar Indicaciones </h4>
  <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal-body">
  <div class="form-grup form-group-sm row">
    <mat-form-field class="col-sm-12">
      <textarea matInput placeholder="Indicaciones" [(ngModel)]="RequestOrdenExamenDetalle.ordenExamenDetalle.observacionExamenDetalle"></textarea>
    </mat-form-field>
  </div>
</div>

<div class="modal-footer">
  <div class="form-grup form-group-sm row">
    <div class="col-sm-12 text-center">
      <button mat-raised-button color="primary" (click)="actualizarOrdenExamenesDetalle()"> Si </button>
      <button mat-raised-button color="warn" (click)="onNoClick()"> No </button>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <div>
      <label>
        <strong>Indicaciones:</strong>
      </label>
      <textarea placeholder="Indicaciones" class="form-control" [(ngModel)]="RequestOrdenExamenDetalle.ordenExamenDetalle.observacionExamenDetalle"></textarea>
    </div>
    <br>
  </div>
</div>
<div class="modal-footer">
  <button type="button" style="width:64px" class="btn btn-danger" (click)="actualizarOrdenExamenesDetalle()">Sí</button>

  <button type="button" style="width:64px" class="btn btn-outline-dark" (click)="onNoClick()">No</button>

</div> -->