<mat-card class="matCardMin">
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Aviso</mat-card-title>
    <div class="emp"> 
      <button mat-button class="mat-button-icon" (click)="dismiss()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>  

<div class="modal-body">
  <div class="row">
    <div class="col-12 text-center"> {{confirmacion}} </div>
  </div>
</div>

</mat-card-content>
<mat-dialog-actions class="modal-footer">
  <button mat-raised-button (click)="saveMedicamento()" [disabled]="flagNew">Guardar</button>
  <button mat-raised-button (click)="dismiss()">Cancelar</button>
</mat-dialog-actions>