<mat-card class="col-12">
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion"></mat-card-title>
    <div class="container">
        <div class="seccion-title">
          <h5>Datos de la Maquinaria</h5>
        </div>
        <div class="margenSuperior2"> 
          <button mat-button class="mat-button-icon" (click)="close()" tabindex="-1">
            <div class="example-tooltip-host" matTooltip="Cerrar" [matTooltipPosition]="'above'">
              <span>
                <i class="material-icons">close</i>
              </span>
            </div>
          </button>
        </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form #FormCrearArea="ngForm" novalidate name="FormCrearArea">
      <div class="modal-body">
        <div class="row">
          <div class=" col-6">
            <mat-form-field class="">
              <input matInput placeholder="N° Serie:" [(ngModel)]="request.maquinaria.codigo" [disabled]="disabled" minlength="10" maxlength="20" name="request.maquinaria.codigo"
                #request.maquinaria.codigo="ngModel" (keypress)="setInputPattern($event, 'alfanumerics')" [pattern]="setValidatorPattern('alfanumerics', setQuantifier('+'), true, true)"
                required>
            </mat-form-field>
          </div>

          <div class="col-6 ">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nombre:" [(ngModel)]="request.maquinaria.nombre" [disabled]="disabled" name="request.maquinaria.nombre"
                (keypress)="setInputPattern($event, 'soloUnEspacioNumeroLetra')" [pattern]="setValidatorPattern('soloUnEspacioNumeroLetra', setQuantifier('+'), true, true)"
                #request.maquinaria.nombre="ngModel" required>
            </mat-form-field>
          </div>

        </div>
        <div class="row">
          <div class=" col-6">
            <mat-form-field class="">
              <input matInput placeholder="Marca:" [(ngModel)]="request.maquinaria.marca" (keypress)="setInputPattern($event, 'soloUnEspacioNumeroLetra')"
                [pattern]="setValidatorPattern('soloUnEspacioNumeroLetra', setQuantifier('+'), true, true)" [disabled]="disabled"
                name="request.maquinaria.marca" #request.maquinaria.marca="ngModel" required>
            </mat-form-field>
          </div>
          <div class=" col-6">
            <mat-form-field class="">
              <input matInput placeholder="Fecha de Mantenimiento:" [(ngModel)]="request.maquinaria.fechaMantenimiento" [disabled]="disabled" type="date"
                name="request.maquinaria.fechaMantenimiento" #request.maquinaria.fechaMantenimiento="ngModel" required>
            </mat-form-field>
          </div>
        </div>
        <!--<mat-form-field class="col-6">
            <input matInput placeholder="Fecha" [matDatepicker]="picker22" [(ngModel)]="requestnew.fecha" [min]="today"
              [minDate]="today" name="requestnew_fecha" #requestnew_fecha="ngModel"
              (dateInput)="onDateChangee($event.target.value)" [disabled]="disabled" required>
            <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
            <mat-datepicker #picker22></mat-datepicker>
          </mat-form-field>-->

        <div class="row">
          <div class=" col-6">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <mat-select #listaOpciones placeholder="Seleccione Ubicación" name="request.maquinaria.idUbicacion" #request.maquinaria.idUbicacion="ngModel"
                [(ngModel)]="request.maquinaria.idUbicacion" id="request.maquinaria.idUbicacion" [disabled]="disabled" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let a of lsUbicacion" [value]="a.idUbicacion">
                  {{a.ubicacion}}
                </mat-option>
              </mat-select>
              <mat-error>
                <app-validators-messages [controlVar]="request.maquinaria.idUbicacion" labelName="request.maquinaria.idUbicacion"></app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div class=" col-6">
            <mat-form-field class="">
              <textarea matInput placeholder="Detalle:" [(ngModel)]="request.maquinaria.detalle" (keypress)="setInputPattern($event, 'soloUnEspacioNumeroLetra')"
                [pattern]="setValidatorPattern('soloUnEspacioNumeroLetra', setQuantifier('+'), true, true)" [disabled]="disabled"
                name="request.maquinaria.detalle" #request.maquinaria.detalle="ngModel"></textarea>
            </mat-form-field>
          </div>
        </div>
     <div class="row">
          <div class=" col-6">
            <mat-form-field class="">
              <input matInput placeholder="Fecha de Compra:" [(ngModel)]="request.maquinaria.fechaCompra" [disabled]="disabled" type="date" 
                name="request.maquinaria.fechaCompra" #request.maquinaria.fechaCompra="ngModel" required>
            </mat-form-field>
          </div>
          <div class=" col-6">
            <mat-form-field class="">
              <input matInput type="number" placeholder="Precio de Compra:" [(ngModel)]="request.maquinaria.precioCompra" [disabled]="disabled" [min]="1" name="request.maquinaria.precioCompra"
                #request.maquinaria.precioCompra="ngModel" (keypress)="setInputPattern($event, 'realPrices')" [pattern]="setValidatorPattern('realPrices', setQuantifier('+'), true, true)"
                required>
            </mat-form-field>
          </div>
        </div>

        <div class="modalaling">
          <div *ngIf="show==3" class="col-11 text-right">
            <button mat-raised-button (click)="update()" [disabled]="FormCrearArea.invalid">Editar</button>
          </div>
          <div *ngIf="show==1" class="col-11 text-right ">
            <button mat-raised-button (click)="insert()" [disabled]="FormCrearArea.invalid">Insertar</button>
          </div>
          <div class="col-11 text-left ">
            <button mat-raised-button (click)="close(1)">Regresar</button>
          </div>

        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>