<div class="modal-header">
  <h4 class="modal-title">Eliminar Medicamento</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>¿Desea eliminar Registro?</label>

  </div>
</div>
<div class="modal-footer">
  <button type="button" style="width:64px" class="btn btn-danger" (click)="deleteMedicamento()">Sí</button>
  <button type="button" style="width:64px" class="btn btn-outline-dark" (click)="close()">No</button>
</div>