<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion"> Diagnosticos </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 row">
          <div class="col-sm-12 col-md-4 row">

            <div class="col-sm-8">
              <div class="form-grup form-group-sm row">
                <mat-form-field class="col-sm-12">
                  <input matInput id="codigo_diagnotico" placeholder="Código de Diagnostico"
                    [(ngModel)]="_params.codigoDiagnostico" (keyup.enter)="busquedaDiagnosticoCodigo()">
                  <!-- <button mat-button matSuffix mat-icon-button aria-label="search"
                    (click)="busquedaDiagnosticoCodigo()">
                    <mat-icon>search</mat-icon>
                  </button> -->
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-grup form-group-sm row posicionBot2">
                <button mat-raised-button class="col-sm-12"  (click)="busquedaDiagnosticoCodigo()">Buscar 
                  <!-- <i class="fa fa-search"></i> -->
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-8 row">

            <div class="col-sm-11">

              <div class="form-grup form-group-sm row">
                <mat-form-field class="col-sm-12">
                  <input matInput placeholder="Descripción de Diagnostico" [formControl]="diagnosticoCtrl" [matAutocomplete]="auto" [(ngModel)]="_params.descripcionDiagnostico"
                    (input)="busquedaDiagnosticoDescripcion($event.target.value)"
                    matTooltip="minimio 2 palabras para realizar busqueda" [matTooltipPosition]="'above'">
                  <!-- <input type="text" class="form-control" [(ngModel)]="descripcion" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" (input)="busquedaDiagnosticoDescripcion($event.target.value)" (selectItem)="seleccionarDescripcion($event.item)"    /> -->
        
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let ld of listaDiagnosticoCD" [value]="ld.descripcionDiagnostico"
                      (onSelectionChange)="seleccionarDescripcion(ld.idDiagnostico, ld.codigoDiagnostico, ld.descripcionDiagnostico)">
                      {{ ld.descripcionDiagnostico }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="form-grup form-group-sm text-center posicionBot">
                <button mat-raised-button class="col-sm-12"  (click)="agregarDiagnostico()">Agregar </button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-12">

          <div class="form-grup form-group-sm row">
            <div class="col-sm-12">
              <mat-table #table [dataSource]="dataSource">

                <ng-container matColumnDef="codigoDiagnostico">
                  <mat-header-cell *matHeaderCellDef> Codigo de Diagnostico </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.codigoDiagnostico}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="descripcionDiagnostico">
                  <mat-header-cell *matHeaderCellDef> Descripcion de Diagnostico </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.descripcionDiagnostico}} </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="idDiagnosticoTipo">
                  <mat-header-cell *matHeaderCellDef> Tipo de Diagnostico </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <div class="form-grup form-group-sm row">
                      <mat-form-field class="col-sm-12">
                        <mat-select [(ngModel)]="element.tipoDiagnostico"  name="diagnostico_tipo" #diagnostico_tipo="ngModel" (ngModelChange)="send()"> 
                          <mat-option> -- </mat-option> 
                          <mat-option [value]="'R'"> Repetido </mat-option> 
                          <mat-option [value]="'N'"> Nuevo </mat-option> 
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="idDiagnosticoCaso">
                  <mat-header-cell *matHeaderCellDef> Tipo de Diagnostico </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index">
                    <div class="form-grup form-group-sm row">
                      <mat-form-field class="col-sm-12">
                        <mat-select [(ngModel)]="element.calificacionDiagnostico" name="diagnostico_caso"
                          #diagnostico_caso="ngModel" (ngModelChange)="send();change(i)">
                          <mat-option [value]="" disabled> -- </mat-option>
                          <mat-option [value]="'P'"> Presuntivo </mat-option>
                          <mat-option [value]="'D'"> Definitivo </mat-option>
                          <mat-option [value]="'R'"> Reiterativo </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="altaDiagnostico">
                  <mat-header-cell *matHeaderCellDef> Alta de Diagnostico </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <div class="form-grup form-group-sm row">
                      <mat-form-field class="col-sm-12">
                        <mat-select [(ngModel)]="element.altaDiagnostico" name="diagnostico_alta"
                          #diagnostico_alta="ngModel" (ngModelChange)="send()">
                          <mat-option [value]="" disabled> -- </mat-option>
                          <mat-option [value]="0" [disabled]="element.calificacionDiagnostico == 'D'"> No </mat-option>
                          <mat-option [value]="1" [disabled]="element.calificacionDiagnostico == 'P'"> Si </mat-option>

                        </mat-select>
                      </mat-form-field>
                    </div>

                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="eliminar">
                  <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index">
                    <button mat-icon-button class="col-sm-12" color="primary"
                      (click)="eliminarDiagnostico(i)">
                      <i class="fa fa-trash"></i>
                    </button>

                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

              </mat-table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>