<mat-card>
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Correlativo</mat-card-title>
    <div class="emp">
    <button class="enlace negrita" type="button" (click)="modalInsertarCorrelativo()">
        Nuevo Correlativo
      </button> 
    </div>
  </mat-card-header>


  <mat-card-content>
    <form #correlativoForm="ngForm" novalidate name="correlativoForm">
      <div class="card-body">

        <div class="row">


          <div class="col-sm-6 text-right">
            <mat-form-field>
              <mat-select placeholder="Año" name="convenios" [(ngModel)]="request.anio"
                (selectionChange)="seleccionaranio(request.anio)">
                <mat-option *ngFor="let anio of anios" [value]="anio.value">
                  {{ anio.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="col-sm-6 margenTop2">
            <button mat-raised-button (click)="getCorrelativos()">Buscar
            </button>
          </div>

        </div>

      </div>
    </form>

    <div class="table responsive" *ngIf="correlativo.length!=0">

      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="documento">
          <mat-header-cell *matHeaderCellDef> Tipo Documento </mat-header-cell>
          <mat-cell *matCellDef="let corr"> {{ corr.descripcionTipoDocumentoFarmacia }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="numero">
          <mat-header-cell *matHeaderCellDef> Numero de Secuencia </mat-header-cell>
          <mat-cell *matCellDef="let corr"> {{ corr.numeroSecuenciaComprobante }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="anio">
          <mat-header-cell *matHeaderCellDef> Año </mat-header-cell>
          <mat-cell *matCellDef="let corr"> {{ corr.anio }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="editar">
          <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
          <mat-cell *matCellDef="let corr">
             <button mat-button (click)="modalEditarCorrelativo(corr)">
              <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">edit</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsA"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsA;">
        </mat-row>
      </mat-table>

    </div>

  </mat-card-content>

</mat-card>