<div class="container">
  <div class="row" style="margin-top: 3%;">
    <div class="col-sm-8 col-md-8 col-lg-7 ">

      <div class="form-grup form-group-sm row filaSelect">
        <mat-label class="col-sm-12"> 1. ¿Estas Satisfecho con su vida? </mat-label>
      </div>

      <div class="form-grup form-group-sm row filaSelect">
        <mat-label class="col-sm-12"> 2. ¿Se siente impotente o indefenso? </mat-label>
      </div>

      <div class="form-grup form-group-sm row filaSelect">
        <mat-label class="col-sm-12"> 3. ¿Tiene problemas de memoria? </mat-label>
      </div>

      <div class="form-grup form-group-sm row filaSelect">
        <mat-label class="col-sm-12"> 4. ¿Siente desgano o se siente imposibilitado respecto a actividades e intereses?
        </mat-label>
      </div>

    </div>
    <div class="col-sm-4 col-md-4 col-lg-5 ">

      <div class="form-grup form-group-sm row aling">
        <mat-radio-group class="col-sm-12" [(ngModel)]="valoracionGeriatrica.estadoAfectivo.afecSatisfaccion" name="afec_satisfaccion"
          #afec_satisfaccion="ngModel" (change)="radioButom()">
          <mat-radio-button class="form-check-inline" [value]="1"> Dependiente </mat-radio-button>
          <mat-radio-button class="form-check-inline" [value]="0"> Independiente </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-grup form-group-sm row aling">
        <mat-radio-group class="col-sm-12" [(ngModel)]="valoracionGeriatrica.estadoAfectivo.afecImpotenteIndefenso"
          name="afec_impotenteIndefenso" #afec_impotenteIndefenso="ngModel" (change)="radioButom()">
          <mat-radio-button class="form-check-inline" [value]="1"> Dependiente </mat-radio-button>
          <mat-radio-button class="form-check-inline" [value]="0"> Independiente </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-grup form-group-sm row aling">
        <mat-radio-group class="col-sm-12" [(ngModel)]="valoracionGeriatrica.estadoAfectivo.afecProblemaMemoria" name="afec_problema_memoria"
          #afec_problema_memoria="ngModel" (change)="radioButom()">
          <mat-radio-button class="form-check-inline" [value]="1"> Dependiente </mat-radio-button>
          <mat-radio-button class="form-check-inline" [value]="0"> Independiente </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="form-grup form-group-sm row aling">
        <mat-radio-group class="col-sm-12" [(ngModel)]="valoracionGeriatrica.estadoAfectivo.afecDesgano" name="afec_desgano"
          #afec_desgano="ngModel" (change)="radioButom()">
          <mat-radio-button class="form-check-inline" [value]="1"> Dependiente </mat-radio-button>
          <mat-radio-button class="form-check-inline" [value]="0"> Independiente </mat-radio-button>
        </mat-radio-group>
      </div>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 alturaCenter">
      <div class="form-grup form-group-sm row">
        <mat-form-field class="col-sm-12">
          <input matInput placeholder="Estado Afectivo" [value]="valoracionGeriatrica.estadoAfectivo.resultadoAfectivo" disabled>
        </mat-form-field>
      </div>
    </div>

  </div>
</div>