<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-9">

      <div class="form-grup form-group-sm row filaSelect">
        <mat-checkbox class="col-sm-12" [value]="1" [(ngModel)]="valoracionGeriatrica.estadoCognitivo.cognFechaHoy" (change)="newFunction()">
          1. ¿Cual es la fecha de hoy? (día, mes y año) </mat-checkbox>
      </div>

      <div class="form-grup form-group-sm row filaSelect">
        <mat-checkbox class="col-sm-12" [value]="1" [(ngModel)]="valoracionGeriatrica.estadoCognitivo.cognDiaSemana"
          (change)="newFunction()"> 2. ¿Qué día de la semana? </mat-checkbox>
      </div>

      <div class="form-grup form-group-sm row filaSelect">
        <mat-checkbox class="col-sm-12" [value]="1" [(ngModel)]="valoracionGeriatrica.estadoCognitivo.cognLugar" (change)="newFunction()"> 3.
          ¿En qué lugar estamos? (vale cualquier descripción correcta del lugar) </mat-checkbox>
      </div>

      <div class="form-grup form-group-sm row filaSelect">
        <mat-checkbox class="col-sm-12" [value]="1" [(ngModel)]="valoracionGeriatrica.estadoCognitivo.cognTelefono" (change)="newFunction()">
          4. ¿Cual es su número de teléfono? Si no tiene ¿Cúal es su dirección completa? </mat-checkbox>
      </div>

      <!-- <div class="form-grup form-group-sm row filaSelect">
        <mat-checkbox class="col-sm-12"  [value]="1" [(ngModel)]="estadoCognitivo.cognDireccion" (change)="newFunction()"> 5. ¿Cual es su dirección completa? </mat-checkbox>
      </div> -->

      <div class="form-grup form-group-sm row filaSelect">
        <mat-checkbox class="col-sm-12" [value]="1" [(ngModel)]="valoracionGeriatrica.estadoCognitivo.cognEdad" (change)="newFunction()"> 5.
          ¿Cuantos años tiene? </mat-checkbox>
      </div>

      <div class="form-grup form-group-sm row filaSelect">
        <mat-checkbox class="col-sm-12" [value]="1" [(ngModel)]="valoracionGeriatrica.estadoCognitivo.cognLugarNacimiento"
          (change)="newFunction()"> 6. ¿Dónde nació? </mat-checkbox>
      </div>

      <div class="form-grup form-group-sm row filaSelect">
        <mat-checkbox class="col-sm-12" [value]="1" [(ngModel)]="valoracionGeriatrica.estadoCognitivo.cognPresidente"
          (change)="newFunction()"> 7. ¿Cual es el nombre del presidente del Perú? </mat-checkbox>
      </div>

      <div class="form-grup form-group-sm row filaSelect">
        <mat-checkbox class="col-sm-12" [value]="1" [(ngModel)]="valoracionGeriatrica.estadoCognitivo.cognAnteriorPresidente"
          (change)="newFunction()"> 8. ¿Cual es el nombre del anterior presidente del Perú? </mat-checkbox>
      </div>

      <div class="form-grup form-group-sm row filaSelect">
        <mat-checkbox class="col-sm-12" [value]="1" [(ngModel)]="valoracionGeriatrica.estadoCognitivo.cognPrimerApellidoMadre"
          (change)="newFunction()"> 9. Dígame el primer apellido de su madre </mat-checkbox>
      </div>

      <div class="form-grup form-group-sm row filaSelect">
        <mat-checkbox class="col-sm-12" [value]="1" [(ngModel)]="valoracionGeriatrica.estadoCognitivo.cognRestar" (change)="newFunction()">
          10. Restar de 3 en 3 desde 30 (cualquier error hace errónea la respuesta) </mat-checkbox>
      </div>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-3 centrarVertical">
      <div class="form-grup form-group-sm row">
        <mat-form-field class="col-sm-12">
          <input matInput placeholder="Valoracion Cognitiva" [value]="valoracionGeriatrica.estadoCognitivo.resultadoCognitivo" disabled>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>