<mat-card>
  <mat-card-header>
    <mat-card-title> Ex&aacute;menes de Anatomia Patol&oacute;gica </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-8 col-md-5">

          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-12">
              <input matInput placeholder="C&oacute;digo de Examen" [(ngModel)]="cptExam.cptExamenList.codigoCpt">
            </mat-form-field>
          </div>

        </div>
        <div class="col-sm-2 col-md-1">

          <div class="form-grup form-group-sm row">
            <button mat-button mat-icon-button class="col-sm-12" (click)="buscarPorFiltro()">
              <i class="fa fa-search"></i>
            </button>
          </div>

        </div>
        <div class="col-sm-12 col-md-6">

          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-12">
              <input matInput placeholder="Nombre de Examen" [(ngModel)]="descripcion" (selectItem)="seleccionadoCpt($event)">
            </mat-form-field>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">

          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-12">
              <input matInput placeholder="Area de Examen" [(ngModel)]="areaExamen" [readonly]="true">
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">

          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-12">
              <textarea matInput placeholder="Indicaciones" [(ngModel)]="RequestExamenes.observacionExamenDetalle"></textarea>
            </mat-form-field>
          </div>

        </div>
        <div class="col-sm-12 col-md-4">

          <div class="form-grup form-group-sm row">
            <button mat-raised-button class="col-sm-12" color="primary" (click)="postOrdenExamenes()"> Agregar </button>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="descripcionExamenArea">
              <mat-header-cell *matHeaderCellDef> Área de Exámenes </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.descripcionExamenArea}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="codigoCpt">
              <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.codigoCpt}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="descripcionCpt">
              <mat-header-cell *matHeaderCellDef> Nombre de Examen </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.descripcionCpt}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="observacionExamenDetalle">
              <mat-header-cell *matHeaderCellDef> Indicaciones </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.observacionExamenDetalle}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="eliminar">
              <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div class="form-grup form-group-sm row">
                  <button mat-icon-button class="col-sm-12" color="primary" (click)="modalEliminarOrdExamDetalle(element.idOrdenExamenDetalle)">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="editar">
              <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <div class="form-grup form-group-sm row">
                  <button mat-icon-button class="col-sm-12" color="primary" (click)="modalActualizarOrdExaDetalle(element.idOrdenExamenDetalle)">
                    <i class="fa fa-pencil"></i>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>
        </div>
      </div>
      <div class="row">
        <button mat-raised-button class="col-sm-12 col-md-1" color="primary" (click)="getObtenerImpresionExamenes()"> Imprimir </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<!-- 




<br>
<br>
<div class="col-12">

  <div class="row">
    <div class="col-md-12">
      <p style="text-align: center">
        <strong>EXÁMENES DE ANATOMIA PATOLÓGICA</strong>
      </p>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="col-md-12">
      <label>
        <strong>DATOS DE BÚSQUEDA</strong>
      </label>
    </div>
  </div>
  <hr/>


  <div class="row">
    <div class="col-md-6">
      <label>
        <strong>Código de Examen:</strong>
      </label>
      <input class="form-control" placeholder="Código de Examen" [(ngModel)]="cptExam.cptExamenList.codigoCpt" />
    </div>

    <div class="col-md-6">
      <br>
      <a class="btn btn-primary" (click)="buscarPorFiltro()">
        <i class="fa fa-search "></i>
      </a>
    </div>
  </div>




  <div class="row">
    <div class="col-md-6">
      <div>
        <label>
          <strong>Nombre de Examen:</strong>
        </label>
        <input (selectItem)="seleccionadoCpt($event)" class="form-control" placeholder="Nombre de Examen" [(ngModel)]="descripcion"
          [ngbTypeahead]="search" [inputFormatter]="formatter" />
      </div>

    </div>


    <div class="col-md-6">
      <div>
        <label>
          <strong>Área de Examen:</strong>
        </label>
        <input class="form-control" placeholder="Área de Examen" [(ngModel)]="areaExamen" [readonly]="true" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div>
        <label>
          <strong>Indicaciones:</strong>
        </label>
        <textarea placeholder="Indicaciones" class="form-control" [(ngModel)]="RequestExamenes.observacionExamenDetalle"></textarea>
      </div>
      <br>
      <div class="col-12 form-group">
        <div class="col-12">
          <div style="text-align:center">
            <button class="btn btn-primary" (click)="postOrdenExamenes()">Agregar</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <hr/>
  <div class="row">
    <div class="col-md-12">
      <label>
        <strong>EXAMEN ASIGNADO</strong>
      </label>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <div class="col tabla-examen ">
          <table class="table">
            <thead>
              <tr>
                <th>Área de Exámenes</th>
                <th>Código</th>
                <th>Nombre de Examen</th>
                <th>Indicaciones</th>
                <th>Eliminar</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let examenDe of ordenExamenDetalle.ordenExamenDetalleList">
                <td>{{examenDe.descripcionExamenArea}}</td>
                <td>{{examenDe.codigoCpt}}</td>
                <td>{{examenDe.descripcionCpt}}</td>
                <td>{{examenDe.observacionExamenDetalle}}</td>
                <td>
                  <div>
                    <a class="btn btn-primary">
                      <i class="fa fa-trash" (click)="modalEliminarOrdenExamenDetalle(examenDe.idOrdenExamenDetalle)"></i>
                    </a>
                  </div>
                </td>
                <td>
                  <div>
                    <a class="btn btn-primary">
                      <i class="fa fa-pencil" (click)="modalActualizarOrdenExamenDetalle(examenDe.idOrdenExamenDetalle)"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-12 form-group">
        <div class="col-12">
          <div style="text-align:center">
            <button class="btn btn-primary" (click)="getObtenerImpresionExamenes()">Imprimir</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
</div> -->