<h2 mat-dialog-title>Detalles de Procedimiento
  <span class="example-spacer"></span>
  <button mat-button class="mat-button-icon" (click)="dismiss()">
    <div class="example-tooltip-host" matTooltip="Salir" [matTooltipPosition]="'above'">
      <span>
        <i class="material-icons">close</i>
      </span>
    </div>
  </button>
</h2>

<div class="modal-body">
  <div class="row">

    <div class="col-sm-3 mdl-input-group mdl-input-group__only">

    </div>

    <div class="col-sm-3 mdl-input-group mdl-input-group__only">
      
    </div>

    <div class="col-sm-3 mdl-input-group mdl-input-group__only">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Fecha:" readonly value="{{vector.fecha}}">
      </mat-form-field>
    </div>

    <div class="col-sm-3 mdl-input-group mdl-input-group__only">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Hora:" readonly value="{{vector.hora}}">
      </mat-form-field>
    </div>

    <div class="col-sm-6 mdl-input-group mdl-input-group__only">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Paciente:" readonly value="{{vector.persona.apellidoPaterno +' '+ vector.persona.apellidoMaterno}}">
      </mat-form-field>
    </div>

    <div class="col-sm-6 mdl-input-group mdl-input-group__only">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Acto M&eacute;dico:" readonly value="{{vector.actoMedico.idActoMedico}}">
      </mat-form-field>
    </div>

    <div class="col-sm-3 mdl-input-group mdl-input-group__only">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Documento Identidad:" readonly value="{{vector.persona.descripcionDocumento}}">
      </mat-form-field>
    </div>

    <div class="col-sm-3 mdl-input-group mdl-input-group__only">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="N° Documento:" readonly value="{{vector.persona.numeroDocumentoIdentidad}}">
      </mat-form-field>
    </div>

    <div class="col-sm-6 mdl-input-group mdl-input-group__only">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Historia Cl&iacute;nica:" readonly value="{{vector.actoMedico.idHistoria}}">
      </mat-form-field>
    </div>

    <div class="col-sm-6 mdl-input-group mdl-input-group__only">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Profesional:" readonly value="{{vector.personal.apellidoPaternoPersonal +' '+ vector.personal.apellidoMaternoPersonal +' '+ vector.personal.nombrePersonal}}">
      </mat-form-field>
    </div>

    <div class="col-sm-6 mdl-input-group mdl-input-group__only">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="N° Procedimiento:" readonly value="{{detProcedimiento.codProcedimiento}}">
      </mat-form-field>
    </div>

    <div class="col-sm-12 mdl-input-group mdl-input-group__only">
      <mat-form-field class="example-full-width">
        <textarea matInput type="text" placeholder="Descripci&oacute;n de Procedimiento:" matTextareaAutosize matAutosizeMinRows="1"
          matAutosizeMaxRows="3" value="{{vector.descProcedimiento}}" readonly></textarea>
      </mat-form-field>
    </div>

    <div class="col-sm-12 mdl-input-group mdl-input-group__only">
      <mat-form-field class="example-full-width">
        <textarea matInput type="text" placeholder="Informe del Procedimiento:" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3"
          value="{{vector.informe}}" readonly></textarea>
      </mat-form-field>
    </div>

  </div>
</div>
<mat-dialog-actions class="modal-footer">
  <button mat-button (click)="close()">Cerrar</button>
</mat-dialog-actions>