option:select {
    color: rgb(87, 236, 50);
}

.content{
    display: block;
    margin-bottom: 16px;
}



.margin-radio-button {
    margin: 0 10px;
    }

.container-section{
    padding: 0 1rem;
    margin: 1rem;
    margin: a auto;

}

.bold-text{
    font-size: 1rem;
    font-weight: bold; 
    font-size: 20px;
    line-height: 1;
}