<div [@dialog] class="dialog">
  <div class="modal-header">
    <h4 class="modal-title text-center"> Confirmaci&oacute;n de Cancelaci&oacute;n </h4>
    <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-grup form-group-sm row">
      <mat-label class="col-sm-12  bold-text"> ¿Esta seguro? </mat-label>
    </div>
  </div>

  <div class="modal-footer">
    <div class="form-grup form-group-sm row">
      <div class="col-sm-12 text-center">
        <button mat-raised-button color="primary" (click)="confirmarFalta()"> Si </button>
        <button mat-raised-button color="warn" (click)="onNoClick()"> No </button>
      </div>
    </div>
  </div>
</div>