<h2 style="text-align: center">
  Se ha encontrado mas de un paciente registrado
</h2>
<h2 style="text-align: center">
  Seleccionar uno si desea continuar.
</h2>
<div mat-dialog-content>
  <mat-card style="width:100%;max-width: 100%">
    <mat-card-content>
      <div class="table responsive">
        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="nombres">
            <mat-header-cell *matHeaderCellDef> Apellidos y Nombres </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.apellidoPaterno}} {{element.apellidoMaterno}}, {{element.nombres}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sexo">
            <mat-header-cell *matHeaderCellDef> Sexo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.descripcionSexo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edad">
            <mat-header-cell *matHeaderCellDef> Edad </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.edad}} </mat-cell>
          </ng-container>
          
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="ChoosePerson(row)"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="modal-footer">
      <button mat-button color="primary" (click)="onNoClick()"> Cerrar </button>
  </div>
</div>
