<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion"> Datos de B&uacute;squeda </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">
      <div class="row " style="margin-left:5px;">
        <div class="col-sm-12 col-md-12 col-lg-3">
          <div class="form-grup form-group-sm row">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <mat-select placeholder="Tipo de Examen" [(ngModel)]="_params.idTipoExamen" name="tipo_examen"
                #tipo_examen="ngModel">
                <mat-option> -- </mat-option>
                <mat-option *ngFor="let et of examenesTipos" [value]="et.id"> {{et.valor}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="form-grup form-group-sm row">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <input matInput placeholder="Desde" [matDatepicker]="picker" [(ngModel)]="_params.feDesde" [maxDate]="_params.feHasta"
                [max]="_params.feHasta" name="fe_desde" #fe_desde="ngModel">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="form-grup form-group-sm row">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <input matInput placeholder="Hasta" [matDatepicker]="picker1" [(ngModel)]="_params.feHasta" [maxDate]="now"
                [max]="now" name="fe_hasta" #fe_hasta="ngModel">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 ali3x">
            <div class="form-grup form-group-sm">
                <button mat-raised-button   (click)="obtenerExamenesAnteriores(1)"> Buscar
                </button>
              </div>
        </div>
      </div>

      

      <div class="form-grup form-group-sm row" style="padding-top: 13px;">
        <div class="col-sm-12">
          <table class="table table-sm" style="display: table;">
            <thead>
              <tr>
                <th class="text-center"> Tipo de Ex&aacute;men </th>
                <th class="text-center"> C&oacute;digo </th>
                <th class="text-center"> Nombre del Ex&aacute;men </th>
                <th class="text-center"> Fecha </th>
                <th class="text-center"> Resultado </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let exA of ExamenAnteriores; let j=index">
                <tr *ngFor="let oexDet of exA.ordenExamenDetalleList; let i = index">
                  <td scope="row" class="text-center">{{exA.descripcionExamenTipo}}</td>
                  <td scope="row" class="text-center">{{oexDet.codigoCpt}}</td>
                  <td scope="row" class="text-center">{{oexDet.descripcionCpt}}</td>
                  <td scope="row" class="text-center">{{oexDet.feCita}}</td>
                  <td scope="row" class="text-center"> + </td>
                </tr>
              </ng-container>
            </tbody>
          </table>

          <!-- PAGINADOR -->
          <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize"
            (page)="getexamanesanteriores($event)" showFirstLastButtons></mat-paginator>
          <!-- <mat-paginator [length]="paginationParameter.total_rows" [pageSize]="paginationParameter.nuRegisMostrar" (page)="getexamanesanteriores($event)"></mat-paginator> -->

          <!-- <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="descripcionExamenTipo">
              <mat-header-cell *matHeaderCellDef> Tipo de Ex&aacute;men </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.descripcionExamenTipo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="codigoCpt">
              <mat-header-cell *matHeaderCellDef> C&oacute;digo </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ordenExamenDetalleList[i].codigoCpt}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="descripcionCpt">
              <mat-header-cell *matHeaderCellDef> Nombre del Ex&aacute;men </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ordenExamenDetalleList[i].descripcionCpt}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="feCita">
              <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.ordenExamenDetalleList[i].feCita}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="resultado">
              <mat-header-cell *matHeaderCellDef> Resultado </mat-header-cell>
              <mat-cell *matCellDef="let element"> + </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>

          </mat-table> -->
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!-- 
<br>
<div class="col-12">

  <div class="row">
    <div class="col-md-12">
      <label><strong>DATOS DE BÚSQUEDA</strong></label>
    </div>
  </div>
 <hr/>
 
<div class="row">
    <div class="col-md-4">
      <label><strong>Tipo de Examen:</strong></label>&nbsp;
            <select class="form-control" [(ngModel)]="ExamenesAnteriores.idTipoExamen">
                      <option value="0" selected disabled>----Seleccionar----</option>
                      <option [value]="examenTipo.id" *ngFor="let examenTipo of examenesTipos" >{{examenTipo.valor}}</option>
                    </select>

    </div>

    <div class="col-md-4">
            <label><strong>Desde:</strong></label>&nbsp;
            <input class="form-control" type="date" [(ngModel)]="ExamenesAnteriores.feDesde">
     </div>
     <div class="col-md-4">
            <label><strong>Hasta:</strong></label>&nbsp;
            <input class="form-control" type="date" [(ngModel)]="ExamenesAnteriores.feHasta">
     </div>


  </div>
  <br>
  <div class="col-12 form-group">
        <div class="col-12">
          <div style="text-align:center">
            <button class="btn btn-primary" (click)="buscarPorFiltro()">Buscar</button>
          </div><br>
        </div>
      </div>
 <hr/>


<div class="row">
  <div class="col-md-12">
    <div class="card-body">
      <div class="col tabla-examen ">
        <table class="table">
          <thead>
              <th>Tipo de Examen</th>
              <th>Código</th>
              <th>Nombre de Examen</th>
              <th>Fecha</th>
              <th>Resultado</th>
          </thead>
          <tbody>
            <ng-container *ngFor="let ExAnt of ExamenAnteriores">
              <tr *ngFor="let ExAntDet of ExAnt.ordenExamenDetalleList">
                <td>{{ExAnt.descripcionExamenTipo}}</td>
                <td>{{ExAntDet.codigoCpt}}</td>
                <td>{{ExAntDet.descripcionCpt}}</td>
                <td>{{ExAntDet.feCita}}</td>
                <td>+</td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot>
                <tr>
                  <td colspan="12" class="text-center">
                    <ngb-pagination class="d-inline-block" [collectionSize]="paginationParameter.total_rows" [(page)]="paginationParameter.nuPagina"
                      [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getServicios()"></ngb-pagination>
                  </td>
                </tr>
              </tfoot>
        </table>
        
      </div>
      
    </div>
  </div>
</div>
</div> -->