<mat-card>
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Administrar Servicio</mat-card-title>
    <div class="emp" >
      <button class="enlace negrita" type="button" (click)="modalNuevoServicio()">Nuevo Servicio</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">
        <div class="row alinearCabecera">
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nombre Servicio:" [(ngModel)]="request.descripcionTarifario"
                name="descripcionTarifario" #descripcionTarifario="ngModel">
            </mat-form-field>
          </div>
          <div class="col-sm-1">
            <mat-checkbox [(ngModel)]="request.flgCpt" name="flgCpt" #flgCpt="ngModel"
              (change)="request.flgActividad=null">CPT</mat-checkbox>
          </div>
          <div class="col-sm-1">
            <mat-checkbox [(ngModel)]="request.flgActividad" name="flgActividad" #flgActividad="ngModel"
              (change)="request.flgCpt=null">Actividad
            </mat-checkbox>
          </div>
          <div class="col-sm-2">
            <button type="button" mat-raised-button (click)="obtenerServicios(1)"> Buscar </button>
          </div>    
      </div>
      </div>
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="descripcionTarifario">
            <mat-header-cell *matHeaderCellDef> Nombre Servicio
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.descripcionTarifario}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="unidad">
            <mat-header-cell *matHeaderCellDef> Unidad </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.unidad?element.unidad:'-'}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="precio">
            <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.precio?element.precio:'-'}}
            </mat-cell>
          </ng-container>
          <!-- <ng-container matColumnDef="precio">
            <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.precio}} </mat-cell>
          </ng-container> -->
          <ng-container matColumnDef="detalle">
            <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado2'"> Detalle </mat-header-cell>
            <mat-cell [ngClass]="'anchoListado2'" *matCellDef="let element"
              ngbPopover="{{element.descCpt?element.descCpt:element.descIdsAreaEspecAct}}"
              triggers="mouseenter:mouseleave"
              popoverTitle="Detalle {{element.descCpt?'CPT':'Area-Especialidad-Actividad'}}">
              {{(element.descCpt?element.descCpt:element.descIdsAreaEspecAct) | truncate: 45}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="editar">
            <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-button>
                <i class="material-icons" (click)="editarServicio(element)">edit</i>
              </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="eliminar">
            <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-button>
                <i class="material-icons"
                  (click)="eliminarServicio(element)">delete_forever</i>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="displayedSize" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize"
          (page)="pageEvent($event)" showFirstLastButtons></mat-paginator>
 

  </mat-card-content>
</mat-card>