<mat-card>
  <mat-card-header class=" alinearCabecera sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Producto</mat-card-title>
    <div class="emp">
      <button class="enlace negrita" type="button" (click)="modalInsertarProducto()">
        Nuevo Producto
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form #productoForm="ngForm" novalidate name="productoForm">
      <div class="card-body">

        <div class="row">
          <div class="col-sm-4">

          </div>
          <!-- Convenio -->
          <div class="col-sm-3 ">
            <mat-form-field class="example-full-width">
              <mat-label>Convenios</mat-label>
              <mat-select placeholder="Seleccionar" name="convenios" (selectionChange)="seleccionarConvenio(paramsBusqueda.idConvenio)"
                [(ngModel)]="paramsBusqueda.idConvenio" required>
                <mat-option *ngFor="let co of convenio" [value]="co.idConvenio">
                  {{co.nombreConvenio}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-1 margenTop2">
            <button mat-raised-button (click)="getListProductos()" [disabled]="isInvalid(productoForm)">Buscar
            </button>
          </div>

        </div>

      </div>
    </form>


    <div class="table responsive" *ngIf="producto.length!=0">

      <mat-table #table [dataSource]="dataSource">

      <!-- codigo producto -->
        <ng-container matColumnDef="coprodcode">
          <mat-header-cell *matHeaderCellDef> Codigo de Producto </mat-header-cell>
          <mat-cell *matCellDef="let producto"> {{ producto.coProdCode }} </mat-cell>
        </ng-container>

        <!-- convenio -->
        <ng-container matColumnDef="convenioD">
          <mat-header-cell *matHeaderCellDef> Convenio </mat-header-cell>
          <mat-cell *matCellDef="let producto"> {{ producto.nombreConvenio }} </mat-cell>
        </ng-container>

        <!-- producto -->
        <ng-container matColumnDef="producto">
          <mat-header-cell *matHeaderCellDef>Producto</mat-header-cell>
          <mat-cell *matCellDef="let producto"> {{ producto.noProdName }} </mat-cell>
        </ng-container>

        <!-- editar -->
        <ng-container matColumnDef="editar">
          <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
          <mat-cell *matCellDef="let producto">
            <button mat-button (click)="modalActualizarProducto(producto)">
              <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">edit</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- eliminar -->
        <ng-container matColumnDef="eliminar">
          <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
          <mat-cell *matCellDef="let producto">
            <button mat-button (click)="modalEliminarProducto(producto)">
              <div class="example-tooltip-host" matTooltip="Eliminar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">delete</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Header -->
        <mat-header-row *matHeaderRowDef="displayedColumnsA"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsA;">
        </mat-row>
      </mat-table>
      <!-- <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"> </mat-paginator> -->
      <!--  -->
    </div>

  </mat-card-content>

</mat-card>