<div class="card-body" style="position: relative;">
  <div style="position: absolute; z-index: 2; padding-left: 94%; padding-top: 1%">
    <button mat-button class="mat-button-icon" (click)="close()">
      <div class="example-tooltip-host" matTooltip="Salir" aria-label="hola">
        <span>
          <i class="material-icons">close</i>
        </span>
      </div>
    </button>
  </div>
  <div style="position: absolute; z-index: 1;">
    <app-acto-medico-cita [idCita]="idCita"></app-acto-medico-cita>
  </div>
</div>