<mat-card class="matCardMin">
  <mat-card-header class="sombreadoSubtitulos alinearCabecera" *ngIf="flag==1">
    <mat-card-title class="subtitulo-seccion">Registrar Ambiente</mat-card-title>
      <button mat-button class="mat-button-icon" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
  </mat-card-header>
  <mat-card-header class="sombreadoSubtitulos alinearCabecera" *ngIf="flag==2">
    <mat-card-title class="subtitulo-seccion">Actualizar Ambiente</mat-card-title>
      <button mat-button class="mat-button-icon" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
  </mat-card-header>
  <mat-card-content>
    <form #insertarAmbienteForm="ngForm" novalidate name="insertarAmbienteForm">
      <div class="card-body">

        <div class="row">
          <!-- Nombre Ambiente -->
          <div class="col-6">
            <mat-form-field class="example-full-width">
              <mat-label for="descripcionAmbiente">Ambiente</mat-label>
              <input matInput name="descripcionAmbiente" #descripcionAmbiente="ngModel" id="descripcionAmbiente" [(ngModel)]="requestInsert.descripcionAmbiente"
                (keypress)="setInputPattern($event, 'soloUnEspacio')" [pattern]="setValidatorPattern('soloUnEspacio', setQuantifier('+'), true, true)"
                required />
              <mat-error>
                <app-validators-messages [controlVar]="descripcionAmbiente" labelName="Nombre Ambiente">
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Abreviatura -->
          <div class="col-6">
            <mat-form-field class="example-full-width">
              <mat-label for="abrev">Abreviatura</mat-label>
              <input matInput name="abrev" #abrev="ngModel" id="abrev" [(ngModel)]="requestInsert.abreviaturaAmbiente" (keypress)="setInputPattern($event, 'soloUnEspacio')"
                [pattern]="setValidatorPattern('soloUnEspacio', setQuantifier('+'), true, true)" required />
              <mat-error>
                <app-validators-messages [controlVar]="abrev" labelName="Abreviatura">
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>

        </div>

        <div class="row">

          <!-- Seleccionar Area -->
          <div class="col-6">
            <mat-form-field class="example-full-width">
              <mat-select #idArea="ngModel" id="idArea" name="idArea" placeholder="Seleccione Area" [(ngModel)]="requestInsert.idArea"
                (selectionChange)="obtenerEspecialidadxArea()" required [disabled]="tablaAux.length!=0">
                <mat-option *ngFor="let area of areas" [value]="area.idArea"> {{ area.descripcionArea }} </mat-option>
              </mat-select>
              <mat-error>
                <app-validators-messages [controlVar]="idArea" labelName="Area"></app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Seleccionar Especialidad -->
          <div class="col-6">
            <mat-form-field class="example-full-width">
              <mat-select #idEspecialidad="ngModel" id="idEspecialidad" name="idEspecialidad" placeholder="Seleccione Especialidad" [(ngModel)]="newRequest.idEspecialidad">
                <mat-option *ngFor="let esp of especialidad" (click)="imprimeEsp(esp)" [value]="esp.especialidad.id"> {{ esp.especialidad.valor }} </mat-option>
              </mat-select>
              <mat-error>
                <app-validators-messages [controlVar]="idEspecialidad" labelName="Area"></app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>

        </div>

        <div class="row">
          <!-- Seleccionar Actividad -->
          <div class="col-6">
            <mat-form-field class="example-full-width">
              <mat-select #idActividad="ngModel" id="idActividad" name="idActividad" placeholder="Seleccione Actividad" [(ngModel)]="newRequest.idActividad">
                <mat-option *ngFor="let ac of actividad" (click)="imprime(ac)" [value]="ac.idActividad"> {{ ac.descripcionActividad }} </mat-option>
              </mat-select>
              <mat-error>
                <app-validators-messages [controlVar]="idActividad" labelName="Actividad"></app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>


          <div class="col-6">
            <button mat-raised-button (click)="agregarEspecialidadActividad()" [disabled]="newRequest.idEspecialidad == null || newRequest.idActividad == null">
              Agregar
            </button>
          </div>

        </div>

      </div>

      <mat-table #table [dataSource]="dataSource" *ngIf="tablaAux.length!=0">

        <ng-container matColumnDef="especialidad">
          <mat-header-cell *matHeaderCellDef> Especialidad </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombreEspecialidad}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actividad">
          <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombreActividad}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="eliminar">
          <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
          <mat-cell *matCellDef="let element; let i=index">
            <button mat-button (click)="deleteEspAct(i)">
              <i class="material-icons">delete_forever</i>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <div class="col-12 text-right" *ngIf="flag==1">
        <button mat-raised-button (click)="insertarAmbiente()" [disabled]="insertarAmbienteForm.invalid">
          Registrar
        </button>
        <button mat-raised-button (click)="close(1)">
          Cancelar
        </button>
      </div>

      <div class="col-12 text-right" *ngIf="flag==2">
        <button mat-raised-button (click)="actualizarAmbiente()" [disabled]="insertarAmbienteForm.invalid">
          Editar
        </button>
        <button mat-raised-button (click)="close(1)">
          Cancelar
        </button>
      </div>
      <br>
    </form>
  </mat-card-content>
</mat-card>