<!-- 
<mat-card style="    width: 97% !important; max-width: 97% !important;">
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Valoraci&oacute;n Geriatrica</mat-card-title>
  </mat-card-header>
  <mat-card-content> -->
      <!-- [expanded]="step === 7" (opened)="setStep(7)"  -->
<mat-expansion-panel hideToggle="false">
  <mat-expansion-panel-header class="sombreadoAcordeon">
    <mat-panel-title class="subtituloAcordeon">
      Valoraci&oacute;n Geriatrica
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-9">

        <mat-tab-group>
          <mat-tab label="Valoración Funcional">
            <app-valoracion-funcional [param]="param" [valoracionGeriatrica]="valoracionGeriatrica"
              (onVoted)="onVoted($event)"></app-valoracion-funcional>
          </mat-tab>
          <mat-tab label="Estado Cognitivo">
            <app-estado-cognitivo [param]="param" [valoracionGeriatrica]="valoracionGeriatrica"
              (onVoted)="onVoted($event)"></app-estado-cognitivo>
          </mat-tab>
          <mat-tab label="Estado Afectivo">
            <app-estado-afectivo [param]="param" [valoracionGeriatrica]="valoracionGeriatrica"
              (onVoted)="onVoted($event)"></app-estado-afectivo>
          </mat-tab>
          <mat-tab label="Estado Socio-Familiar">
            <app-estado-socio-familiar [param]="param" [valoracionGeriatrica]="valoracionGeriatrica"
              (onVoted)="onVoted($event)"></app-estado-socio-familiar>
          </mat-tab>
        </mat-tab-group>

      </div>
      <div class="col-sm-12 col-md-12 col-lg-3">

        <mat-card>
          <mat-card-header class="sombreadoSubtitulos">
            <mat-card-title class="subtitulo-seccion"> Diagnosticos Anteriores </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="card-body">
              <div class="">

                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="N° de Acto Médico"
                      [value]="resultadosAnterior.idActoMedico ? resultadosAnterior.idActoMedico : '--'" disabled>
                  </mat-form-field>

                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Funcional: "
                      [value]="resultadosAnterior.resultadoFuncional ? resultadosAnterior.resultadoFuncional : '--'"
                      disabled>
                  </mat-form-field>
                </div>

                <div class="form-grup form-group-sm row sombreadoSubtitulos">
                  <mat-label class="col-sm-12 font negrita2"> Mental </mat-label>
                </div>

                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Cognitivo"
                      [value]="resultadosAnterior.resultadoCognitivo ? resultadosAnterior.resultadoCognitivo : '--'"
                      disabled>
                  </mat-form-field>
                </div>

                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Afectivo"
                      [value]="resultadosAnterior.resultadoAfectivo ? resultadosAnterior.resultadoAfectivo : '--' "
                      disabled>
                  </mat-form-field>
                </div>

                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Socio Familiar"
                      [value]="resultadosAnterior.resultadoSocioFamiliar ? resultadosAnterior.resultadoSocioFamiliar : '--'"
                      disabled>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>
  <!-- </mat-card-content>
</mat-card> -->
</mat-expansion-panel>