<mat-card tabindex="-1">

  <mat-card-header class="sombreadoSubtitulos" > 
    <mat-card-title class="subtitulo-seccion">{{titulo}}</mat-card-title>
  </mat-card-header>
  <!-- Seccion que filtra anaquel -->
  <mat-card-content *ngIf="!myControlador">
    <div class="card-body">
      
      <div class="col-sm-12 row">
          <div class="col-sm-6">
        <mat-form-field class="example-full-width">
          <mat-label>Seleccionar Anaquel:</mat-label>
          <input matInput [matAutocomplete]="auto" name="anaquelEscrito" #anaquelEscrito="ngModel" (input)="buscarAnaquel($event.target.value)"
            [(ngModel)]="anaquel" />
          <button mat-button *ngIf="anaquel" matSuffix mat-icon-button aria-label="Clear" (click)="anaquelEscrito.reset()"
            matTooltip="Limpiar" [matTooltipPosition]="'above'">
            <mat-icon>close</mat-icon>
          </button>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <div>
              <mat-option (onSelectionChange)="seleccionaAnaquel(item)" *ngFor="let item of almacenMedicamentoList2"
                [value]="item.anaquel">
                <span>{{ item.anaquel }}</span>
              </mat-option>
            </div>
          </mat-autocomplete>
          <mat-hint align="end">{{anaquelEscrito.value? 'Para filtrar, seleccionar un item del autocompletado': ''}}
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-sm-6 ali5">
        <button *ngIf="verBotonImprimirDiferencias==1" mat-raised-button (click)="imprimePDFDiferencias(2)">Imprimir</button>
        <button *ngIf="verBotonReporteInventario==0" mat-raised-button (click)="imprimePDF(2)">Imprimir</button>
      </div>
      </div>
 
    </div>
  </mat-card-content>
  <!-- acaba pantalla de anaquel -->
  <!--Cabecera de inventario  -->
  <!-- nueva tabla -->
  <mat-card-content *ngIf="myControlador">
    <div class="card-body">
      <div class="row">

        <!-- <div class="col-sm-4 mdl-input-group mdl-input-group__only">

        </div>

        <div class="col-sm-4 mdl-input-group mdl-input-group__only">

        </div> -->

        <div class="col-sm-4 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Numero Inventario:" disabled value="{{cabecera.numeroInventario}}">
          </mat-form-field>
        </div>

        <div class="col-sm-4 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Fecha:" disabled value="{{cabecera.feCierre}}">
          </mat-form-field>
        </div>

        <div class="col-sm-4 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Hora:" disabled value="{{cabecera.fhMod}}">
          </mat-form-field>
        </div>

        <div class="col-sm-4 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Establecimiento:" disabled value="{{cabecera.nombreComercial}}">
          </mat-form-field>
        </div>

        <div class="col-sm-4 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Responsable:" disabled value="{{cabecera.usuarioIns}}">
          </mat-form-field>
        </div>

        <div class="col-sm-4 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Turno:" disabled value="{{cabecera.descripcionTurno}}">
          </mat-form-field>
        </div>

        <div class="col-sm-4 text-right mdl-input-group mdl-input-group__only">
          <button *ngIf="verBotonImprimirDiferencias==1" mat-raised-button (click)="imprimePDFDiferencias(2)">Imprimir</button>
          <button *ngIf="verBotonReporteInventario==0" mat-button class="mat-button-icon-noModal" (click)="imprimePDF(2)">
            <div class="example-tooltip-host" matTooltip="Imprimir Inventario Cerrado" [matTooltipPosition]="'above'">
              <span>
                <i class="material-icons">picture_as_pdf</i>
              </span>
            </div>
          </button>
        </div>

      </div>
    </div>
  </mat-card-content>
  <!-- SE acaba cabecera -->
  <mat-card-content *ngIf="tmr==true">
    <mat-table #table [dataSource]="dataSource">

      <!-- PARA EL GUARDADO -->
      <ng-container matColumnDef="Item">
        <mat-header-cell *matHeaderCellDef>   N° </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.index}} </mat-cell>
      </ng-container>

      <!-- PARA EL GUARDADO -->
      <ng-container matColumnDef="Number">
        <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="Codigo">
        <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.inventarioDetalleUnit.almacenMedicamento.medicamento.formaFarmaceutica ?
          (element.inventarioDetalleUnit.almacenMedicamento.medicamento.codigo) :
          (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descripcionTipoDispositivo
          ? element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.codigo : '-')}}
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="Codigo">
        <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.medicamentoLote.medicamento ? (element.medicamentoLote.medicamento.codigo) : (element.medicamentoLote.dispMedicoProdSanitario
          ? element.medicamentoLote.dispMedicoProdSanitario.codigo : '-')}}
        </mat-cell>
      </ng-container>    -->

      <!-- <ng-container matColumnDef="ProducFarmaDisp">
        <mat-header-cell *matHeaderCellDef>
          <div class="example-tooltip-host" matTooltip="Producto Farmacéutico / Dispositivo Médico" [matTooltipPosition]="'above'">
            <span> Prod. F./Disp. Médico</span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.medicamentoLote.medicamento ? element.medicamentoLote.medicamento.dciProductoFarmaceutico : (element.medicamentoLote.dispMedicoProdSanitario
          ? element.medicamentoLote.dispMedicoProdSanitario.dciDispMedicoProdSanitario : '-')}} </mat-cell>
      </ng-container>     -->

      <ng-container matColumnDef="ProducFarmaDisp">
        <mat-header-cell *matHeaderCellDef>
          <div class="example-tooltip-host" matTooltip="Producto Farmacéutico / Dispositivo Médico"
            [matTooltipPosition]="'above'">
            <span> Prod. F./Disp. Médico</span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.inventarioDetalleUnit.almacenMedicamento.medicamento.formaFarmaceutica ?
          element.inventarioDetalleUnit.almacenMedicamento.medicamento.dciProductoFarmaceutico : (
          element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descripcionTipoDispositivo
          ? element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.dciDispMedicoProdSanitario :
          '-')}}
            
          {{ element.inventarioDetalleUnit.almacenMedicamento.medicamento.concentracion != ' ' ? element.inventarioDetalleUnit.almacenMedicamento.medicamento.concentracion :  element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.viaAdministracion}}

         </mat-cell>
      </ng-container>



      <!-- 
       <ng-container matColumnDef="FormaFarmaTipoDisp">
        <mat-header-cell *matHeaderCellDef>
          <div class="example-tooltip-host" matTooltip="Forma Farmacútica/Tipo de Dispositivo" [matTooltipPosition]="'above'">
            <span> Forma F./Tipo de Disp. </span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.medicamentoLote.medicamento ? element.medicamentoLote.medicamento.presentacionEnvase : (element.medicamentoLote.dispMedicoProdSanitario
          ? element.medicamentoLote.dispMedicoProdSanitario.tipoDispositivo.valor : '-')}}
        </mat-cell>
      </ng-container>  -->


      <ng-container matColumnDef="FormaFarmaTipoDisp">
        <mat-header-cell *matHeaderCellDef>
          <div class="example-tooltip-host" matTooltip="Forma Farmacútica/Tipo de Dispositivo" [matTooltipPosition]="'above'">
            <span> Forma F./Tipo de Disp. </span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.inventarioDetalleUnit.almacenMedicamento.medicamento.formaFarmaceutica ?
          element.inventarioDetalleUnit.almacenMedicamento.medicamento.formaFarmaceutica :
          (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descripcionTipoDispositivo
          ? element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descripcionTipoDispositivo : '-')}}
        </mat-cell>
      </ng-container>


      <!-- <ng-container matColumnDef="Lote">
        <mat-header-cell *matHeaderCellDef> Lote </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.medicamentoLote.descripcionMedicamentoLote ? element.medicamentoLote.descripcionMedicamentoLote : '-'}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="FechaVenci">
        <mat-header-cell *matHeaderCellDef>
          <div class="example-tooltip-host" matTooltip="Fecha de Vencimiento" [matTooltipPosition]="'above'">
            <span> Fecha Venc. </span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.medicamentoLote ? element.medicamentoLote.feVencimiento : '-'}} </mat-cell>
      </ng-container> -->


      <!-- <ng-container matColumnDef="Marca">
        <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.medicamentoLote.medicamento ? element.medicamentoLote.medicamento.marca : (element.medicamentoLote.dispMedicoProdSanitario
          ? (element.medicamentoLote.dispMedicoProdSanitario.marca?element.medicamentoLote.dispMedicoProdSanitario.marca:
          '-') : '-')}} </mat-cell>
      </ng-container> -->


      <ng-container matColumnDef="Marca">
        <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.inventarioDetalleUnit.almacenMedicamento.medicamento.marca ?
          element.inventarioDetalleUnit.almacenMedicamento.medicamento.marca :
          (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.marca
          ?
          (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.marca?element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.marca:
          '-') : '-')}} </mat-cell>
      </ng-container>




      <!-- <ng-container matColumnDef="Presentacion">
        <mat-header-cell *matHeaderCellDef> Presentación </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.medicamentoLote.medicamento ? element.medicamentoLote.medicamento.presentacionEnvase : (element.medicamentoLote.dispMedicoProdSanitario
          ? element.medicamentoLote.dispMedicoProdSanitario.tipoDispositivo.valor : '-')}}
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="Presentacion">
        <mat-header-cell *matHeaderCellDef> Presentación </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.inventarioDetalleUnit.almacenMedicamento.medicamento.presentacionEnvase ?
          element.inventarioDetalleUnit.almacenMedicamento.medicamento.presentacionEnvase :
          (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.presentacionEnvase
          ? element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.presentacionEnvase : '-')}}
        </mat-cell>
      </ng-container>



      <!-- Antigua tabla   -->
      <!-- <ng-container matColumnDef="UnidadDeMedida">
        <mat-header-cell *matHeaderCellDef> Unidad de medida </mat-header-cell>
       <mat-cell *matCellDef="let element"> {{element.medicamentoLote.medicamento ? element.medicamentoLote.medicamento.presentacionEnvase : (element.medicamentoLote.dispMedicoProdSanitario
          ? element.medicamentoLote.dispMedicoProdSanitario.tipoDispositivo.valor : '-')}}
        </mat-cell> 
      </ng-container>  -->
      <!-- Antigua Tabla -->

      <ng-container matColumnDef="UnidadDeMedida">
      
        <mat-header-cell matTooltip="Unidad de medida" matTooltipPosition="above" *matHeaderCellDef> U.medida </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.inventarioDetalleUnit.almacenMedicamento.medicamento.descpUnidad
          ? element.inventarioDetalleUnit.almacenMedicamento.medicamento.descpUnidad :
          (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descpUnidad
          ? element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descpUnidad : '-')}}
        </mat-cell>
      </ng-container>


      <!-- <ng-container matColumnDef="PrecioUnidad">
        <mat-header-cell *matHeaderCellDef> Precio / Unidad </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.medicamentoLote.medicamento ? element.medicamentoLote.medicamento.precioVenta : (element.medicamentoLote.dispMedicoProdSanitario
          ? element.medicamentoLote.dispMedicoProdSanitario.precioVenta : '-')}} </mat-cell>
      </ng-container> -->

      <!-- <ng-container matColumnDef="PrecioUnidad">
        <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.inventarioDetalleUnit.almacenMedicamento.medicamento.formaFarmaceutica
          ? element.inventarioDetalleUnit.almacenMedicamento.medicamento.precioVenta :
          (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descripcionTipoDispositivo
          ? element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.precioVenta : '-')}} </mat-cell>
      </ng-container> -->


      <!-- <ng-container matColumnDef="Subtotal">
        <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
        <mat-cell *matCellDef="let element">{{(element.medicamentoLote.medicamento ? element.medicamentoLote.medicamento.precioVenta : (element.medicamentoLote.dispMedicoProdSanitario
          ? element.medicamentoLote.dispMedicoProdSanitario.precioVenta : '-')) * element.cantidadContada}} </mat-cell>
      </ng-container> -->
      <!-- 

      <mat-cell *matCellDef="let element"> {{element.inventarioDetalleUnit.almacenMedicamento.medicamento.formaFarmaceutica ? (element.inventarioDetalleUnit.almacenMedicamento.medicamento.codigo) : (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descripcionTipoDispositivo
        ? element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.codigo : '-')}}
      </mat-cell>
       -->
      <!-- <ng-container matColumnDef="Subtotal">
        <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
        <mat-cell *matCellDef="let element">{{(element.inventarioDetalleUnit.almacenMedicamento.medicamento.formaFarmaceutica
          ? element.inventarioDetalleUnit.almacenMedicamento.medicamento.precioVenta :
          (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descripcionTipoDispositivo
          ? element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.precioVenta : '-')) *
          element.inventarioDetalleUnit.cantidadContada}} </mat-cell>
      </ng-container> -->






      <!-- <ng-container matColumnDef="Stock">
        <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.cantidadSistema}}</mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="Stock">
        <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.inventarioDetalleUnit.cantidadSistema}}</mat-cell>
      </ng-container>





      <!-- nueva table -->
      <ng-container matColumnDef="Conteo">
        <mat-header-cell *matHeaderCellDef> Conteo Físico </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.cantidadContada}}</mat-cell>
      </ng-container>

      <!-- nueva table -->
      <ng-container matColumnDef="Diferencia">
        <mat-header-cell *matHeaderCellDef> Diferencia </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.inventarioDetalleUnit.cantidadContada -
          element.inventarioDetalleUnit.cantidadSistema}} </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="ConteoFisico">
        <mat-header-cell *matHeaderCellDef> Conteo Físico </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field style="text-align: center;" [floatLabel]="'never'" class="example-full-width">
            <input matInput placeholder="Ingrese" name="conteoFisico{{element.i}}" #conteoFisico="ngModel" [(ngModel)]="element.cantidadContada"
              (keypress)="setInputPattern($event, 'positiveDigits')" required [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
              (keyup.enter)="updateInventario(element.idInventarioDetalle,element.cantidadSistema,element.cantidadContada,element.i)"
              [min]="0">
            <mat-error>
              <app-validators-messages [controlVar]="conteoFisico" labelName="Conteo Físico">
              </app-validators-messages>
            </mat-error>
          </mat-form-field>
        </mat-cell>
      </ng-container> -->


      <!-- name="conteoFisico{{element.i}}" #conteoFisico="ngModel" [(ngModel)]="element.inventarioDetalleUnit.cantidadContada"
      (keypress)="setInputPattern($event, 'positiveDigits')" required [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
      (keyup.enter)="actualizarInventario(element.inventarioDetalleUnit,element.i)"
      [min]="0"> -->

      <ng-container matColumnDef="ConteoFisico">
        <mat-header-cell *matHeaderCellDef> Conteo Físico </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field style="text-align: center;" [floatLabel]="'never'" class="example-full-width">
            <input matInput placeholder="Ingrese" name="conteoFisico{{element.i}}" #conteoFisico="ngModel" [(ngModel)]="element.inventarioDetalleUnit.cantidadContada"
              (keypress)="setInputPattern($event, 'positiveDigits')" required [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
              (keyup.enter)="actualizarInventario(element,element.i)" [min]="0">
            <mat-error>
              <app-validators-messages [controlVar]="conteoFisico" labelName="Conteo Físico">
              </app-validators-messages>
            </mat-error>
          </mat-form-field>
        </mat-cell>
      </ng-container>

  
      <mat-header-row *matHeaderRowDef="displayedColumnsMedicsIventario"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsMedicsIventario;"></mat-row>
    </mat-table>

    <div class="col-12 text-center" *ngIf="showCloseInve==1">
      <!-- <label class="mr-sm-2">Total: {{totalG}}</label> -->
    </div>

    <div *ngIf="_viewPag">
      <mat-paginator [pageSizeOptions]="displayedSizes" [showFirstLastButtons]="true" [length]="paginator.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>

  <div class="col-md-12 text-right" >
    <!-- [disabled]="verif  icarClosed" -->
    <button mat-raised-button (click)="cerrarInventario()" *ngIf="showCloseInve==1">
      Cerrar Inventario
    </button>
    <button mat-raised-button (click)="imprimirDiferenias()" [disabled]="verificarRegularizarr" *ngIf="showVerificar==1">
      Imprimir Diferencias
    </button>
    <button mat-raised-button (click)="regresaTomarInventario()">Regresar
      <span class="caret"></span>
    </button>
  </div>
  <br>
</mat-card>