<mat-card class="matCardMin">
<mat-card-header class="sombreadoSubtitulos alinearCabecera">
<mat-card-title class="subtitulo-seccion">
  <span *ngIf="flgtitle==false"> Suspenci&oacute;n Reserva </span>
  <span *ngIf="flgtitle==true"> Suspenci&oacute;n Cita </span>
</mat-card-title>
<button mat-button class="mat-button-icon" (click)="onNoClick()">
  <div class="example-tooltip-host" matTooltip="Salir" [matTooltipPosition]="'above'">
    <span>
      <i class="material-icons">close</i>
    </span>
  </div>
</button>
</mat-card-header>
<mat-card-content>
  <!-- <div class="sombreadoSubtitulos">
    <h5 mat-dialog-title class="subtitulo-seccion">
      <span *ngIf="flgtitle==false"> Suspenci&oacute;n Reserva </span>
      <span *ngIf="flgtitle==true"> Suspenci&oacute;n Cita </span>

      <span class="example-spacer"></span>
      <button mat-button class="mat-button-icon" (click)="onNoClick()">
        <div class="example-tooltip-host" matTooltip="Salir" [matTooltipPosition]="'above'">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </h5>
</div> -->


<div class="modal-body">
  <div class="row">
    <div class="col-sm-12 mdl-input-group mdl-input-group__only">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="Motivo de Suspension:" [(ngModel)]="cmbMotivoSuspencion" name="motivo_suspension" #motivo_suspension="ngModel"
          required>
          <mat-option> -- </mat-option>
          <mat-option *ngFor="let ms of motivoSuspencion" [value]="ms.id"> {{ms.valor}} </mat-option>
        </mat-select>
        <mat-error>
          <app-validators-messages [controlVar]="motivo_suspension" labelName="Motivo de Suspension">
          </app-validators-messages>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</div>

<mat-dialog-actions class="modal-footer">
  <button class="border-botton" type="submit" mat-raised-button (click)="openModalConfirmacion()" [disabled]="!cmbMotivoSuspencion"> Si </button>
  <button class="border-botton" type="submit" mat-raised-button (click)="onNoClick()"> No </button>
</mat-dialog-actions>
</mat-card-content>

  
</mat-card>
<!--<div class="col-12 text-right espa" >
    <button class="border-botton" mat-raised-button type="submit" (click)="buscarFIliado(BuscarPersonaForm)" [disabled]="isInvalid(BuscarPersonaForm)">Buscar</button>
    <button class="border-botton" mat-raised-button type="submit" (click)="cleanRegistro(BuscarPersonaForm)">Limpiar</button>
  </div>-->


<!-- <div class="modal-header">
  <h4 *ngIf="flgtitle==false" class="modal-title text-center"> Suspenci&oacute;n Reserva </h4>
  <h4 *ngIf="flgtitle==true" class="modal-title text-center"> Suspenci&oacute;n Cita </h4>
  <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="form-grup form-group-sm row">
    <mat-label class="col-sm-12  bold-text"> Motivo de Suspenci&oacute;n </mat-label>
  </div>
  <div class="form-grup form-group-sm row">
    <mat-form-field class="col-sm-12">
      <mat-select placeholder="Motivo de Suspension" [(ngModel)]="cmbMotivoSuspencion" name="motivo_suspension" #motivo_suspension="ngModel"
        requerid>
        <mat-option> -- </mat-option>
        <mat-option *ngFor="let ms of motivoSuspencion" [value]="ms.id"> {{ms.valor}} </mat-option>

        <mat-error>
          <app-validators-messages [controlVar]="motivo_suspension" labelName="Motivo de Suspension">
          </app-validators-messages>
        </mat-error>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-grup form-group-sm row">

    <div class="col-sm-12 text-center">
      <button mat-raised-button color="primary" (click)="openModalConfirmacion()"> Si </button>
      <button mat-raised-button color="warn" (click)="onNoClick()"> No </button>
    </div>
  </div>

</div> -->