<mat-card>
  <mat-card-header class="sombreadoSubtitulos cabeceraMat">
    <mat-card-title class="subtitulo-seccion">Búsqueda de servicio por convenio</mat-card-title>
    <div class="margenSuperior" style="margin-right: 1%;">
      <button class="enlace negrita" type="button" (click)="crerEditarServicio()">Añadir servicio a un convenio</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-3">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <mat-select placeholder="Convenio:" name="obtenerServicios.idConvenio"
                #obtenerServicios.idConvenio="ngModel" [(ngModel)]="obtenerServicios.idConvenio" required>
                <mat-option>
                  <strong>Convenio</strong>
                </mat-option>
                <mat-option *ngFor="let option of listConvenios; let i = index" [value]="option.idConvenio" >
                  {{option.nombreConvenio}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="col-sm-12">
              <input matInput placeholder="Nombre Servicio" [formControl]="diagnosticoCtrl" [matAutocomplete]="auto" [(ngModel)]="descripcionServicio"
                (input)="busquedaServicioDescripcion($event.target.value)" matTooltip="mínimio 2 palabras para realizar búsqueda"
                [matTooltipPosition]="'above'">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let ld of listServ" [value]="ld.descripcionTarifario"  (change)="seleccionarId(ld.idTarifario)">
                  {{ ld.descripcionTarifario }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-sm-2 marginFlag ">
            <mat-checkbox [(ngModel)]="obtenerServicios.flgCpt" name="flgCpt" #flgCpt="ngModel">CPT</mat-checkbox>
          </div>
          <div class="col-sm-2 marginFlag">
            <mat-checkbox [(ngModel)]="obtenerServicios.flgActividad" name="flgActividad" #flgActividad="ngModel">
              Actividad
            </mat-checkbox>
          </div>
          <div class="col-sm-2 marginFlag">
            <button type="button" mat-raised-button (click)="getServicios()" [disabled]="obtenerServicios.idConvenio==0 || obtenerServicios.idConvenio==undefined"> Buscar </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div  *ngIf="showServicios==1">
  <mat-card class="mat-card-main">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Servicios</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="row">
          <div class="col-sm-12">
            <mat-table #table [dataSource]="dataSource">
              <ng-container matColumnDef="descripcionTarifario">
                <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado3'"> Nombre del Servicio </mat-header-cell>
                <mat-cell [ngClass]="'anchoListado3'" *matCellDef="let element"> {{element.descripcionServicio}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="precio">
                <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.precio}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="unidad">
                <mat-header-cell *matHeaderCellDef> Unidad </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.unidad}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="valorunidad">
                <mat-header-cell *matHeaderCellDef> Valor Unidad </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.valorUnidad}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="tipo">
                <mat-header-cell *matHeaderCellDef> Tipo Copago </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.noTipoCopago}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="moneda">
                <mat-header-cell *matHeaderCellDef> Tipo Moneda </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.moneda}}
                </mat-cell>
              </ng-container>

              <!-- <ng-container matColumnDef="editar">
                  <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-icon class=" md-36" matTooltip="Editar"  (click)="crerEditarServicio(element,obtenerServicios.idConvenio)">edit</mat-icon>
                  </mat-cell>
                </ng-container> -->

                <ng-container matColumnDef="editar">
                  <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button mat-button>
                      <i class="material-icons" (click)="crerEditarServicio(element,obtenerServicios.idConvenio)">edit</i>
                    </button>
                  </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="eliminar">
                        <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <mat-icon class=" md-36" matTooltip="Eliminar"  (click)="eliminar(element.idServicioConvenio,element.descripcionServicio)">delete_forever</mat-icon>
                        </mat-cell>
                      </ng-container> -->

                      <ng-container matColumnDef="eliminar">
                        <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <button mat-button>
                            <i class="material-icons"
                            (click)="eliminar(element.idServicioConvenio,element.descripcionServicio)">delete_forever</i>
                          </button>
                        </mat-cell>
                      </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="displayedSize" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize"
            (page)="pageEvent($event)" showFirstLastButtons></mat-paginator>
          </div>
        </div>

    </mat-card-content>
  </mat-card>
</div>