<!-- <mat-card>
<app-persona-datos [idCita]="idCita"></app-persona-datos>
</mat-card>

<mat-card>
<app-acto-medico-cita [idCita]="idCita"></app-acto-medico-cita>
</mat-card> -->

<mat-card>
<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button style="color: #333!important;" class="mat-button  {{activo[0].buscarRecetaActive}}" (click)="goToBuscarReceta()">Buscar Receta</a>   
    <a mat-button style="color: #333!important;" class="mat-button {{activo[0].registroRecetaActive}}" (click)="goToRegistroReceta()">Registro de Receta</a>   
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

</mat-card>