<mat-card class="matCardMin">
<mat-card-header class="sombreadoSubtitulos alinearCabecera">
  <mat-card-title class="subtitulo-seccion">Procedimientos Anteriores</mat-card-title>
  <div class="emp"> 
    <button mat-button class="mat-button-icon" (click)="dismiss()">
      <div class="example-tooltip-host" matTooltip="Salir">
        <span>
          <i class="material-icons">close</i>
        </span>
      </div>
    </button>
  </div>
</mat-card-header>

<div mat-dialog-content>
  <mat-card-content style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)">
    <div class="table-responsive">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> C&oacute;digo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.codProcedimiento}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="descProcedimientoss">
          <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado2'"> Descripcion del Procedimiento </mat-header-cell>
          <mat-cell *matCellDef="let element" [ngClass]="'anchoListado2'" ngbPopover="{{element.descProcedimiento}}" triggers="mouseenter:mouseleave"
          popoverTitle="Procedimiento"> {{element.descProcedimiento | truncate:50}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cantidad">
          <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="informe">
          <mat-header-cell *matHeaderCellDef> Informe </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.informe}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecha">
          <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="personal">
          <mat-header-cell *matHeaderCellDef> Personal </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.personal.nombrePersonal}} {{element.personal.apellidoPaternoPersonal}}
            {{element.personal.apellidoMaternoPersonal}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="estadoProc">
          <mat-header-cell *matHeaderCellDef matTooltip="Estado de Procedimiento" matTooltipPosition="above"> Edo P </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.estadoOrden}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ver">
          <mat-header-cell *matHeaderCellDef> Ver </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            <button mat-button (click)="verDetalles(element)" *ngIf="estadoDetalle[i]==1">
              <div class="example-tooltip-host" matTooltip="Ver Detalles" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">visibility</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedProcedimientosAnteriores"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedProcedimientosAnteriores;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</div>
<div class="col-12 text-right" style="    padding: 10px;">
  <button mat-raised-button (click)="dismiss()">Cerrar</button>
</div>
</mat-card>
