<div *ngIf="disabled.persona == false">
  <!--BUSCAR PACIENTE: -->
  <mat-card>
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Filtrado de Pacientes</mat-card-title>
      <div class="margenSuperior">
          <button class="enlace"  type="submit" (click)="filiarPersona(BuscarPersonaForm)" [disabled]="verificarFiliacion(BuscarPersonaForm)">
            Filiar Persona
          </button>
          <button class="enlace"  type="submit" (click)="abrirRN(BuscarPersonaForm)" [disabled]="isInvalid(BuscarPersonaForm) || !params.tipoDocumentoIdentidad">Filiar
            Recién Nacido
          </button>
          <button class="enlace negrita"  type="button" (click)="filiarPersonaManual(BuscarPersonaForm)">Filiación Manual</button>
    </div>
    </mat-card-header>

    <form name="BuscarPersonaForm" #BuscarPersonaForm="ngForm" novalidate>
      <mat-card-content>
        <div class="card-body">
          <div class="row">

            <div class="col-sm-6 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex3">
                <mat-select #listaOpciones placeholder="Tipo de Documento:" name="tipoDocumento" [(ngModel)]="params.tipoDocumentoIdentidad"
                  (selectionChange)="changeInput(listaOpciones.value)">
                  <mat-option>
                    <strong>Seleccionar Tipo de Documento</strong>
                  </mat-option>
                  <mat-option *ngFor="let tipoDoc of tipoDocumentos" [value]="tipoDoc.id">
                    {{tipoDoc.valor}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-sm-6 mdl-input-group mdl-input-group__only ">
              <mat-form-field class="example-full-width mat-form-field-flex3 ">
                <mat-label>N&ordm; de Documento:</mat-label>
                <input matInput [(ngModel)]="params.numeroDocumentoIdentidad" name="numDocumento" #numDocumento="ngModel" id="numDocumento"
                  (keypress)="setInputPattern($event, 'positiveDigits')" [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
                  [disabled]="!params.tipoDocumentoIdentidad" minlength="{{longitudDocumento}}" maxlength="{{longitudDocumento}}"
                  [required]="params.tipoDocumentoIdentidad" />
                <mat-error>
                  <app-validators-messages [controlVar]="numDocumento" labelName="N&ordm; de Documento">

                  </app-validators-messages>
                </mat-error>
                <mat-hint align="end" class="longitudInforme">
                  {{ params.numeroDocumentoIdentidad? params.numeroDocumentoIdentidad.length: '0' }} / {{longitudDocumento}}
                </mat-hint>
              </mat-form-field>
            </div>


            <div class="col-sm-4 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width mat-form-field-flex2">
                  <input matInput placeholder="Apellido Paterno:" [(ngModel)]="params.apellidoPaterno" name="apellidoPaterno" #apellidoPaterno="ngModel"
                    (keypress)="setInputPattern($event, 'letters')" [pattern]="setValidatorPattern('letters', setQuantifier(), true, true)"
                    [required]="apePaterno()" />
                  <mat-error>
                    <app-validators-messages [controlVar]="apellidoPaterno" labelName="Apellido Paterno">
  
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>

            <div class="col-sm-4 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex2 ">
                <input matInput placeholder="Apellido Materno:" [(ngModel)]="params.apellidoMaterno" name="apellidoMaterno" #apellidoMaterno="ngModel"
                  (keypress)="setInputPattern($event, 'letters')" [pattern]="setValidatorPattern('letters', setQuantifier(), true, true)"
                  [required]="apeMaterno()" />
                <mat-error>
                  <app-validators-messages [controlVar]="apellidoMaterno" labelName="Apellido Materno">

                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-4 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex2 ">
                <input type="text" matInput placeholder="Nombres:" [(ngModel)]="params.nombres" name="nombres" #nombres="ngModel" [required]="apeNombres()"
                  (keypress)="setInputPattern($event, 'letters')" [pattern]="setValidatorPattern('letters', setQuantifier(), true, true)"
                />
                <mat-error>
                  <app-validators-messages [controlVar]="nombres" labelName="Nombres">

                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-12 text-right espa" >
              <button class="border-botton" mat-raised-button type="submit" (click)="buscarFIliado(BuscarPersonaForm)" [disabled]="isInvalid(BuscarPersonaForm)">Buscar</button>
              <button class="border-botton" mat-raised-button type="submit" (click)="cleanRegistro(BuscarPersonaForm)">Limpiar</button>
            </div>

            
          

          </div>
        </div>
      </mat-card-content>
    </form>
  </mat-card>


  <mat-card>
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Listado de Pacientes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-table #table [dataSource]="dataSource"   >

        <ng-container matColumnDef="descripcionTipoDocumentoIdentidad">
          <mat-header-cell *matHeaderCellDef matTooltip="Tipo Documento de Identidad" matTooltipPosition="above" >Tipo de DI. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descripcionTipoDocumentoIdentidad}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="numeroDocumentoIdentidad">
          <mat-header-cell *matHeaderCellDef  matTooltip="Numero de Documento de Identidad" matTooltipPosition="above">Numero de DI. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.numeroDocumentoIdentidad}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="apellidoPaterno">
          <mat-header-cell *matHeaderCellDef> Apellido Paterno </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.apellidoPaterno}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="apellidoMaterno">
          <mat-header-cell *matHeaderCellDef> Apellido Materno </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.apellidoMaterno}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombres">
          <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombres}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tipoHistoria">
          <mat-header-cell *matHeaderCellDef  matTooltip="Tipo de Historia" matTooltipPosition="above"> Tip. Historia </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.tipoHistoria ? element.tipoHistoria : '-' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="editar">
          <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="actualizarFiliado(element,BuscarPersonaForm)" matTooltip="Editar" [matTooltipPosition]="'above'">
              <span>
                <i class="material-icons">edit</i>
              </span>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="" *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <!-- <mat-paginator [length]="paginationParameter.total_rows" [pageSize]="paginationParameter.nuRegisMostrar" (page)="getPacientePaginator($event)"
        showFirstLastButtons></mat-paginator> -->

      <!-- PAGINADOR -->
      <mat-paginator [pageSizeOptions]="displayedSize" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize"
      (page)="pageEvent($event)" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>


</div>

<div *ngIf="disabled.persona">
  <app-persona [params]="params" [persona]="persona" [disabled]="disabled" (regresar)="cambiarFlag($event)"></app-persona>
</div>