<mat-card class="matCardMin"> 
    <mat-card-header class="sombreadoSubtitulos alinearCabecera">
        <mat-card-title class="subtitulo-seccion">Suspender</mat-card-title>
        <div class="emp"> 
          <button mat-button class="mat-button-icon" (click)="onNoClick()">
            <div class="example-tooltip-host" matTooltip="Salir">
              <span>
                <i class="material-icons">close</i>
              </span>
            </div>
          </button>
        </div>
      </mat-card-header>

<!-- <div class="modal-header">
  <h4 class="modal-title">Suspención de la programación</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>  
</div> -->

<div class="modal-body">

  <div class="form-grup form-group-sm row">
    <mat-form-field class="col-sm-12">
      <mat-select placeholder="Motivo de Suspenci&oacute;n" [(ngModel)]="programacionRequest.idMotivoSuspencion"  name="idMotivoSuspencion" #idMotivoSuspencion="ngModel" [ngClass]="{'is-invalid':idMotivoSuspencion.invalid}"> 
        <mat-option> -- </mat-option>
        <mat-option *ngFor="let ms of motivosSuspencion" [value]="ms.id"> {{ms.descripcion}} </mat-option>
        
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="botonAlMedio">
    <button mat-raised-button   (click)="onNoClick()"> Cerrar </button>
    <button mat-raised-button   (click)="suspenderProgramacion()" [disabled]="programacionRequest.idMotivoSuspencion == 0"> Aceptar </button>
  </div>
<!-- <div class="modal-body">    
  span>¿Desea suspender la programación? {{estadoID}}</span
  <div class="col-sm-12">
    <div class="form-group">
      <label for="">Motivo suspención:</label>
      <form #motivoSuspencionForm="ngForm">
      <select  name="idMotivoSuspencion" id="idMotivoSuspencion" class="form-control width-15" [(ngModel)]="programacionRequest.idMotivoSuspencion" required #idMotivoSuspencion="ngModel" [ngClass]="{'is-invalid':idMotivoSuspencion.invalid}">
        <option value="0">Seleccionar Motivo Suspención</option>
        <option *ngFor="let motivoSusp of motivosSuspencion" value="{{motivoSusp.id}}">{{motivoSusp.descripcion}}</option>
      </select>
      <div *ngIf="idMotivoSuspencion.invalid" class="text-danger small">*Campo Requerido</div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onNoClick()">Cerrar</button>
  <button type="button" class="btn btn-primary"  (click)="suspenderProgramacion()" [disabled]="programacionRequest.idMotivoSuspencion == 0">Aceptar</button>
</div> -->
</mat-card>