<mat-card class="todaspartes"> 
   <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion"></mat-card-title>
    <div class="container">
      <div class="seccion-title">
        <h5 class="ola" >MATERIALES</h5>
      </div>
      <div class="margenSuperior2">
        <a mat-button class="mat-button enlace negrita text-right hover" (click)="modalEdit(0)">Registrar</a>
        <a mat-button class="mat-button enlace negrita text-right hover" (click)="modalInactivos()">Inactivos</a>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="col-12 card-body text-center">
      <mat-form-field class="col-sm-6 mat-form-field-flex1">
        <input matInput placeholder="Nombre del material" [(ngModel)]="requestListar.nombre" (input)="busqueda($event.target.value)"
          matTooltip="Mínimo 2 caracteres" [matTooltipPosition]="'above'" (keypress)="setInputPattern($event, 'soloUnEspacioNumeroLetra')" [pattern]="setValidatorPattern('soloUnEspacioNumeroLetra', setQuantifier('+'), true, true)">
      </mat-form-field>
    </div>
    <div class="table responsive">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.codigo }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="material">
          <mat-header-cell *matHeaderCellDef>Material</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.nombre }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="marca">
          <mat-header-cell *matHeaderCellDef>Marca </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.marca }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ana">
          <mat-header-cell *matHeaderCellDef> Anaquel </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.nombreAnaquel }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cantidad">
          <mat-header-cell *matHeaderCellDef> Stock Actual </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.stock }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sm">
          <mat-header-cell *matHeaderCellDef> Stock Máximo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.stockMaximo }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pp">
          <mat-header-cell *matHeaderCellDef> Punto Pedido </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.puntoPedido }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="smi">
          <mat-header-cell *matHeaderCellDef> Stock Mínimo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.stockMinimo }} </mat-cell>
        </ng-container>

        <!-- VER -->
        <ng-container matColumnDef="ver">
          <mat-header-cell *matHeaderCellDef> Ver </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="modalEdit(2,element)">
            <button mat-button>
              <div class="example-tooltip-host" matTooltip="Ver" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">visibility</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- EDITAR -->
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="modalEdit(1,element)">
            <button mat-button>
              <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">edit</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- ELIMINAR -->
        <ng-container matColumnDef="eliminar">
          <mat-header-cell *matHeaderCellDef> Dar de Baja </mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="modalelementDelete(element)">
            <button mat-button>
              <div class="example-tooltip-host" matTooltip="Eliminar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">clear</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Header -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <!-- PAGINADOR -->
      <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
        showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>


</mat-card>