<mat-card>
    <mat-card-header class="sombreadoSubtitulos alinearCabecera">
        <mat-card-title class="subtitulo-seccion">Convenio Medicamento</mat-card-title>
        <div class="emp">
            <button class="enlace negrita" type="button" (click)="modalNuevoConvenioMedicamento()">Añadir medicamento a un convenio</button>
        </div>
    </mat-card-header>

    <mat-card-content>
        <form #buscarXConvenioMedDisp="ngForm" novalidate name="buscarConvenioMedDisp">
            <div class="card-body">

                <!-- CONVENIO -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3" style="margin-left: 5%;">
                            <mat-form-field class="example-full-width">
                                <mat-select placeholder="Convenio" name="idConvenio" #idConvenio="ngModel" [(ngModel)]="request.idConvenio" id="idConvenio"
                                    required>
                                    <mat-option *ngFor="let cmd of lsconvenio" [value]="cmd.idConvenio">
                                        {{cmd.nombreConvenio}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field class="example-full-width">
                                <mat-select id="combo" #listaOpciones (change)="placeDesc(listaOpciones.value)" [(ngModel)]="flgMedicDisp" placeholder="Seleccionar Grupo"
                                    name="comboTipoMedic" disableRipple>
                                    <mat-option *ngFor="let gM of gruposMedicamentos" [value]="gM.id">
                                        {{gM.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3 mdl-input-group mdl-input-group__only">
                            <mat-form-field class="example-full-width">
                                <mat-label>{{ descripAutoCompleteMedicamento }}:</mat-label>
                                <input matInput [matAutocomplete]="auto" name="descMedicReport" #descMedicReport="ngModel" id="descMedicReport" [(ngModel)]="request.idMedicamento"
                                    (input)="buscarMedicDispProdDescripcion($event.target.value)" />
                                <mat-error>
                                    <app-validators-messages [controlVar]="descMedicReport" labelName="Producto Farmacútico/Dispositivo Médico">
                                    </app-validators-messages>
                                </mat-error>
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <div>
                                        <mat-option (onSelectionChange)="seleccionaMedicamento(dispMeD)" *ngFor="let dispMeD of filteredDispMedi" [value]="dispMeD.dispositivoMedicamento +' '+ dispMeD.marca + ' ' + (dispMeD.presentacion ? dispMeD.presentacion
                                        : '') + ' ' + (dispMeD.viaAdministracion ? dispMeD.viaAdministracion : '') + ' ' + dispMeD.formaFarmaceutica
                                        +' '+ dispMeD.concentracion">
                                            <span>{{ dispMeD.dispositivoMedicamento +' '+ dispMeD.marca + ' ' + (dispMeD.presentacion
                                                ? dispMeD.presentacion : '') + ' ' + (dispMeD.viaAdministracion ? dispMeD.viaAdministracion
                                                : '') + ' ' + dispMeD.formaFarmaceutica +' '+ dispMeD.concentracion }}</span>
                                        </mat-option>
                                    </div>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <!-- btn buscar -->
                        <div class="col-sm-2 text-rigth margenAuto">
                            <button type="submit" mat-raised-button (click)="obtenerConvenioMedDisp(1)" [disabled]="isInvalid(buscarXConvenioMedDisp)">Buscar</button>
                        </div>


                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-12">
                <mat-table [dataSource]="dataSource" matSort>
                    <!--Nombre Convenio -->
                    <ng-container matColumnDef="nombreC">
                        <mat-header-cell *matHeaderCellDef> Convenio </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{ element.nombreConvenio }}
                        </mat-cell>
                    </ng-container>
                    <!-- P.F/D.M -->
                    <ng-container matColumnDef="dci">
                        <mat-header-cell *matHeaderCellDef matTooltip="Producto Farmaceutico / Dispositivo Medico" matTooltipPosition="above"> P.F/D.M </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{ element.dciProductoFarmaceutico ? element.dciProductoFarmaceutico : element.dciDispMedicoProductosSanitario }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="precio">
                        <mat-header-cell *matHeaderCellDef> Precio</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{ element.precio }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="tipoCopago">
                        <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado5'"> Tipo Copago</mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngClass]="'anchoListado5'">
                            {{ element.tipoCopagoDef }}
                        </mat-cell>
                    </ng-container>

                    <!-- Edita -->
                    <ng-container matColumnDef="editar">
                        <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado5'"> Editar </mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngClass]="'anchoListado5'">
                            <button mat-button (click)="modificarConvenioMed(element)">
                                <i class="material-icons">edit</i>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <!-- Eliminar -->
                    <ng-container matColumnDef="eliminar">
                        <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado5'"> Eliminar </mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngClass]="'anchoListado5'">
                            <button mat-button (click)="eliminarConvenioMed(element)">
                                <i class="material-icons">delete_forever</i>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="displayedSizes" [length]="paginator.nuTotalReg" [pageSize]="pageSize" (page)="pageEvent($event)"
                    showFirstLastButtons></mat-paginator>
            </div>
        </div>

    </mat-card-content>
</mat-card>