<div class="sombreadoSubtitulos text-center">
  <h5 class="subtitulo-seccion">
    <span> Confirmaci&oacute;n </span>
    <span class="example-spacer"></span>
  </h5>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 text-center">
      ¿Deseas Eliminar el Area Especialidad Actividad Grupo Ocupacional?
    </div>
  </div>
</div>
<mat-dialog-actions class="modal-footer">
  <button mat-raised-button type="button" (click)="eliminarAreaEspecialidadActividadGrupoOcupacional()"> Aceptar </button>
  <button mat-raised-button type="button" (click)="close()"> Cerrar </button>
</mat-dialog-actions>