.l-con{
    font-size: 12px; 
    /*font-family: SFMono-Regular, Menlo, Monaco, Consolas*/
}
.table .l-con > thead, tbody > tr > th , td {
    font-size: 12px !important; 
}

.t-antecedente > .col-sm-12 > .mat-card {
    margin-bottom: 0px !important;
}