<mat-toolbar class="menuPrincipal">
  <img style="vertical-align:middle;" aria-hidden height="40" />
  <span class="example-spacer"></span>
  <span class="sedeHispital">SCG-CARSPA</span>

  <div class="mat__action">
    <div class="mat__user" [matMenuTriggerFor]="menu"></div>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <!-- <mat-icon>dialpad</mat-icon> -->
        <span>Usuario</span>
      </button>
      <!-- <button mat-menu-item disabled>
        <span>Editar Perfil</span>
      </button> -->
      <!-- <button mat-menu-item (click)="cambiarContrasena()">
        <span>Cambiar Contraseña</span>
      </button> -->
      <button mat-menu-item>
        <span>Ayuda</span>
      </button>
      <!-- <mat-divider></mat-divider> -->
      <button mat-menu-item (click)="cerrarSesion()">
        <span>Cerrar Sesi&oacute;n</span>
      </button>
    </mat-menu>
  </div>
  <img style="vertical-align:middle;margin-right:8px" aria-hidden height="40" />
</mat-toolbar>

<mat-toolbar>
  <mat-toolbar-row  id="principalmenu" class="module"> 
    <a mat-button class="mat-button  {{activado.almacen}}" (click)="goToModulo('almacen')">Almacen</a>
    <a mat-button class="mat-button {{activado.inventario}}" (click)="goToModulo('inventario')">Inventario</a>
    <a mat-button class="mat-button {{activado.compra}}" (click)="goToModulo('compra')">Compras</a>
  </mat-toolbar-row>
</mat-toolbar>


<!--<ng-template #agregarboton><a mat-button class="mat-button pruebon" (click)="atras()">Volver a Módulos</a> </ng-template>  -->
<router-outlet>
  
</router-outlet>






