<div class="form-group row">
  <div class="col-12">

    <mat-card class="mat-card-main">
      <mat-card-header class="sombreadoSubtitulos">
        <mat-card-title class="subtitulo-seccion">Detalle de Ordenes</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="card-body">
          <mat-table #table [dataSource]="dsOrden">

            <ng-container matColumnDef="idOrdenPago">
              <mat-header-cell *matHeaderCellDef> Orden </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.idOrdenPago}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fhIns">
              <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.fhIns}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="area">
              <mat-header-cell *matHeaderCellDef> Área </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.area}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombreItem">
              <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
              <mat-cell *matCellDef="let element" ngbPopover="{{element.nombreItem}}" triggers="mouseenter:mouseleave"
                popoverTitle="Orden de Cobro"> {{element.nombreItem | truncate: 50}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cantidad">
              <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="precioUnitario">
              <mat-header-cell *matHeaderCellDef> Precio Unitario </mat-header-cell>
              <mat-cell *matCellDef="let element">S/ {{element.precioUnitarioVista}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="precioSubTotal">
              <mat-header-cell *matHeaderCellDef> Monto</mat-header-cell>
              <mat-cell *matCellDef="let element">S/ {{element.precioSubTotalVista}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="dispOrden"></mat-header-row>
            <mat-row *matRowDef="let row; columns: dispOrden;"></mat-row>
          </mat-table>

        </div>
      </mat-card-content>
      <mat-list role="list alinearPagos">
        <mat-list-item class="right font" role="listitem" *ngIf="subtotal!=null"><b>Subtotal:</b>S/{{subtotal}}</mat-list-item>
        <mat-list-item class="right font" role="listitem" *ngIf="igv!=null"><b>IGV:</b>S/{{igv}}</mat-list-item>
        <mat-list-item class="right font" role="listitem"><span class="negrita">Total:</span>S/{{total}}</mat-list-item>
      </mat-list>

    </mat-card>

    <div class="row">


      <div class="col-6">

        <!-- priimer mat card -->
        <mat-card>
          <mat-card-header class="sombreadoSubtitulos">
            <mat-card-title class="subtitulo-seccion">Tipo comprobante Pago</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="card-body">
              <form #FormPago1="ngForm" novalidate name="FormPago1">
                <div class="form-grup form-group-sm row">
                  <mat-radio-group class="col-sm-12  text-center centrarRadioButtons "
                    [(ngModel)]="requestInsert.pago.idTipoComprobantePago" name="idTipoComprobantePago"
                    #idTipoComprobantePago="ngModel">
                    <mat-radio-button class="form-check-inline" [value]="1"
                      (click)="requestInsert.pago.direccionCliente=null;requestInsert.pago.razonSocial=null;requestInsert.pago.ruc=null;ocultarDatos()">
                      Boleta </mat-radio-button>
                    <mat-radio-button class="form-check-inline" [value]="2"
                      (click)="requestInsert.pago.direccionCliente=null;requestInsert.pago.nombreCliente=null;mostrarDatos()">
                      Factura</mat-radio-button>
                  </mat-radio-group>
                </div>
                <br>
                <div class="form-grup form-group-sm row" *ngIf="requestInsert.pago.idTipoComprobantePago==1">

                  <mat-label class="col-sm-12 italica"> Boleta </mat-label>


                  <mat-form-field class="col-sm-6">
                    <input matInput placeholder="Nombre de Cliente: " name="nombreCliente" #nombreCliente="ngModel"
                      [(ngModel)]="requestInsert.pago.nombreCliente" required>
                    <mat-error>
                      <app-validators-messages [controlVar]="nombreCliente" labelName="Nombre inválido">
                      </app-validators-messages>
                    </mat-error>
                  </mat-form-field>


                  <mat-form-field class="col-sm-6">
                    <input matInput placeholder="Dirección del Cliente: " name="direccionCliente"
                      #direccionCliente="ngModel" [(ngModel)]="requestInsert.pago.direccionCliente" required>
                    <mat-error>
                      <app-validators-messages [controlVar]="direccionCliente" labelName="Dirección inválida">
                      </app-validators-messages>
                    </mat-error>
                  </mat-form-field>

                </div>

                <div class="form-grup form-group-sm row" *ngIf="requestInsert.pago.idTipoComprobantePago==2">
                  <mat-label class="col-sm-12 italica"> Factura: </mat-label>
                  <mat-form-field class="col-sm-6">
                    <input matInput placeholder="RUC: " name="ruc" maxlength=11 minlength=11 #ruc="ngModel"
                      [(ngModel)]="requestInsert.pago.ruc" (keypress)="setInputPattern($event, 'positiveDigits')"
                      [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" required>
                    <mat-error>
                      <app-validators-messages [controlVar]="ruc" labelName="RUC inválido">
                      </app-validators-messages>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="col-sm-6">
                    <input matInput placeholder="Razón Social:" name="razonSocial" #razonSocial="ngModel"
                      [(ngModel)]="requestInsert.pago.razonSocial" required>
                    <mat-error>
                      <app-validators-messages [controlVar]="razonSocial" labelName="Razon Social inválida">
                      </app-validators-messages>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Dirección: " name="direccionCliente" #direccionCliente="ngModel"
                      [(ngModel)]="requestInsert.pago.direccionCliente" required>
                    <mat-error>
                      <app-validators-messages [controlVar]="direccionCliente" labelName="Dirección inválida">
                      </app-validators-messages>
                    </mat-error>
                  </mat-form-field>
                </div>
              </form>
            </div>
          </mat-card-content>
        </mat-card>
      </div>








        <div class="col-6">

          <!-- segundo mat card -->
          <mat-card>
            <mat-card-header class="sombreadoSubtitulos">
              <mat-card-title class="subtitulo-seccion"> Medio de Pago</mat-card-title>
            </mat-card-header>
            <mat-card-content>

              <div class="card-body">
                <form #formMedioPago="ngForm" name="formMedioPago" novalidate>
                  <div class="form-grup form-group-sm row">
                    <mat-form-field class="col-sm-5">
                      <mat-select placeholder="Seleccionar Tipo Medio de Pago" [(ngModel)]="_param.mp"
                        name="id_tipo_medio_pago" #id_tipo_medio_pago="ngModel">
                        <mat-option> -- </mat-option>
                        <mat-option *ngFor="let mp of mediosPago" [value]="mp"> {{mp.descripcionTipoPago}} </mat-option>

                      </mat-select>
                      <!-- <mat-error>
                        <app-validators-messages [controlVar]="id_tipo_medio_pago" labelName="Tipo Medio Pago">
                        </app-validators-messages>
                      </mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="col-sm-5">
                      <input matInput placeholder="Monto" [(ngModel)]="_param.monto" name="monto" #monto="ngModel"
                        type="number" [min]="0.01">
                      <mat-error>
                        <app-validators-messages [controlVar]="monto" labelName="Monto">
                        </app-validators-messages>
                      </mat-error>
                    </mat-form-field>
                    <button mat-icon-button class="col-sm-1" (click)="agregarprueba()" [disabled]="verify()">
                      <mat-icon style="font-size: 35px" matTooltip="Agregar"
                        aria-label="Example icon-button with a heart icon">add_circle_outline</mat-icon>
                    </button>
                  </div>


                  <div class="form-grup form-group-sm row" *ngIf="lsmedioPago.length > 0">

                    <mat-table #table [dataSource]="dataSource">

                      <ng-container matColumnDef="MedioPago">
                        <mat-header-cell *matHeaderCellDef> Medio Pago </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.descripcionTipoPago}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="Monto">
                        <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
                        <mat-cell *matCellDef="let element"> S/{{element.montoDecimal}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="eliminar">
                        <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          <button mat-button>
                            <i class="material-icons" (click)="eliminarprueba(element)">restore_from_trash</i>
                          </button>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                    </mat-table>
                  </div>
                  
                  <!-- <h6> <span class="negrita">Total:</span>S/{{total}} </h6> -->

                  <div class="text-right emp"> <span class="negrita">Total:</span>S/{{montoTotalDecimal}}  </div>
                </form>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

  </div>
  <!-- <mat-card>
      <div class="row">
        <div class="col-6">
          <mat-card-header class="sombreadoSubtitulos">
            <mat-card-title class="subtitulo-seccion"> Tipo comprobante Pago</mat-card-title>
          </mat-card-header>
        </div> 
        <div class="col-6">
           <mat-card-header class="sombreadoSubtitulos">
            <mat-card-title class="subtitulo-seccion"> Medio de Pago</mat-card-title>
          </mat-card-header> 
        </div>
      </div>
      <mat-card-content>
        <form #FormPago1="ngForm" novalidate name="FormPago1">
          <div class="card-body">
            <div class="row">

               <div class="col-sm-12 col-md-6">

                <div class="form-grup form-group-sm row">
                  <mat-radio-group class="col-sm-12  text-center "
                    [(ngModel)]="requestInsert.pago.idTipoComprobantePago" name="idTipoComprobantePago"
                    #idTipoComprobantePago="ngModel">
                    <mat-radio-button class="form-check-inline" [value]="1"
                      (click)="requestInsert.pago.direccionCliente=null;requestInsert.pago.razonSocial=null;requestInsert.pago.ruc=null;ocultarDatos()">
                      Boleta </mat-radio-button>
                    <mat-radio-button class="form-check-inline" [value]="2"
                      (click)="requestInsert.pago.direccionCliente=null;requestInsert.pago.nombreCliente=null;mostrarDatos()">
                      Factura</mat-radio-button>
                  </mat-radio-group>
                </div>
                <br>
                <div class="form-grup form-group-sm row" *ngIf="requestInsert.pago.idTipoComprobantePago==1">

                  <mat-label class="col-sm-12 italica"> Boleta </mat-label>


                  <mat-form-field class="col-sm-6">
                    <input matInput placeholder="Nombre de Cliente: " name="nombreCliente" #nombreCliente="ngModel"
                      [(ngModel)]="requestInsert.pago.nombreCliente" required>
                    <mat-error>
                      <app-validators-messages [controlVar]="nombreCliente" labelName="Nombre inválido">
                      </app-validators-messages>
                    </mat-error>
                  </mat-form-field>


                  <mat-form-field class="col-sm-6">
                    <input matInput placeholder="Dirección del Cliente: " name="direccionCliente"
                      #direccionCliente="ngModel" [(ngModel)]="requestInsert.pago.direccionCliente" required>
                    <mat-error>
                      <app-validators-messages [controlVar]="direccionCliente" labelName="Dirección inválida">
                      </app-validators-messages>
                    </mat-error>
                  </mat-form-field>

                </div>

                <div class="form-grup form-group-sm row" *ngIf="requestInsert.pago.idTipoComprobantePago==2">
                  <mat-label class="col-sm-12 italica"> Factura: </mat-label>
                  <mat-form-field class="col-sm-6">
                    <input matInput placeholder="RUC: " name="ruc" maxlength=11 minlength=11 #ruc="ngModel"
                      [(ngModel)]="requestInsert.pago.ruc" (keypress)="setInputPattern($event, 'positiveDigits')"
                      [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" required>
                    <mat-error>
                      <app-validators-messages [controlVar]="ruc" labelName="RUC inválido">
                      </app-validators-messages>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="col-sm-6">
                    <input matInput placeholder="Razón Social:" name="razonSocial" #razonSocial="ngModel"
                      [(ngModel)]="requestInsert.pago.razonSocial" required>
                    <mat-error>
                      <app-validators-messages [controlVar]="razonSocial" labelName="Razon Social inválida">
                      </app-validators-messages>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Dirección: " name="direccionCliente" #direccionCliente="ngModel"
                      [(ngModel)]="requestInsert.pago.direccionCliente" required>
                    <mat-error>
                      <app-validators-messages [controlVar]="direccionCliente" labelName="Dirección inválida">
                      </app-validators-messages>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div> 

              <div class="col-sm-12 col-md-6">
                <form #formMedioPago="ngForm" name="formMedioPago" novalidate>
                  <div class="form-grup form-group-sm row">
                    <mat-form-field class="col-sm-5">
                      <mat-select placeholder="Seleccionar Tipo Medio de Pago" [(ngModel)]="_param.mp"
                        name="id_tipo_medio_pago" #id_tipo_medio_pago="ngModel">
                        <mat-option> -- </mat-option>
                        <mat-option *ngFor="let mp of mediosPago" [value]="mp"> {{mp.descripcionTipoPago}} </mat-option>

                      </mat-select>
                       <mat-error>
                      <app-validators-messages [controlVar]="id_tipo_medio_pago" labelName="Tipo Medio Pago">
                      </app-validators-messages>
                    </mat-error> 
                    </mat-form-field>
                    <mat-form-field class="col-sm-5">
                      <input matInput placeholder="Monto" [(ngModel)]="_param.monto" name="monto" #monto="ngModel"
                        type="number" [min]="0.01">
                      <mat-error>
                        <app-validators-messages [controlVar]="monto" labelName="Monto">
                        </app-validators-messages>
                      </mat-error>
                    </mat-form-field>
                    <button mat-icon-button class="col-sm-1" (click)="agregarprueba()" [disabled]="verify()">
                      <mat-icon style="font-size: 35px" matTooltip="Agregar"
                        aria-label="Example icon-button with a heart icon">add_circle_outline</mat-icon>
                    </button>
                  </div>
                </form>

                <div class="form-grup form-group-sm row" *ngIf="lsmedioPago.length > 0">

                  <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="MedioPago">
                      <mat-header-cell *matHeaderCellDef> Medio Pago </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.descripcionTipoPago}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Monto">
                      <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.monto}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="eliminar">
                      <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <button mat-button>
                          <i class="material-icons" (click)="eliminarprueba(element)">restore_from_trash</i>
                        </button>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                  </mat-table>
                </div>
                <br>
                <h5 style="margin-left: 280px; font-size:14px">TOTAL POR MEDIO DE PAGO: {{montoTotal}}</h5>
              </div>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card> -->

  <div class="col-12 text-right margenIzquierdo4">
    <button class="border-botton" mat-raised-button type="submit"
      (click)="GuardarComprobante(FormPago)">Guardar</button>
    <button class="border-botton" mat-raised-button type="button" (click)="regresaOrden(idComprobante)"> Regresar
    </button>
  </div>
