.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }

  .mat-list .mat-list-item{
    height: 30px;
  }
  // .mat-card-content{
  //   margin-bottom: 0px;
  // }
  .mat-table{
    margin-bottom: 0rem;
  }
  .mat-list{
    padding-bottom: 1rem;
  }
  .centrarRadioButtons{
    display: flex;
    justify-content: center;
    padding-top: 18px;
  }
  .alinearPagos{
    display: flex;
    flex-direction: row-reverse;
    margin-top: -30px;
  }