<br>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <label>
        <strong>Datos Generales del Examen</strong>
      </label>
    </div>
  </div>
  <hr class="hr2" />

  <div class="row">
    <div class="col-md-4">
      <label>
        <strong>N° de Acto Medico:</strong>
      </label>
      <label>{{actoMedico}}</label>
    </div>

    <div class="col-md-4">
      <label>
        <strong>Tipo de Examen:</strong>
      </label>
      <label>Imagenologia</label>
    </div>

    <div class="col-md-4">
      <label>
        <strong>N° de Solicitud:</strong>
      </label>
      <label>{{id}}</label>
    </div>

  </div>

  <hr/>
  <div class="row">
    <div class="col-md-12">
      <label>
        <strong>Datos Generales del Paciente</strong>
      </label>
    </div>
  </div>
  <hr class="hr2" />

  <div>
    <div class="row">
      <div class="col-md-6">
        <label>
          <strong>Apellidos y Nombres:</strong>
        </label>
        <label>{{personaDatos.nombres}} {{personaDatos.apellidoPaterno}} {{personaDatos.apellidoMaterno}}</label>
      </div>

      <div class="col-md-6">
        <label>
          <strong>Sexo:</strong>
        </label>
        <label>{{personaDatos.sexo.valor}}</label>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6">
        <label>
          <strong>Tipo Documento:</strong>
        </label>
        <label>{{personaDatos.tipoDocumentoIdentidad.descripcion}}</label>
      </div>
      <div class="col-md-6">
        <label>
          <strong>Doc. de Identidad:</strong>
        </label>
        <label>{{dni}}</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>
          <strong>Edad:</strong>
        </label>
        <label>{{personaDatos.edad}}</label>
      </div>

      <div class="col-md-6">
        <label>
          <strong>Direccion:</strong>
        </label>
        <label>{{personaDatos.filiadoList[0].domicilioActual}}</label>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <label>
          <strong>Tipo de Paciente:</strong>
        </label>
        <label>{{personaDatos.filiadoList[0].tipoPaciente}}</label>
      </div>

      <div class="col-md-6">
        <label>
          <strong>Plan de salud:</strong>
        </label>
        <label>{{personaDatos.planList[0].iafas.descripcionIafas}}</label>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <label>
          <strong>Cobertura:</strong>
        </label>
        <label>{{cobertura}}</label>
      </div>
      <div class="col-md-6">
        <label>
          <strong>N° de Historia Clinica:</strong>
        </label>
        <label>{{personaDatos.historiaList[0].idHistoria}}</label>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <div class="col tabla-examen ">
          <table class="table">
            <thead>
              <tr>
                <th>Area</th>
                <th>Descripcion CPT</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let filt of filtro">
                <td>{{filt.descripcionExamenArea}}</td>
                <td>{{filt.descripcionCpt}}</td>
              </tr>
            </tbody>

          </table>

        </div>

      </div>
    </div>

    <div class="col-md-6">
    </div>
  </div>
  <br>
  <hr/>

  <div class="row">
    <div class="col-md-12">
      <label>
        <strong>Datos de Búsqueda</strong>
      </label>
    </div>
  </div>
  <hr class="hr2" />
  <div class="row">

    <div class="col-md-6">
      <label>
        <strong>Desde:</strong>
      </label>&nbsp;
      <input class="form-control" type="date" [(ngModel)]="requestProgramacionImagenologia.feDesde" />
    </div>

    <div class="col-md-6">
      <label>
        <strong>Hasta:</strong>
      </label>&nbsp;
      <input class="form-control" type="date" [(ngModel)]="requestProgramacionImagenologia.feHasta" />
    </div>
  </div>

  <br>
  <div class="col-12 form-group">
    <div class="col-12">
      <div style="text-align:center">
        <button class="btn btn-primary" (click)="buscarPorFiltro()">Buscar</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card-body">
        <div class="col tabla-examen ">
          <table class="table">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Rango - Hora</th>
                <th>Ambiente</th>
                <th>Responsable</th>
                <th>N° Cupos</th>
                <th>Cupos Disponible</th>
              </tr>
            </thead>
            <tbody *ngFor="let programacion of programacionImagenologia; let i = index">
              <tr class="{{programacion.color}}" (click)="ObtenerListadoProgramacion(programacion.idProgramacion,programacion.feProgramacion,i)">
                <td>{{programacion.feProgramacion}}</td>
                <td>{{programacion.turno.horaInicio}} - {{programacion.turno.horaFin}}</td>
                <td>{{programacion.ambiente.valor}}</td>
                <td>{{programacion.personal.nombrePersonal}} {{programacion.personal.apellidoPaternoPersonal}} {{programacion.personal.apellidoMaternoPersonal}}</td>
                <td>{{programacion.cupos}}</td>
                <td>{{programacion.cuposDisponibles}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="12" class="text-center">
                  <ngb-pagination class="d-inline-block" [collectionSize]="paginationParameter.total_rows" [(page)]="paginationParameter.nuPagina"
                    [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getServicios()"></ngb-pagination>
                </td>
              </tr>
            </tfoot>
          </table>

        </div>

      </div>
    </div>
  </div>
  <br>
  <hr/>

  <div class="row">
    <div class="col-md-12 ">
      <table class="table">
        <thead>
          <tr>
            <th>Responsable</th>
            <th>Fecha</th>
            <th>Hora</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{nameLeonel}}</td>
            <td>{{lista2.cita.fechaCita}}</td>
            <td>{{lista2.cita.horaCita}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="col-12 form-group">
    <div class="col-12">
      <div style="text-align:center">
        <button class="btn btn-primary" (click)="guardarProgramacionImagenologia()">Guardar</button>
        <button class="btn btn-primary" (click)="regresarCita()">Cancelar</button>
      </div>
      <br>
    </div>
  </div>



</div>

<br>
<br>