<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Prenatales</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">

          <div class="form-grup form-group-sm row">
            <mat-label class="col-sm-12 font negrita">A. Embarazo </mat-label>
          </div>

          <div class="form-grup form-group-sm row ">
            <mat-radio-group class="col-sm-12 " [(ngModel)]="listaAntecedentePrenatales.idEmbarazo" (change)="send()">
              <mat-radio-button class="form-check-inline " [value]="1">Normal</mat-radio-button>
              <mat-radio-button class="form-check-inline " [value]="0">Complicado</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-12">
              <textarea matInput placeholder="Patologia Durante Gestación" rows="2" [(ngModel)]="listaAntecedentePrenatales.patologiaGestacion" (keyup)="send()" name="patologia_Gestacion" #patologia_Gestacion="ngModel"></textarea>
            </mat-form-field>
          </div>
          
          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-12">
              <input matInput placeholder="Número de Embarazo" [(ngModel)]="listaAntecedentePrenatales.numeroEmbarazo" (keypress)="setInputPattern($event,'positiveDigits')" [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" name="numeroEmbarazo" #numeroEmbarazo="ngModel" (keyup)="send()"> 
              
            </mat-form-field>
          </div>

          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-12">
              <mat-select placeholder="Atención Prenatal" [(ngModel)]="listaAntecedentePrenatales.atencionPrenatal"  name="atencion_Prenatal" #atencion_Prenatal="ngModel" (ngModelChange)="send()"> 
                <mat-option> -- </mat-option>
                <mat-option *ngFor="let ap of atencionPrenatal" [value]="ap.idOpcion"> {{ap.valorOpcion}} </mat-option>
                
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-12" *ngIf="listaAntecedentePrenatales.atencionPrenatal==9">
              <input matInput placeholder="Lugar APN" [(ngModel)]="listaAntecedentePrenatales.lugarApn" name="lugar_Apn" #lugar_Apn="ngModel" (keyup)="send()"> 
              
            </mat-form-field>
          </div>

          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-12" *ngIf="listaAntecedentePrenatales.atencionPrenatal==9">
              <input matInput placeholder="Número de APN" [(ngModel)]="listaAntecedentePrenatales.nroApn"  name="numero_Apn" #numero_Apn="ngModel" (keyup)="send()"> 
              
            </mat-form-field>
          </div>
        </div>

<div class="separarVertical"></div>

        <div class="col-md-6">

          <div class="form-grup form-group-sm row">
            <mat-label class="col-sm-12 font negrita">B. Parto </mat-label>
          </div>

          <div class="form-grup form-group-sm row ">
            <mat-radio-group class="col-sm-12  " [(ngModel)]="listaAntecedentePrenatales.parto" (change)="send()" name="parto" #parto="ngModel">
              <mat-radio-button class="form-check-inline " [value]="1"> P.Eutócico </mat-radio-button>
              <mat-radio-button class="form-check-inline " [value]="0"> Distocico </mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-12">
              <textarea matInput placeholder="Complicaciones del Parto" rows="2"  [(ngModel)]="listaAntecedentePrenatales.complicacionParto"  name="complicaciones_Parto" #complicaciones_Parto="ngModel" (keyup)="send()"></textarea>
              
            </mat-form-field>
          </div>
          
          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-12">
              <mat-select placeholder="Lugar del Parto" [(ngModel)]="listaAntecedentePrenatales.lugarParto"  name="lugar_Parto" #lugar_Parto="ngModel" (ngModelChange)="send()" > 
                <mat-option> -- </mat-option>
                <mat-option *ngFor="let lp of lugarParto" [value]="lp.idOpcion"> {{lp.valorOpcion}} </mat-option>
                
                <mat-error>
                  <app-validators-messages [controlVar]="lugar_Parto" labelName="Lugar del Parto" >
                  </app-validators-messages>
                </mat-error>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-12">
              <mat-select placeholder="Atendido por" [(ngModel)]="listaAntecedentePrenatales.atendidoPor"  name="atendido_por" #atendido_por="ngModel" (ngModelChange)="send()"> 
                <mat-option> -- </mat-option>
                <mat-option *ngFor="let ap of atendidoPor" [value]="ap.idOpcion"> {{ap.valorOpcion}} </mat-option>
                
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-grup form-group-sm row" *ngIf="listaAntecedentePrenatales.atendidoPor==8" >
            <mat-form-field class="col-sm-12">
              <input matInput placeholder="Especificar" [(ngModel)]="listaAntecedentePrenatales.descripcionAtendidoPor"  name="Especificar" #Especificar="ngModel" (keyup)="send()"> 
              
            </mat-form-field>
          </div>

        </div>




      </div>
    </div>
  </mat-card-content>
</mat-card>

