<div *ngIf="flgMostar==false">
  <mat-card>
    <mat-card-header class="sombreadoSubtitulos alinear55" >
      <mat-card-title class="subtitulo-seccion">Visualizar Inventarios</mat-card-title>
      <button class="enlace negrita alinearDer" type="button" (click)="tomarInventario()">Tomar Inventario</button>
    </mat-card-header>
    <mat-card-content>
      <form #limpiarCamposFormulario="ngForm" novalidate name="limpiarCamposFormulario">
        <div class="card-body">
          <div class="row">

            <div class="col-sm-3 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width">
                <mat-label for="nroInventario">Número de inventario: </mat-label>
                <input matInput name="nroInventario" #nroInventario="ngModel" id="nroInventario" maxlength="20" [(ngModel)]="params.numeroInventario" (keypress)="setInputPattern($event, 'positiveDigits')"
                  [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" />
                <mat-error>
                  <app-validators-messages [controlVar]="nroInventario" labelName="Número de Inventario">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>
            
            <div class="col-sm-3 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="dp" name="fechDesdeTurno" #fechDesdeTurno="ngModel" [(ngModel)]="feDesde" placeholder="Desde:"
                  [maxDate]="feHasta"  disabled/>
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp [disabled]="false"></mat-datepicker>
                <mat-error>
                  <app-validators-messages [controlVar]="fechDesdeTurno" labelName="Fecha Desde">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-3 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="dpp" name="fechHastaTurno" #fechHastaTurno="ngModel" [(ngModel)]="feHasta" placeholder="Hasta:"
                  [minDate]="feDesde" disabled>
                <mat-datepicker-toggle matSuffix [for]="dpp"></mat-datepicker-toggle>
                <mat-datepicker #dpp [disabled]="false"></mat-datepicker>
                <mat-error>
                  <app-validators-messages [controlVar]="fechHastaTurno" labelName="Fecha Hasta">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-3 text-right ali5" >
              <button mat-raised-button (click)="getInventariosByAlmacen()">Buscar
            
              </button>
          
              <button mat-raised-button (click)="limpiarCampos(limpiarCamposFormulario)">Limpiar
                
              </button>
            </div>
            
          </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-content>
      <div class="table responsive">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="numeroInventario">
            <mat-header-cell *matHeaderCellDef> Nro. de Inventario </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.numeroInventario}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Fecha">
            <mat-header-cell *matHeaderCellDef> Fecha: Toma de Inventario </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.feInventario | date: 'dd/MM/yyyy'}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Hora">
            <mat-header-cell *matHeaderCellDef> Hora </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hoInventario }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Estado">
            <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{(element.estadoInventario)=='C'? 'Cerrado' : (element.estadoInventario)=='A' ? 'Abierto' : 'Regularizado' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Accion">
            <mat-header-cell *matHeaderCellDef> Vizualizar </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-button (click)="modalVisualizarInventario(element.idInventario,element.estadoInventario)">
                <div class="example-tooltip-host" matTooltip="Ver" [matTooltipPosition]="'above'">
                  <span>
                    <i class="material-icons">visibility</i>
                  </span>
                </div>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsInventarios"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsInventarios;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<app-tomar-inventario *ngIf="flgMostar!=false&&idInventario!=null" [idAlmacen]="idAlmacen" [idInventario]="idInventario"
  (regresar)="cambiarFlag($event)"></app-tomar-inventario>