.mat-column-Procedimiento {
    flex: 0 0 33%;
    width: auto;
  }
  .mat-column-Cantidad {
    flex: 0 0 15%;
    width: auto;
  }
  .mat-column-Estado {
    flex: 0 0 19%;
    width: auto;
  }
  .precio{
    margin-right: 176px;
    margin-top: -11px;
    padding: 8px;
  }
.xa{
  display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}