<mat-card class="matCardMin">
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Procedimientos</mat-card-title>
    <div class="emp"> 
      <button mat-button class="mat-button-icon" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="Procedimiento">
        <mat-header-cell *matHeaderCellDef> Procedimiento </mat-header-cell>
        <mat-cell *matCellDef="let element" ngbPopover="{{element.descProcedimiento}}" triggers="mouseenter:mouseleave" popoverTitle="Procedimiento">
          {{element.procedimientoRe}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="Cantidad">
        <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Precio">
        <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
        <mat-cell *matCellDef="let element"> S/ {{element.precio}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Estado">
        <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Cancelar">
        <mat-header-cell *matHeaderCellDef> Suspender </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-icon  class="imagenCanc formaticono md-36" style="font-size: 27px !important;line-height: 1 !important;" (click)=" openModalCancelar(element,0)">{{element.cancelar}}</mat-icon>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsProced"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsProced;"></mat-row>
    </mat-table>
    <div class="col-12 text-right xa" >
      <h6 class="precio">Precio Total :
        <b>S/ {{total}} </b>
      </h6>
      <button mat-raised-button (click)=" dismiss()">Cerrar</button>
    </div>
  </mat-card-content>

</mat-card>
<!-- 
<div class="col-12 text-right">
  
</div> -->