<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Alimentación</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">

          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-6">
              <mat-select placeholder="Primeros 6 meses: " [(ngModel)]="listaAntecedenteAlimentacion.primeroSeisMeses"  name="primero_seisMeses" #primero_seisMeses="ngModel" (ngModelChange)="send()" requerid> 
                <mat-option> -- </mat-option>
                <mat-option *ngFor="let pm of primerosMeses" [value]="pm.idOpcion"> {{pm.valorOpcion}} </mat-option>
                
                <mat-error>
                  <app-validators-messages [controlVar]="primero_seisMeses" labelName="Primeros 6 meses: " >
                  </app-validators-messages>
                </mat-error>
              </mat-select>
            </mat-form-field>
            <mat-checkbox class="col-sm-6" style="padding-top: 12px;" [(ngModel)]="listaAntecedenteAlimentacion.suplementoFe" [value]="1" (change)="send()"> Suplemento de Fe &lt;2 a&ntilde;os </mat-checkbox>
          </div>

          <div class="form-grup form-group-sm row">
            <mat-form-field class="col-sm-12">
              <input matInput placeholder="Inicio de Alimentación Complementaria" [(ngModel)]="listaAntecedenteAlimentacion.inicioAlimentacionComplementaria"  name="inicio_alimentacionComplementaria" #inicio_alimentacionComplementaria="ngModel" (change)="send()" requerid> 
              
              <mat-error>
                <app-validators-messages [controlVar]="inicio_alimentacionComplementaria" labelName="Inicio de Alimentación Complementaria" >
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>

        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<!-- 

<div class="card">
  <div class="card-header">Alimentación</div>
  <div class="card-body">
    <div class="form-grup form-group-sm row">
      <label for="" class="col-sm-4 col-form-label">Primeros 6 meses: </label>
      <div class="col-sm-5">
        <select id="disabledSelect" class="form-control form-control-sm" [(ngModel)]="listaAntecedenteAlimentacion.primeroSeisMeses" (ngModelChange)="send()">
          <option *ngFor="let cv of primerosMeses" [value]="cv.idOpcion">{{cv.valorOpcion}}</option>
        </select>
      </div>
      <div class="col-sm-3" >
        <label class="form-check-label" >
          <input class="form-check-input" [(ngModel)]="listaAntecedenteAlimentacion.suplementoFe" type="checkbox" [value]="1" (change)="send()">
          <span>Suplemento de Fe &lt;2 a&ntilde;os</span>
        </label>
      </div>
    </div>
    <div class="form-grup form-group-sm row">
      <label for="" class="col-sm-4 col-form-label">Inic. Aliment. Complementaria: </label>
      <div class="col-sm-5">
        <input type="text" class="form-control form-control-sm" [(ngModel)]="listaAntecedenteAlimentacion.inicioAlimentacionComplementaria" (keyup)="send()">
      </div>
    </div>
  </div>
</div> -->