<mat-card>
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">{{nombreOpcion}}</mat-card-title>
    <div class="emp">
      <button mat-button class="mat-button-icon" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form #cptForm="ngForm" novalidate name="cptForm">
      <div class="card-body">
        <div class="row">
          <!-- ESPECIALIDAD -->
          <div class="col-4">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <mat-select #listaOpciones placeholder="Seleccione Especialidad" [(ngModel)]="request.idEspecialidad"
                name="idEspecialidad" #idEspecialidad="ngModel"  id="idEspecialidad" [disabled]="isEspecialidad" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let es of especialidades" [value]="es.idEspecialidad">
                  {{es.descripcionEspecialidad}} </mat-option>
              </mat-select>
              <mat-error>
                <app-validators-messages [controlVar]="idEspecialidad" labelName="Especialidad">
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-2">
            <mat-form-field class="example-full-width">
              <mat-label>C&oacute;digo:</mat-label>
              <input matInput type="text" maxlength="8" [(ngModel)]="codigoProcedimiento" (input)="onSearchChange($event.target.value)" name="codigoProcs" #codigoProcs="ngModel" id="codigoProcs" [disabled]="isValidModify()" matTooltip="Escribir Codigo de 5 dígitos"
                [matTooltipPosition]="'above'" />
              <mat-error>
                <app-validators-messages [controlVar]="codigoProcs" labelName="C&oacute;digo">
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field class="example-full-width">
              <mat-label>Descripci&oacute;n De Procedimiento:</mat-label>
              <textarea matInput type="text" [matAutocomplete]="auto" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3" [(ngModel)]="descripcionProcedimiento" name="DescripcionProcs" #DescripcionProcs="ngModel"
                id="DescripcionProcs" (input)="getProcedimientos($event.target.value)" [disabled]="isValidModify()"></textarea>
              <mat-error>
                <app-validators-messages [controlVar]="DescripcionProcs" labelName="Descripci&oacute;n De Procedimiento">

                </app-validators-messages>
              </mat-error>
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <div>
                  <mat-option (onSelectionChange)="placeNumDesc(numDocs)" *ngFor="let numDocs of lsNombreProcedimiento"
                    [value]="numDocs.descProcedimiento">
                    <span>{{ numDocs.descProcedimiento }}</span>
                  </mat-option>
                </div>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="col-2" *ngIf="showCpt==1">
              <div class="col-6 buttonaresp">
                <button mat-raised-button type="button"  [disabled]="!codigoProcedimiento || !request.idEspecialidad" (click)="agregarCpt()">  Agregar </button>
              </div>
          </div>

        </div>
        <div class="col-sm-12" *ngIf="showCpt==1">
          <div class="row">
            <div class="table responsive">
              <mat-table #table [dataSource]="dsCpt" class="mat-elevation-z8">
            <ng-container matColumnDef="codigo">
              <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
              <mat-cell *matCellDef="let element" > {{element.codigo}} </mat-cell>
            </ng-container>
                <ng-container matColumnDef="cptDetalle">
                  <mat-header-cell *matHeaderCellDef>Descripcion CPT</mat-header-cell>
                  <mat-cell *matCellDef="let element" ngbPopover="{{element.descProcedimiento}}" triggers="mouseenter:mouseleave"
                  popoverTitle="CPT"> {{element.descProcedimiento | truncate: 50}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="eliminar">
                  <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index">
                    <button mat-button>
                      <i class="material-icons" (click)="deleteCpt(i)">delete_forever</i>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="dcCpt"></mat-header-row>
                <mat-row *matRowDef="let row; columns: dcCpt;"></mat-row>

              </mat-table>

              <mat-paginator #paginatorCpt pageSize="5" [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons="true">
              </mat-paginator>
            </div>
          </div>
          
        </div>
        <div class="col-sm-12 text-right">
          <button mat-raised-button *ngIf="opcion==1" (click)="insertar()"
            [disabled]="!request.idEspecialidad || request.cptList.length==0"> Guardar
          </button>
          <button mat-raised-button *ngIf="opcion==2" (click)="actualizar()"
            [disabled]="requestE.idCptActual==requestE.idCptNuevo"> Editar
          </button>
          <button mat-raised-button (click)="close()"> Cancelar </button>
        </div>
      </div>

    </form>
  </mat-card-content>
</mat-card>
