<br>
<div class="col-md-12">
  <div class="row">
    <div class= "col-md-4">
    <label><strong>Fecha:</strong></label>
    <label>{{feProgramacion}}</label>
    </div> 

     <div class= "col-md-4">
    <label><strong></strong></label>
    <label></label>
    </div> 

     <div class= "col-md-4">
   <button type="button" class="btn btn-primary" (click)="dismiss()">Cerrar</button>
    </div> 

  </div>

  <div class="row">
    <div class= "col-md-4">
    <label><strong>Pacientes:</strong></label>
    </div> 
  </div>

  <div class="row">
  <div class="col-md-12">
    <hr/>
    <div class="card-body">
      <div class="col tabla-examen ">
        <table class="table">
          <thead>
            <tr>
              <th>Hora</th>
              <th>DNI</th>
              <th>Paciente</th>
              <th>Seleccionar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let programacion of listadoProgramacion">
              <td>{{programacion.horaAtencion}}</td>
              <td>{{programacion.persona.numeroDocumentoIdentidad}}</td>
              <td>{{programacion.persona.nombres}}</td>
              <td><div style="text-align: center"><button (click)="obtenerDetalleProgramacion(programacion.horaAtencion,programacion.programacion.cupos)" *ngIf="programacion.flag"><i class="fa fa-plus" ></i></button></div></td>
            </tr>
          </tbody>
          
        </table>
        
      </div>
      <br>
      <hr/>
    </div>
  </div>
</div>
</div>

