<mat-card class="matCardMin">
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion"> {{flag == 1 ? 'Registrar': 'Actualizar'}} Cobertura </mat-card-title>
    <div class="emp">
      <button class="mat-button-icon" mat-button (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <form #registrarCobertura="ngForm" novalidate name="registrarCobertura">
      <div class="card-body">

        <div class="row col-12">

          <!-- Convenio -->
          <div class="col-sm-6 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <mat-label>Convenios</mat-label>
              <mat-select placeholder="Seleccionar" name="convenios"
                (selectionChange)="seleccionarConvenio(paramsBusqueda.idConvenio)"
                [(ngModel)]="paramsBusqueda.idConvenio" required [disabled]="flag==2">
                <mat-option *ngFor="let co of convenio" [value]="co.idConvenio">
                  {{co.nombreConvenio}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Producto  -->
          <div class="col-sm-6 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <mat-label>Productos</mat-label>
              <mat-select placeholder="Seleccionar" name="productos"
                (selectionChange)="seleccionarProductos(paramsBusqueda.coProdCode)"
                [(ngModel)]="paramsBusqueda.coProdCode" [disabled]="flag==2" required>
                <mat-option *ngFor="let p of producto" [value]="p.coProdCode">
                  {{p.noProdName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Tipo Cobertura  -->
          <div class="col-sm-6 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <mat-label>Tipo Cobertura</mat-label>
              <mat-select placeholder="Seleccionar" name="coberturasTipo"
                (selectionChange)="seleccionarTipoCobertura(paramsBusqueda.coCoberCode)"
                [(ngModel)]="paramsBusqueda.coCoberCode" [disabled]="flag==2" required>
                <mat-option *ngFor="let cb of cobertura" [value]="cb.coCoberCode">
                  {{cb.noCoberCode}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Nombre del Cobertura -->
          <div class="col-sm-6 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <mat-label for="nomProducto">Ingresar Nombre Cobertura</mat-label>
              <input matInput type="text" name="nomProducto" #nomProducto="ngModel" id="nomProducto"
                [(ngModel)]="paramsBusqueda.noSubTipoCoberName" (keypress)="setInputPattern($event, 'soloUnEspacio')"
                [pattern]="setValidatorPattern('soloUnEspacio', setQuantifier('+'), true, true)" required />
            </mat-form-field>
          </div>

          <!-- Copago Fijo -->
          <div class="col-sm-6 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <mat-label for="copagoFijo">Ingresar Copago Fijo</mat-label>
              <input matInput type="text" name="copagoFijo" #copagoFijo="ngModel" id="copagoFijo"
                [(ngModel)]="paramsBusqueda.copagoFijo" (keypress)="setInputPattern($event, 'prices')" required
                [pattern]="setValidatorPattern('prices', setQuantifier('+'), true, true)" required />
            </mat-form-field>
          </div>

          <!-- Copago Variable -->
          <div class="col-sm-6 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <mat-label for="copagoVariable">Ingresar Copago Variable</mat-label>
              <input matInput type="text" name="copagoVariable" #copagoVariable="ngModel" id="copagoVariable"
                [(ngModel)]="paramsBusqueda.copagoVariable" (keypress)="setInputPattern($event, 'prices')" required
                [pattern]="setValidatorPattern('prices', setQuantifier('+'), true, true)" required />
            </mat-form-field>
          </div>

          <!-- CALIF SERVICIO -->
          <div class="col-sm-6 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <mat-label>Calif. Servicio</mat-label>
              <mat-select placeholder="Seleccionar" name="califServicio"
                (selectionChange)="seleccionarCalifServicio(paramsBusqueda.coCalifServCode)"
                [(ngModel)]="paramsBusqueda.coCalifServCode" required>
                <mat-option *ngFor="let lc of lsCalif" [value]="lc.coCalifServCode">
                  {{lc.noCalifServName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <div class="row">
          <div class="col-12 text-center" *ngIf="flag==1">
            <button mat-raised-button (click)="insertarNuevaCobertura()"
              [disabled]="isInvalid(registrarCobertura)">Registrar
            </button>
            <button mat-raised-button (click)="close(1)">Cancelar
            </button>
          </div>

          <div class="col-12 text-center" *ngIf="flag==2">
            <button mat-raised-button (click)="actualizarNuevaCobertura()"
              [disabled]="isInvalid(registrarCobertura)">Actualizar
            </button>
            <button mat-raised-button (click)="close(1)">Cancelar
            </button>
            <!--   -->
          </div>

        </div>

      </div>
    </form>
  </mat-card-content>

</mat-card>