<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion"> APROBAR PROGRAMACIÓN DEL PERSONAL - DETALLES DE PROGRAMACI&Oacute;N </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <br>
          <div class="row">
            <div class="col-6">
              <div class="form-grup form-group-sm row">
                <mat-form-field class="col-12">
                  <input matInput placeholder="Mes" [value]="totalHoras.mes" readonly="true">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="form-grup form-group-sm row">
                <mat-form-field class="col-12">
                  <input matInput placeholder="Año" [value]="totalHoras.anio" readonly="true">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="form-grup form-group-sm row">
                <mat-form-field class="col-12">
                  <input matInput placeholder="Profesional" [value]="totalHoras.nombrePersonal" readonly="true">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="form-grup form-group-sm row">
                <mat-form-field class="col-12">
                  <input matInput placeholder="Especialidad" [value]="totalHoras.especialidad" readonly="true">
                </mat-form-field>
              </div>
            </div>
          </div>





        </div>
        <div class="col-sm-12 col-md-6">
          <table class="table table-bordered table-sm">
            <tr>
              <th class="text-sm-center">Tot. Hrs. Normales</th>
              <th class="text-sm-center">Tot. Hrs. Extras</th>
            </tr>
            <tr>
              <td class="text-sm-center">{{totalHoras.horasNormalesTot}}</td>
              <td class="text-sm-center">{{totalHoras.horasExtrasTot}}</td>
            </tr>
            <tr>
              <th class="text-sm-center">Tot. Hrs. N. Aprobadas</th>
              <th class="text-sm-center">Tot. Hrs. E. Aprobadas</th>
            </tr>
            <tr>
              <td class="text-sm-center">{{totalHoras.horasNormalesAprobadasTot}}</td>
              <td class="text-sm-center">{{totalHoras.horasExtrasAprobadasTot}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row" [hidden]="flAprobadosAll">
      <div class="col-sm-12">
        <ul class="nav justify-content-center">
          <div class="form-grup form-group-sm row">
            <button mat-raised-button class="col-sm-12" color="primary"  *ngIf="estadoP=='Oculto'" (click)="modalConfirmacionTodosProg()"> Aprobar Todos </button>
          </div>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-grup form-group-sm row">
          <div class="col-sm-12">
            <mat-table #table [dataSource]="dataSource">

              <ng-container matColumnDef="programacionDia">
                <mat-header-cell *matHeaderCellDef> Día </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.programacionDia}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="areaDescripcion">
                <mat-header-cell *matHeaderCellDef> Area </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.areaDescripcion}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actividadDescripcion">
                <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.actividadDescripcion}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="horaInicio">
                <mat-header-cell *matHeaderCellDef> Inicio </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.horaInicio}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="horaFin">
                <mat-header-cell *matHeaderCellDef> Fin </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.horaFin}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="ambienteDescripcion">
                <mat-header-cell *matHeaderCellDef> Ambiente </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.ambienteDescripcion}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="aprobar">
                <mat-header-cell *matHeaderCellDef> Aprobar </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a *ngIf="element.programacionEstado=='Pendiente' && element.flMostrar==1" (click)="modalConfirmacionProg(element.idProgramacion, 'A')">
                    <i class="fa fa-check-circle"></i>
                  </a>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="bloquear">
                <mat-header-cell *matHeaderCellDef> Bloquear </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a *ngIf="(element.programacionEstado =='Aprobado' || element.programacionEstado =='Bloqueado') && element.flMostrar==1 && element.flAprobar=='0-0'">
                    <i *ngIf="element.programacionEstado =='Bloqueado'" (click)="modalConfirmacionProg(element.idProgramacion, 'B1')" class="fa fa-lock"></i>
                    <i *ngIf="element.programacionEstado !='Bloqueado'" (click)="modalConfirmacionProg(element.idProgramacion, 'B0')" class="fa fa-unlock"></i>
                  </a>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="suspender">
                <mat-header-cell *matHeaderCellDef> Suspender </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <a *ngIf="(element.programacionEstado =='Aprobado') && element.flMostrar==1 && element.flAprobar=='0-0'" (click)="modalSuspenderProg(element.idProgramacion, 'S')">
                    <i class="fa fa-clock-o"></i>
                  </a>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="estado">
                <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.programacionEstado}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<!-- <div class="card">
  <div class="card-header deep-orange lighten-1 white-text">
    APROBAR PROGRAMACIÓN DEL PERSONAL - DETALLES DE PROGRAMACI&Oacute;N
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2">
                <strong for="">Mes:</strong>
              </div>
              <div class="col-sm-4">
                <label for="">{{totalHoras.mes}}</label>
              </div>
              <div class="col-sm-2">
                <strong for="">Año:</strong>
              </div>
              <div class="col-sm-4">
                <label for="">{{totalHoras.anio}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2.5">
                <strong for="">Profesional:</strong>
              </div>
              <div class="col-sm-8">
                <label for="">{{totalHoras.nombrePersonal}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2.5">
                <strong for="">Especialidad:</strong>
              </div>
              <div class="col-sm-8">
                <label for="">{{totalHoras.especialidad}}</label>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <table class="table table-bordered table-sm">
              <tr>
                <th class="text-sm-center">Tot. Hrs. Normales</th>
                <th class="text-sm-center">Tot. Hrs. Extras</th>
              </tr>
              <tr>
                <td class="text-sm-center">{{totalHoras.horasNormalesTot}}</td>
                <td class="text-sm-center">{{totalHoras.horasExtrasTot}}</td>
              </tr>
              <tr>
                <th class="text-sm-center">Tot. Hrs. N. Aprobadas</th>
                <th class="text-sm-center">Tot. Hrs. E. Aprobadas</th>
              </tr>
              <tr>
                <td class="text-sm-center">{{totalHoras.horasNormalesAprobadasTot}}</td>
                <td class="text-sm-center">{{totalHoras.horasExtrasAprobadasTot}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-12" [hidden]="flAprobadosAll">
        <ul class="nav justify-content-center">
          <button type="button" class="btn btn-info" *ngIf="estadoP=='Oculto'" (click)="modalConfirmacionTodosProgramacion()">Aprobar Todos
            <span class="caret"></span>
          </button>
        </ul>
      </div>

      <div class="col-sm-12">
        <table class="table table-bordered table-sm table-hover">
          <thead>
            <tr class="text-center">
              <th>Día</th>
              <th>Área</th>
              <th>Actividad</th>
              <th>Inicio</th>
              <th>Fin</th>
              <th>Ambiente</th>
              <th>Aprobar</th>
              <th>Eliminar</th>
              <th>Bloquear</th>
              <th>Suspender</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody *ngIf="detalleProgramacion !=null">
            <tr *ngFor="let a of detalleProgramacion">
              <td>{{a.programacionDia}}</td>
              <td>{{a.areaDescripcion}}</td>
              <td class="text-sm-left">{{a.actividadDescripcion}}</td>
              <td>{{a.horaInicio}}</td>
              <td>{{a.horaFin}}</td>
              <td>{{a.ambienteDescripcion}}</td>
              <td align="center">
                <a *ngIf="a.programacionEstado=='Pendiente' && a.flMostrar==1" (click)="modalConfirmacionProgramacion(a.idProgramacion, 'A')">
                  <i class="fa fa-check-circle"></i>
                </a>
              </td>
              <td align="center">
                    <a *ngIf="a.programacionEstado !='Aprobado'" (click)="modalConfirmacionProgramacion(a.idProgramacion, 'E')">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
              <td align="center">
                <a *ngIf="(a.programacionEstado =='Aprobado' || a.programacionEstado =='Bloqueado') && a.flMostrar==1 && a.flAprobar=='0-0'">
                  <i *ngIf="a.programacionEstado =='Bloqueado'" (click)="modalConfirmacionProgramacion(a.idProgramacion, 'B1')" class="fa fa-lock"></i>
                  <i *ngIf="a.programacionEstado !='Bloqueado'" (click)="modalConfirmacionProgramacion(a.idProgramacion, 'B0')" class="fa fa-unlock"></i>
                </a>
              </td>
              <td align="center">
                <a *ngIf="(a.programacionEstado =='Aprobado') && a.flMostrar==1 && a.flAprobar=='0-0'" (click)="modalSuspenderProgramacion(a.idProgramacion, 'S')">
                  <i class="fa fa-clock-o"></i>
                </a>
              </td>
              <td align="center">{{a.programacionEstado}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div> -->