<h2 mat-dialog-title>Confirmar Anulaci&oacute;n
  <span class="example-spacer"></span>
  <button mat-button class="mat-button-icon" (click)="dismiss()">
    <div class="example-tooltip-host" matTooltip="Salir" [matTooltipPosition]="'above'">
      <span>
        <i class="material-icons">close</i>
      </span>
    </div>
  </button>
</h2>
<div class="modal-body">
  <div class="row">
    <div class="col-12 text-center"> ¿El paciente ya programado no se
                                        ah presentado a la cita?
    </div>
  </div>
</div>

<mat-dialog-actions class="modal-footer">
    <button mat-button (click)="cambiarEstadoPaciente()">Confirmar</button>
    <button mat-button (click)="dismiss()">Cancelar</button>
</mat-dialog-actions>
