<mat-card>
      <div class="sombreadoSubtitulos">
          <mat-card-title class="subtitulo-seccion">Elegir Grupo Medicamento</mat-card-title>
      </div>
       <div class="row card-body">
        <div class="col-sm-12 text-center mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width col-sm-3" style="text-align: center">
            <mat-select name="grupoMedicamentoSearch" id="grupoMedicamentoSearch" [(ngModel)]="grupoMedicamentoSelected" placeholder="Grupo de Medicamento"
              (ngModelChange)="clear()" disableRipple>
              <mat-option *ngFor="let gM of gruposMedicamentos" [value]="gM">
                {{ gM.valor }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
</mat-card>

<mat-card tabindex="-1">

  <div *ngIf="grupoMedicamentoSelected !== null">
    
      <!-- <mat-divider></mat-divider> -->
      <mat-card-header class="sombreadoSubtitulos content-padding">
        <mat-card-title class="subtitulo-seccion">
          {{grupoMedicamentoSelected.valor}}
        </mat-card-title>
        <div class="enlace-personalizado">
          <h6 class="text-right ">
            <a class="negrita" (click)="showModalRegistrarMedicamentoMaterial(1, null)">
              Nuevo {{ grupoMedicamentoSelected.valor }}
            </a>
          </h6>
          <!-- <button class="enlace negrita" type="button" (click)="filiarPersonaManual(BuscarPersonaForm)">Filiación Manual</button> -->

        </div>
      </mat-card-header>
      <div class="card-body">
      <!-- ROW DE 3 CODIGO - EAN13 - DCI PRODUCTO -->
      <div class="row center-row">
        <!-- codigo -->
        <div class="col-4 form-group">
          <mat-form-field class="example-full-width mat-form-field-flex2" hintLabel="Requeridos 12 carácteres">
            <mat-label for="codigoSearch">Código</mat-label>
            <input matInput type="text" name="codigoSearch" #codigoSearch="ngModel" id="codigoSearch" [(ngModel)]="paramsBusqueda.codigo"
              placeholder="Código del Medicamento" maxlength="12" (keypress)="setInputPattern($event, 'positiveDigits')">
            <button mat-button *ngIf="paramsBusqueda.codigo" matSuffix mat-icon-button aria-label="Clear" (click)="codigoSearch.reset()"
              tabindex="-1" [matTooltip]="toolTipClearOptions.text" [matTooltipPosition]="toolTipClearOptions.position">
              <mat-icon aria-hidden="true">close</mat-icon>
            </button>
            <mat-hint align="end">{{ codigoSearch.value?.length || 0 }}/12</mat-hint>
          </mat-form-field>
        </div>

        <!-- EAN13 -->
        <div class="col-4 form-group">
          <mat-form-field class="example-full-width mat-form-field-flex2" hintLabel="Requeridos 13 caracteres">
            <mat-label for="ean13Search">EAN-13 (Código de Barras)</mat-label>
            <input matInput type="text" name="ean13Search" #ean13Search="ngModel" id="ean13Search" [(ngModel)]="paramsBusqueda.ean13"
              placeholder="Identificación EAN-13" maxlength="13" (keypress)="setInputPattern($event, 'positiveDigits')">
            <button mat-button *ngIf="paramsBusqueda.ean13" matSuffix mat-icon-button aria-label="Clear" (click)="ean13Search.reset()"
              tabindex="-1" [matTooltip]="toolTipClearOptions.text" [matTooltipPosition]="toolTipClearOptions.position">
              <mat-icon aria-hidden="true">close</mat-icon>
            </button>
            <mat-hint align="end">{{ ean13Search.value?.length || 0 }}/13</mat-hint>
          </mat-form-field>
        </div>

        <!-- DCI PRODUCTO Y VIA DE ADMINSTRACION -->
        <div class="col-4 form-group">
          <mat-form-field class="example-full-width mat-form-field-flex2" *ngIf="grupoMedicamentoSelected.id === 1">
            <mat-label for="dciProductoFarmaceuticoSearch">DCI Producto Farmacéutico</mat-label>
            <input matInput type="text" name="dciProductoFarmaceuticoSearch" #dciProductoFarmaceuticoSearch="ngModel" id="dciProductoFarmaceuticoSearch"
              [(ngModel)]="paramsBusqueda.dciProductoFarmaceutico" placeholder="Denominación Común Internacional">
            <button mat-button *ngIf="paramsBusqueda.dciProductoFarmaceutico" matSuffix mat-icon-button aria-label="Clear" (click)="dciProductoFarmaceuticoSearch.reset()"
              tabindex="-1" [matTooltip]="toolTipClearOptions.text" [matTooltipPosition]="toolTipClearOptions.position">
              <mat-icon aria-hidden="true">close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="example-full-width mat-form-field-flex2" *ngIf="grupoMedicamentoSelected.id === 2">
            <mat-label for="viaAdministracionSearch">Vía de Administración</mat-label>
            <input matInput type="text" name="viaAdministracionSearch" #viaAdministracionSearch="ngModel" id="viaAdministracionSearch"
              [(ngModel)]="paramsBusqueda.viaAdministracion" placeholder="Vía de Administración">
            <button mat-button *ngIf="paramsBusqueda.viaAdministracion" matSuffix mat-icon-button aria-label="Clear" (click)="viaAdministracionSearch.reset()"
              tabindex="-1" [matTooltip]="toolTipClearOptions.text" [matTooltipPosition]="toolTipClearOptions.position">
              <mat-icon aria-hidden="true">close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>

      <!-- ROW 2 -->
      <div class="row center-row ">
        <div class="col-4 form-group" *ngIf="grupoMedicamentoSelected.id === 1">

          <mat-form-field class="example-full-width mat-form-field-flex2">
            <mat-select name="tipoProductoFarmaceuticoSearch" #tipoProductoFarmaceuticoSearch="ngModel" id="tipoProductoFarmaceuticoSearch"
              [(ngModel)]="paramsBusqueda.tipoProductoFarmaceutico" placeholder="Tipo de Producto Farmacéutico" disableRipple>
              <mat-option *ngFor="let tPF of combosLista.tipoProductoFarmaceutico.list" [value]="tPF.id">
                {{ tPF.valor }}
              </mat-option>
            </mat-select>
            <button mat-button *ngIf="paramsBusqueda.tipoProductoFarmaceutico" matSuffix mat-icon-button aria-label="Clear" (click)="tipoProductoFarmaceuticoSearch.reset()"
              tabindex="-1" [matTooltip]="toolTipClearOptions.text" [matTooltipPosition]="toolTipClearOptions.position">
              <mat-icon aria-hidden="true">close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="col-6 form-group" *ngIf="grupoMedicamentoSelected.id === 2">
          <mat-form-field class="example-full-width mat-form-field-flex3">
            <mat-label for="dciDispMedicoProdSanitarioSearch">DCI Dispositivo Médico y/o Producto Sanitario</mat-label>
            <input matInput type="text" name="dciDispMedicoProdSanitarioSearch" #dciDispMedicoProdSanitarioSearch="ngModel" id="dciDispMedicoProdSanitarioSearch"
              [(ngModel)]="paramsBusqueda.dciDispMedicoProdSanitario" placeholder="Denominación Común Internacional">
            <button mat-button *ngIf="paramsBusqueda.dciDispMedicoProdSanitario" matSuffix mat-icon-button aria-label="Clear" (click)="dciDispMedicoProdSanitarioSearch.reset()"
              tabindex="-1" [matTooltip]="toolTipClearOptions.text" [matTooltipPosition]="toolTipClearOptions.position">
              <mat-icon aria-hidden="true">close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="col-4 form-group" *ngIf="grupoMedicamentoSelected.id === 1">
          <mat-form-field class="example-full-width mat-form-field-flex2">
            <mat-label for="nombreComercialSearch">Nombre Comercial</mat-label>
            <input matInput type="text" name="nombreComercialSearch" #nombreComercialSearch="ngModel" id="nombreComercialSearch" [(ngModel)]="paramsBusqueda.nombreComercial"
              placeholder="Nombre Comercial" (keypress)="setInputPattern($event, 'letters')">
            <button mat-button *ngIf="paramsBusqueda.viaAdministracion" matSuffix mat-icon-button aria-label="Clear" (click)="nombreComercialSearch.reset()"
              tabindex="-1" [matTooltip]="toolTipClearOptions.text" [matTooltipPosition]="toolTipClearOptions.position">
              <mat-icon aria-hidden="true">close</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="col-4 text-right alinear-derecha" *ngIf="grupoMedicamentoSelected.id === 1">
          <button mat-raised-button (click)="searchMedicamentos()">Buscar</button>
          <button mat-raised-button (click)="clear()">Limpiar</button>
        </div>

        <div class="col-4 text-right alinear-derecha2" *ngIf="grupoMedicamentoSelected.id === 2">
          <button mat-raised-button (click)="searchMedicamentos()">Buscar</button>
          <button mat-raised-button (click)="clear()">Limpiar</button>
        </div>
      </div>
    </div>
   

    <mat-card-content class="content-padding">
      <mat-table [dataSource]="matDataSource" matSort>
        <!-- # -->
        <ng-container matColumnDef="numOrder">
          <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
          <mat-cell *matCellDef="let medDisp"> {{ medDisp.numOrder }} </mat-cell>
        </ng-container>
        <!-- Código -->
        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
          <mat-cell *matCellDef="let medDisp"> {{ medDisp.codigo }} </mat-cell>
        </ng-container>
        <!-- DCI Producto Farmacéutico -->
        <div *ngIf="grupoMedicamentoSelected.id === 1">
          <ng-container matColumnDef="dciProductoFarmaceutico">
            <mat-header-cell *matHeaderCellDef matTooltip="DCI Producto Farmacéutico" [matTooltipPosition]="'above'"> DCI P. Farmacéutico </mat-header-cell>
            <mat-cell *matCellDef="let medDisp">
              {{ medDisp.dciProductoFarmaceutico }}
            </mat-cell>
          </ng-container>
        </div>
        <!-- DCI Dispositivo Médico -->
        <div *ngIf="grupoMedicamentoSelected.id === 2">
          <ng-container matColumnDef="dciDispMedicoProdSanitario">
            <mat-header-cell *matHeaderCellDef> DCI Dispositivo Médico </mat-header-cell>
            <mat-cell *matCellDef="let medDisp">
              {{ medDisp.dciDispMedicoProdSanitario }}
            </mat-cell>
          </ng-container>
        </div>
        <!-- Forma Farmacéutica -->
        <div *ngIf="grupoMedicamentoSelected.id === 1">
          <ng-container matColumnDef="formaFarmaceutica">
            <mat-header-cell *matHeaderCellDef> Forma Farmacéutica </mat-header-cell>
            <mat-cell *matCellDef="let medDisp">
              {{ medDisp.formaFarmaceutica }}
            </mat-cell>
          </ng-container>
        </div>
        <!-- Tipo de Dispositivo -->
        <div *ngIf="grupoMedicamentoSelected.id === 2">
          <ng-container matColumnDef="tipoDispositivo">
            <mat-header-cell *matHeaderCellDef> Tipo de Dispositivo </mat-header-cell>
            <mat-cell *matCellDef="let medDisp">
              {{ medDisp.nomTipoDisp }}
            </mat-cell>
          </ng-container>
        </div>
        <!-- Precio de Compra -->
        <!-- <ng-container matColumnDef="precioCompra">
          <mat-header-cell *matHeaderCellDef> Precio de Compra </mat-header-cell>
          <mat-cell *matCellDef="let medDisp"> {{ medDisp.precioCompra ? medDisp.precioCompra :('—')}} </mat-cell>
        </ng-container> -->
        <!-- Precio de Venta -->
        <ng-container matColumnDef="precioVenta">
          <mat-header-cell *matHeaderCellDef> Precio de Venta </mat-header-cell>
          <mat-cell *matCellDef="let medDisp"> S/{{ medDisp.precioVentaDecimal ? medDisp.precioVentaDecimal: ('—')}} </mat-cell>
        </ng-container>
        <!-- Editar -->
        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef disabled> Editar </mat-header-cell>
          <mat-cell *matCellDef="let medDisp">
            <button mat-button (click)="showModalRegistrarMedicamentoMaterial(2, medDisp)">
              <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">edit</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="eliminar">
          <mat-header-cell *matHeaderCellDef disabled> Eliminar </mat-header-cell>
          <mat-cell *matCellDef="let medDisp">
            <button mat-button (click)="deleteMedicamento(medDisp)">
              <div class="example-tooltip-host" matTooltip="Eliminar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">delete</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>
        <!-- Header -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
        showFirstLastButtons></mat-paginator>
    </mat-card-content>
    <!-- </font>
          </div>
        </div>
      </mat-card>
    </mat-card-footer> -->
  </div>
</mat-card>
<!-- </div> -->
<!-- <br> -->