 .table thead th {
     vertical-align: middle;
     border-bottom: 1px solid #dee2e6!important;
 }

 .table tbody th {
     vertical-align: middle;
 }

 input {
     text-align: left;
 }

 .row-fluid {
     margin-left: 75px;
     margin-right: 75px;
 }

 mat-card-header,
 mat-card-content,
 mat-card-footer {
     padding: 10px;
 }

 .mat-table {
     overflow: auto;
     max-height: 600px;
     text-align: center;
 }

 .mat-header-cell {
     color: black;
     display: flex;
     justify-content: center;
 }

 .alinear-derecha {
    margin-top: 25px;
    margin-left: -115px;
 }

 .alinear-derecha2 {
    margin-top: 25px; 
    margin-left: 100px;
 }

 .right-enlace {
    margin-left: 40px;
 }

 .center-row{
    padding-left: 30px;
 }

 .enlace-personalizado {
    right: 25px !important;
    margin-top: 15px;
    position: fixed !important;
    font-size: 14px !important;
    color: #2e86de !important;
 }

 .nuevo-margin {
    margin-bottom: -34px;
 }

 .content-padding {
    padding:0px !important;
 }