.alinearBotones {
    display: flex;
    flex-direction: row;
    margin-left: -20px;
    margin-top: 15px;
}
.alinearlosInput{
    
    padding-left: 2.50%;
}
.padCero{
    padding: 0px!important;
}
.labelEstilo{
    font-size: 12px;
    font-weight: 600;
    padding-left: 0.5%;
}
.viñeta{
    padding-top: 4%;
    color:#555;
    margin-left: -7%;
}
.viñeMargin{
    margin-left: 0px !important;
}
.viñeta2{
    padding-top: 3%;
}
.alinearLabel{
    font-size: 13px;
    color: #666;
    /* font-weight: 600; */
    margin-top: 6px;
    padding-left: 5px;
}