.separador{
    margin-top: 15px;
}

.separadorintermedio{
    margin-top: -10px;
}

.separador2{
    margin-top: 30px;
}

.separador3{
    margin-top: 20px;
}

.boton{
    margin-left: 57px;
    margin-top: 40px;
}

.agregar{
    text-align: right;
    margin-left: -111px;
    margin-top: 41px;
}
.ocultarv2{
    text-align: right;
    margin-left: -114px;
    margin-top: -19px;
    height: 0px;
}
.alinearJustificar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.margenArriba{
    padding-top: 1%;
}
.customWidthClass{ 
    flex: 0 0 200px; 
}