<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Búsqueda de Servicios por Coberturas</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class=col-sm-12>
      <div class="card-body">
        <div class="row displayCenter">
 
       
            <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Convenios</mat-label>
                    <mat-select placeholder="Seleccionar" name="Lsconvenio" (selectionChange)="seleccionarConvenio()" [(ngModel)]="paramsBusqueda.idConvenio"
                      required>
                      <mat-option *ngFor="let co of Lsconvenio" [value]="co.idConvenio">
                        {{co.nombreConvenio}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Seleccione el nombre del Producto" [(ngModel)]="requestParam.coProdCode">
                      <mat-option>Seleccione el nombre del Producto</mat-option>
                      <mat-option *ngFor="let ls of producto" [value]="ls.coProdCode"> {{ls.noProdName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
           <div class="col-sm-2 ">
                <button mat-raised-button class="" (click)="obtenerServicioCobertura()" [disabled]="!requestParam.coProdCode">Buscar</button>
           </div>
       
          </div>
        
      </div>
    </div>

    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="Id Cobertura">
        <mat-header-cell *matHeaderCellDef> ID Cobertura </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.coCoberCode}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Codigo Cobertura">
        <mat-header-cell *matHeaderCellDef> Codigo Cobertura </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.coSubTipoCober}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef>Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.noSubTipoCoberName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Servicios">
        <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado2'">Servicios </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'anchoListado2'"> {{element.desccccc}}</mat-cell>

      </ng-container>

      <ng-container matColumnDef="Asignar Servicio">
        <mat-header-cell *matHeaderCellDef> Asignar Servicio </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button>
            <i class="material-icons" (click)="ingresarNuevoServicioCobertura(element)">call_made</i>
          </button>
        </mat-cell>
      </ng-container>


      <!-- aqui no -->
      <!-- <ng-container matColumnDef="editar">
        <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button>
            <i class="material-icons" (click)="editarCaja(element)">create</i>
          </button>
        </mat-cell>
      </ng-container> -->

      <!-- <ng-container matColumnDef="eliminar">
        <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button>
            <i class="material-icons" (click)="eliminar(element)">delete_forever</i>
          </button>
        </mat-cell>
      </ng-container> -->

      <!-- aqui descomentar -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <!-- aqui descomentar -->

    <mat-paginator [pageSizeOptions]="displayedSize" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
      showFirstLastButtons></mat-paginator>

  </mat-card-content>
</mat-card>