<div class="modal-header">
  <h4 class="modal-title">ver detallado</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>¿Desea eliminar la Receta?</label>

  </div>
</div>
<mat-dialog-actions class="modal-footer">
  <button type="button" style="width:64px" class="btn btn-outline-dark" (click)="close()"> Cerrar </button>
</mat-dialog-actions>
<!--<div class="modal-footer">
 <button type="button" style="width:64px" class="btn btn-danger" (click)="deleteReceta()">Sí</button> 
</div>
-->