<div class="container-fluid">
  <div class="row">
    <div class="col-12 bhoechie-tab-container">
      <div class="col-0 bhoechie-tab-menu">
        <div class="list-group">
          <a (click)="activarTab(1)" class="list-group-item {{activo[0].laboActive}}  text-center">
            <h4 class="glyphicon glyphicon-plane"></h4>
            <br/>Laboratorio
          </a>
          <a (click)="activarTab(2)" class="list-group-item {{activo[0].imagActive}}   text-center">
            <h4 class="glyphicon glyphicon-road"></h4>
            <br/>Imagenologia
          </a>
        </div>
      </div>
      <div class="col-9 bhochie-tab">
        <div class="bhoechie-tab-content active">
          <div *ngIf="arrayFlag[0].laboFlag">
            <app-examenes-laboratorio>
            </app-examenes-laboratorio>
          </div>
          <div *ngIf="arrayFlag[0].imagFlag">
            <app-examenes-imagenologia>
            </app-examenes-imagenologia>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>