<!-- <div class="modal-header text-center sombreadoSubtitulos">
  <h5 class="subtitulo-seccion text-center">Confirmaci&oacute;n Acreditaci&oacute;n</h5>
  
</div>
<div class="modal-body">
  <div class="col-12 text-center"> ¿Esta seguro de usar la cobertura <b> {{nombreCoberturaModal}}</b>?</div>
  <br>
  <div class="col-12 text-center">
    <button type="button" mat-raised-button (click)="guardarAcreditacion()">SI</button>
    <button type="button" mat-raised-button (click)="dismiss()">NO</button>
  </div>
</div> -->