.matardisabled {
  pointer-events: none;
  color: #b5b5b5;
}
.mat-column-num {
  flex: 0 0 5%;
}
.mat-column-editar {
  flex: 0 0 6%;
}
.mat-column-eliminar {
  flex: 0 0 7%;
}
.danger{
    color: #D32F2F!important;
}