<div class="col-lg-12">
  <mat-card tabindex="-1">

    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Reporte de Abastecimiento</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <form #buscarAbastecimiento="ngForm" novalidate name="buscarAbastecimiento">

        <div class="card-body">

          <!-- GRUPO MEDICAMENTO -->
          <div class="col-md-12">

            <div class="row">

              <div class="col-4">
                <mat-form-field class="example-full-width">
                  <mat-select #listaOpciones (change)="placeDesc(listaOpciones.value,buscarAbastecimiento.form.controls.descMedicReport)" [(ngModel)]="flgMedicDisp"
                    placeholder="Seleccionar Grupo Medicamento" name="comboTipoMedic" disableRipple>
                    <mat-option *ngFor="let gM of gruposMedicamentos" [value]="gM.id">
                      {{gM.valor}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4 mdl-input-group mdl-input-group__only" *ngIf="flgMedicDisp!=null">
                <mat-form-field class="example-full-width">
                  <mat-label>{{ descripAutoComplete }}:</mat-label>
                  <input matInput [matAutocomplete]="auto" name="descMedicReport" #descMedicReport="ngModel" id="descMedicReport" [(ngModel)]="productoDescripcion"
                    (input)="buscarMedicDispProdDescripcion($event.target.value)" />
                  <mat-error>
                    <app-validators-messages [controlVar]="descMedicReport" labelName="Producto Farmacútico/Dispositivo Médico">
                      <!-- [ngDirty]="true" [ngTouched]="true" -->
                    </app-validators-messages>
                  </mat-error>
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <div>
                      <mat-option (onSelectionChange)="seleccionaMedicamento(dispMeD)" *ngFor="let dispMeD of filteredDispMedi" [value]="dispMeD.dispositivoMedicamento +' '+ dispMeD.marca + ' ' + (dispMeD.presentacion ? dispMeD.presentacion
                      : '') + ' ' + (dispMeD.viaAdministracion ? dispMeD.viaAdministracion : '') + ' ' + dispMeD.formaFarmaceutica
                      +' '+ dispMeD.concentracion">
                        <span>{{ dispMeD.dispositivoMedicamento +' '+ dispMeD.marca + ' ' + (dispMeD.presentacion ? dispMeD.presentacion
                          : '') + ' ' + (dispMeD.viaAdministracion ? dispMeD.viaAdministracion : '') + ' ' + dispMeD.formaFarmaceutica
                          +' '+ dispMeD.concentracion }}
                        </span>
                      </mat-option>
                    </div>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-2 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" [matDatepicker]="dp" name="feIniForm" #feIniForm="ngModel" [(ngModel)]="feIni" [maxDate]="feFin"
                    placeholder="Desde:" required>
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                  <mat-error>
                    <app-validators-messages [controlVar]="feIniForm" labelName="Fecha Desde">
                      <!-- [ngDirty]="true" [ngTouched]="true" -->
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-2 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" [matDatepicker]="dpp" name="feFinForm" #feFinForm="ngModel" [(ngModel)]="feFin" [minDate]="feIni"
                    placeholder="Hasta:" required>
                  <mat-datepicker-toggle matSuffix [for]="dpp"></mat-datepicker-toggle>
                  <mat-datepicker #dpp></mat-datepicker>
                  <mat-error>
                    <app-validators-messages [controlVar]="feFinForm" labelName="Fecha Hasta">
                      <!-- [ngDirty]="true" [ngTouched]="true" -->
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-12 text-right marBtn">
                <button mat-raised-button (click)="buscarAbastecimientoMedicamentos(1)" [disabled]="isInvalid(buscarAbastecimiento)">Buscar
                </button>
                <button mat-raised-button (click)="imprimePDF_Excel(2)">Imprimir PDF</button>
                <button mat-raised-button (click)="imprimePDF_Excel(1)">Imprimir Excel</button>
              </div>
            </div>

          </div>

        </div>

      </form>

    </mat-card-content>

    <mat-card-content>
      <!-- INICIA TABLA -->

      <div class="table responsive" *ngIf="almMedicList.length!=0">

        <mat-table #table [dataSource]="dataSource" matSort>

          <!-- CODIGO -->
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let almMedicList"> {{ almMedicList.medicamento.codigo }} </mat-cell>
          </ng-container>

          <!-- DCI MEDICAMENTO -->
          <ng-container matColumnDef="dci">
            <mat-header-cell *matHeaderCellDef>Producto Farmaceútico/Dispositivo Médico</mat-header-cell>
            <mat-cell *matCellDef="let almMedicList"> {{ almMedicList.medicamento.dciProductoFarmaceutico + ' ' + almMedicList.medicamento.concentracion }} </mat-cell>
          </ng-container>

          <!-- STOCK -->
          <ng-container matColumnDef="stock">
            <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let almMedicList"> {{ almMedicList.stockUnidad }} </mat-cell>
          </ng-container>

          <!-- VALOR -->
          <ng-container matColumnDef="valor">
            <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
            <mat-cell *matCellDef="let almMedicList"> {{ almMedicList.sumaTotal }} </mat-cell>
          </ng-container>

          <!-- Header -->
          <mat-header-row *matHeaderRowDef="displayedColumnsA"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsA;">
          </mat-row>
        </mat-table>

        <!-- PAGINADOR -->
        <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
          showFirstLastButtons></mat-paginator>
        <!--  -->
      </div>

    </mat-card-content>

  </mat-card>
</div>