<!-- <div class="col-12" style="text-align: center">
<br>
  <h5 class="text-center subtitulo-seccion">
    {{descripAlmacen}} - {{almacenSolicitante}}
  </h5>
</div> -->
<mat-card>
  <!-- <mat-card-header class="sombreadoSubtitulos separacion">
    <mat-card-title class="subtitulo-seccion">Búsqueda de Solicitud </mat-card-title>
    <div class="button-position" style="margin-left: 70%; margin-top: 1%;">
      <button class="border-botton" mat-raised-button (click)="hayCorrelativo()">Nuevo Requerimiento
      </button>
    </div>
  </mat-card-header> -->

  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
      <mat-card-title class="subtitulo-seccion">  {{descripAlmacen}} - {{almacenSolicitante}}</mat-card-title>
      <div class="emp">
        <button class="enlace negrita " type="button" (click)="modalNuevoRequerimiento()">Busqueda de Solicitud</button>
      </div>
    </mat-card-header>

  <mat-card-content>
    <div class="card-body text-center">
      <div class="row">
        <!--FECHA DESDE-->
        <div class="col-sm-3 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width mat-form-field-flex4">
            <input matInput [matDatepicker]="dp" name="feDesdeForm" #feDesdeForm="ngModel" [(ngModel)]="feDesde" [maxDate]="feHasta"
              placeholder="Desde:" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp disabled="false"></mat-datepicker>
            <mat-error>
              <app-validators-messages [controlVar]="feDesdeForm" labelName="Fecha Desde">
                <!-- [ngDirty]="true" [ngTouched]="true" -->
              </app-validators-messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!--FECHA HASTA-->
        <div class="col-sm-3 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width mat-form-field-flex4">
            <input matInput [matDatepicker]="dpp" name="feHastaForm" #feHastaForm="ngModel" [(ngModel)]="feHasta" placeholder="Hasta:"
              [minDate]="feDesde" disabled>
            <mat-datepicker-toggle matSuffix [for]="dpp"></mat-datepicker-toggle>
            <mat-datepicker #dpp disabled="false"></mat-datepicker>
            <mat-error>
              <app-validators-messages [controlVar]="feHastaForm" labelName="Fecha Hasta">
                <!-- [ngDirty]="true" [ngTouched]="true" -->
              </app-validators-messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!--Select Estado-->
        <div class="col-sm-3 mdl-input-group mdl-input-group__only">
          <mat-form-field class="example-full-width mat-form-field-flex4">
            <mat-select #listaOpciones placeholder="Estado" [(ngModel)]="params.flEstadoComprobante">
              <mat-option>
                <strong>Seleccionar</strong>
              </mat-option>
              <mat-option value="E">
                Atendido
              </mat-option>
              <mat-option value="C">
                Confirmado
              </mat-option>
              <mat-option value="P">
                Pendiente
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3 text-right espa">
          <button class="border-botton" mat-raised-button (click)="limpiarCampos()"> Limpiar
          </button>
          <button class="border-botton" mat-raised-button (click)="getComprobanteFarmacia()">Buscar
          </button>
        </div>

      </div>
    </div>
  </mat-card-content>

  <mat-card-content>
    <div class="table responsive">
      <mat-table #table [dataSource]="dataSource">
        <!-- # -->
        <ng-container matColumnDef="numOrder">
          <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.numOrder }} </mat-cell>
        </ng-container>
        <!-- Nro. de Solicitud -->
        <ng-container matColumnDef="numeroSolicitud">
          <mat-header-cell *matHeaderCellDef> Nro. de Solicitud </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.numeroComprobante}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Fecha">
          <mat-header-cell *matHeaderCellDef> Fecha de Creación </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.feComprobante | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Estado">
          <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.flEstadoComprobante}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef> Visualizar </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="modalVisualizarSolicitud(element.idComprobante)">
              <div class="example-tooltip-host" matTooltip="Visualizar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">visibility</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="confirmacion">
          <mat-header-cell *matHeaderCellDef> Confirmación </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button *ngIf='element.flEstadoComprobante=="Atendido"' mat-raised-button (click)="confirmarSolicitud(element.idComprobante)"
              disabled="{{element.disableConfirmar}}">
              Confirmar
            </button>
            <span *ngIf='element.flEstadoComprobante!="Atendido"'> - </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="eliminar">
          <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button (click)="eliminarSolicitud(element.idComprobante)" disabled="{{element.disableEliminar}}">
              <div class="example-tooltip-host" matTooltip="Eliminar Solicitud" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">delete</i>
                </span>
              </div>
              <!-- Eliminar -->
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsSolicitudes"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsSolicitudes;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
