<mat-card class="matCardMin"> 
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">{{ noComprobante }}</mat-card-title>
    <div class="emp"> 
        <button mat-button class="mat-button-icon" (click)="close()">
          <div class="example-tooltip-host" matTooltip="Salir">
            <span>
              <i class="material-icons">close</i>
            </span>
          </div>
        </button>
      </div>
  </mat-card-header>
  <mat-card-content>
      <div class="container form-group">
  <div class="col-12">
    <div class="contenedorcomprobante">
      <div class="text-center">
        <!-- <h2 class="material-icons">{{ noComprobante }}</h2> -->
        <br> 
        <h6 *ngIf="dataCabe.rucIpress!=null"> <b>{{descripcionRuc}}</b> {{ dataCabe.rucIpress }}</h6> 
        <h6> <b>{{descripcionRuc}}</b>  {{ dataCabe.serieComprobante }}</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <label class="negrita">{{ titulos.titulo1 }}</label>
        <br>
        <label>{{ dataCabe.value1 }}</label>
      </div>
      <div class="col-3">
        <label class="negrita">{{ titulos.titulo2 }}</label>
        <br>
        <label>{{ dataCabe.value2 }}</label>
      </div>
    
      <!-- <div class="col-3">
        <label class="negrita">{{ titulos.titulo5 }}</label>
        <label>{{ dataCabe.value5 }}</label>
      </div> -->
      
      <div class="col-3">
          <label class="negrita">{{ titulos.titulo3 }}</label>
          <label>{{ dataCabe.value3 }}</label>
        </div>
        <div class="col-3">
            <label class="negrita">{{ titulos.titulo4 }}</label>
            <label>{{ dataCabe.value4 }}</label>
          </div>
        </div>


    <div>
      <mat-table #table [dataSource]="dsComprobanteD">

        <ng-container matColumnDef="idItem">
          <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.idItem}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombreItem">
          <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
          <mat-cell *matCellDef="let element"  ngbPopover="{{element.nombreItem}}" triggers="mouseenter:mouseleave" popoverTitle="Orden de Cobro"> {{element.nombreItem | truncate: 50}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cantidad">
          <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="precioUnitario">
          <mat-header-cell *matHeaderCellDef matTooltip="Precio Unitario" matTooltipPosition="above"> Precio.U </mat-header-cell>
          <mat-cell *matCellDef="let element">S/{{element.precioUnitario}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descuento">
          <mat-header-cell *matHeaderCellDef> Descuento </mat-header-cell>
          <mat-cell *matCellDef="let element">S/{{element.descuento}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="precioSubtotal">
          <mat-header-cell *matHeaderCellDef matTooltip="Valor de Venta" matTooltipPosition="above"> V.Venta</mat-header-cell>
          <mat-cell *matCellDef="let element">S/{{element.precioSubtotal}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tablaDetalle"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tablaDetalle;"></mat-row>
      </mat-table>
      <div class="col-12 personal">
          <h6 class="" *ngIf="dataCabe.subTotal!=null"> <b>Subtotal:</b> {{dataCabe.subTotal}}</h6>
          <h6 class="" *ngIf="dataCabe.igv!=null"> <b>IGV:</b> {{dataCabe.igv}}</h6>
          <h6 class=""><b>Total:</b> S/ {{dataCabe.montoPago}}</h6>
          <h6 class=""> <b>Son:</b> {{dataCabe.montoLetras}}</h6>
          <button mat-raised-button (click)="imprimePDF(2)">Imprimir</button>
      </div>
 
       
    </div>
  </div>
</div>
  </mat-card-content>
</mat-card>
