<div class="container-fluid" *ngIf="detalleDisabled">

  <mat-card>
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion"> Datos de Busqueda </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-body">

        <div class="row">
          <div class="col-3">
            <div class="form-grup form-group-sm">
              <mat-form-field class="example-full-width  ">
                <mat-select placeholder="Mes" [(ngModel)]="aprobRequest.mes" name="mes_aprobacion" #mes_aprobacion="ngModel">
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let m of meses" [value]="m.id"> {{m.valor}} </mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-3">
            <div class="form-grup form-group-sm">
              <mat-form-field class="example-full-width  ">
                <mat-select placeholder="Año" [(ngModel)]="aprobRequest.anio" name="anio_aprobacion" #anio_aprobacion="ngModel">
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let a of anios" [value]="a.valor"> {{a.valor}} </mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-3">
            <div class="form-grup form-group-sm ">
              <mat-form-field class="example-full-width  ">
                <mat-select placeholder="Especialidad" [(ngModel)]="aprobRequest.idEspecialidad" name="especialidad_aprobacion"
                  #especialidad_aprobacion="ngModel">
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let e of especialidades" [value]="e.idEspecialidad">
                    {{e.descripcionEspecialidad}} </mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-3 pad-top2">

            <button mat-raised-button class="border-button" (click)="getAllAreasHosp(); getAllProgramacionPersonales()">
              Buscar </button>

          </div>
        </div>

      </div>
    </mat-card-content>
  </mat-card>

  <!-- <div class="card">
    <div class="card-header deep-orange lighten-1 white-text">
      Datos de búsqueda.
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="">Mes:</label>
            <select class="custom-select form-control form-control-sm input-sm" [(ngModel)]="aprobRequest.mes">
              <option value="0">Seleccione Mes</option>
              <option *ngFor="let mes of meses" [ngValue]="mes.id">{{mes.valor}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for=""> Año: </label>
            <select class="custom-select form-control form-control-sm" [(ngModel)]="aprobRequest.anio">
              <option value="0">Seleccione Año</option>
              <option *ngFor="let anio of anios" [ngValue]="anio.valor">{{anio.valor}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="">Especialidad:</label>
            <select class="custom-select form-control form-control-sm width-15" [(ngModel)]="aprobRequest.idEspecialidad">
              <option value="0">Seleccione Especialidad</option>
              <option *ngFor="let esp of especialidades" value="{{esp.idEspecialidad}}">{{esp.descripcionEspecialidad}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <br>
            <button type="button" class="btn btn-info" (click)="getAllAreasHosp(); getAllProgramacionPersonales()">Buscar
              <span class="caret"></span>
            </button>
            <button type="button" class="btn btn-info" (click)="getAllProgramacionPersonales()">Buscar<span class="caret"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <br>

  <mat-card *ngIf="flVisible==true">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion"> Programaci&oacute;n
        <span>: {{descMes}} del {{descanio}} - {{descEspecialidad}}</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered table-sm table-hover">
              <tr>
                <td class="font-weight-bold">HNP</td>
                <td>Horas normales programadas</td>
                <td class="font-weight-bold text-right">HEP</td>
                <td>Horas extras programadas</td>
              </tr>
              <tr>
                <td class="font-weight-bold">HNA</td>
                <td>Horas normales aprobadas</td>
                <td class="font-weight-bold text-right">HEA</td>
                <td>Horas extras aprobadas</td>
              </tr>
              <tr>
                <td class="font-weight-bold">HNS</td>
                <td>Horas normales suspendidas</td>
                <td class="font-weight-bold text-right">HES</td>
                <td>Horas extra suspendidas</td>
              </tr>
            </table>
          </div>
          <div class="col-12">

            <div class="form-grup form-group-sm row">
              <div class="col-sm-12">
                <mat-table #table [dataSource]="dataSource">

                  <ng-container matColumnDef="nombreApellido">
                    <mat-header-cell *matHeaderCellDef> Apellidos y Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.personalApellidoPaterno}}
                      {{element.personalApellidoMaterno}} {{element.personalNombre}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="HNP">
                    <mat-header-cell *matHeaderCellDef> HNP </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horasNormalesProgramadas}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="HNA">
                    <mat-header-cell *matHeaderCellDef> HNA </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horasNormalesAprobadas}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="HNS">
                    <mat-header-cell *matHeaderCellDef> HNS </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horasNormalesSuspendidas}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="HEP">
                    <mat-header-cell *matHeaderCellDef> HEP </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horasExtrasProgramadas}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="HEA">
                    <mat-header-cell *matHeaderCellDef> HEA </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horasExtrasAprobadas}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="HES">
                    <mat-header-cell *matHeaderCellDef> HES </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horasExtrasSuspendidas}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="Ver">
                    <mat-header-cell *matHeaderCellDef> Ver </mat-header-cell>
                    <mat-cell *matCellDef="let element">

                      <button mat-icon-button [disabled]="element.disable" (click)="redirige(element.idPersonal,aprobRequest.idEspecialidad,aprobRequest.anio,aprobRequest.mes)">
                        <div class="example-tooltip-host" matTooltip="Ver" [matTooltipPosition]="'above'">
                            <mat-icon >remove_red_eye</mat-icon>
                          <!-- <span>
                            <i class="material-icons">visibility</i>
                          </span> -->
                        </div>
                      </button>
                      <!-- <button mat-icon-button class="{{element.disable}}" (click)="redirige(element.idPersonal,aprobRequest.idEspecialidad,aprobRequest.anio,aprobRequest.mes)">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button> 
                      
                      <i class="fa fa-eye" aria-hidden="true"></i> -->
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>
              </div>
            </div>

          </div>
          <br>
          <br>
          <div class="col-12">

            <div class="form-grup form-group-sm row">
              <div class="col-sm-12">
                <mat-table #table [dataSource]="dataSource1">

                  <ng-container matColumnDef="areaDescripcion">
                    <mat-header-cell *matHeaderCellDef> Areas Hospitalarias </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.areaDescripcion}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="horasNormalesProgramadas">
                    <mat-header-cell *matHeaderCellDef  matTooltip="Horas Normales Programadas" matTooltipPosition="Horas Normales Programadas" matTooltipPosition="above" >  H. Nor Programadas </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horasNormalesProgramadas}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="horasNormalesAprobadas">
                    <mat-header-cell *matHeaderCellDef  matTooltip="Horas Normales Aprobadas" matTooltipPosition="Horas Normales Aprobadas" matTooltipPosition="above"> H. Nor. Aprobadas </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horasNormalesAprobadas}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="horasNormalesSuspendidas">
                    <mat-header-cell *matHeaderCellDef  matTooltip="Horas Normales Suspendidas" matTooltipPosition="Horas Normales Suspendidas" matTooltipPosition="above"> H. Norm. Suspendidas </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horasNormalesSuspendidas}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="horasExtrasProgramadas">
                    <mat-header-cell *matHeaderCellDef  matTooltip="Horas Extras Programadas" matTooltipPosition="Horas Extras Programadas" matTooltipPosition="above"> H. Ext. Programadas </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horasExtrasProgramadas}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="horasExtrasAprobadas">
                    <mat-header-cell *matHeaderCellDef  matTooltip="Horas Extras Aprobadas" matTooltipPosition="Horas Extras Aprobadas" matTooltipPosition="above"> H. Ext. Aprobadas </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horasExtrasAprobadas}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="horasExtrasSuspendidas">
                    <mat-header-cell *matHeaderCellDef  matTooltip="Hora Extras Suspendidas" matTooltipPosition="Horas Extras Suspendidas" matTooltipPosition="above"> H.Ext. Suspendidas </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horasExtrasSuspendidas}} </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                  <mat-row  *matRowDef="let row; columns: displayedColumns1;" [ngClass]="{'p-3 mb-2 bg-white text-black text-right font-weight-bold' : row.areaDescripcion =='Total'}"></mat-row>

                </mat-table>
              </div>
            </div>

          </div>

        </div>
      </div>
    </mat-card-content>
  </mat-card>


  <!-- <div *ngIf="flVisible==true">
    <div class="col-sm-12">
      <h4>{{descMes}} del {{descanio}} - {{descEspecialidad}}</h4>
    </div>
    <br>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <table class="table table-bordered table-sm table-hover">
            <thead>
              <tr class="bg-primary">
                <th>Apellidos y Nombre </th>
                <th>HNP</th>
                <th>HNA</th>
                <th>HNS</th>
                <th>HEP</th>
                <th>HEA</th>
                <th>HES</th>
                <th>Ver</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let persona of personales">
                <td>{{persona.personalApellidoPaterno}} {{persona.personalApellidoMaterno}} {{persona.personalNombre}}</td>
                <td>{{persona.horasNormalesProgramadas}}</td>
                <td class="bg-primary">{{persona.horasNormalesAprobadas}}</td>
                <td>{{persona.horasNormalesSuspendidas}}</td>
                <td>{{persona.horasExtrasProgramadas}}</td>
                <td class="bg-primary">{{persona.horasExtrasAprobadas}}</td>
                <td>{{persona.horasExtrasSuspendidas}}</td>
                <td class="routerLink {{persona.disable}}" (click)="redirige(persona.idPersonal,aprobRequest.idEspecialidad,aprobRequest.anio,aprobRequest.mes)">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered table-sm table-hover">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th colspan="3">Horas Normales</th>
                <th colspan="3">Horas Extras</th>
              </tr>
              <tr>
                <th>Areas Hospitalarias</th>
                <th>Prog.</th>
                <th>Aprob.</th>
                <th>Suspen.</th>
                <th>Prog.</th>
                <th>Aprob.</th>
                <th>Suspen.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let area of areas" [ngClass]="{'p-3 mb-2 bg-white text-black text-right font-weight-bold' : area.areaDescripcion =='Total'}">
                <td>{{area.areaDescripcion}}</td>
                <td>{{area.horasNormalesProgramadas}}</td>
                <td>{{area.horasNormalesAprobadas}}</td>
                <td>{{area.horasNormalesSuspendidas}}</td>
                <td>{{area.horasExtrasProgramadas}}</td>
                <td>{{area.horasExtrasAprobadas}}</td>
                <td>{{area.horasExtrasSuspendidas}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <br/>
    <br/>
    <br/>
    <div class="col-sm-12" style="align-content: center">
      <div class="row">
        <div class="col-sm-6">
          <table class="table table-bordered table-sm table-hover">
            <tr>
              <td class="font-weight-bold">HNP</td>
              <td>Horas normales programadas</td>
              <td class="font-weight-bold text-right">HEP</td>
              <td>Horas extras programadas</td>
            </tr>
            <tr>
              <td class="font-weight-bold">HNA</td>
              <td>Horas normales aprobadas</td>
              <td class="font-weight-bold text-right">HEA</td>
              <td>Horas extras aprobadas</td>
            </tr>
            <tr>
              <td class="font-weight-bold">HNS</td>
              <td>Horas normales suspendidas</td>
              <td class="font-weight-bold text-right">HES</td>
              <td>Horas extra suspendidas</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div> -->
</div>
<app-detalles *ngIf="detalleDisabled == false" [paramJson]="paramJson"></app-detalles>