<mat-card class="col-12">
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Datos del Material</mat-card-title>
    <button mat-button class="mat-button-icon" (click)="close()" tabindex="-1">
      <div class="example-tooltip-host" matTooltip="Cerrar" [matTooltipPosition]="'above'">
        <span>
          <i class="material-icons">close</i>
        </span>
      </div>
    </button>
  </mat-card-header>

  <mat-card-content>
    <form #FormCrearArea="ngForm" novalidate name="FormCrearArea">
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Código:" [(ngModel)]="request.material.codigo" [disabled]="disabled"
              maxlength="8" name="request.material.codigo" #request.material.codigo="ngModel" required >
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nombre:" [(ngModel)]="request.material.nombre" [disabled]="disabled"
              name="request.material.nombre" #request.material.nombre="ngModel" required>
            </mat-form-field>
          </div>

          <div class=" col-4">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="Marca:" [(ngModel)]="request.material.marca" [disabled]="disabled"
              name="request.material.marca" #request.material.marca="ngModel" required>
            </mat-form-field>
          </div>

        </div>
        <div class="row">
          <div class=" col-4">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="Detalle:" [(ngModel)]="request.material.descripcion" [disabled]="disabled"
              name="request.material.descripcion" #request.material.descripcion="ngModel" required>
            </mat-form-field>
          </div>
          <div class=" col-4" *ngIf="showIf==1">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="Último Proveedor:" [(ngModel)]="request.material.proveedor" [disabled]="disabled"
              name="request.material.proveedor" #request.material.proveedor="ngModel" required>
            </mat-form-field>
          </div>

          <div class=" col-4 ">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput type="number" placeholder="Cantidad:" [(ngModel)]="request.material.stock" (keypress)="setInputPattern($event, 'positiveDigits')"
                [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" [disabled]="disabled" [min]="1"
                name="request.material.stock" #request.material.stock="ngModel" required >
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class=" col-4">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input  matInput type="number" placeholder="Stock Máximo:" [(ngModel)]="request.material.stockMaximo" (keypress)="setInputPattern($event, 'positiveDigits')"
                [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" [disabled]="disabled" [min]="1"
                name="request.material.stockMaximo" #request.material.stockMaximo="ngModel" required>
            </mat-form-field>
          </div>
          <div class=" col-4 ">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput type="number" placeholder="Punto Pedido:" [(ngModel)]="request.material.puntoPedido" (keypress)="setInputPattern($event, 'positiveDigits')"
                [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" [disabled]="disabled" [min]="1"
                name="request.material.puntoPedido" #request.material.puntoPedido="ngModel" required>
            </mat-form-field>
          </div>
          <div class=" col-4">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput type="number" placeholder="Stock Mínimo:" [(ngModel)]="request.material.stockMinimo" (keypress)="setInputPattern($event, 'positiveDigits')"
                [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" [disabled]="disabled" [min]="1"
                name="request.material.stockMinimo" #request.material.stockMinimo="ngModel" required>
            </mat-form-field>
          </div>

        </div>

        <div class="modalaling">
          <div *ngIf="show==1" class="col-11 text-right ">
            <button mat-raised-button (click)="insertMaterial()" [disabled]="FormCrearArea.invalid">Insertar</button>
          </div>
          <div class="col-11 text-left ">
            <button mat-raised-button (click)="close(1)">Regresar</button>
          </div>
          <div *ngIf="show==3" class="col-11 text-right">
            <button mat-raised-button (click)="updateMaterial()" [disabled]="FormCrearArea.invalid">Editar</button>
          </div>
        </div>

      </div>
    </form>
  </mat-card-content>
</mat-card>