<mat-card class="col-12">
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Datos de la Maquinaria</mat-card-title>
    <button mat-button class="mat-button-icon" (click)="close()" tabindex="-1">
      <div class="example-tooltip-host" matTooltip="Cerrar" [matTooltipPosition]="'above'">
        <span>
          <i class="material-icons">close</i>
        </span>
      </div>
    </button>
  </mat-card-header>

  <mat-card-content>

    <div class="card-body">
        <div class="row">
          <div class="col-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Código:" [(ngModel)]="request.material.codigo" [disabled]="disabledEdit">
            </mat-form-field>
          </div>
          <div class="col-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nombre:" [(ngModel)]="request.material.nombre" [disabled]="disabled">
            </mat-form-field>
          </div>

          <div class=" col-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="Marca:" [(ngModel)]="request.material.marca" [disabled]="disabled">
            </mat-form-field>
          </div>

        </div>
        <div class="row">
          <div class=" col-4  mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="Cantidad:" [(ngModel)]="request.material.stock"
                (keypress)="setInputPattern($event, 'positiveDigits')"
                [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" [disabled]="disabled">
            </mat-form-field>
          </div>


          <div class=" col-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="Stock Máximo:" [(ngModel)]="request.material.stockMaximo"
                (keypress)="setInputPattern($event, 'positiveDigits')"
                [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" [disabled]="disabled">
            </mat-form-field>
          </div>

          <div class=" col-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="Stock Mínimo:" [(ngModel)]="request.material.stockMinimo"
                (keypress)="setInputPattern($event, 'positiveDigits')"
                [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" [disabled]="disabled">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class=" col-4  mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="Punto Pedido:" [(ngModel)]="request.material.puntoPedido"
                (keypress)="setInputPattern($event, 'positiveDigits')"
                [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" [disabled]="disabled">
            </mat-form-field>
          </div>


          <div class=" col-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="Precio Compra:" [(ngModel)]="request.material.precioCompra"
                [disabled]="disabled" type="number" [min]="0.01">
            </mat-form-field>
          </div>

          <div class=" col-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="Precio Venta:" [(ngModel)]="request.material.precioVenta"
                [disabled]="disabled" type="number" [min]="0.01">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class=" col-6 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <mat-select #listaOpciones placeholder="Seleccione Proveedor" name="request.material.idProveedor"
                #request.material.idProveedor="ngModel" [(ngModel)]="request.material.idProveedor"
                id="request.material.idProveedor" [disabled]="disabled" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let a of lsProveedor" [value]="a.idProveedor">
                  {{a.nombreProveedor}}
                </mat-option>
              </mat-select>
              <mat-error>
                <app-validators-messages [controlVar]="request.material.idProveedor"
                  labelName="request.material.idProveedor"></app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div class=" col-6 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="Detalle:" [(ngModel)]="request.material.descripcion" [disabled]="disabled">
            </mat-form-field>
          </div>
        </div>

      <div class="modalaling">
        <div *ngIf="show==1" class="col-11 text-right alinearBtn">
          <button mat-raised-button (click)="insert()" [disabled]="!request.material.descripcion" >Insertar</button>
        </div>
        <div class="col-11 text-right alinearBtn">
          <button mat-raised-button (click)="close(1)">Regresar</button>
        </div>
        <div *ngIf="show==3" class="col-11 text-right alinearBtn">
          <button mat-raised-button (click)="updateMaterial()">Editar</button>
        </div>
      </div>

    </div>

  </mat-card-content>
</mat-card>