<div class="container-fluid" *ngIf="listaComboBox != null">

  <div class="card-body justificarDiv">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <mat-accordion>
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="false">
            <mat-expansion-panel-header class="sombreadoAcordeon">
              <mat-panel-title class="subtituloAcordeon">
                Datos del Paciente
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="row">
              <div class="card-body justificarDiv2">

                <mat-form-field class=" col-3 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Nombre Completo" value="{{cabeceraDatosPersona.persona.apellidoPaterno + ' ' +cabeceraDatosPersona.persona.apellidoMaterno + ' ' +cabeceraDatosPersona.persona.nombres}}"
                    readonly>
                </mat-form-field>

                <mat-form-field class=" col-3 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Tipo de Documento" value="{{cabeceraDatosPersona.persona.tipoDocumentoIdentidad.descripcion ? cabeceraDatosPersona.persona.tipoDocumentoIdentidad.descripcion : '--'}}"
                    disabled>
                </mat-form-field>

                <mat-form-field class=" col-3 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Número de Documento" value="{{DocumentoIdentidad}}" disabled>
                </mat-form-field>

                <mat-form-field class=" col-2 example-full-width">
                  <input matInput placeholder="Sexo" value="{{cabeceraDatosPersona.persona.sexo.valor}}" disabled>
                </mat-form-field>

              </div>
            </div>

            <div class="row">
              <div class="card-body justificarDiv3">

                <mat-form-field class="col-3 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Edad" value="{{cabeceraDatosPersona.persona.edadLetra}}" disabled>
                </mat-form-field>

                <mat-form-field class="col-3 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Historia Clínica" value="{{cabeceraDatosPersona.persona.historiaList[0].idHistoria}}"
                    disabled>
                </mat-form-field>

                <mat-form-field class="col-3 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Cobertura" value="{{cabeceraDatosPersona.persona.planList[0].cobertura? cabeceraDatosPersona.persona.planList[0].cobertura.descripcionCobertura : 'No tiene'}}"
                    disabled>
                </mat-form-field>

                <mat-form-field class="col-2 example-full-width ">
                  <mat-select placeholder="Grupo Sanguineo: " [(ngModel)]="cabeceraDatosPersona.persona.tipoSangre.id"
                    name="tipoSangre" #tipoSangre="ngModel" [disabled]="cabeceraDatosPersona.persona.tipoSangre.id!=undefined"
                    required>
                    <mat-option> -- </mat-option>
                    <mat-option *ngFor="let cv of lsComboTipoSangre" [value]="cv.id">{{cv.valor}}</mat-option>

                    <mat-error>
                      <app-validators-messages [controlVar]="tipoSangre" labelName="Grupo Sanguineo">
                      </app-validators-messages>
                    </mat-error>
                  </mat-select>
                </mat-form-field>

              </div>
            </div>

          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="false">
            <mat-expansion-panel-header class="sombreadoAcordeon">
              <mat-panel-title class="subtituloAcordeon">
                Datos Personales Secundarios
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="card-body justificarDiv4">
                <mat-form-field class=" col-3 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Fecha de Nacimiento" value="{{cabeceraDatosPersona.persona.feNacimiento}}"
                    disabled>
                </mat-form-field>

                <mat-form-field class=" col-3 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Lugar de Nacimiento" value="{{cabeceraDatosPersona.persona.filiadoList[0].ubigeo.nombre ? cabeceraDatosPersona.persona.filiadoList[0].ubigeo.nombre : '--'}}"
                    disabled>
                </mat-form-field>

                <mat-form-field class="col-3 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Fecha de Vigencia" value="{{cabeceraDatosPersona.persona.planList[0].feVigencia ? cabeceraDatosPersona.persona.planList[0].feVigencia : '--'}}"
                    disabled>
                </mat-form-field>


                <mat-form-field class=" col-2 example-full-width mat-form-field-flex3">
                  <mat-select placeholder="Grado Instrucción: " [(ngModel)]="cabeceraDatosPersona.persona.gradoInstruccion.id"
                    name="gradoInstruccion" #gradoInstruccion="ngModel" required>
                    <mat-option> -- </mat-option>
                    <mat-option *ngFor="let cv of lsComboGradoInstruccion" [value]="cv.id">{{cv.valor}}</mat-option>
                  </mat-select>

                  <mat-error>
                    <app-validators-messages [controlVar]="gradoInstruccion" labelName="Gado Instruccion">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="card-body">

                <mat-form-field class="col-3 example-full-width mat-form-field-flex3" *ngIf="listaDisabled.datoPaciente.estadoCivil">
                  <mat-select placeholder="Estado Civil: " [(ngModel)]="cabeceraDatosPersona.persona.estadoCivil.id"
                    name="estadoCivil" #estadoCivil="ngModel" >
                    <mat-option> -- </mat-option>
                    <mat-option *ngFor="let cv of listEstadoCivil" [value]="cv.id">{{cv.valor}}</mat-option>
                  </mat-select>

                  <mat-error>
                    <app-validators-messages [controlVar]="estadoCivil" labelName="Estado Civil">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col-3 example-full-width mat-form-field-flex3">
                  <mat-select placeholder="Ocupación: " [(ngModel)]="cabeceraDatosPersona.persona.ocupacion.id" name="ocupaciones"
                    #ocupaciones="ngModel" required>
                    <mat-option> -- </mat-option>
                    <mat-option *ngFor="let cv of listOcupacion" [value]="cv.id">{{cv.valor}}</mat-option>
                  </mat-select>

                  <mat-error>
                    <app-validators-messages [controlVar]="ocupaciones" labelName="ocupacion">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>



                <mat-form-field class="col-3 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Domicilio Actual" [(ngModel)]="cabeceraDatosPersona.persona.filiadoList[0].domicilioActual"
                    name="domicilioActual" #domicilioActual="ngModel">

                  <mat-error>
                    <app-validators-messages [controlVar]="domicilioActual" labelName="Domicilio Actual">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class=" col-2 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Telefono Movil" [(ngModel)]="cabeceraDatosPersona.persona.filiadoList[0].telefonoMovil"
                    name="telefonoMovil" #telefonoMovil="ngModel">

                  <mat-error>
                    <app-validators-messages [controlVar]="domicilioActual" labelName="Domicilio Actual">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>

              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="false" *ngIf="listaDisabled.datoPaciente.acompaniante">
            <mat-expansion-panel-header class="sombreadoAcordeon">
              <mat-panel-title class="subtituloAcordeon">
                Datos del Acompañante
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="card-body" *ngIf="listaDisabled.datoPaciente.acompaniante">

                <mat-form-field class="col-3 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Nombre de Acompañante" [(ngModel)]="cabeceraDatosPersona.persona.nombreAcompanante">
                </mat-form-field>

                <mat-form-field class="col-3 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Edad" [(ngModel)]="cabeceraDatosPersona.persona.edadAcompanante">
                </mat-form-field>

                <mat-form-field class="col-3 example-full-width mat-form-field-flex3">
                  <mat-select placeholder="Tipo de Documento: " [(ngModel)]="cabeceraDatosPersona.persona.idTipoDocumentoAcompanante"
                    name="tipoDocumentoAcompanante" #tipoDocumentoAcompanante="ngModel" required>
                    <mat-option> -- </mat-option>
                    <mat-option *ngFor="let cv of listTipoDocumento" [value]="cv.id">{{cv.valor}}</mat-option>

                  </mat-select>
                  <mat-error>
                    <app-validators-messages [controlVar]="tipoDocumentoAcompanante" labelName="Tipo de Documento">
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col-2 example-full-width mat-form-field-flex3">
                  <input matInput placeholder="Número de Documento" [(ngModel)]="cabeceraDatosPersona.persona.diAcompanante">
                </mat-form-field>

              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>

  <!-- datos personales -->
  <!-- <mat-card *ngIf="cabeceraDatosPersona">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Datos del Paciente</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <input matInput placeholder="Nombre Completo" value="{{cabeceraDatosPersona.persona.apellidoPaterno + ' ' +cabeceraDatosPersona.persona.apellidoMaterno + ' ' +cabeceraDatosPersona.persona.nombres}}"
                  readonly>
              </mat-form-field>
            </div>

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <input matInput placeholder="Tipo de Documento" value="{{cabeceraDatosPersona.persona.tipoDocumentoIdentidad.descripcion ? cabeceraDatosPersona.persona.tipoDocumentoIdentidad.descripcion : '--'}}"
                  disabled>
              </mat-form-field>
            </div>

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <input matInput placeholder="Número de Documento" value="{{DocumentoIdentidad}}" disabled>
              </mat-form-field>
            </div>

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <input matInput placeholder="Sexo" value="{{cabeceraDatosPersona.persona.sexo.valor}}" disabled>
              </mat-form-field>

              <mat-form-field class="example-full-width mat-form-field-flex5">
                <input matInput placeholder="Edad" value="{{cabeceraDatosPersona.persona.edadLetra}}" disabled>
              </mat-form-field>
            </div>

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <input matInput placeholder="Fecha de Nacimiento" value="{{cabeceraDatosPersona.persona.feNacimiento}}"
                  disabled>
              </mat-form-field>
            </div>

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <input matInput placeholder="Lugar de Nacimiento" value="{{cabeceraDatosPersona.persona.filiadoList[0].ubigeo.nombre ? cabeceraDatosPersona.persona.filiadoList[0].ubigeo.nombre : '--'}}"
                  disabled>
              </mat-form-field>
            </div>

            <!-- <div class="form-grup form-group-sm row">
              <mat-form-field class="col-sm-12">
                <input matInput placeholder="IAFAS" value="{{cabeceraDatosPersona.persona.planList[0].iafas.descripcionIafas ? cabeceraDatosPersona.persona.planList[0].iafas.descripcionIafas : '--'}}" disabled>
              </mat-form-field>
            </div> -->
  <!-- 
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <input matInput placeholder="Cobertura" value="{{cabeceraDatosPersona.persona.planList[0].cobertura? cabeceraDatosPersona.persona.planList[0].cobertura.descripcionCobertura : 'No tiene'}}"
                  disabled>
              </mat-form-field>
            </div>
            <div class="form-grup form-group-sm row">
              <mat-form-field class="col-sm-12">
                <input matInput placeholder="Fecha de Vigencia" value="{{cabeceraDatosPersona.persona.planList[0].feVigencia ? cabeceraDatosPersona.persona.planList[0].feVigencia : '--'}}"
                  disabled>
              </mat-form-field>
            </div>

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <input matInput placeholder="Historia Clínica" value="{{cabeceraDatosPersona.persona.historiaList[0].idHistoria}}"
                  disabled>
              </mat-form-field>
            </div> -->

  <!-- <div class="form-grup form-group-sm row">
              <mat-form-field class="col-sm-12">
                <input matInput placeholder="Tipo de Paciente" value="{{cabeceraDatosPersona.persona.filiadoList[0].tipoPaciente ? cabeceraDatosPersona.persona.filiadoList[0].tipoPaciente : '--'}}" disabled>
              </mat-form-field>
            </div>  -->

  <!-- <div class="form-grup form-group-sm row">
              <mat-form-field class="col-sm-12">
                <input matInput placeholder="Parentesco con el Titular" value="{{cabeceraDatosPersona.persona.filiadoList[0].parentescoAcompanante.valor ? cabeceraDatosPersona.persona.filiadoList[0].parentescoAcompanante.valor : '--'}}"
                  disabled>
              </mat-form-field>
            </div> -->

  <!-- <div class="form-grup form-group-sm row" *ngIf="listaDisabled.datoPaciente.acompaniante">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Datos Acompañante</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">

                        <div class="form-grup form-group-sm row">
                          <mat-form-field class="example-full-width mat-form-field-flex5">
                            <input matInput placeholder="Nombre de Acompañante" [(ngModel)]="cabeceraDatosPersona.persona.nombreAcompanante">
                          </mat-form-field>

                          <mat-form-field class="example-full-width mat-form-field-flex5">
                            <input matInput placeholder="Edad" [(ngModel)]="cabeceraDatosPersona.persona.edadAcompanante">
                          </mat-form-field>
                        </div>

                        <div class="form-grup form-group-sm row">
                          <mat-form-field class="example-full-width mat-form-field-flex5">
                            <mat-select placeholder="Tipo de Documento: " [(ngModel)]="cabeceraDatosPersona.persona.idTipoDocumentoAcompanante"
                              name="tipoDocumentoAcompanante" #tipoDocumentoAcompanante="ngModel" required>
                              <mat-option> -- </mat-option>
                              <mat-option *ngFor="let cv of listTipoDocumento" [value]="cv.id">{{cv.valor}}</mat-option>

                            </mat-select>
                            <mat-error>
                              <app-validators-messages [controlVar]="tipoDocumentoAcompanante" labelName="Tipo de Documento">
                              </app-validators-messages>
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="example-full-width mat-form-field-flex5">
                            <input matInput placeholder="Número de Documento" [(ngModel)]="cabeceraDatosPersona.persona.diAcompanante">
                          </mat-form-field>
                        </div>

                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>

          </div>
          <div class="col-sm-12 col-md-12 col-lg-4">

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <input matInput placeholder="Fecha de Vigencia" value="{{cabeceraDatosPersona.persona.planList[0].feVigencia ? cabeceraDatosPersona.persona.planList[0].feVigencia : '--'}}"
                  disabled>
              </mat-form-field>
            </div>

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <mat-select placeholder="Grupo Sanguineo: " [(ngModel)]="cabeceraDatosPersona.persona.tipoSangre.id"
                  name="tipoSangre" #tipoSangre="ngModel" [disabled]="cabeceraDatosPersona.persona.tipoSangre.id!=undefined"
                  required>
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let cv of lsComboTipoSangre" [value]="cv.id">{{cv.valor}}</mat-option>

                  <mat-error>
                    <app-validators-messages [controlVar]="tipoSangre" labelName="Grupo Sanguineo">
                    </app-validators-messages>
                  </mat-error>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <mat-select placeholder="Grado Instrucción: " [(ngModel)]="cabeceraDatosPersona.persona.gradoInstruccion.id"
                  name="gradoInstruccion" #gradoInstruccion="ngModel" required>
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let cv of lsComboGradoInstruccion" [value]="cv.id">{{cv.valor}}</mat-option>
                </mat-select>

                <mat-error>
                  <app-validators-messages [controlVar]="gradoInstruccion" labelName="Gado Instruccion">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-grup form-group-sm row" *ngIf="listaDisabled.datoPaciente.estadoCivil">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <mat-select placeholder="Estado Civil: " [(ngModel)]="cabeceraDatosPersona.persona.estadoCivil.id" name="estadoCivil"
                  #estadoCivil="ngModel" required>
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let cv of listEstadoCivil" [value]="cv.id">{{cv.valor}}</mat-option>
                </mat-select>

                <mat-error>
                  <app-validators-messages [controlVar]="estadoCivil" labelName="Estado Civil">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <mat-select placeholder="Ocupación: " [(ngModel)]="cabeceraDatosPersona.persona.ocupacion.id" name="ocupaciones"
                  #ocupaciones="ngModel" required>
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let cv of listOcupacion" [value]="cv.id">{{cv.valor}}</mat-option>
                </mat-select>

                <mat-error>
                  <app-validators-messages [controlVar]="ocupaciones" labelName="ocupacion">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <input matInput placeholder="Domicilio Actual" [(ngModel)]="cabeceraDatosPersona.persona.filiadoList[0].domicilioActual"
                  name="domicilioActual" #domicilioActual="ngModel">

                <mat-error>
                  <app-validators-messages [controlVar]="domicilioActual" labelName="Domicilio Actual">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-grup form-group-sm row">
              <mat-form-field class="example-full-width mat-form-field-flex5">
                <input matInput placeholder="Telefono Movil" [(ngModel)]="cabeceraDatosPersona.persona.filiadoList[0].telefonoMovil"
                  name="telefonoMovil" #telefonoMovil="ngModel">

                <mat-error>
                  <app-validators-messages [controlVar]="domicilioActual" labelName="Domicilio Actual">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card> -->
  <!-- <div class="card">
    <div class="card-header">
      <b>Datos del Paciente</b>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">Apellido y Nombre: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.apellidoPaterno}} {{cabeceraDatosPersona.persona.apellidoMaterno}} {{cabeceraDatosPersona.persona.nombres}}
            </label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">T. de Documento: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.tipoDocumentoIdentidad.descripcion}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">N° de Documento: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{DocumentoIdentidad}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-2 col-form-label">Sexo: </label>
            <label class="col-sm-4 col-form-label text-secondary">{{cabeceraDatosPersona.persona.sexo.valor}}</label>
            <label class="col-sm-3 col-form-label">Edad: </label>
            <label class="col-sm-3 col-form-label text-secondary">{{cabeceraDatosPersona.persona.edad}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">F. de Nacimiento: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.feNacimiento}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">Lugar de Nacimiento:</label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.filiadoList[0].ubigeo.nombre}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">IAFAS: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.planList[0].iafas.descripcionIafas}} </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">Cobertura: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.planList[0].cobertura? cabeceraDatosPersona.persona.planList[0].cobertura.descripcionCobertura
              : 'No tiene'}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">N° Historia Clínica: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.historiaList[0].idHistoria}}</label>
          </div>
          <div *ngIf="listaDisabled.datoPaciente.acompaniante" class="card">
            <div class="card-body">
              <div class="form-grup form-group-sm row">
                <label class="col-sm-6 col-form-label">Nombre de Acompañante: </label>
                <div class="col-sm-6">
                  <input class="form-control form-control-sm" placeholder="Acompañante" [(ngModel)]="cabeceraDatosPersona.persona.nombreAcompanante">
                </div>
              </div>
              <div class="form-grup form-group-sm row">
                <label class="col-sm-6 col-form-label">Edad: </label>
                <div class="col-sm-6">
                  <input class="form-control form-control-sm" placeholder="Edad" [(ngModel)]="cabeceraDatosPersona.persona.edadAcompanante">
                </div>
              </div>
              <div class="form-grup form-group-sm row">
                <label class="col-sm-2 col-form-label">Tip Doc: </label>
                <div class="col-sm-4">
                  <select id="TipDocument" [(ngModel)]="cabeceraDatosPersona.persona.idTipoDocumentoAcompanante" class="form-control form-control-sm">
                    <option *ngFor="let cv of listTipoDocumento" [value]="cv.id">{{cv.valor}}</option>
                  </select>
                </div>
                <label class="col-sm-2 col-form-label">N° Doc: </label>
                <div class="col-sm-4">
                  <input class="form-control form-control-sm" placeholder="nDocu" [(ngModel)]="cabeceraDatosPersona.persona.diAcompanante">
                </div>
              </div>
            </div>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">T. de Paciente: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.filiadoList[0].tipoPaciente}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">Parentesco Con Titular: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.filiadoList[0].parentescoAcompanante.valor}}</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">Fecha de Vigencia: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.planList[0].feVigencia}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label for="" class="col-sm-6 col-form-label">Grupo Sanguineo: </label>
            <div class="col-sm-6">
              <select id="grupSang" [(ngModel)]="cabeceraDatosPersona.persona.tipoSangre.id" class="form-control form-control-sm">
                <option *ngFor="let cv of lsComboTipoSangre" [value]="cv.id">{{cv.valor}}</option>
              </select>
            </div>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">
              <b>Grado de Instruccion: </b>
            </label>
            <div class="col-sm-6">
              <select id="gradoInstruccion" [(ngModel)]="cabeceraDatosPersona.persona.gradoInstruccion.id" class="form-control form-control-sm">
                <option *ngFor="let cv of lsComboGradoInstruccion" [value]="cv.id">{{cv.valor}}</option>
              </select>
            </div>
          </div>
          <div *ngIf="listaDisabled.datoPaciente.estadoCivil" class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">
              <b>Estado Civil:</b>
            </label>
            <div class="col-sm-6">
              <select id="estadoCivil" [(ngModel)]="cabeceraDatosPersona.persona.estadoCivil.id" class="form-control form-control-sm">
                <option *ngFor="let cv of listEstadoCivil" [value]="cv.id">{{cv.valor}}</option>
              </select>
            </div>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">Ocupación: </label>
            <div class="col-sm-6">
              <ng-template #rt let-r="result" let-t="term">
                {{r.valor}}
              </ng-template>

              <input id="ocupacion" type="text" class="form-control" [(ngModel)]="ocupacion" [ngbTypeahead]="search" [resultTemplate]="rt"
                [inputFormatter]="formatter" (input)="busquedaDiagnosticoDescripcion($event.target.value)" (selectItem)="seleccionar($event.item)">
            </div>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">Domicilio: </label>
            <div class="col-sm-6">
              <input class="form-control form-control-sm" placeholder="Domicilio" [(ngModel)]="cabeceraDatosPersona.persona.filiadoList[0].domicilioActual">
            </div>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">Telefono: </label>
            <div class="col-sm-6">
              <input class="form-control form-control-sm" placeholder="Telefono" [(ngModel)]="cabeceraDatosPersona.persona.filiadoList[0].telefonoMovil">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div  class="agrandarContainer card-body">
  <!-- Acto medico -->
   <mat-expansion-panel  [expanded]="step === 3" (opened)="setStep(3)" hideToggle="false">
  <!-- <mat-card>
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Acto Médico</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content> -->
        <mat-expansion-panel-header class="sombreadoAcordeon">
            <mat-panel-title class="subtituloAcordeon">
                Acto Médico
            </mat-panel-title>
          </mat-expansion-panel-header>
      <div class="card-body">
        <div class="row">
          <div class="form-grup form-group-sm col-4">
            <mat-form-field class="example-full-width mat-form-field-flex3 margen">
              <input matInput placeholder="Número" value="{{listActoMedico.idActoMedico ? listActoMedico.idActoMedico : '-'}}"
                disabled>
            </mat-form-field>
          </div>

          <div class="form-grup form-group-sm col-4">
            <mat-form-field class="example-full-width mat-form-field-flex3 margen">
              <input matInput placeholder="Área Hospitalaria" value="{{listActoMedico.descripcionArea}}" disabled>
            </mat-form-field>
          </div>

          <div class="form-grup form-group-sm col-4">
            <mat-form-field class="example-full-width mat-form-field-flex3 margen">
              <input matInput placeholder="Actividad Hospitalaria" value="{{listActoMedico.descripcionActividad}}"
                disabled>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="form-grup form-group-sm col-4">
            <mat-form-field class="example-full-width mat-form-field-flex3 margen">
              <input matInput placeholder="Actividad Específica" value="{{listActoMedico.descripcionEspecialidad}}"
                disabled>
            </mat-form-field>
          </div>

          <div class="form-grup form-group-sm col-4">
            <mat-form-field class="example-full-width mat-form-field-flex3 margen">
              <input matInput placeholder="Profesional" value="{{listActoMedico.profesional}}" disabled>
            </mat-form-field>
          </div>

          <div class="form-grup form-group-sm col-4">
            <mat-form-field class="example-full-width mat-form-field-flex3 margen">
              <input matInput placeholder="Especialidad" value="{{listActoMedico.descripcionEspecialidad}}" disabled>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="form-grup form-group-sm col-4">
            <mat-form-field class="example-full-width mat-form-field-flex3 margen">
              <input matInput placeholder="Fecha Atención" value="{{listActoMedico.feCita}}" disabled>
            </mat-form-field>
          </div>

          <div class="form-grup form-group-sm col-4">
            <mat-form-field class="example-full-width mat-form-field-flex3 margen">
              <input matInput placeholder="Edad en la Atención" value="{{listActoMedico.edad}}" disabled>
            </mat-form-field>
          </div>

          <div class="form-grup form-group-sm col-4">
            <mat-form-field class="example-full-width mat-form-field-flex3 margen">
              <input matInput placeholder="Hora de la Atención" value="{{listActoMedico.hoCita}}" disabled>
            </mat-form-field>
          </div>
        </div>
      </div>

<!-- 
    </mat-card-content>
  </mat-card> -->
</mat-expansion-panel>

  <!-- <div class="card">
    <div class="card-header">Acto Médico</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-grup form-group-sm row">
            <label class="col-sm-5 col-form-label">Número: </label>
            <label class="col-sm-7 col-form-label text-secondary">{{listActoMedico.idActoMedico}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-5 col-form-label">Área Hospitalaria: </label>
            <label class="col-sm-7 col-form-label text-secondary">{{listActoMedico.descripcionArea}}</label>
          </div>

          <div class="form-grup form-group-sm row">
            <label class="col-sm-5 col-form-label">Actividad Hospitalaria: </label>
            <label class="col-sm-7 col-form-label text-secondary">{{listActoMedico.descripcionActividad}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-5 col-form-label">Actividad Específica</label>
            <label class="col-sm-7 col-form-label text-secondary">{{listActoMedico.descripcionEspecialidad}}</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-grup form-group-sm row">
            <label class="col-sm-5 col-form-label">Profesional: </label>
            <label class="col-sm-7 col-form-label text-secondary">{{listActoMedico.profesional}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-5 col-form-label">Especialidad: </label>
            <label class="col-sm-7 col-form-label text-secondary">{{listActoMedico.descripcionEspecialidad}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-5 col-form-label">Fecha Atención: </label>
            <label class="col-sm-7 col-form-label text-secondary">{{listActoMedico.feCita}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-5 col-form-label">Edad de Atención: </label>
            <label class="col-sm-7 col-form-label text-secondary">{{listActoMedico.edad}}</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">Hora de Atención: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{listActoMedico.hoCita}}</label>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- antecedentes -->
  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="false">
      <mat-expansion-panel-header class="sombreadoAcordeon">
          <mat-panel-title class="subtituloAcordeon">
              Antecedentes
          </mat-panel-title>
        </mat-expansion-panel-header>
  <!-- <mat-card>
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Antecedentes</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content> -->
      <div class="card-body">
        <div class="row">

          <div class="col-sm-12 col-md-12 col-lg-6" *ngIf="listaDisabled.prenatales && idNivelIPRESS==1">
            <app-antecedentes-prenatales [param]="param" (sendPrenatales)="requestActoMedico($event)" [listaComboBox]="listaComboBox"></app-antecedentes-prenatales>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-6" *ngIf="listaDisabled.perinatales && idNivelIPRESS==1">
            <app-antecedentes-perinatales [param]="param" (sendPerinatales)="requestActoMedico($event)"></app-antecedentes-perinatales>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-6">
            <app-antecedentes-patologicos [param]="param" (sendPatologicos)="requestActoMedico($event)" [listfechas]="listfechas" [listaDisabled]="listaDisabled.patologicos"></app-antecedentes-patologicos>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-6" *ngIf="idNivelIPRESS==1">
            <app-antecedentes-generales [param]="param" (sendGenerales)="requestActoMedico($event)" [listaDisabled]="listaDisabled.general" [listaComboBox]="listaComboBox"></app-antecedentes-generales>

            <app-antecedentes-alimentacion *ngIf="listaDisabled.alimentacion && idNivelIPRESS==1" [param]="param" (sendAlimentacion)="requestActoMedico($event)" [listaComboBox]="listaComboBox"></app-antecedentes-alimentacion>
          </div>

          <!-- <div class="col-sm-12 col-md-12 col-lg-6" >
           
          </div> -->

          <div class="antecedentesFicha">
           

            <div class="col-sm-12 col-md-12 col-lg-6" *ngIf="listaDisabled.fisiologico.fisiologico && idNivelIPRESS==1">
              <app-antecedentes-fisiologicos [param]="param" (sendFisiologico)="requestActoMedico($event)"
                [listaComboBox]="listaComboBox" [listaDisabled]="listaDisabled.fisiologico"></app-antecedentes-fisiologicos>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="listaDisabled.medicamento.medicamento && idNivelIPRESS==1">
            <app-antecedentes-medicamentos [param]="param" (sendMedicamentos)="requestActoMedico($event)"
              [listaDisabled]="listaDisabled.medicamento"></app-antecedentes-medicamentos>
          </div>

          <!-- <div class="col-sm-12 col-md-12 col-lg-6">
            <div *ngIf="listaDisabled.alimentacion && idNivelIPRESS==1">
              <app-antecedentes-alimentacion [param]="param" (sendAlimentacion)="requestActoMedico($event)"
                [listaComboBox]="listaComboBox"></app-antecedentes-alimentacion>
            </div>

            <div *ngIf="listaDisabled.fisiologico.fisiologico && idNivelIPRESS==1">
              <app-antecedentes-fisiologicos [param]="param" (sendFisiologico)="requestActoMedico($event)"
                [listaComboBox]="listaComboBox" [listaDisabled]="listaDisabled.fisiologico"></app-antecedentes-fisiologicos>
            </div>
          </div> -->
        </div>
      </div>
    <!-- </mat-card-content>
  </mat-card> -->
</mat-expansion-panel>

  <div *ngIf="listaDisabled.valoracionGeriatrica && idNivelIPRESS==1">
    <app-valoracion-geriatrica [param]="param" (sendValoracionGeriatrica)="requestActoMedico($event)"></app-valoracion-geriatrica>
  </div>
</div>
  <div *ngIf="listaDisabled.esquemaVacunacion.a && idNivelIPRESS==1">
    <app-esquema-de-vacunacion [param]="param" (onVoted)="requestActoMedico($event)" [listaDisabled]="listaDisabled.esquemaVacunacion"></app-esquema-de-vacunacion>
  </div>

  <mat-card>
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Anamnesis</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12 col-md-12">

            <div class="form-grup form-group-sm row margen">
              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Motivo de Consulta: " id="motivoConsulta" [(ngModel)]="listActoMedicoAdicional.motivoConsulta">
              </mat-form-field>

              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Tiempo de Enfermedad" id="tiempoEnfermedad" [(ngModel)]="listActoMedicoAdicional.tiempoEnfermedad">
              </mat-form-field>

              <mat-form-field class="col-sm-4">
                <mat-select placeholder="Curso de Enfermedad" id="cursoEnfermedad" [(ngModel)]="listActoMedicoAdicional.cursoEnfermedad">
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let x of lscursoEnfermedad" [value]="x.value"> {{x.value}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-grup form-group-sm row margen">
              <mat-form-field class="col-sm-4">
                <mat-select placeholder="Forma de Inicio" id="formaInicio" [(ngModel)]="listActoMedicoAdicional.formaInicio">
                  <mat-option> -- </mat-option>
                  <mat-option *ngFor="let x of lsformaInicio" [value]="x.value"> {{x.value}} </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-sm-4">
                <input matInput placeholder="Relato: " id="anamnesisRelato" [(ngModel)]="listActoMedicoAdicional.anamnesisRelato">
              </mat-form-field>
            </div>
          </div>

          <div class="col-sm-12 col-md-12" *ngIf="listaDisabled.funcionesBiologicas">
            <mat-card class="mat-cardDoble" style="max-width:100% !important; width: 100%!important">
              <mat-card-header class="sombreadoSubtitulos">
                <mat-card-title class="subtitulo-seccion">Funciones Biologicas</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="card-body">


                  <div class="form-grup form-group-sm row">
                    <mat-form-field class="col-sm-4">
                      <mat-select placeholder="Apetito" id="apetito" [(ngModel)]="listActoMedicoAdicional.apetito" name="fun_apetito"
                        #fun_apetito="ngModel">
                        <mat-option> -- </mat-option>
                        <mat-option *ngFor="let la of lsComboApetito" [value]="la.idOpcion"> {{la.valorOpcion}}
                        </mat-option>

                        <!-- <mat-error>
                              <app-validators-messages [controlVar]="fun_apetito" labelName="Apetito" >
                              </app-validators-messages>
                            </mat-error> -->
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-sm-4">
                      <mat-select placeholder="Sed: " id="sed" [(ngModel)]="listActoMedicoAdicional.sed" name="fun_sed"
                        #fun_sed="ngModel">
                        <mat-option> -- </mat-option>
                        <mat-option *ngFor="let ls of lsComboSed" [value]="ls.idOpcion"> {{ls.valorOpcion}}
                        </mat-option>

                        <!-- <mat-error>
                                <app-validators-messages [controlVar]="fun_sed" labelName="Sed: " >
                                </app-validators-messages>
                              </mat-error> -->
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-4">
                      <input matInput placeholder="Orina" id="orina" [(ngModel)]="listActoMedicoAdicional.orina">
                    </mat-form-field>
                  </div>

                  <div class="form-grup form-group-sm row">


                    <mat-form-field class="col-sm-4">
                      <input matInput placeholder="Deposición" id="deposicion" [(ngModel)]="listActoMedicoAdicional.depocision"
                        name="func_deposicion" #func_deposicion="ngModel">

                    </mat-form-field>

                    <mat-form-field class="col-sm-4">
                      <mat-select placeholder="Sueño " id="suenio" [(ngModel)]="listActoMedicoAdicional.sueno" name="func_suenio"
                        #func_suenio="ngModel">
                        <mat-option> -- </mat-option>
                        <mat-option *ngFor="let ls of lsComboSuenio" [value]="ls.idOpcion"> {{ls.valorOpcion}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div>
    <app-examen-fisico [param]="param" (outputExFisico)="requestActoMedico($event)"></app-examen-fisico>
  </div>

  <mat-card>
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Plan de Trabajo</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="card-body">
        <div class="form-grup form-group-sm row">
          <mat-form-field class="margen example-full-width textareaFull">
            <textarea matInput id="planTrabajo" placeholder="Plan de Trabajo" [(ngModel)]="listActoMedicoAdicional.planTrabajo"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div>
    <app-diagnostico [param]="param" (sendDiagnostico)="requestActoMedico($event)" [listaComboBox]="listaComboBox"></app-diagnostico>
  </div>

  <div class="row justificarDiv5">
    <div class="col-sm-12 col-md-12" *ngIf="listaDisabled.categoriaAdulto && idNivelIPRESS==1">

      <mat-card style="max-width:98.5%!important; width:98.5%!important;">
        <mat-card-header class="sombreadoSubtitulos">
          <mat-card-title class="subtitulo-seccion">Categoria Adulto</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <div class="card-body">

            <div class="form-grup form-group-sm row">
              <mat-radio-group class="col-sm-12" [(ngModel)]="listActoMedicoAdicional.categoriaAdulto" name="categoria_adulto"
                #categoria_adulto="ngModel">
                <mat-radio-button class="form-check-inline" id="Radio{{i}}" *ngFor="let item of lsComboCategAdulto; let i=index"
                  [value]="item.idOpcion">{{item.valorOpcion}}</mat-radio-button>
              </mat-radio-group>
            </div>

          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <app-resultado-atencion [param]="param" (sendResultadoAtencion)="requestActoMedico($event)"></app-resultado-atencion>
    </div>
    <div class="col-sm-12 col-md-6">
      <mat-card>
        <mat-card-header class="sombreadoSubtitulos">
          <mat-card-title class="subtitulo-seccion">Contingencia de Ley</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <mat-form-field class="example-full-width mat-form-field-flex3 margenAuto justificarDiv6">
              <!-- class="col-sm-12 col-md-12 col-lg-6"-->
              <mat-select placeholder="Tipo de Contigencia de Ley: " [(ngModel)]="AtencionMedicaREQUEST.actoMedico.tipocontigenciaLey"
                name="tipocontigenciaLey" #tipocontigenciaLey="ngModel" required>
                <mat-option> -- </mat-option>
                <mat-option *ngFor="let tcl of lsTipocontigenciaLey" [value]="tcl.valor">{{tcl.valor}}</mat-option>

              </mat-select>
              <mat-error>
                <app-validators-messages [controlVar]="tipocontigenciaLey" labelName="Tipo de Contigencia de Ley">
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
            <div class="form-grup form-group-sm text-right btngua">
              <!-- <button mat-raised-button class="col-sm-3" (click)="insertarAtencionMedica()"> Guardar </button> -->
            </div>
          </div>

        </mat-card-content>

      </mat-card>
    </div>
  </div>
  <div class="form-grup form-group-sm text-right ali3">
    <button mat-raised-button class="col-sm-1" (click)="backto()"> Regresar </button>
    <button mat-raised-button class="col-sm-1" (click)="insertarAtencionMedica()"> Insertar </button>
  </div>

</div>