.text-secondary {
    color: #827474 !important;
}

textarea {
    resize: none;
    overflow: hidden
}

.bold-text{
    font-size: 1rem;
    font-weight: bold; 
    font-size: 20px;
    line-height: 2;
}
.mat-card{
    width: 97% !important;
    max-width: 97% !important;
}