<mat-card class="matCardMin">
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">{{servicioEdit?'Editar':'Nuevo'}} Servicio:</mat-card-title>
    <div class="margenSuperior" style="padding-left: 25%;">
      <button mat-button class="mat-button-icon" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir" aria-label="hola">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">
      <div class="col-sm-12">
        <form class="row" #formCrearEditarServicio="ngForm" novalidate name="formCrearEditarServicio">
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nombre del Servicio:" [(ngModel)]="request.servicio.descripcionTarifario"
                name="descripcionTarifario" #descripcionTarifario="ngModel"
                (keypress)="setInputPattern($event, 'soloUnEspacioNumeroLetra')"
                [pattern]="setValidatorPattern('soloUnEspacioNumeroLetra', setQuantifier('+'), true, true)" required>
              <mat-error>
                <app-validators-messages [controlVar]="descripcionTarifario" labelName="Nombre Servicio">
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Factor" [(ngModel)]="radioButtons.flgFactor" name="flgFactor"
                #flgFactor="ngModel" id="flgFactor">
                <mat-option>Seleccione</mat-option>
                <mat-option value="fha">FHA</mat-option>
                <mat-option value="fsa">FSA</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Precio:" [(ngModel)]="request.servicio.precio" name="precio"
                #precio="ngModel" (keypress)="setInputPattern($event, 'realPrices')"
                [pattern]="setValidatorPattern('realPrices', setQuantifier(''), true, true)" [min]="0.5" type="text"
                [maxlength]="8" required>
              <mat-error>
                <app-validators-messages [controlVar]="precio" labelName="Precio">
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-3" *ngIf="radioButtons.flgFactor != null">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Unidad:" [(ngModel)]="request.servicio.unidad" name="unidad"
                #unidad="ngModel" (keypress)="setInputPattern($event, 'realPrices')"
                [pattern]="setValidatorPattern('realPrices', setQuantifier(''), true, true)" [min]="0.5" type="text"
                [maxlength]="8" required>
              <mat-error>
                <app-validators-messages [controlVar]="unidad" labelName="Unidad">
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>

        </form>
      </div>
      
      <div class="row">
        <div class="col-sm-5 eliPaddRight">
          <mat-card>
            <mat-card-header class="sombreadoSubtitulos">
              <mat-card-title class="subtitulo-seccion">Tipo de Servicio:</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <!-- En caso de limpiar:  (change)="limpiarTipoServicio()" -->
                    <mat-radio-group class="row" [(ngModel)]="radioButtons.flgTipoServ"
                      (change)="limpiarListaTipoServicio()" name="flgTipoServ" #flgTipoServ="ngModel" required>
                      <mat-radio-button class="col-sm-6" value="cpt" [disabled]="servicioEdit && radioButtons.flgTipoServ=='actividad'"> CPT</mat-radio-button>
                      <mat-radio-button class="col-sm-6" value="actividad" [disabled]="servicioEdit && radioButtons.flgTipoServ=='cpt'">Actividad</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm-7 eliPaddLeft">
          <mat-card *ngIf="radioButtons.divCpt">
            <mat-card-header class="sombreadoSubtitulos">
              <mat-card-title class="subtitulo-seccion">Agregar CPT:</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="card-body">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-3">
                      <mat-form-field class="example-full-width">
                        <mat-label>C&oacute;digo:</mat-label>
                        <input matInput type="text" maxlength="8" [(ngModel)]="codigoProcedimiento" (input)="onSearchChange($event.target.value)" name="codigoProcs" #codigoProcs="ngModel" id="codigoProcs" [disabled]="isValidModify()" matTooltip="Escribir Codigo de 5 digitos"
                          [matTooltipPosition]="'above'" />
                        <mat-error>
                          <app-validators-messages [controlVar]="codigoProcs" labelName="C&oacute;digo">
          
                          </app-validators-messages>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Descripci&oacute;n De Procedimiento:</mat-label>
                        <textarea matInput type="text" [matAutocomplete]="auto" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="3" [(ngModel)]="descripcionProcedimiento" name="DescripcionProcs" #DescripcionProcs="ngModel"
                          id="DescripcionProcs" (input)="getProcedimientos($event.target.value)" [disabled]="isValidModify()"></textarea>
                        <mat-error>
                          <app-validators-messages [controlVar]="DescripcionProcs" labelName="Descripci&oacute;n De Procedimiento">
          
                          </app-validators-messages>
                        </mat-error>
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                          <div>
                            <mat-option (onSelectionChange)="placeNumDesc(numDocs)" *ngFor="let numDocs of lsNombreProcedimiento"
                              [value]="numDocs.descProcedimiento">
                              <span>{{ numDocs.descProcedimiento }}</span>
                            </mat-option>
                          </div>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3 margenAuto">
                      <button type="button" mat-raised-button (click)="agregarCpt()"
                        [disabled]="!selects.cpt.idCpt"> Agregar
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 ">
                  <div class="row">
                    <div class="table responsive">
                      <mat-table #table [dataSource]="dsCpt" class="mat-elevation-z8">

                        <!-- <ng-container matColumnDef="nro">
                      <mat-header-cell *matHeaderCellDef>N°</mat-header-cell>
                      <mat-cell *matCellDef="let element; let i = index"> {{i+1}} </mat-cell>
                    </ng-container> -->
                    <ng-container matColumnDef="codigo">
                      <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
                      <mat-cell *matCellDef="let element" > {{element.codigo}} </mat-cell>
                    </ng-container>
                        <ng-container matColumnDef="cptDetalle">
                          <mat-header-cell *matHeaderCellDef>Descripcion CPT</mat-header-cell>
                          <mat-cell *matCellDef="let element" ngbPopover="{{element.descProcedimiento}}" triggers="mouseenter:mouseleave"
                          popoverTitle="CPT"> {{element.descProcedimiento | truncate: 50}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="eliminar">
                          <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
                          <mat-cell *matCellDef="let element; let i = index">
                            <button mat-button>
                              <i class="material-icons" (click)="deleteCpt(i)">delete_forever</i>
                            </button>
                          </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="dcCpt"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: dcCpt;"></mat-row>

                      </mat-table>

                      <mat-paginator #paginatorCpt pageSize="5" [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons="true">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="col-sm-12 ">
        <mat-card class="agrandarContainer" *ngIf="radioButtons.divActividad">
          <!-- <mat-card [hidden]="radioButtons.flgTipoServ=='actividad'"> -->
          <mat-card-header class="sombreadoSubtitulos">
            <mat-card-title class="subtitulo-seccion"> Agregar Area - Especialidad - Actividad:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="card-body">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-3">
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="Area" [(ngModel)]="selects.area"
                        (selectionChange)="getEspecialidadList()" name="area" #area="ngModel" id="area">
                        <mat-option>Seleccione</mat-option>
                        <mat-option *ngFor="let a of areaList" [value]="a">
                          {{a.descripcionArea}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="Especialidad" [(ngModel)]="selects.especialidad" name="especialidad"
                        [disabled]="!selects.area" (selectionChange)="getActividadList()" #especialidad="ngModel"
                        id="especialidad">
                        <mat-option>Seleccione</mat-option>
                        <mat-option *ngFor="let es of especialidadList" [value]="es">
                          {{es.especialidad.valor}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3">
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="Actividad" [(ngModel)]="selects.actividad" name="actividad"
                        #actividad="ngModel" id="actividad" [disabled]="!selects.especialidad">
                        <mat-option>Seleccione</mat-option>
                        <mat-option *ngFor="let ac of actividadList" [value]="ac">
                          {{ac.descripcionActividad}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-3 text-right margenAuto">
                    <button type="button" mat-raised-button [disabled]="!selects.actividad"
                      (click)="agregarAreaEspecAct()"> Agregar </button>
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="row">
                  <div class="table responsive">
                    <mat-table #table [dataSource]="dsAreaEspecAct" class="mat-elevation-z8">

                      <ng-container matColumnDef="area">
                        <mat-header-cell *matHeaderCellDef>Area</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.area.nombre}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="especialidad">
                        <mat-header-cell *matHeaderCellDef>Especialidad</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.especialidad.nombre}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="actividad">
                        <mat-header-cell *matHeaderCellDef>Actividad</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.actividad.nombre}} </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="eliminar">
                        <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
                        <mat-cell *matCellDef="let element; let i = index">
                          <button mat-button>
                            <i class="material-icons" (click)="deleteAreaEspecAct(i)">delete_forever</i>
                          </button>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="dcAreaEspecAct"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: dcAreaEspecAct;"></mat-row>

                    </mat-table>
                    <mat-paginator #paginatorAea [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                      [showFirstLastButtons]="true">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-sm-12 text-right">
        <button mat-raised-button *ngIf="!request.servicio.idServicio" (click)="insertarActualizarServicio(1)"
          [disabled]="formCrearEditarServicio.invalid || !radioButtons.flgTipoServ"> Guardar
        </button>
        <button mat-raised-button *ngIf="request.servicio.idServicio" (click)="insertarActualizarServicio(2)"
          [disabled]="formCrearEditarServicio.invalid || !radioButtons.flgTipoServ"> Editar
        </button>
        <button mat-raised-button (click)="close()"> Cancelar </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>