<mat-card class="matCardMin">   

  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">{{cabecera.nombreComercial}}</mat-card-title>
    <div class="emp"> 
      <button mat-button class="mat-button-icon" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>


<div mat-dialog-content>
  <mat-card class="ampliarContainer" >
  <div class="modal-body" *ngIf="inventarioJSON!=null">
    <div class="row">

      <!-- <div class="col-sm-4 mdl-input-group mdl-input-group__only">

      </div>

      <div class="col-sm-4 mdl-input-group mdl-input-group__only">

      </div> -->
     
      <div class="col-sm-4 mdl-input-group mdl-input-group__only">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Numero de Inventario:" disabled value="{{cabecera.numeroInventario}}">
        </mat-form-field>
      </div>

      <div class="col-sm-4 mdl-input-group mdl-input-group__only">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Fecha:" disabled value="{{cabecera.feCierre}}">
        </mat-form-field>
      </div>

      <div class="col-sm-4 mdl-input-group mdl-input-group__only">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Hora:" disabled value="{{cabecera.fhMod}}">
        </mat-form-field>
      </div>

      <div class="col-sm-4 mdl-input-group mdl-input-group__only">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Responsable:" disabled value="{{cabecera.usuarioIns}}">
        </mat-form-field>
      </div>

      <div class="col-sm-4 mdl-input-group mdl-input-group__only">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Turno:" disabled value="{{cabecera.descripcionTurno}}">
        </mat-form-field>
      </div>

    </div>

  </div>
  </mat-card>

  <mat-card-content style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)">
    <div class="table-responsive">
      <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="item">
          <mat-header-cell *matHeaderCellDef> N° </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index"> {{i+1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> C&oacute;digo </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.inventarioDetalleUnit.almacenMedicamento.medicamento.formaFarmaceutica ? (element.inventarioDetalleUnit.almacenMedicamento.medicamento.codigo) : (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descripcionTipoDispositivo
            ? element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.codigo : '-')}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="producFarma">
          <mat-header-cell matTooltip="Producto Farmaceútico/Dispositivo Médico" matTooltipPosition="above" *matHeaderCellDef> P.F/D.M </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.inventarioDetalleUnit.almacenMedicamento.medicamento.formaFarmaceutica ? element.inventarioDetalleUnit.almacenMedicamento.medicamento.dciProductoFarmaceutico : ( element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descripcionTipoDispositivo
            ?  element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.dciDispMedicoProdSanitario : '-')}}
            {{ element.inventarioDetalleUnit.almacenMedicamento.medicamento.concentracion != ' ' ? element.inventarioDetalleUnit.almacenMedicamento.medicamento.concentracion :  element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.viaAdministracion}}

          </mat-cell>
        </ng-container>

        
        <ng-container matColumnDef="formaFarma">
            <mat-header-cell  matTooltip=" Forma Farmaceutica/Tipo de dispositivo" matTooltipPosition="above" *matHeaderCellDef> F.F/T.D </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.inventarioDetalleUnit.almacenMedicamento.medicamento.formaFarmaceutica ?
                element.inventarioDetalleUnit.almacenMedicamento.medicamento.formaFarmaceutica :
                (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descripcionTipoDispositivo
                ? element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descripcionTipoDispositivo : '-')}}
            </mat-cell>
          </ng-container>

          
      <ng-container matColumnDef="Marca">
          <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.inventarioDetalleUnit.almacenMedicamento.medicamento.marca ?
            element.inventarioDetalleUnit.almacenMedicamento.medicamento.marca :
            (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.marca
            ?
            (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.marca?element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.marca:
            '-') : '-')}} </mat-cell>
        </ng-container>
        
         <!-- <ng-container matColumnDef="lote">
          <mat-header-cell *matHeaderCellDef> Lote </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.medicamentoLote.descripcionMedicamentoLote ? element.medicamentoLote.descripcionMedicamentoLote : '-'}}
          </mat-cell>
        </ng-container>  -->
        <ng-container matColumnDef="Presentacion">
            <mat-header-cell *matHeaderCellDef> Presentación </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.inventarioDetalleUnit.almacenMedicamento.medicamento.presentacionEnvase ?
              element.inventarioDetalleUnit.almacenMedicamento.medicamento.presentacionEnvase :
              (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.presentacionEnvase
              ? element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.presentacionEnvase : '-')}}
            </mat-cell>
          </ng-container>
    
<!-- 
        <ng-container matColumnDef="fechaVencimiento">
          <mat-header-cell *matHeaderCellDef> Fecha de Vencimiento </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.medicamentoLote ? element.medicamentoLote.feVencimiento : '-'}}
          </mat-cell>
        </ng-container> -->


        <ng-container matColumnDef="unidadDeMedida">
          <mat-header-cell *matHeaderCellDef  matTooltip="Unidad de medida" matTooltipPosition="above"> U. Medida </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.inventarioDetalleUnit.almacenMedicamento.medicamento.descpUnidad ? element.inventarioDetalleUnit.almacenMedicamento.medicamento.descpUnidad : (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descpUnidad
            ? element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descpUnidad : '-')}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="stock">
            <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.inventarioDetalleUnit.cantidadSistema}} </mat-cell>
          </ng-container>

        <ng-container matColumnDef="conteo">
          <mat-header-cell *matHeaderCellDef> Conteo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.inventarioDetalleUnit.cantidadContada}} </mat-cell>
        </ng-container>

      

        <!-- <ng-container matColumnDef="precio">
          <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.inventarioDetalleUnit.almacenMedicamento.medicamento.formaFarmaceutica ? element.inventarioDetalleUnit.almacenMedicamento.medicamento.precioVenta : (element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.descripcionTipoDispositivo
            ? element.inventarioDetalleUnit.almacenMedicamento.dispMedicoProdSanitario.precioVenta : '-')}} </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedInventarios"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedInventarios;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</div>

<div class="text-right ali5">
  <button mat-raised-button (click)="imprimePDF(2)">Imprimir</button>
  <button mat-raised-button (click)="close()">Cancelar</button>
</div>
</mat-card>