<mat-toolbar class="colorMenu3">
  <mat-toolbar-row>
    <!-- <a mat-button class="mat-button {{activo[uri]}}" *ngFor="let uri of arrayUris" (click)="goToModulo(uri)">{{jsonUris[uri]}}</a> -->
    <a mat-button class="mat-button {{activado.administrarMaquinaria}}" (click)="goToModulo('administrarMaquinaria')">Administrar Maquinarias</a>
    <a mat-button class="mat-button {{activado.administrarMaterial}}" (click)="goToModulo('administrarMaterial')">Administrar Materiales</a>
    <a mat-button class="mat-button {{activado.controlarStock}}" (click)="goToModulo('controlarStock')">Controlar Stock</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>