<mat-card class="matCardMin">
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">{{flag == 1 ? 'Ingresar': 'Actualizar'}} Correlativo</mat-card-title>
    <div class="emp">
      <button mat-button class="mat-button-icon" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <form #InsertarEditarCorrelativoForm="ngForm" novalidate name="InsertarEditarCorrelativoForm">

      <div class="card-body">

        <div class="row">

          <div class="col-sm-12 text-center">
            <mat-form-field class="mat-form-field-flex2">
              <mat-select placeholder="Año" name="anio" [(ngModel)]="request.anio" [disabled]="flag==2">
                <mat-option *ngFor="let an of anios" [value]="an.anio">  {{ an.anio }} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-12 text-center" style="margin-top: 15px;">
            <mat-form-field class="mat-form-field-flex2">
              <!-- (selectionChange)="getTipoDocumentoFarmacia(request.idTipoDocumentoFarmacia)" -->
              <mat-select placeholder="Tipo Documento" name="convenios" [(ngModel)]="request.idTipoDocumentoFarmacia"
                [disabled]="flag==2">
                <mat-option *ngFor="let co of correlativo" [value]="co.idTipoDocumentoFarmacia">
                  {{ co.descripcionTipoDocumentoFarmacia }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-12 text-center" *ngIf="flag==2" style="margin-top: 10px;">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <mat-label for="numSecuencias">Numero Secuencia</mat-label>
              <input matInput name="numSecuencia" #numSecuencia="ngModel" id="numSecuencia"
                [(ngModel)]="request.numeroSecuencia" [maxLength]="12" required />
              <mat-error>
                <app-validators-messages [controlVar]="numSecuencia" labelName="Numero Secuencia">
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>


          <div class="row" style="margin-top: 15px;">
            <div class="col-sm-12" *ngIf="flag==1"  style="margin-left: 68px;">
              <button mat-raised-button (click)="insertarNuevoCorrelativo()"
                [disabled]="isInvalid(InsertarEditarCorrelativoForm)">Guardar
              </button>
              <button mat-raised-button (click)="close(1)">Cancelar
              </button>
            </div>

            <div class="col-sm-12" *ngIf="flag==2"  style="margin-left: 60px;">
              <button mat-raised-button (click)="actualizarNuevoCorrelativo()"
                [disabled]="isInvalid(InsertarEditarCorrelativoForm)">Actualizar
              </button>
              <button mat-raised-button (click)="close(1)">Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>