<div class="centrarTituloModal sombreadoSubtitulos ">
  <h4 mat-dialog-title class="subtitulo-seccion ">
    Eliminar Producto
  </h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <p class="text-center">¿Está seguro que desea eliminar al producto <b>{{ noProdName }}</b>   ?</p>

  </div>
</div>
<mat-dialog-actions class="modal-footer">
  <button type="button" mat-raised-button class="border-botton " (click)="eliminarProducto()">Aceptar</button>
  <button type="button" mat-raised-button class="border-botton" (click)="close()">Cancelar</button>
</mat-dialog-actions>