<mat-card class="matCardMin">
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Agregar Convenio Medicamento:</mat-card-title>
    <div class="emp">
      <button mat-button class="mat-button-icon" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir" aria-label="hola">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">

      <div class="col-sm-12">
        <form #formInsertarEditarServicio="ngForm" novalidate name="formInsertarEditarServicio">
          <div class="row justifyContent">
            <div class="col-sm-4">
              <mat-form-field class="example-full-width ">
                <mat-select placeholder="Convenio" name="idConvenio" #idConvenio="ngModel" [(ngModel)]="request.idConvenio" id="idConvenio"
                  (selectionChange)="seleccionarConvenio(request.idConvenio)" [disabled]="request.idConvenio" required>
                  <mat-option *ngFor="let cmd of lsconvenio" [value]="cmd.idConvenio">
                    {{cmd.nombreConvenio}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field class="col-sm-12">
                <mat-select placeholder="Tipo Copago:" name="tipoCopago" #tipoCopago="ngModel" [(ngModel)]="request.tipoCopago" (selectionChange)="seleccionarTipoCopago(request.tipoCopago)"
                  required>
                  <mat-option>
                    <strong>Seleccionar Tipo Copago</strong>
                  </mat-option>
                  <mat-option *ngFor="let option of grupoCopago; let i = index" [value]="option.id">
                    {{option.valor}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field class="example-full-width ">
                <mat-label>Producto Farmacéutico / Dispositivo Médico:</mat-label>
                <input matInput [matAutocomplete]="auto" name="descMedic" #descMedic="ngModel" id="descMedic" [(ngModel)]="descripMedicDispMedicProducSanit"
                  (input)="buscarMedicDispProdDescripcion($event.target.value)" [disabled]="disableMedic" required />
                <mat-error>
                  <app-validators-messages [controlVar]="descMedic" labelName="Producto Farmacéutico / Dispositivo Médico">
                  </app-validators-messages>
                </mat-error>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <div>
                    <mat-option (onSelectionChange)="seleccionaMedicamentoMaterial(dispMeD)" *ngFor="let dispMeD of medicDispMedicProdSanit"
                      [value]="dispMeD.dispositivoMedicamento +' '+ dispMeD.marca + ' ' + (dispMeD.presentacion ? dispMeD.presentacion
                                  : '') + ' ' + (dispMeD.viaAdministracion ? dispMeD.viaAdministracion : '') + ' ' + dispMeD.formaFarmaceutica
                                  +' '+ dispMeD.concentracion">
                      <span>{{ dispMeD.dispositivoMedicamento +' '+ dispMeD.marca + ' ' + (dispMeD.presentacion ? dispMeD.presentacion
                        : '') + ' ' + (dispMeD.viaAdministracion ? dispMeD.viaAdministracion : '') + ' ' + dispMeD.formaFarmaceutica
                        +' '+ dispMeD.concentracion }}</span>
                    </mat-option>
                  </div>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

        </form>
      </div>

      <div class="col-sm-12" *ngIf="unidadesMedidas.length!=0">
        <!-- <div class="row">
                  <h5 class="font negrita">Precio por Unidad:</h5>
                </div> -->
        <mat-card-header class="sombreadoSubtitulos mar3">
          <mat-card-title class="subtitulo-seccion">Precio por Unidad:</mat-card-title>
        </mat-card-header>
        <div class="row justifyContent">
          <div class="col-sm-3" *ngFor="let umed of unidadesMedidas; let i=index">
            <mat-form-field class="example-full-width">
              <input matInput type="number" placeholder="Precio {{umed.nombreUnidad}}" name="precio{{i}}" id="precio{{i}}" #precio="ngModel"
                [(ngModel)]="umed.precio" (keypress)="setInputPattern($event, 'realPrices')" [pattern]="setValidatorPattern('realPrices', setQuantifier(''), true, true)"
                [min]="0.5" type="number" [maxlength]="10" required />
              <mat-error>
                <app-validators-messages [controlVar]="precio" labelName="Precio">
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-3 text-right margenTop botonesAlfinal">
            <button mat-raised-button type="button" *ngIf="!convenioEdit" (click)="postConMedDisp(formInsertarEditarServicio)" [disabled]="isInvalid(formInsertarEditarServicio)">Agregar</button>
            <button mat-raised-button type="button" *ngIf="convenioEdit" (click)="editarMedicamento()">Editar</button>
            <!-- [disabled]="isInvalid(formInsertarEditarServicio)"]  -->
            <button *ngIf="convenioEdit" mat-raised-button (click)="cancelarEdicion(formInsertarEditarServicio)">Cancelar</button>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <mat-card-content>
          <div class="table responsive" *ngIf="!convenioEdit">
            <mat-table #table [dataSource]="dataSource">
              <!-- <ng-container matColumnDef="productFarma">
                    <mat-header-cell *matHeaderCellDef>
                      <div class="example-tooltip-host" matTooltip="Producto Farmacéutico / Dispositivo Médico"
                        [matTooltipPosition]="above">
                        <span>P. F./D. M.</span>
                      </div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.descMedicDisp}} 
                    </mat-cell>
                </ng-container> -->
              <ng-container matColumnDef="productFarma">
                <mat-header-cell *matHeaderCellDef matTooltip="Producto Farmaceutico / Dispositivo Medico" matTooltipPosition="above"> P. F./D. M. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.descMedicDisp}} </mat-cell>
              </ng-container>
              <!-- <ng-container matColumnDef="Unidad">
                    <mat-header-cell *matHeaderCellDef> Unidad </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.unidMed.nombreUnidad}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Precio">
                    <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.unidMed.precio}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Editar">
                    <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index">
                      <button mat-button (click)="editarMedicDisp(element,i)" [disabled]="disableMedic">
                        <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                          <span>
                            <i class="material-icons">edit</i>
                          </span>
                        </div>
                      </button>
                    </mat-cell>
                </ng-container>-->
              <ng-container matColumnDef="Accion">
                <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-button (click)="deleteMedicDisp(element.idMedicDisp,element.descMedicDisp)" [disabled]="showGuardar == 2">
                    <div class="example-tooltip-host" matTooltip="Eliminar" [matTooltipPosition]="'above'">
                      <span>
                        <i class="material-icons">delete</i>
                      </span>
                    </div>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumnsMedicDisp"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumnsMedicDisp;"></mat-row>
            </mat-table>
            <div class="col-12 text-right negrita">
              <button mat-raised-button (click)="insertarMedicamento()" [disabled]="this.arrayMedicDisp.length === 0 || disableMedic">Guardar</button>
            </div>
          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card-content>
</mat-card>