<h2 mat-dialog-title class="subtitulo-seccion sombreadoSubtitulos">Atender Solicitud
  <span class="example-spacer"></span>
  <button mat-button class="mat-button-icon" (click)="dismiss()">
    <div class="example-tooltip-host" matTooltip="Salir" [matTooltipPosition]="'above'">
      <span>
        <i class="material-icons">close</i>
      </span>
    </div>
  </button>
</h2>

<div mat-dialog-content>
  <mat-card>
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Solicitud</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="modal-body" *ngIf="cabeceraSolicitud!=null">
            <div class="row">
              <div class="col-sm-3 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{ tipoAlmacen == 'A' ? 'Farmacia Solicitante:' : 'Almacén Solicitante:'}}" disabled [value]="cabeceraSolicitud.descripAlmaSoli">
                </mat-form-field>
              </div>
        
              <div class="col-sm-3 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Fecha de Solicitud:" disabled [value]="cabeceraSolicitud.fechComprobante">
                </mat-form-field>
              </div>
        
              <div class="col-sm-3 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Número de Solicitud:" disabled [value]="cabeceraSolicitud.nroComprobante + - + (date | date: 'yyyy')  ">
                </mat-form-field>
              </div>
        
              <div class="col-sm-3 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{ tipoAlmacen == 'A' ? 'Número de Salida:' : 'Número de PECOSA:'}}" disabled value="{{ tipoAlmacen == 'A' ? 40 + '-' + (date | date: 'yyyy')  : 50 + '-' + (date | date: 'yyyy') }}">
                </mat-form-field>
              </div>
            </div>
          </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
  <form #atenderSolicitud="ngForm" novalidate name="atenderSolicitud">
    <mat-card-content>
      <div class="table responsive">
        <mat-table #table [dataSource]="matDataSource">
          <ng-container matColumnDef="Codigo">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.medicamento? element.medicamento.codigo : element.dispMedicoProdSanitario.codigo}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="productFarma">
            <mat-header-cell *matHeaderCellDef>
              <div class="example-tooltip-host" matTooltip="Producto Farmacéutico / Dispositivo Médico" [matTooltipPosition]="position">
                <span>P.F/D.M</span>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.medicamento? element.medicamento.dciProductoFarmaceutico+' '+element.medicamento.concentracion
              : element.dispMedicoProdSanitario.dciDispMedicoProdSanitario}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="formaFarma">
            <mat-header-cell *matHeaderCellDef>
              <div class="example-tooltip-host" matTooltip="Forma Farmacéutica / Tipo de Dispositivo" [matTooltipPosition]="position">
                <span>F.F/T.D</span>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.medicamento ? element.medicamento.formaFarmaceutica : (element.dispMedicoProdSanitario.tipoDispositivo.valor ? element.dispMedicoProdSanitario.tipoDispositivo.valor : '-' ) }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Presentacion">
            <mat-header-cell *matHeaderCellDef matTooltip="Presentacion" [matTooltipPosition]="position"> Pres. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.medicamento? element.medicamento.presentacionEnvase : element.dispMedicoProdSanitario.presentacion}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Lote">
            <mat-header-cell *matHeaderCellDef> Lote </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
                <div *ngIf = "element.flLote == 0">
                    -
                </div>
              <mat-form-field  *ngIf= "element.flLote == 1" class="example-full-width" floatLabel="never">
                  <input matInput type="text" [matAutocomplete]="auto" placeholder="Escriba Aquí:" [(ngModel)]="descripLote[i].descripcion" (focus)="limpiarMedicamentoLote()" (input)="getLotePromise($event.target.value, element,i)"
                  name="autoCompleteMedicDisp{{i}}" #autoCompleteMedicDisp="ngModel" required/>
                  <mat-error>
                    <app-validators-messages [controlVar]="autoCompleteMedicDisp" labelName="Escriba Aquí">
                    </app-validators-messages>
                  </mat-error>
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <div>
                      <mat-option (onSelectionChange)="selectMedicamentoLote(meds,i)" *ngFor="let meds of medicamentoLote" [value]="meds.descripcionMedicamentoLote">
                        <span>{{ meds.descripcionMedicamentoLote }}</span>
                      </mat-option>
                    </div>
                  </mat-autocomplete>
                </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fechaVen">
            <mat-header-cell *matHeaderCellDef>
              <div class="example-tooltip-host" matTooltip="Fecha de Vencimiento" [matTooltipPosition]="position">
                <span>Vencimiento</span>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.feVencimiento ? (element.feVencimiento | date: 'dd/MM/yyyy') : '-' }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Marca">
            <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.medicamento ? element.medicamento.marca : (element.dispMedicoProdSanitario.marca
              ? element.dispMedicoProdSanitario.marca : '-')}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="unidadMedida">
            <mat-header-cell *matHeaderCellDef matTooltip="Unidad de Medida" [matTooltipPosition]="position"> U.Medida </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.medicamento ? element.medicamento.nombreUnidad : (element.dispMedicoProdSanitario.nombreUnidad
              ? element.dispMedicoProdSanitario.nombreUnidad : '-')}} </mat-cell>            
          </ng-container>
          <ng-container matColumnDef="cantidadSolicitada">
            <mat-header-cell *matHeaderCellDef>
              <div class="example-tooltip-host" matTooltip="Cantidad Solicitada" [matTooltipPosition]="position">
                <span>Cantidad.S</span>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cantidadSolicitud}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="cantidadAtendida">
            <mat-header-cell *matHeaderCellDef>
              <div class="example-tooltip-host" matTooltip="Cantidad Atendida" [matTooltipPosition]="position">
                <span>Cantidad.A</span>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element;  let i = index">
              <div *ngIf = "element.flLote == 0">
                  0
              </div>     
              <!-- -->
              <mat-form-field  *ngIf= "element.flLote == 1" class="example-full-width" floatLabel="never">
                <input matInput placeholder="click Aqu&iacute;" name="cantAtenSoli{{i}}" #cantAtenSoli="ngModel" id="cantAtenSoli{{i}}" [(ngModel)]="element.cantidadAtendida"
                  (keypress)="setInputPattern($event, 'positiveDigits')" required [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
                  [min]="0" [lte]="validarCantAtendida(element.cantidadSolicitud,element.stockLote)">
                  <!-- [disabled]="!element.idMedicamentoLote" -->
                <mat-error>
                  <app-validators-messages [controlVar]="cantAtenSoli" labelName="Cantidad Atendida">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Stock">
            <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.stockLote ? element.stockLote : '-' }} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsComrobantes"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsComrobantes;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </form>
 </mat-card>
</div>

<div class="col-sm-12 text-right">
  <button mat-raised-button type="submit" (click)="insertarSolicitudAtendida(atenderSolicitud)" [disabled]="isInvalid(atenderSolicitud) || verificarCantidades()">Guardar</button>
  <button mat-raised-button (click)="dismiss()">Cancelar</button>
</div>