<div class="col-lg-12">

  <mat-card tabindex="-1">

    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Medicamento por Receta</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <form #buscarRecetaxMedic="ngForm" novalidate name="buscarRecetaxMedic">
        <div class="card-body xa">

          <!-- GRUPO MEDICAMENTO -->
          <div class="col-md-12">

            <div class="row justifyContent">
              <mat-form-field class="col-sm-4">
                <mat-select id="combo" #listaOpciones (change)="placeDesc(listaOpciones.value,buscarRecetaxMedic.form.controls.descMedicReport)"
                  [(ngModel)]="flgMedicDisp" placeholder="Seleccionar Grupo Medicamento" name="comboTipoMedic" disableRipple>
                  <mat-option *ngFor="let gM of gruposMedicamentos" [value]="gM.id">
                    {{gM.valor}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- PRODUCTO FARMACEUTICO - DISPOSITIVO MEDICO -->

            <!-- Medicamento -->
            <div class="row">
              <div class="col-sm-4 mdl-input-group mdl-input-group__only" *ngIf="flgMedicDisp!=null">
                <mat-form-field class="example-full-width">
                  <mat-label>{{ descripAutoComplete }}:</mat-label>
                  <input matInput [matAutocomplete]="auto" name="descMedicReport" #descMedicReport="ngModel" id="descMedicReport" [(ngModel)]="productoDescripcion"
                    (input)="buscarMedicDispProdDescripcion($event.target.value)" />
                  <mat-error>
                    <app-validators-messages [controlVar]="descMedicReport" labelName="Producto Farmacútico/Dispositivo Médico">
                      <!-- [ngDirty]="true" [ngTouched]="true" -->
                    </app-validators-messages>
                  </mat-error>
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <div>
                      <mat-option (onSelectionChange)="seleccionaMedicamento(dispMeD)" *ngFor="let dispMeD of filteredDispMedi" [value]="dispMeD.dispositivoMedicamento +' '+ dispMeD.marca + ' ' + (dispMeD.presentacion ? dispMeD.presentacion
                      : '') + ' ' + (dispMeD.viaAdministracion ? dispMeD.viaAdministracion : '') + ' ' + dispMeD.formaFarmaceutica
                      +' '+ dispMeD.concentracion">
                        <span>{{ dispMeD.dispositivoMedicamento + ' ' + dispMeD.marca + ' ' + dispMeD.formaFarmaceutica + ' ' +
                          dispMeD.concentracion }}</span>
                      </mat-option>
                    </div>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <!-- fecha inicio -->
              <div class="col-sm-2 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" [matDatepicker]="dp" name="feIniForm" #feIniForm="ngModel" [(ngModel)]="feIni" [maxDate]="feFin"
                    placeholder="Desde:" required>
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                  <mat-error>
                    <app-validators-messages [controlVar]="feIniForm" labelName="Fecha Desde">
                      <!-- [ngDirty]="true" [ngTouched]="true" -->
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- fecha fin -->
              <div class="col-sm-2 mdl-input-group mdl-input-group__only">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" [matDatepicker]="dpp" name="feFinForm" #feFinForm="ngModel" [(ngModel)]="feFin" [minDate]="feIni"
                    placeholder="Hasta:" required>
                  <mat-datepicker-toggle matSuffix [for]="dpp"></mat-datepicker-toggle>
                  <mat-datepicker #dpp></mat-datepicker>
                  <mat-error>
                    <app-validators-messages [controlVar]="feFinForm" labelName="Fecha Hasta">
                      <!-- [ngDirty]="true" [ngTouched]="true" -->
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- boton Buscar -->
              <div class="col-sm-4 mdl-input-group mdl-input-group__only text-rigth margenTop">
                <button type="submit" mat-raised-button (click)="buscarRecetaxMedicamento(buscarRecetaxMedic,1)" [disabled]="isInvalid(buscarRecetaxMedic) || !paramsBusqueda.idMedicamento">Buscar
                </button>
                <button mat-raised-button (click)="imprimePDF_EXCEL(2)"> Imp.PDF</button>
                <button mat-raised-button (click)="imprimePDF_EXCEL(1)">Imp.Excel</button>
              </div>

            </div>

            <!-- Imprimir PDF y EXCEL -->
            <!-- <div class="row">
              <div class="col-11"></div> -->
            <!-- PDF -->
            <!-- <div class="example-tooltip-host" matTooltip="Descarga PDF" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons" style="font-size: 40px;" (click)="imprimePDF_EXCEL(2)">picture_as_pdf</i>
                </span>
              </div> -->

            <!-- EXCEL -->
            <!-- <div class="example-tooltip-host" matTooltip="Descarga EXCEL" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons" style="font-size: 40px;" (click)="imprimePDF_EXCEL(1)">explicit</i>
                </span>
              </div>
            </div> -->

          </div>

        </div>
      </form>

    </mat-card-content>
    <div>
      <mat-card-content>
        <!-- COMIENZA TABLA -->
        <div class="table responsive" *ngIf="receCab.length!=0">

          <table class="table" style="display: table;">
            <thead>
              <tr>
                <th class="text-center">Fecha</th>
                <th class="text-center">Hora</th>
                <th class="text-center">N° de Receta</th>
                <th class="text-center">Historia Clínica</th>
                <th class="text-center">Acto Médico</th>
                <th class="text-center">Paciente</th>
                <th class="text-center">Médico</th>
                <th class="text-center">Unidad de Medida</th>
                <th class="text-center">Cantidad Despachada</th>
                <th class="text-center">Precio</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let rc of receCab">
                <tr *ngFor="let p of rc.recetaDetalleList; let i = index">
                  <td scope="row" class="text-center">{{rc.feIns}}</td>
                  <td scope="row" class="text-center">{{rc.hoIns}}</td>
                  <td scope="row" class="text-center">{{rc.idReceta}}</td>
                  <td scope="row" class="text-center">{{rc.idHistoria}}</td>
                  <td scope="row" class="text-center">{{rc.actoMedico.idActoMedico}}</td>
                  <td scope="row" class="text-center">{{rc.actoMedico.cita.persona.apellidoPaterno}} {{rc.actoMedico.cita.persona.nombres}}</td>
                  <td scope="row" class="text-center">{{rc.actoMedico.cita.personal.apellidoPaternoPersonal}} {{rc.actoMedico.cita.personal.nombrePersonal}}
                  </td>
                  <td scope="row" class="text-center">{{rc.unidad}}</td>
                  <td scope="row" class="text-center">{{p.cantidad}}</td>
                  <td scope="row" class="text-center">{{p.medicamento.precioVenta ? p.medicamento.precioVenta : (p.dispMedicoProdSanitario.precioVenta ? p.dispMedicoProdSanitario.precioVenta
                    : '-')}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>

          <!-- PAGINADOR -->

          <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event,buscarRecetaxMedic)"
            showFirstLastButtons></mat-paginator>

        </div>

      </mat-card-content>
    </div>
  </mat-card>

</div>
<br>