<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion"> Historial de Atenciones </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">

      <mat-accordion class="example-headers-align">

        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true" *ngIf="false">
          <mat-expansion-panel-header>
            <mat-panel-title> Datos del Paciente </mat-panel-title>

            <!-- <mat-panel-description>
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <mat-action-row>
            <div class="col-sm-12 col-md-6">
              <div class="form-grup form-group-sm row">
                <mat-form-field class="col-sm-12">
                  <input matInput placeholder="Apeliido y Nombre"
                    value="{{cabeceraDatosPersona.persona.apellidoPaterno}} {{cabeceraDatosPersona.persona.apellidoMaterno}} {{cabeceraDatosPersona.persona.nombres}}"
                    readonly>
                </mat-form-field>
              </div>
              <div class="form-grup form-group-sm row">
                <mat-form-field class="col-sm-6">
                  <input matInput placeholder="Tipo de Documento"
                    value="{{cabeceraDatosPersona.persona.tipoDocumentoIdentidad.descripcion}}">
                </mat-form-field>
                <mat-form-field class="col-sm-6">
                  <input matInput placeholder="Numero de Documento"
                    value="{{cabeceraDatosPersona.persona.numeroDocumentoIdentidad}}">
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-grup form-group-sm row">
                <mat-form-field class="col-sm-12">
                  <input matInput placeholder="Fecha de Vigencia"
                    value="{{cabeceraDatosPersona.persona.planList[0].feVigencia}}" readonly>
                </mat-form-field>
              </div>
              <div class="form-grup form-group-sm row">
                <mat-form-field class="col-sm-6">
                  <input matInput placeholder="Sexo" value="{{cabeceraDatosPersona.persona.sexo.valor}}" readonly>
                </mat-form-field>
                <mat-form-field class="col-sm-6">
                  <input matInput placeholder="Edad" value="{{cabeceraDatosPersona.persona.edad}}" readonly>
                </mat-form-field>
              </div>
            </div>
          </mat-action-row>
          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Continuar</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Acto M&eacute;dico </mat-panel-title>

            <!-- <mat-panel-description>
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description> -->
          </mat-expansion-panel-header>
          <mat-action-row>
            <div class="col-sm-11 row">

              <div class="col-sm-12 col-md-6">
                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Numero de Acto Médico" value="{{listActoMedicoAdicional.idActoMedico}}"
                      readonly>
                  </mat-form-field>
                </div>
                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Establecimiento Médico"
                      value="{{listActoMedicoAdicional.descripcionIpress}}" readonly>
                  </mat-form-field>
                </div>
                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Emergencia" value="--" readonly>
                  </mat-form-field>
                </div>
                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Tópico" value="--" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="N° Historia Clínica" value="{{listActoMedicoAdicional.idHistoria}}"
                      readonly>
                  </mat-form-field>
                </div>
                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Fecha de Ingreso" value="{{listActoMedicoAdicional.feCita}}" readonly>
                  </mat-form-field>
                </div>
                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Plan de Salud" value="{{listActoMedicoAdicional.descripcionCobertura}}"
                      readonly>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="form-grup form-group-sm row">
                <button mat-icon-button class="col-sm-6" color="primary" (click)="sigAtencionMedica(2)"
                  [disabled]="btnAtencionMedica">
                  <mat-icon>chevron_left</mat-icon>
                </button>
                <button mat-icon-button class="col-sm-6" color="primary" (click)="sigAtencionMedica(1)"
                  [disabled]="btnAtencionMedica">
                  <mat-icon>chevron_right</mat-icon>
                </button>
              </div>
            </div>

          </mat-action-row>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Atras</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title> N&uacute;mero de Atenci&oacute;n </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-row>
            <div class="col-sm-11 row">

              <div class="col-sm-12 col-md-6">
                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Numero de Atención Medica" value="{{atencionMedica.idAtencion}}"
                      readonly>
                  </mat-form-field>
                </div>
                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Fecha de Atención" value="{{atencionMedica.fecAtencion}}" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Profesional"
                      value="{{atencionMedica.apellidoPaternoPersonal}} {{atencionMedica.apellidoMaternoPersonal}} {{atencionMedica.nombresPersonal}}"
                      readonly>
                  </mat-form-field>
                </div>
                <div class="form-grup form-group-sm row">
                  <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Hora de Atención" value="{{atencionMedica.horaAtencion}}" readonly>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="form-grup form-group-sm row">
                <button mat-icon-button class="col-sm-6" color="primary" (click)="sigActoMedico(2)">
                  <mat-icon>chevron_left</mat-icon>
                </button>
                <button mat-icon-button class="col-sm-6" color="primary" (click)="sigActoMedico(1)">
                  <mat-icon>chevron_right</mat-icon>
                </button>
              </div>

              <!-- <button class="col-sm-6" (click)="sigAtencionMedica(2)" [disabled]="btnAtencionMedica">
                    <mat-icon>chevron_left </mat-icon>
                  </button>
                  <button class="col-sm-6" (click)="sigAtencionMedica(1)" [disabled]="btnAtencionMedica">
                    <mat-icon>chevron_right </mat-icon>
                  </button> -->
            </div>

          </mat-action-row>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Atras</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Antecedentes </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-row class="row">
            <div class="col-sm-6">
              <div class="form-grup form-group-sm row t-antecedente">
                <div class="col-sm-12" *ngIf="listAntecedentesHistorial.objAntecedentes.antecedentePrenatal != null">
                  <mat-card>
                    <mat-card-header class="sombreadoSubtitulos">
                      <mat-card-title class="subtitulo-seccion">Antecedentes Prenatales</mat-card-title>
                    </mat-card-header>
                   
                    <mat-card-content>
                      <div class="card-body l-con">
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-5"><b>A. Embarazo </b> </label>
                          <label class="col-sm-7"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePrenatal.idEmbarazo == 1 ? 'Normal' : 'Complicado'}}
                          </label>
                        </div>

                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-5"><b>Patologia Durante Gestación: </b> </label>
                          <label class="col-sm-7"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePrenatal.patologiaGestacion}}
                          </label>
                        </div>

                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-5"><b>Número de Embarazo </b> </label>
                          <label class="col-sm-7"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePrenatal.numeroEmbarazo}}</label>
                        </div>

                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-5"> <b>Atención Prenatal: </b> </label>
                          <label class="col-sm-7"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePrenatal.atencionPrenatal == 10 ? 'No' : 'Si'}}
                          </label>
                        </div>

                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-5"> <b>B. Parto </b> </label>
                          <label class="col-sm-7"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePrenatal.atencionPrenatal == 1 ? 'P.Eutócico' : 'Distocico'}}
                          </label>
                        </div>

                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-5"> <b>Complicaciones del Parto</b> </label>
                          <label class="col-sm-7"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePrenatal.complicacionParto}} </label>
                        </div>

                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-5"> <b>Lugar del Parto</b> </label>
                          <label class="col-sm-7"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePrenatal.lugarParto}} </label>
                        </div>

                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-5"> <b>Atendido por</b> </label>
                          <label class="col-sm-7"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePrenatal.valorOpcionPrenatalAtendido}}
                          </label>
                        </div>

                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-sm-12" *ngIf="listAntecedentesHistorial.objAntecedentes.antecedenteGeneral != null">
                  <mat-card>
                    <mat-card-header class="sombreadoSubtitulos">
                      <mat-card-title class="subtitulo-seccion">Antecedentes Generales</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content>
                      <div class="card-body l-con">
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-6 col-md-4"><b>Servicio de Agua </b> </label>
                          <label class="col-sm-6 col-md-2"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedenteGeneral.servicioAgua == 1 ? 'Si': 'No'}}
                          </label>
                          <label class="col-sm-6 col-md-4"><b>Servicio de Luz </b> </label>
                          <label class="col-sm-6 col-md-2"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedenteGeneral.servicioLuz == 1 ? 'Si': 'No'}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-4"><b>Servicio de Desague </b> </label>
                          <label class="col-sm-8"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedenteGeneral.servicioDesague == 1 ? 'Si': 'No'}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-6 col-md-4"><b>Tipo de Vivienda </b> </label>
                          <label class="col-sm-6 col-md-2"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedenteGeneral.servicioAgua == 1 ? 'Si': 'No'}}
                          </label>
                          <label class="col-sm-6 col-md-3"><b>Especificación </b> </label>
                          <label class="col-sm-6 col-md-3"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedenteGeneral.tipoVivienda_especificar ? listAntecedentesHistorial.objAntecedentes.antecedenteGeneral.tipoVivienda_especificar : '--'}}
                          </label>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-sm-12"
                  *ngIf="listAntecedentesHistorial.objAntecedentes.antecedenteAlimentacion != null">
                  <mat-card>
                    <mat-card-header class="sombreadoSubtitulos">
                      <mat-card-title class="subtitulo-seccion">Antecedentes de Alimentacion</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="card-body l-con">
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-md-6"><b>Primeros 6 meses </b> </label>
                          <label class="col-md-6"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedenteAlimentacion.primeroSeisMeses}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-md-6"><b>Suplemento de Fe (&lt;2 a&ntilde;os) </b> </label>
                          <label class="col-md-6"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedenteAlimentacion.suplementoFe == 1? 'Si' : 'No'}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-md-6"><b>Inicio de Alimentación Complementaria </b> </label>
                          <label class="col-md-6"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedenteAlimentacion.inicioAlimentacionComplementaria}}
                          </label>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-sm-12" *ngIf="listAntecedentesHistorial.objAntecedentes.antecedenteMedicamento != null">
                  <mat-card>
                    <mat-card-header class="sombreadoSubtitulos">
                      <mat-card-title class="sombreadoSubtitulos">Antecedentes Medicamentos</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="card-body l-con">
                        <div class="form-grup form-group-sm align-items-start">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <!-- <th scope="col">#</th> -->
                                <th scope="col">Descripción</th>
                                <th scope="col">Dosis</th>
                                <th scope="col">Observaciones</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                *ngFor="let xx of listAntecedentesHistorial.objAntecedentes.antecedenteMedicamento.lsMedicamentoFrecuente;index as i">
                                <!-- <th>{{i+1}}</th> -->
                                <td>{{xx.nombre}}</td>
                                <td>{{xx.dosis}}</td>
                                <td>{{xx.observaciones}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>

            <div class="col-sm-6">

              <div class="form-grup form-group-sm row t-antecedente">
                <div class="col-sm-12" *ngIf="listAntecedentesHistorial.objAntecedentes.antecedentePerinatal != null">
                  <mat-card>
                    <mat-card-header class="sombreadoSubtitulos">
                      <mat-card-title class="subtitulo-seccion">Antecedentes Perinatales</mat-card-title>
                    </mat-card-header>
                
                    <mat-card-content>
                      <div class="card-body l-con">
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-8"><b>Edad Gestacional al Nacer (semanas)</b> </label>
                          <label class="col-sm-4"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePerinatal.numeroSemanaNacimiento}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-5"><b>Peso al Nacer (gr.)</b> </label>
                          <label class="col-sm-7"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePerinatal.pesoNacimiento}} </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-5"><b>Talla al Nacer (cm.)</b> </label>
                          <label class="col-sm-7"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePerinatal.tallaNacimiento}} </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-5"><b>Perimetro Cefálico</b> </label>
                          <label class="col-sm-7"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePerinatal.perimetroCefalico}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-5"><b>Perimetro Torácico</b> </label>
                          <label class="col-sm-7"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePerinatal.perimetroToracico}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-12"><b>Respiración y llanto al Nacer</b> </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-6 col-md-3"><b>Inmediato</b> </label>
                          <label class="col-sm-6 col-md-9"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePerinatal.respiracionLlantoNacimiento == 1 ? 'Si': 'No'}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-6 col-md-3"><b>APGAR 1m</b> </label>
                          <label class="col-sm-6 col-md-2"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePerinatal.apgar1m ? listAntecedentesHistorial.objAntecedentes.antecedentePerinatal.apgar1m : '--'}}
                          </label>
                          <label class="col-sm-6 col-md-4"><b>APGAR 5m</b> </label>
                          <label class="col-sm-6 col-md-3"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePerinatal.apgar5m ? listAntecedentesHistorial.objAntecedentes.antecedentePerinatal.apgar5m : '--'}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-6 col-md-3"><b>Reanimación</b> </label>
                          <label class="col-sm-6 col-md-2"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePerinatal.reanimacion == 1 ? 'Si': 'No'}}
                          </label>
                          <label class="col-sm-6 col-md-4"><b>Patologia Neonatal</b> </label>
                          <label class="col-sm-6 col-md-3"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePerinatal.paotologiaNeonatal == 1 ? 'Si': 'No'}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-sm-6 col-md-3"><b>hospitalización</b> </label>
                          <label class="col-sm-6 col-md-9"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePerinatal.hospitalizacion == 1 ? 'Si': 'No'}}
                          </label>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-sm-12" *ngIf="listAntecedentesHistorial.objAntecedentes.antecedentePatologico != null">
                  <mat-card>
                    <mat-card-header class="sombreadoSubtitulos">
                      <mat-card-title class="subtitulo-seccion">Antecedentes Patológicos</mat-card-title>
                    </mat-card-header>
               
                    <mat-card-content>
                      <div class="card-body l-con">
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-md-4"><b>Familiares </b> </label>
                          <label class="col-md-8"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePatologico.dianogticoFamiliar}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-md-4"><b>PsicoSociales </b> </label>
                          <label class="col-md-8"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePatologico.dianogticoPsicosocial}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-md-6"><b>Salud Sexual y Reproductivo </b> </label>
                          <label class="col-md-6"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedentePatologico.saludSexualReproductiva}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm align-items-start">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Fecha</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr
                                *ngFor="let xx of listAntecedentesHistorial.objAntecedentes.antecedentePatologico.lsDiagnosticoPersonal;index as i">
                                <th>{{i+1}}</th>
                                <td>{{xx.diagnostico}}</td>
                                <td>{{xx.desde}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div class="col-sm-12" *ngIf="listAntecedentesHistorial.objAntecedentes.antecedenteFisiologico !=null">
                  <mat-card>
                    <mat-card-header class="sombreadoSubtitulos">
                      <mat-card-title class="subtitulo-seccion">Antecedentes Fisilógicos</mat-card-title>
                    </mat-card-header>
                   
                    <mat-card-content>
                      <div class="card-body l-con">
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-md-4"><b>Tipo de Nacimiento </b> </label>
                          <label class="col-md-8"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedenteFisiologico.tipoNacimiento == 24 ? 'Eutócico' : 'Distósico'}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-md-4"><b>Dentición </b> </label>
                          <label class="col-md-8"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedenteFisiologico.denticion ? listAntecedentesHistorial.objAntecedentes.antecedenteFisiologico.denticion : '--'}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-md-4"><b>Climaterio </b> </label>
                          <label class="col-md-8"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedenteFisiologico.climaterio ? listAntecedentesHistorial.objAntecedentes.antecedenteFisiologico.climaterio : '--'}}
                          </label>
                        </div>
                        <div class="form-grup form-group-sm row align-items-start">
                          <label class="col-md-4"><b>Lactancia </b> </label>
                          <label class="col-md-8"><b>:</b>
                            {{listAntecedentesHistorial.objAntecedentes.antecedenteFisiologico.lactancia == 26 ? 'Materna Externa' : listAntecedentesHistorial.objAntecedentes.antecedenteFisiologico.lactancia == 27 ? 'Mixta':'Formula'}}
                          </label>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>

                </div>
              </div>

            </div>
          </mat-action-row>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Atras</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Esquema de Vacunaci&oacute;n </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-action-row>
            <div class="col-sm-12">
              <div class="form-grup form-group-sm row">
                <mat-form-field class="col-sm-12 col-md-6">
                  <input matInput placeholder="Tuberculosis(BGC)" [(ngModel)]="listEsquemaDeVacunacion.tuberculosis"
                    readonly>
                </mat-form-field>
                <mat-form-field class="col-sm-12 col-md-6">
                  <input matInput placeholder="Antihepatitis" [(ngModel)]="listEsquemaDeVacunacion.antihepatitis"
                    readonly>
                </mat-form-field>
              </div>
              <div class="form-grup form-group-sm row">
                <div class="col-sm-12 col-sm-6">
                  <table class="table table-hover">
                    <thead>
                      <tr id="titulo">
                        <th>Vacuna</th>
                        <th>1era</th>
                        <th>2da</th>
                        <th>3era</th>
                        <th>Fecha de Próxima Dosis</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row">Antipolio</td>
                        <td scope="row">{{listEsquemaDeVacunacion.antipolioPrimera}}</td>
                        <td scope="row">{{listEsquemaDeVacunacion.antipolioSegunda}}</td>
                        <td scope="row">{{listEsquemaDeVacunacion.antipolioTercera}}</td>
                        <td scope="row">{{listEsquemaDeVacunacion.antipolioProxDosis}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Pentavalente</td>
                        <td scope="row">{{listEsquemaDeVacunacion.pentavalentePrimera}}</td>
                        <td scope="row">{{listEsquemaDeVacunacion.pentavalenteSegunda}}</td>
                        <td scope="row">{{listEsquemaDeVacunacion.pentavalenteTercera}}</td>
                        <td scope="row">{{listEsquemaDeVacunacion.pentavalenteProxDosis}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Neumococo</td>
                        <td scope="row">{{listEsquemaDeVacunacion.neumococoPrimera}}</td>
                        <td scope="row">{{listEsquemaDeVacunacion.neumococoSegunda}}</td>
                        <td scope="row">{{listEsquemaDeVacunacion.neumococoTercera}}</td>
                        <td scope="row">{{listEsquemaDeVacunacion.neumococoProxDosis}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Rotavirus</td>
                        <td scope="row">{{listEsquemaDeVacunacion.rotavirusPrimera}}</td>
                        <td scope="row">{{listEsquemaDeVacunacion.rotavirusSegunda}}</td>
                        <td scope="row">--</td>
                        <td scope="row">{{listEsquemaDeVacunacion.rotavirusProxDosis}}</td>
                      </tr>
                      <tr>
                        <td scope="row">Influenza</td>
                        <td scope="row">{{listEsquemaDeVacunacion.influenzaPrimera}}</td>
                        <td scope="row">{{listEsquemaDeVacunacion.influenzaSegunda}}</td>
                        <td scope="row">--</td>
                        <td scope="row">{{listEsquemaDeVacunacion.influenzaProxDosis}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-sm-12 col-sm-6">
                  <div class="form-grup form-group-sm row">
                    <mat-form-field class="col-sm-6">
                      <input matInput placeholder="Sarampeón, rubeola y paperas (SPR)"
                        [(ngModel)]="listEsquemaDeVacunacion.sarampionRubeolaPapera" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-sm-6">
                      <input matInput placeholder="Antiamarílica (15 meses)"
                        [(ngModel)]="listEsquemaDeVacunacion.antiamarillica" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-sm-6">
                      <input matInput placeholder="1er Refuerzo DPT (18 meses ó 6 meses despues de la 3ra pentavalente)"
                        [(ngModel)]="listEsquemaDeVacunacion.refuerzoDPTPrimera" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-sm-6">
                      <input matInput placeholder="2do Refuerzo DPT (4 años) Refuerzo SPR"
                        [(ngModel)]="listEsquemaDeVacunacion.refuerzoDPTSegunda" readonly>
                    </mat-form-field>
                  </div>
                  <div class="form-grup form-group-sm row">
                    <div class="col-sm-12">
                      <table class="table table-hover">
                        <thead>
                          <th>Vacuna (10 años)</th>
                          <th>1ra dosis</th>
                          <th>2da dosis</th>
                          <th>3ra dosis</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>VPH</td>
                            <td>
                              <div class="form-grup form-group-sm row">
                                <mat-label class="col-sm-12  bold-text"> {{listEsquemaDeVacunacion.vphPrimera}}
                                </mat-label>
                              </div>
                            </td>
                            <td>
                              <div class="form-grup form-group-sm row">
                                <mat-label class="col-sm-12  bold-text"> {{listEsquemaDeVacunacion.vphSegunda}}
                                </mat-label>
                              </div>
                            </td>
                            <td>
                              <div class="form-grup form-group-sm row">
                                <mat-label class="col-sm-12  bold-text"> {{listEsquemaDeVacunacion.vphTercera}}
                                </mat-label>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>DT</td>
                            <td>
                              <div class="form-grup form-group-sm row">
                                <mat-label class="col-sm-12  bold-text"> {{listEsquemaDeVacunacion.dtPrimera}}
                                </mat-label>
                              </div>
                            </td>
                            <td>
                              <div class="form-grup form-group-sm row">
                                <mat-label class="col-sm-12  bold-text"> {{listEsquemaDeVacunacion.dtSegunda}}
                                </mat-label>
                              </div>
                            </td>
                            <td>
                              <div class="form-grup form-group-sm row">
                                <mat-label class="col-sm-12  bold-text">
                                  {{(listEsquemaDeVacunacion.dtTercera) ? listEsquemaDeVacunacion.dtTercera : '--' }}
                                </mat-label>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-action-row>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Atras</button>
            <button mat-button color="primary" (click)="nextStep()">Cerrar</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Anamnesis </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-action-row class="row">
            <div class="col-sm-6">
              <div class="form-grup form-group-sm row align-items-start">
                <label class="col-sm-5"><b>Motivo de Consulta </b> </label>
                <label class="col-sm-7"><b>:</b> {{listActoMedicoAdicional.motivoConsulta}} </label>
              </div>
              <div class="form-grup form-group-sm row align-items-start">
                <label class="col-sm-5"><b>Tiempo de Enfermedad </b> </label>
                <label class="col-sm-7"><b>:</b> {{listActoMedicoAdicional.tiempoEnfermedad}} </label>
              </div>
              <div class="form-grup form-group-sm row align-items-start">
                <label class="col-sm-5"><b>Curso de Enfermedad </b> </label>
                <label class="col-sm-7"><b>:</b> {{listActoMedicoAdicional.cursoEnfermedad}} </label>
              </div>
              <div class="form-grup form-group-sm row align-items-start">
                <label class="col-sm-5"><b>Forma de Inicio</b> </label>
                <label class="col-sm-7"><b>:</b> {{listActoMedicoAdicional.formaInicio}} </label>
              </div>
              <div class="form-grup form-group-sm row align-items-start">
                <label class="col-sm-5"><b>Forma de Inicio</b> </label>
                <label class="col-sm-7"><b>:</b> {{listActoMedicoAdicional.anamnesisRelato}} </label>
              </div>
            </div>

            <div class="col-sm-6">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>Funciones Biol&oacute;gica</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="card-body">
                    <div class="form-grup form-group-sm row align-items-start">
                      <label class="col-sm-5"><b>Apetito </b> </label>
                      <label class="col-sm-7"><b>:</b> {{listActoMedicoAdicional.apetito ? listActoMedicoAdicional.apetito : '--'}} </label>
                    </div>
                    <div class="form-grup form-group-sm row align-items-start">
                      <label class="col-sm-5"><b>Sed </b> </label>
                      <label class="col-sm-7"><b>:</b> {{listActoMedicoAdicional.sed ? listActoMedicoAdicional.sed  : '--'}} </label>
                    </div>
                    <div class="form-grup form-group-sm row align-items-start">
                      <label class="col-sm-5"><b>Orina </b> </label>
                      <label class="col-sm-7"><b>:</b> {{listActoMedicoAdicional.orina ? listActoMedicoAdicional.orina  : '--'}} </label>
                    </div>
                    <div class="form-grup form-group-sm row align-items-start">
                      <label class="col-sm-5"><b>Deposici&oacute;n </b> </label>
                      <label class="col-sm-7"><b>:</b> {{listActoMedicoAdicional.depocision ? listActoMedicoAdicional.depocision  : '--'}} </label>
                    </div>
                    <div class="form-grup form-group-sm row align-items-start">
                      <label class="col-sm-5"><b>Sueño </b> </label>
                      <label class="col-sm-7"><b>:</b> {{listActoMedicoAdicional.sueno ? listActoMedicoAdicional.sueno  : '--'}} </label>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-action-row>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Atras</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Ex&aacute;men Fisico </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-action-row *ngIf="listActoMedicoAdicional!=null">
            <div class="col-sm-12">
              <table class="table table-hover">
                <thead>
                  <tr id="titulo" class="text-center">
                    <th>Vacuna</th>
                    <th><span matTooltip="Presion Arterial">P°A</span></th>
                    <th><span matTooltip="Frecuencia Cardiaca">FC</span></th>
                    <th><span matTooltip="Frecuencia Respiratoria">FR</span></th>
                    <th><span matTooltip="Perimetro Cefálico">P°C</span></th>
                    <th><span matTooltip="Peso en kilogramas">Peso (Kg.)</span></th>
                    <th><span matTooltip="Talla en centímetros">Talla (cm.)</span> </th>
                    <th><span matTooltip="Indice de Masa Corporal">IMC</span></th>
                    <th>Estado Nutricional</th>
                    <th><span matTooltip="Peso/Edad">P/E</span></th>
                    <th><span matTooltip="Talla/Edad">T/E</span></th>
                    <th><span matTooltip="Peso/Talla">P/T</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center">
                    <td>Signos Vitales</td>
                    <td>
                      <div class="form-grup form-group-sm row">
                        <mat-label class="col-sm-12  bold-text">
                          {{listActoMedicoAdicional.pa ? listActoMedicoAdicional.pa : '--'}} </mat-label>
                      </div>
                    </td>
                    <td>
                      <div class="form-grup form-group-sm row">
                        <mat-label class="col-sm-12  bold-text">
                          {{listActoMedicoAdicional.fc ? listActoMedicoAdicional.fc : '--'}} </mat-label>
                      </div>
                    </td>
                    <td>
                      <div class="form-grup form-group-sm row">
                        <mat-label class="col-sm-12  bold-text">
                          {{listActoMedicoAdicional.fr ? listActoMedicoAdicional.fr : '--'}} </mat-label>
                      </div>
                    </td>
                    <td>
                      <div class="form-grup form-group-sm row">
                        <mat-label class="col-sm-12  bold-text">
                          {{listActoMedicoAdicional.pC ? listActoMedicoAdicional.pC : '--'}} </mat-label>
                      </div>
                    </td>
                    <td>
                      <div class="form-grup form-group-sm row">
                        <mat-label class="col-sm-12  bold-text">
                          {{listActoMedicoAdicional.peso ? listActoMedicoAdicional.peso : '--'}} </mat-label>
                      </div>
                    </td>
                    <td>
                      <div class="form-grup form-group-sm row">
                        <mat-label class="col-sm-12  bold-text">
                          {{listActoMedicoAdicional.talla ? listActoMedicoAdicional.talla : '--'}} </mat-label>
                      </div>
                    </td>
                    <td>
                      <div class="form-grup form-group-sm row">
                        <mat-label class="col-sm-12  bold-text">
                          {{listActoMedicoAdicional.imc ? listActoMedicoAdicional.imc : '--'}} </mat-label>
                      </div>
                    </td>
                    <td>
                      <div class="form-grup form-group-sm row">
                        <mat-label class="col-sm-12  bold-text">
                          {{listActoMedicoAdicional.examenNutricional ? listActoMedicoAdicional.examenNutricional : '--'}}
                        </mat-label>
                      </div>
                    </td>
                    <td>
                      <div class="form-grup form-group-sm row">
                        <mat-label class="col-sm-12  bold-text">
                          {{listActoMedicoAdicional.pE?listActoMedicoAdicional.pE:'--'}} </mat-label>
                      </div>
                    </td>
                    <td>
                      <div class="form-grup form-group-sm row">
                        <mat-label class="col-sm-12  bold-text">
                          {{listActoMedicoAdicional.tE ? listActoMedicoAdicional.tE : '--'}} </mat-label>
                      </div>
                    </td>
                    <td>
                      <div class="form-grup form-group-sm row">
                        <mat-label class="col-sm-12  bold-text">
                          {{listActoMedicoAdicional.pT ? listActoMedicoAdicional.pT : '--'}} </mat-label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-action-row>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Atras</button>
            <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>



    </div>
  </mat-card-content>
</mat-card>




<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <!-- <ngb-panel title="Datos del Paciente">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-md-6">
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">Apellido y Nombre: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.apellidoPaterno}} {{cabeceraDatosPersona.persona.apellidoMaterno}} {{cabeceraDatosPersona.persona.nombres}}
            </label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">T. de Documento: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.tipoDocumentoIdentidad.descripcion}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">N° de Documento: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.numeroDocumentoIdentidad}}</label>
          </div>

        </div>
        <div class="col-md-6">
          <div class="form-grup form-group-sm row">
            <label class="col-sm-6 col-form-label">Fecha de Vigencia: </label>
            <label class="col-sm-6 col-form-label text-secondary">{{cabeceraDatosPersona.persona.planList[0].feVigencia}}</label>
          </div>
          <div class="form-grup form-group-sm row">
            <label class="col-sm-2 col-form-label">Sexo: </label>
            <label class="col-sm-4 col-form-label text-secondary">{{cabeceraDatosPersona.persona.sexo.valor}}</label>
            <label class="col-sm-3 col-form-label">Edad: </label>
            <label class="col-sm-3 col-form-label text-secondary">{{cabeceraDatosPersona.persona.edad}}</label>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>Acto Médico</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-md-11 row">
          <div class="col-md-6">
            <div class="form-grup form-group-sm row">
              <label class="col-sm-5 col-form-label">Número: </label>
              <label class="col-sm-7 col-form-label text-secondary">{{listActoMedicoAdicional.idActoMedico}}</label>
            </div>
            <div class="form-grup form-group-sm row">
              <label class="col-sm-5 col-form-label">Establecimento Médico: </label>
              <label class="col-sm-7 col-form-label text-secondary">{{listActoMedicoAdicional.descripcionIpress}}</label>
            </div>
            <div class="form-grup form-group-sm row">
              <label class="col-sm-5 col-form-label">Emergencia: </label>
              <label class="col-sm-7 col-form-label text-secondary">-</label>
            </div>
            <div class="form-grup form-group-sm row">
              <label class="col-sm-5 col-form-label">Tópico: </label>
              <label class="col-sm-7 col-form-label text-secondary">-</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-grup form-group-sm row">
              <label class="col-sm-5 col-form-label">N° Historia Clínica: </label>
              <label class="col-sm-7 col-form-label text-secondary">{{listActoMedicoAdicional.idHistoria}}</label>
            </div>
            <div class="form-grup form-group-sm row">
              <label class="col-sm-5 col-form-label">Fecha de Ingreso: </label>
              <label class="col-sm-7 col-form-label text-secondary">{{listActoMedicoAdicional.feCita}}</label>
            </div>
            <div class="form-grup form-group-sm row">
              <label class="col-sm-5 col-form-label">Plan de Salud: </label>
              <label class="col-sm-7 col-form-label text-secondary">{{listActoMedicoAdicional.descripcionCobertura}}</label>
            </div>
          </div>
        </div>
        <div class="col-md-1 row">
          <div class="col-md-6">
            <button type="button" (click)="sigActoMedico(2)">
              <i class="fa fa-chevron-left"></i>
            </button>
          </div>
          <div class="col-md-6">
            <button type="button" (click)="sigActoMedico(1)">
              <i class="fa fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="N° de Atención" [disabled]="false">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-md-11 row">
          <div class="col-md-6">
            <div class="form-grup form-group-sm row">
              <label class="col-sm-5 col-form-label">Número: </label>
              <label class="col-sm-7 col-form-label text-secondary">{{atencionMedica.idAtencion}}</label>
            </div>
            <div class="form-grup form-group-sm row">
              <label class="col-sm-5 col-form-label">Fecha de la Atención: </label>
              <label class="col-sm-7 col-form-label text-secondary">{{atencionMedica.fecAtencion}}</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-grup form-group-sm row">
              <label class="col-sm-5 col-form-label">Profesional: </label>
              <label class="col-sm-7 col-form-label text-secondary">{{atencionMedica.apellidoPaternoPersonal}} {{atencionMedica.apellidoMaternoPersonal}} {{atencionMedica.nombresPersonal}}</label>
            </div>
            <div class="form-grup form-group-sm row">
              <label class="col-sm-5 col-form-label">Hora de Atención: </label>
              <label class="col-sm-7 col-form-label text-secondary">{{atencionMedica.horaAtencion}}</label>
            </div>
          </div>
        </div>
        <div class="col-md-1 row">
          <div class="col-md-1 row">
            <div class="col-md-6">
              <button type="button" (click)="sigAtencionMedica(2)" [disabled]="btnAtencionMedica">
                <i class="fa fa-chevron-left"></i>
              </button>
            </div>
            <div class="col-md-6">
              <button type="button" (click)="sigAtencionMedica(1)" [disabled]="btnAtencionMedica">
                <i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Antecedentes">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="comment">PRENATALES:</label>
            <textarea class="form-control" rows="5" id="comment" disabled="true">{{listAntecedentesHistorial.objAntecedentes.antecedentePrenatal.atencionPrenatal}}</textarea>
          </div>
        </div>
        <div class="col-5">
          <div class="form-group">
            <label for="comment">PERINATALES:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="comment">PATOLOGICOS:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="comment">GENERALES:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="comment">ALIMENTACION:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="comment">MEDICAMENTOS:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="comment">FISIOLOGICOS:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel> -->
  <!-- <ngb-panel title="Esquema de Vacunacion">
    <ng-template ngbPanelContent>
      <div class="row">
        <div class="col-6">
          <label>1-Hola</label>
          <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr id="titulo">
                <th>Vacuna</th>
                <th>1era</th>
                <th>2da</th>
                <th>3era</th>
                <th>Fecha de Próxima Dosis</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Antipolio</td>
                <td scope="row">{{listEsquemaDeVacunacion.antipolioPrimera}}</td>
                <td scope="row">{{listEsquemaDeVacunacion.antipolioSegunda}}</td>
                <td scope="row">{{listEsquemaDeVacunacion.antipolioTercera}}</td>
                <td scope="row">{{listEsquemaDeVacunacion.antipolioProxDosis}}</td>
              </tr>
              <tr>
                <td scope="row">Pentavalente</td>
                <td scope="row">{{listEsquemaDeVacunacion.pentavalentePrimera}}</td>
                <td scope="row">{{listEsquemaDeVacunacion.pentavalenteSegunda}}</td>
                <td scope="row">{{listEsquemaDeVacunacion.pentavalenteTercera}}</td>
                <td scope="row">{{listEsquemaDeVacunacion.pentavalenteProxDosis}}</td>
              </tr>
              <tr>
                <td scope="row">Neumococo</td>
                <td scope="row">{{listEsquemaDeVacunacion.neumococoPrimera}}</td>
                <td scope="row">{{listEsquemaDeVacunacion.neumococoSegunda}}</td>
                <td scope="row">{{listEsquemaDeVacunacion.neumococoTercera}}</td>
                <td scope="row">{{listEsquemaDeVacunacion.neumococoProxDosis}}</td>
              </tr>
              <tr>
                <td scope="row">Rotavirus</td>
                <td scope="row">{{listEsquemaDeVacunacion.rotavirusPrimera}}</td>
                <td scope="row">{{listEsquemaDeVacunacion.rotavirusSegunda}}</td>
                <td scope="row">--</td>
                <td scope="row">{{listEsquemaDeVacunacion.rotavirusProxDosis}}</td>
              </tr>
              <tr>
                <td scope="row">Influenza</td>
                <td scope="row">{{listEsquemaDeVacunacion.influenzaPrimera}}</td>
                <td scope="row">{{listEsquemaDeVacunacion.influenzaSegunda}}</td>
                <td scope="row">--</td>
                <td scope="row">{{listEsquemaDeVacunacion.influenzaProxDosis}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6">
          <label>1.Hsjgbsijg</label>
        </div>
      </div>
    </ng-template>
  </ngb-panel> -->
</ngb-accordion>