// .material-icons {
//     color: #2e86de;
//     font-size: 40px;
// }

.mat-column-nroCol {
    flex: 0 0 9%;
  }

  
.my-fab1 {
  width: 13px;
  height: 13px;
  line-height: 13px;
  background-color:red;
}
.my-fab2 {
  width: 13px;
  height: 13px;
  line-height: 13px;
  background-color:green;
}