<!-- <p>
  Aqui llega la data del hijo
  <br> EL DATO ES: {{message}}{{dataPassed}}
</p> -->
<div *ngIf="personalDisabled">

  <mat-card>

    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Datos de Búsqueda</mat-card-title>
     <div class="margenSuperior2"> <button class="enlace negrita text-right"  type="button" (click)="redirige('')">Nuevo Personal</button></div>
    </mat-card-header>

    <mat-card-content style="padding: 1px">
      <form #filtroPersonal="ngForm" novalidate name="filtroPersonal">

        <div class="card-body">

          <!-- DATOS BUSQUEDA -->

          <div class="row">

            <!-- Tipo de Documento-->
            <div class="col-sm-4 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex2">
                <mat-label>Tipo de Documento</mat-label>
                <mat-select  #listaOpciones placeholder="Tipo de Documento:"  name="tipoDocumento"  [(ngModel)]="tipoDoc"
                 (selectionChange)="verificarTamanio(listaOpciones.value)"
                   required>
                   <mat-option>
                      <strong>Seleccionar Tipo de Documento</strong>
                   </mat-option>
                   <mat-option *ngFor="let option of tipoDocumentos; let i = index" [value]="option.id">
                      {{option.valor}}
                   </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- Doc de Identidad -->

            <div class="col-sm-4 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex2">

                <mat-label for="numeroDocumento">N° Doc Identidad</mat-label>
                <input matInput [matAutocomplete]="auto" [(ngModel)]="personalRequest.numeroDocumento" (input)="getNumeroABuscar($event.target.value)"
                  name="numeroDocumento" #numeroDocumento="ngModel"  id="numeroDocumento" (keypress)="setInputPattern($event, 'positiveDigits')" 
                  [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" [disabled]="!tipoDoc"
                  maxlength="{{tamDoc}}" />
                 <mat-error>
                   <app-validators-messages [controlVar]="numeroDocumento" labelName="N&ordm; de Documento de Identidad">
                   </app-validators-messages>
                 </mat-error> 
                 <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <div>
                      <mat-option (onSelectionChange)="getIdPersonal(numDocs)" *ngFor="let numDocs of DocsIdentidad"
                        [value]="numDocs.numeroDocumentoIdentidad">
                        <span>{{ numDocs.numeroDocumentoIdentidad }}</span>
                      </mat-option>
                    </div>
                  </mat-autocomplete>
                  <mat-hint align="end" class="longitudInforme">{{ personalRequest.numeroDocumento!= null && personalRequest.numeroDocumento.length? personalRequest.numeroDocumento.length: '0' }} /
                      {{tamDoc}} </mat-hint>                         
              </mat-form-field>
            </div>
                        <!-- N de Colegiatura -->

                        <div class="col-sm-4 mdl-input-group mdl-input-group__only">
                            <mat-form-field class="example-full-width mat-form-field-flex2">
              
                              <mat-label for="numeroCmp">N° Colegiatura</mat-label>
                              <input matInput placeholder="N° Colegiatura" name="numeroCmp" [(ngModel)]="personalRequest.numeroCmp" minlength="8" maxlength="8"
                                #numeroCmp="ngModel" (keypress)="setInputPattern($event, 'positiveDigits')" [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)">
                            </mat-form-field>
                          </div>
        </div>
        <div class="row">


            <!-- Apellido Paterno Personal -->

            <div class="col-sm-4">
              <mat-form-field class="example-full-width mat-form-field-flex2">

                <mat-label for="apellidoPaternoPersonal">Apellido Paterno</mat-label>
                <input matInput placeholder="Apellido Paterno" name="apellidoPaternoPersonal" [(ngModel)]="personalRequest.apellidoPaternoPersonal"
                  #apellidoPaternoPersonal="ngModel">
              </mat-form-field>
            </div>

            <!-- Apellido Materno Personal -->

            <div class="col-sm-4">
              <mat-form-field class="example-full-width mat-form-field-flex2">

                <mat-label for="apellidoMaternoPersonal">Apellido Materno</mat-label>
                <input matInput placeholder="Apellido Materno" name="apellidoMaternoPersonal" [(ngModel)]="personalRequest.apellidoMaternoPersonal"
                  #apellidoMaternoPersonal="ngModel">
              </mat-form-field>
            </div>

            <!-- Nombre -->

            <div class="col-sm-4 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex2">

                <mat-label for="nombrePersonal">Nombre</mat-label>
                <input matInput placeholder="Nombre" name="nombrePersonal" [(ngModel)]="personalRequest.nombrePersonal">
              </mat-form-field>
            </div>
        </div>
            <!-- <div class="col-sm-2 mdl-input-group mdl-input-group__only">
            </div> -->

            <!-- Buscar Boton -->

            <div class="col-sm-12 text-right mdl-input-group mdl-input-group__only espa">
              <button type="submit" mat-raised-button (click)="getAllPersonal(1)" >buscar</button>
              <button type="submit" mat-raised-button (click)="limpiarPersonal()" >limpiar</button> 
            </div>
          </div>
        
      </form>
    </mat-card-content>

    <div class="col-sm-12 col-md-12 leyenda margenSuperior6" >
      
          <label>Activo <button mat-mini-fab class="my-fab2" ></button> </label>
          <label>Inactivo  <button mat-mini-fab class="my-fab1"></button> </label>
      
      
         
    </div>

      <mat-card-content>
      <!-- INICIA TABLA -->
      <!-- <div class="row">
        <div class="col-sm-12 mdl-input-group mdl-input-group__only text-right">
          <a (click)="redirige('')">
            <i class="material-icons">
              add_circle_outline
            </i>
          </a>

        </div>
      </div> -->
  

      <div class="table responsive">
        <mat-table #table [dataSource]="dataSource">

          <!-- TIPO DOC -->
          <ng-container matColumnDef="tipoDoc">
            <mat-header-cell *matHeaderCellDef> Tipo Doc </mat-header-cell>
            <mat-cell *matCellDef="let personal"> {{ personal.descripcionTipoDocumentoIdentidad }} </mat-cell>
          </ng-container>

          <!-- NRO DOC -->
          <ng-container matColumnDef="nroDoc">
            <mat-header-cell *matHeaderCellDef>Nro Doc</mat-header-cell>
            <mat-cell *matCellDef="let personal"> {{ personal.numeroDocuentoIdentidad }} </mat-cell>
          </ng-container>

          <!-- NRO COLEGIATURA -->
          <ng-container matColumnDef="nroCol">
            <mat-header-cell *matHeaderCellDef>Colegiatura </mat-header-cell>
            <mat-cell *matCellDef="let personal"> {{ personal.numeroCmp }} </mat-cell>
          </ng-container>

          <!-- RNE -->
          <ng-container matColumnDef="rne">
            <mat-header-cell *matHeaderCellDef> RNE </mat-header-cell>
            <mat-cell *matCellDef="let personal"> {{ personal.numeroRne }} </mat-cell>
          </ng-container>

          <!-- APE PATERNO -->
          <ng-container matColumnDef="apePat">
            <mat-header-cell *matHeaderCellDef matTooltip="Apellido Paterno" matTooltipPosition="above" >A.Paterno</mat-header-cell>
            <mat-cell *matCellDef="let personal"> {{ personal.apellidoPaternoPersonal }} </mat-cell>
          </ng-container>

          <!-- APE MATERNO -->
          <ng-container matColumnDef="apeMat">
            <mat-header-cell *matHeaderCellDef  matTooltip="Apellido Materno" matTooltipPosition="above">A.Materno</mat-header-cell>
            <mat-cell *matCellDef="let personal"> {{ personal.apellidoMaternoPersonal }} </mat-cell>
          </ng-container>

          <!-- Nombres -->
          <ng-container matColumnDef="nombres">
            <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
            <mat-cell *matCellDef="let personal"> {{ personal.nombrePersonal }} </mat-cell>
          </ng-container>

          <!-- COLEGIO -->
          <ng-container matColumnDef="colegio">
            <mat-header-cell *matHeaderCellDef> Colegio </mat-header-cell>
            <mat-cell *matCellDef="let personal"> {{ personal.idCondicionPersonal }} </mat-cell>
          </ng-container>

          <!-- SEXO -->
          <ng-container matColumnDef="sexo">
            <mat-header-cell *matHeaderCellDef> Sexo </mat-header-cell>
            <mat-cell *matCellDef="let personal"> {{ personal.descripcionSexo }} </mat-cell>
          </ng-container>

          <!--ESTADO DEL PERSONAL-->
          <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef>Estado </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-mini-fab  *ngIf="element.fl_estado==1" class="my-fab2"  (click)="actualizarEstado1(element)" ></button>
                <button mat-mini-fab  *ngIf="element.fl_estado==0" class="my-fab1"  (click)="actualizarEstado2(element)"></button>
            </mat-cell>
            
          </ng-container>

          <!-- VER -->
          <ng-container matColumnDef="ver">
            <mat-header-cell *matHeaderCellDef> Ver </mat-header-cell>
            <mat-cell *matCellDef="let personal">
              <button mat-button (click)="imprimirReporte(personal.idPersonal)">
                <div class="example-tooltip-host" matTooltip="Ver" [matTooltipPosition]="'above'">
                  <span>
                    <i class="material-icons">visibility</i>
                  </span>
                </div>
              </button>
            </mat-cell>
          </ng-container>

          <!-- EDITAR -->
          <ng-container matColumnDef="editar">
            <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
            <mat-cell *matCellDef="let personal" (click)="redirige(personal.idPersonal)">
              <button mat-button>
                <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                  <span>
                    <i class="material-icons">edit</i>
                  </span>
                </div>
              </button>
            </mat-cell>
          </ng-container>

          <!-- ELIMINAR -->
          <ng-container matColumnDef="eliminar">
            <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
            <mat-cell *matCellDef="let personal" (click)="modalPersonalDelete(personal.idPersonal)">
              <button mat-button>
                <div class="example-tooltip-host" matTooltip="Eliminar" [matTooltipPosition]="'above'">
                  <span>
                    <i class="material-icons">delete</i>
                  </span>
                </div>
              </button>
            </mat-cell>
          </ng-container>

          <!-- Header -->
          <mat-header-row *matHeaderRowDef="displayedColumnsP"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsP;">
          </mat-row>
        </mat-table>
        <!-- PAGINADOR -->
        <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.numRegistroMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
          showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>


  </mat-card>

</div>
<router-outlet *ngIf="personalDisabled==false" (regresa)="regresa($event)"></router-outlet>
<!-- <app-mantenimiento-personal *ngIf="personalDisabled==false" [idPersonal]="idPersonal"></app-mantenimiento-personal> -->