<h2 mat-dialog-title class="subtitulo-seccion">Detalles del Comprobante Farmacia Atendidas
  <span class="example-spacer"></span>
  <button mat-button class="mat-button-icon" (click)="dismiss()">
    <div class="example-tooltip-host" matTooltip="Salir" [matTooltipPosition]="'above'">
      <span>
        <i class="material-icons">close</i>
      </span>
    </div>
  </button>
</h2>

  <mat-card class="agrandarContainer">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Datos Solicitud</mat-card-title>
    </mat-card-header>
      <div class="modal-body" *ngIf="cabeceraSolicitud2!=null">
        <div class="row">
          <div class="col-sm-3 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <input matInput placeholder="{{ tipoAlmacen == 'A' ? 'Farmacia Solicitante:' : 'Almacén Solicitante:'}}" disabled [value]="cabeceraSolicitud2.descripAlmaSoli">
            </mat-form-field>
          </div>

          <div class="col-sm-3 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <input matInput placeholder="Fecha de Solicitud:" disabled [value]="cabeceraSolicitud2.fechComprobante">
            </mat-form-field>
          </div>

          <div class="col-sm-3 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <input matInput placeholder="Número de Solicitud:" disabled [value]="cabeceraSolicitud2.nroComprobante + - + (date | date: 'yyyy')  ">
            </mat-form-field>
          </div>

          <div class="col-sm-3 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <input matInput placeholder="{{ tipoAlmacen == 'A' ? 'Número de Salida:' : 'Número de PECOSA:'}}" disabled value="{{ tipoAlmacen == 'A' ? 40 + '-' + (date | date: 'yyyy')  : 50 + '-' + (date | date: 'yyyy') }}">
            </mat-form-field>
          </div>
        </div>
      </div>
</mat-card>
  <!-- DATOS DE LA TABLA -->
  <form #atenderSolicitud="ngForm" novalidate name="atenderSolicitud">
    <mat-card-content>
      <div class="table responsive">
        <mat-table #table [dataSource]="matDataSource2">
          <ng-container matColumnDef="Codigo">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.medicamento ? element.medicamento.codigo : element.dispMedicoProdSanitario.codigo}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="productFarma">
            <mat-header-cell *matHeaderCellDef>
              <div class="example-tooltip-host" matTooltip="Producto Farmacéutico / Dispositivo Médico" [matTooltipPosition]="position">
                <span>P.F/D.M</span>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.medicamento? element.medicamento.dciProductoFarmaceutico+' '+element.medicamento.concentracion
              : element.dispMedicoProdSanitario.dciDispMedicoProdSanitario}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="formaFarma">
            <mat-header-cell *matHeaderCellDef>
              <div class="example-tooltip-host" matTooltip="Forma Farmacéutica/Tipo de Dispositivo" [matTooltipPosition]="position">
                <span>F.F/T.D</span>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.medicamento ? element.medicamento.formaFarmaceutica : (element.dispMedicoProdSanitario.tipoDispositivo.valor ? element.dispMedicoProdSanitario.tipoDispositivo.valor : '-' ) }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Presentacion">
            <mat-header-cell *matHeaderCellDef> Presentación </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.medicamento? element.medicamento.presentacionEnvase : element.dispMedicoProdSanitario.presentacion}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Lote">
            <mat-header-cell *matHeaderCellDef> Lote </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.descripcionLote ? element.descripcionLote : '-' }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fechaVen">
            <mat-header-cell *matHeaderCellDef>
              <div class="example-tooltip-host" matTooltip="Fecha de Vencimiento" [matTooltipPosition]="position">
                <span>F. Vencimiento</span>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.fechaVencimiento ? element.fechaVencimiento : '-' }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Marca">
            <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{element.medicamento ? element.medicamento.marca : (element.dispMedicoProdSanitario.marca ? element.dispMedicoProdSanitario.marca : '-')}}
            </mat-cell>
          </ng-container>
            <ng-container matColumnDef="unidadMedida">
              <mat-header-cell *matHeaderCellDef  matTooltip="Unidad de Medida" [matTooltipPosition]="position"> Und. de Medida </mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.medicamento ? element.medicamento.nombreUnidad : (element.dispMedicoProdSanitario.nombreUnidad
                ? element.dispMedicoProdSanitario.nombreUnidad : '-')}} </mat-cell>            
            </ng-container>
          <ng-container matColumnDef="cantidadSolicitada">
            <mat-header-cell *matHeaderCellDef>
              <div class="example-tooltip-host" matTooltip="Cantidad Solicitada" [matTooltipPosition]="position">
                <span>Cantidad</span>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cantidadSolicitud}} </mat-cell>
          </ng-container>
          <!-- <ng-container matColumnDef="cantidadAtendida">
            <mat-header-cell *matHeaderCellDef>
              <div class="example-tooltip-host" matTooltip="Cantidad Atendida" [matTooltipPosition]="position">
                <span>Cant. Atendida</span>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.cantidadAtendida }} </mat-cell>
          </ng-container> -->
          <mat-header-row *matHeaderRowDef="displayedColumnsComrobantes"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsComrobantes;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </form>
<div class="col-12 text-right">
  <button mat-raised-button (click)="dismiss()">Cerrar</button>
</div>
