<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Informaci&oacute;n General</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="card-body">
      <div class="card-columns ">
        <mat-form-field class="col mat-form-field-flex3">
          <input matInput placeholder="Número de Autorización" [disabled]="true" value="{{lsCoberturas.idCorrelativo ? lsCoberturas.idCorrelativo : '--'}}">
        </mat-form-field>
        <mat-form-field class="col mat-form-field-flex3">
          <input matInput placeholder="Poliza / Contrato" value="{{lsCoberturas.coTiPoliza ? lsCoberturas.coTiPoliza : '--'}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col mat-form-field-flex3">
          <input matInput placeholder="Código de Asegurado" value="{{lsCoberturas.coAfTitular ? lsCoberturas.coAfTitular : '--'}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="Certificado" value="{{lsCoberturas.nuCertificado ? lsCoberturas.nuCertificado : '--'}}"   [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="N° Declaración accidente" value="{{lsCoberturas.nuDeAccidente ? lsCoberturas.nuDeAccidente : '--'}}"  [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="N° Solicitud Origen" value="{{lsCoberturas.nuSoOrigen ? lsCoberturas.nuSoOrigen : '--'}}"  [disabled]="true">
        </mat-form-field>
      </div>
      <div class="form-grup form-group-sm">
        <mat-form-field class="col">
          <input matInput placeholder="Producto" [disabled]="true" value="{{lsCoberturas.deProducto ? lsCoberturas.deProducto : '--'}}">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Datos del Paciente</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="card-body">
      <div class="card-columns">
        <mat-form-field class="col">
          <input matInput placeholder="Apellidos y Nombres" [disabled]="true" value="{{lsCoberturas.apPaternoPaciente + ' '+ lsCoberturas.apMaternoPaciente+ ', '+ lsCoberturas.noPaciente}}">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="Género" [disabled]="true" value="{{lsCoberturas.desGenero ? lsCoberturas.desGenero : '--'}}">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="Fecha de Nacimiento" [disabled]="true" value="{{lsCoberturas.feNacimiento ? lsCoberturas.feNacimiento : '--'}}">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="Parentesco" [disabled]="true" value="{{lsCoberturas.desParentesco ? lsCoberturas.desParentesco : '--'}}">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="Tipo de Documento" [disabled]="true" value="{{lsCoberturas.desDoPaciente ? lsCoberturas.desDoPaciente : '--'}}">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="N° de Documento" [disabled]="true" value="{{lsCoberturas.nuDoPaciente ? lsCoberturas.nuDoPaciente : '--'}}">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="Edad" [disabled]="true" value="{{lsCoberturas.edad ? lsCoberturas.edad : '--'}}">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="Inicio de Vigencia" [disabled]="true" value="{{lsCoberturas.feIniVigencia ? lsCoberturas.feIniVigencia : '--'}}">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="Fecha de Vigencia" [disabled]="true" value="{{lsCoberturas.feFinVigencia | stringToFech}}">
        </mat-form-field> 
        <mat-form-field class="col">
          <input matInput placeholder="N&ordm; de Plan" [disabled]="true" value="{{lsCoberturas.nuPlan ? lsCoberturas.nuPlan : '--'}}">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="Estado Civil" [disabled]="true" value="{{lsCoberturas.deProducto ? lsCoberturas.deProducto : '--'}}">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="Estado" [disabled]="true" value="{{lsCoberturas.desMarital ? lsCoberturas.desMarital : '--'}}">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Datos del Paciente Seg&uacute;n el registro de afiliados</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="card-body">
      <div class="card-columns-4 row align-items-center">
        <mat-form-field class="col">
          <input matInput placeholder="N&ordm; de Documento" [disabled]="true">
        </mat-form-field>
        <div class="col-2">
          <button mat-raised-button > Buscar </button>
        </div>
        <mat-form-field class="col">
          <input matInput placeholder="G&eacute;nero" [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="Fecha de Nacimiento" [disabled]="true">
        </mat-form-field>
      </div>
      <div class="form-grup form-group-sm row">
        <mat-form-field class="col-sm-12">
          <input matInput placeholder="Apellidos y Nombres" value="" [disabled]="true">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Datos del Titular</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="card-body">
      <div class="card-columns-4">
        <mat-form-field class="col">
          <input matInput placeholder="Apellidos y Nombres" value="{{lsCoberturas.noPaTitular + ' '+ lsCoberturas.noMaTitular + ', ' + lsCoberturas.noTitular}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="C&Oacute;DIGO DEL TITULAR" value="{{lsCoberturas.nuContratoPaciente ? lsCoberturas.nuContratoPaciente : '--'}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="TIPO DE DOCUMENTO" value="{{lsCoberturas.desDoTitular}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="N&ordm; DE DOCUMENTO" value="{{lsCoberturas.nuDoTitular}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="MONEDA" value="{{lsCoberturas.desMoneda}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="NOMBRE DEL CONTRATANTE" value="{{lsCoberturas.noPaContratante + ' ' + lsCoberturas.noMaContratante + ', ' + lsCoberturas.noContratante}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="TIPO DE AFILIACI&Oacute;N" value="{{lsCoberturas.coTiPoliza ? lsCoberturas.coTiPoliza : '--'}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="FECHA DE AFILICAI&Oacute;N" value="{{'--'}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="TIPO DE DOCUMENTO CONTRATANTE" value="{{lsCoberturas.desDoContratante}}" [disabled]="true">
        </mat-form-field>
        <mat-form-field class="col">
          <input matInput placeholder="N&ordm; DE DOCUMENTO CONTRATANTE" value="{{lsCoberturas.coReContratante}}" [disabled]="true">
        </mat-form-field>

      </div>
    </div>
  </mat-card-content>
</mat-card>
<!-- <mat-divider></mat-divider> -->
<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Listado de Coberturas</mat-card-title>
  </mat-card-header>

  <mat-card-content>

      <mat-table #table [dataSource]="dataSourceCobertura">

        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> Cód. Cobertura </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.coTiCobertura +'/'+ element.coSubTiCobertura}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="coberturas">
          <mat-header-cell *matHeaderCellDef> Coberturas </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.desCobertura}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="restricciones">
          <mat-header-cell *matHeaderCellDef> Restricciones </mat-header-cell>
          <mat-cell *matCellDef="let element"><a href="#" class="alert-link" >{{element.desInRestriccion}}</a></mat-cell>
        </ng-container>

        <ng-container matColumnDef="copagoFijo">
          <mat-header-cell *matHeaderCellDef> Copago Fijo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.coPagoFijo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CopagoVariable">
          <mat-header-cell *matHeaderCellDef> Copago Variable </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{'Cubierto al '+element.coPagoVariable+'%'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="finCarencia">
          <mat-header-cell *matHeaderCellDef> Fin de Carencia </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.feFinCarencia}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cartaGarantia">
          <mat-header-cell *matHeaderCellDef> Carta de Garantia </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.deflagCaGarantia == 0 ? 'No Necesita autorización de C.G.' : ' Necesita autorización de C.G. '}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumnCobertura"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnCobertura;" (click)="sendRequest(row);selectedRow = row" [ngClass]="{selected : row === selectedRow}"></mat-row>

      </mat-table>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>Autorizaci&oacute;n de Consulta</button>
    <button mat-button>Cancelar</button>
  </mat-card-actions> -->
  <!-- <div mat-dialog-actions>
    <button mat-button>No Thanks</button>
    <button mat-button>Ok</button>
  </div> -->
  <div class="col-12 text-right pad10">
    <button mat-raised-button (click)="postService()"> Autorizaci&oacute;n de Consulta </button>

    <button mat-raised-button (click)="toBack()"> Cancelar </button>
  </div>
</mat-card>










<!-- 
<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion"> Datos del Asegurado</mat-card-title>
  </mat-card-header>
  <div class="col-12 card-body">

    <div *ngIf="flgNoServicio==true">
      <div class="form-group2 row">
        <label class=" col-4"><b>Dni:</b> {{numeroDoc}}</label>
        <label class=" col-4"><b>Numero Documento Autorizaci&oacute;n:</b></label>
        <label class=" col-4"><b>Nombres:</b></label>
      </div>
      <div class="form-group2 row">
        <label class=" col-4"> <b>Apellido Paterno:</b></label>
        <label class=" col-4"> <b>Apellido Materno:</b></label>
        <label class=" col-4"> <b>Sexo:</b></label>
      </div>
      <div class="form-group2 row">
        <label class=" col-4"> <b>Fecha de Nacimiento:</b> </label>
        <label class=" col-4"> <b>Edad:</b> </label>
        <label class=" col-4"> <b>Direcci&oacute;n:</b> </label>
      </div>
      <div class="form-group2 row">
        <label class="col-4"> <b>Departamento:</b> </label>
        <label class="col-4"> <b>Provincia:</b> </label>
        <label class="col-4"> <b> Distrito:</b> </label>
      </div>
    </div>
    <div *ngIf="flgNoServicio==false">
      <div *ngFor="let a of persona">
        <div class="form-group2 row">
          <label class=" col-4"> <b>Dni: </b> {{a.numeroDocumento}}</label>
          <label class=" col-4"> <b>Numero Documento Autorizaci&oacute;n: </b> {{a.numeroDocumentoAutorizacion}}</label>
          <label class=" col-4"><b>Nombres: </b> {{a.nombres}}</label>
        </div>
        <div class="form-group2 row">
          <label class=" col-4"> <b>Apellido Paterno: </b> {{a.apellidoPaterno}} </label>
          <label class=" col-4"> <b>Apellido Materno: </b> {{a.apellidoMaterno}}</label>
          <label class=" col-4"> <b>Sexo: </b> {{a.sexo}} </label>
        </div>
        <div class="form-group2 row">
          <label class=" col-4"> <b> Fecha de Nacimiento: </b> {{a.fechaNacimiento}}</label>
          <label class=" col-4"> <b>Edad: </b> {{a.edad}}</label>
          <label class="col-4"> <b>Direcci&oacute;n: </b> {{a.direccion}}</label>
        </div>
        <div class="form-group2 row">

          <label class="col-4"> <b>Departamento: </b> {{a.departamento}}</label>
          <label class="col-4"> <b>Provincia: </b> {{a.provincia}}</label>
          <label class="col-4"> <b>Distrito: </b> {{a.distrito}}</label>
        </div>
      </div>
    </div>
  </div>
</mat-card>



<mat-card *ngIf="flgNoServicio1==true">
  <div class=" row">
    <div class="col-sm-12 col-md-3">
      <mat-card-header class="sombreadoSubtitulos">
        <mat-card-title class="subtitulo-seccion"> Listado IAFAS</mat-card-title>
      </mat-card-header>
      <mat-table #table [dataSource]="dataSource1">
        <ng-container matColumnDef="descripcionIafas">
          <mat-header-cell *matHeaderCellDef> IAFAS </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.descripcionIafas}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="descripcionContratante">
          <mat-header-cell *matHeaderCellDef> Contratante </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.descripcionContratante}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnIafas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnIafas;" (click)="getCoberturas(row.idIafas,row.idContratante);selectedRow = row" [ngClass]="{selected : row === selectedRow}"></mat-row>
      </mat-table>
    </div>
    <div class="separarVertical"></div>

  </div>
</mat-card>
<mat-card *ngIf="flgNoServicio1==true">
  <div class="col-sm-12 col-md-9">
    <mat-card-header class="sombreadoSubtitulos">
        <mat-card-title class="subtitulo-seccion">Listado Coberturas</mat-card-title>
      </mat-card-header>
      <mat-table class=""  #table [dataSource]="dataSource2">
        <ng-container matColumnDef="descripcionCobertura">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let acred">{{acred.descripcionCobertura}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="copagoFijo">
          <mat-header-cell *matHeaderCellDef> Copago Fijo </mat-header-cell>
          <mat-cell *matCellDef="let acred">{{acred.copagoFijo}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="copagoVariable">
          <mat-header-cell *matHeaderCellDef> Copago Variable </mat-header-cell>
          <mat-cell *matCellDef="let acred">{{acred.copagoVariable}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="descuentoFarmacia1">
          <mat-header-cell *matHeaderCellDef> Desc. Farmacia 1 </mat-header-cell>
          <mat-cell *matCellDef="let acred">{{acred.descuentoFarmacia1}}</mat-cell>
        </ng-container>s
        <ng-container matColumnDef="descuentoFarmacia2">
          <mat-header-cell *matHeaderCellDef> Desc. Farmacia 2 </mat-header-cell>
          <mat-cell *matCellDef="let acred">{{acred.descuentoFarmacia2}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnCobertura"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnCobertura;" (click)="setCobertura(row.idCobertura,row.idIafas);selectedRow2 = row" [ngClass]="{selected2 : row === selectedRow2}"></mat-row>
      </mat-table>
    </div>
  </div>
</mat-card>
                                              <div class="row"> 
<div  *ngIf="flgNoServicio1==true">
  <!-- <div class="col-4">
    <h6>Listado IAFAS</h6>
    <div class="table-responsive .table-bordered">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>IAFAS</th>
            <th>Contratante</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ic of iafas" (click)="getCoberturas(ic.idIafas,ic.idContratante)" class="{{ic.color}}">
            <td scope="row">{{ic.descripcionIafas}}</td>
            <td scope="row">{{ic.descripcionContratante}}</td>
          </tr>
        </tbody>
      </table>


    </div>
  </div> -->
<!-- probando -->

<!-- <div class="col-8">
    <h6>Listado Cobertura</h6>
    <div class="table-responsive table-bordered">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Copago Fijo</th>
            <th>Copago Variable</th>
            <th>Descuento Farmacia 1</th>
            <th>Descuento Farmacia 2</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let co of cobertura" (click)="setCobertura(co.idCobertura,co.idIafas)" class="{{co.color}}">
            <td scope="row">{{co.descripcionCobertura}}</td>
            <td scope="row">{{co.copagoFijo}}</td>
            <td scope="row">{{co.copagoVariable}}</td>
            <td scope="row">{{co.descuentoFarmacia1}}</td>
            <td scope="row">{{co.descuentoFarmacia2}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->

<!-- <mat-card-content>
    <div class="table responsive">

    </div>
  </mat-card-content> -->

<!-- </div> -->
<!-- <div  *ngIf="flgNoServicio==true">
    <div class="col-12 text-right">
      <button type="submit" (click)="openModalManual()" class="btn btn-primary">Asignar Cobertura</button>
    </div>
  </div>
  <div  *ngIf="flgNoServicio1==true">
    <div class="col-12 text-right">
      <button type="submit" (click)="guardarServicioModal()" class="btn btn-primary">Guardar</button>
    </div>
  </div>
  <div>
    <div class="col-12 text-right">
      <button type="submit" *ngIf="flVisionFiliar==true" class="btn btn-primary btn-lg">Filiar</button>
    </div>
  </div> -->

<!-- <div class="col-12 text-right  mar5" *ngIf="flgNoServicio==true">
    <button mat-raised-button type="submit" (click)="openModalManual()">Asignar Cobertura</button>
  </div>
  <div class="col-12 text-right  mar5" *ngIf="flgNoServicio1==true">
    <button type="submit" mat-raised-button (click)="guardarServicioModal()">Agregar</button>
  </div>
  <div class="col-12 text-right mar5">
    <button type="submit" mat-raised-button *ngIf="flVisionFiliar==true">Filiar</button>
  </div> -->

<!-- 
  <div class="row" *ngIf="flVisionPlanTable==true">
    <div class="col-12">
      <h6>Listado Coberturas usadas hoy</h6>
      <div class="table-responsive table-bordered">
        <table class="table table-bordered table-hover table-sm">
          <thead>
            <tr>
              <th>IAFAS</th>
              <th>Contratante</th>
              <th>Cobertura</th>
              <th>Copago Fijo</th>
              <th>Copago Variable</th>
              <th>Descuento Farmacia 1</th>
              <th>Descuento Farmacia 2</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of plan">
              <td scope="row">{{p.descripcionIafas}}</td>
              <td scope="row">{{p.descripcionContratante}}</td>
              <td scope="row">{{p.descripcionCobertura}}</td>
              <td scope="row">{{p.copagoFijo}}</td>
              <td scope="row">{{p.copagoVariable}}</td>
              <td scope="row">{{p.descuentoFarmacia1}}</td>
              <td scope="row">{{p.descuentoFarmacia2}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <mat-card *ngIf="flVisionPlanTable==true">
    <div class="row">
      <div class="col-12">
        <mat-card-header class="sombreadoSubtitulos">
          <mat-card-title class="subtitulo-seccion">Listado Coberturas usadas hoy</mat-card-title>
        </mat-card-header>

        <mat-table #table [dataSource]="dataSourceHoy">
          <ng-container matColumnDef="descripcionIafas">
            <mat-header-cell *matHeaderCellDef> IAFAS </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.descripcionIafas}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="descripcionContratante">
            <mat-header-cell *matHeaderCellDef> Contratante </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.descripcionContratante}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="descripcionCobertura">
            <mat-header-cell *matHeaderCellDef> Cobertura </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.descripcionCobertura}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="copagoFijo">
            <mat-header-cell *matHeaderCellDef> Copago Fijo </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.copagoFijo}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="copagoVariable">
            <mat-header-cell *matHeaderCellDef> Copago Variable </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.copagoVariable}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="descuentoFarmacia1">
            <mat-header-cell *matHeaderCellDef> Descuento Farmacia 1 </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.descuentoFarmacia1}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="descuentoFarmacia2">
            <mat-header-cell *matHeaderCellDef> Descuento Farmacia 2 </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.descuentoFarmacia2}}</mat-cell>
          </ng-container> 

          <ng-container matColumnDef="descuentoFarmacia2">
            <mat-header-cell *matHeaderCellDef> Descuento Farmacia 2 </mat-header-cell>
            <mat-cell *matCellDef="let elemnt">{{elemnt.descuentoFarmacia2}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnCoberturaHoy"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnCoberturaHoy;"></mat-row>

        </mat-table>
      </div>
    </div>
  </mat-card>
</div> -->