<!--BUSCAR PACIENTE: -->
<div class="row tamano-contenedor">
  <mat-card class="col-5 ">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Buscar Paciente</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form #busquedaPaciente="ngForm" novalidate name="busquedaPaciente">
        <div class="card-body">
          <div class="row text-left">
            <div class="col-12 mdl-input-group mdl-input-group__only ">
              <mat-form-field class="example-full-width mat-form-field-flex3 ">
                <mat-select #listaOpciones placeholder="Tipo de Documento:" name="tipoDocumento" [(ngModel)]="tipoDoc" (selectionChange)="changeInput(listaOpciones.value)">
                  <mat-option>
                    <strong>Seleccionar Tipo de Documento</strong>
                  </mat-option>
                  <mat-option *ngFor="let option of tipoDocs; let i = index" [value]="option.idTipoDocumento">
                    {{option.descripcionTipoDocumento}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12  mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex3 ">
                <mat-label>N&ordm; de Documento de Identidad:</mat-label>
                <input matInput [(ngModel)]="nuDocumento" name="numDocumento" #numDocumento="ngModel" id="numDocumento" (keypress)="setInputPattern($event, 'positiveDigits')"
                  [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" [disabled]="!tipoDoc" maxlength="{{longitudDocumento}}"
                  required/>
                <mat-error>
                  <app-validators-messages [controlVar]="numDocumento" labelName="N&ordm; de Documento de Identidad">
                  </app-validators-messages>
                </mat-error>
                <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                          <div>
                            <mat-option (onSelectionChange)="getIdPersona(numDocs)" *ngFor="let numDocs of DocsIdentidad" [value]="numDocs.numeroDocumentoIdentidad">
                              <span>{{ numDocs.numeroDocumentoIdentidad }}</span>
                            </mat-option>
                          </div>
                        </mat-autocomplete> -->
                <mat-hint align="end" class="longitudInforme">{{ nuDocumento.length? nuDocumento.length: '0' }} / {{longitudDocumento}} </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-11 text-right alinearBtn">
              <button mat-raised-button (click)="getNumeroABuscar(nuDocumento)" type="submit" [disabled]="nuDocumento.length!=longitudDocumento">buscar</button>
            </div>
          </div>
        </div>

        <!--(ngModelChange)="filteredNumDocs = filterDocs(nuDocumento)"-->


        <!--BOTON BUSCAR: -->

      </form>
    </mat-card-content>
  </mat-card>

  <!--DATOS DEL PACIENTE: -->
  <mat-card class="col-6">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Datos del Paciente</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="card-body">
        <div class="row">
          <div class="col-5 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Apellido y Nombre:" readonly value="{{nombreCompleto}}">
            </mat-form-field>
          </div>

          <div class=" col-3 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="T. de Documento:" readonly value="{{datPaciente.tipoDocumentoIdentidad.descripcion}}">
            </mat-form-field>
          </div>

          <div class=" col-4  mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="N&ordm; de Documento:" readonly value="{{datPaciente.numeroDocumentoIdentidad}}">
            </mat-form-field>
          </div>


          <div class=" col-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="N&ordm; Historia Clínica:" readonly value="{{datPaciente.historiaList[0] ? datPaciente.historiaList[0].idHistoria : '-'}}">
            </mat-form-field>
          </div>

          <div class=" col-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="F. de Nacimiento:" readonly value="{{datPaciente.feNacimiento | date: 'dd/MM/yyyy'}}">
            </mat-form-field>
          </div>

          <div class="col-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex2">
              <input matInput placeholder="Sexo:" readonly value="{{datPaciente.sexo.valor}}">
            </mat-form-field>
          </div>
          <div class="col-11 text-right alinearBtn" *ngIf="hideButton==2">

            <button mat-raised-button (click)="showHistorial()">Historial de Cita de Procedimiento</button>

          </div>

        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="showReservas==2">
  <mat-card>
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Últimas Citas </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="table-responsive">
        <mat-table #table [dataSource]="dataSource3">
          <ng-container matColumnDef="Fecha">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.feCita}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="HIniTur">
            <mat-header-cell *matHeaderCellDef matTooltip="Hora de inicio" matTooltipPosition="above"> Hora I </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hoIni}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="HFinTur">
            <mat-header-cell *matHeaderCellDef matTooltip="Hora de fin" matTooltipPosition="above"> Hora F </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hoFin}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Medico">
            <mat-header-cell *matHeaderCellDef> M&eacute;dico </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nombreMedico}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Consultorio">
            <mat-header-cell *matHeaderCellDef> Consultorio </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.consultorio}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Estado">
            <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Pagado">
            <mat-header-cell *matHeaderCellDef> Pagado </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.pagado}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Total">
            <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
            <mat-cell *matCellDef="let element"> S/ {{element.total}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Cancelar">
            <mat-header-cell *matHeaderCellDef> Suspender </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-icon class="imagenCanc  md-36" (click)="openModalCancelar(element,1)">{{element.cancelar}}</mat-icon>

            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Ver">
            <mat-header-cell *matHeaderCellDef> Ver </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-icon class="imagenVer  md-36" (click)="openModalProced(element)">visibility</mat-icon>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="pdf">
            <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado7'"> Imprimir </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="'anchoListado7'">
              <!-- <mat-icon class="imagen  md-36" matTooltip="Generar PDF / Imprimir" (click)="obtenerComprobante(element.idCitaProcedimiento,2)">picture_as_pdf</mat-icon> -->
              <button mat-raised-button  (click)="obtenerComprobante(element.idCitaProcedimiento,2)">Imprimir</button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedReservaProc"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedReservaProc;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="isValid==1">
  <mat-card>
    <mat-card-content>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <mat-select placeholder="Área:" name="obtenerEspecialidad.idArea" #obtenerEspecialidad.idArea="ngModel" [(ngModel)]="obtenerEspecialidad.idArea"
                (change)="getEspecialidades(obtenerEspecialidad.idArea)" required>
                <mat-option>
                  <strong>Seleccionar Área</strong>
                </mat-option>
                <mat-option *ngFor="let option of listArea; let i = index" [value]="option.idArea">
                  {{option.nomArea}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <mat-select placeholder="Especialidad:" name="obtenerSolicitudes.idEspecialidad" #obtenerSolicitudes.idEspecialidad="ngModel"
                [(ngModel)]="obtenerSolicitudes.idEspecialidad" (change)="obtenerProcedimientosParaCita()" required>
                <mat-option>
                  <strong>Seleccionar Especialidad</strong>
                </mat-option>
                <mat-option *ngFor="let option of listEspec; let i = index" [value]="option.idEspecialidad">
                  {{option.descripcionEspecialidad}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>


<div *ngIf="showProcedimientos==2">
  <!--CITAS DE PROCEDIMIETOS-->
  <mat-card class="mat-card-main">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Citas de Procedimientos</mat-card-title>
    </mat-card-header>

    <mat-card-content>
   
        <div class="row">
          <div class="col-sm-12">
            <mat-table #table [dataSource]="dataSource">
              <ng-container matColumnDef="codigoCPT">
                <mat-header-cell *matHeaderCellDef matTooltip="N° Procedimiento" matTooltipPosition="above">N° Pro</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.idProcedimiento}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Fecha">
                <mat-header-cell *matHeaderCellDef matTooltip="Fecha" matTooltipPosition="above">Fecha</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.fhRegistro}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="subseccion">
                <mat-header-cell *matHeaderCellDef matTooltip="Subsección" matTooltipPosition="above">Sub</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.descripcionCpSubseccion}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="descProcedimiento">
                  <mat-header-cell *matHeaderCellDef matTooltip="Procedimiento" matTooltipPosition="above"> Procedimiento </mat-header-cell>
                  <mat-cell *matCellDef="let element" ngbPopover="{{element.descripcionCpt}}" triggers="mouseenter:mouseleave" popoverTitle="Procedimiento">
                    {{element.descripcionCptResumen}} </mat-cell>
                </ng-container>
              <ng-container matColumnDef="tiempo">
                <mat-header-cell *matHeaderCellDef matTooltip="Tiempo" matTooltipPosition="above"> Tiempo </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.tiempo}} (min) </mat-cell>
              </ng-container>
              <ng-container matColumnDef="cantidadR">
                <mat-header-cell *matHeaderCellDef matTooltip="Cantidad Realizada" matTooltipPosition="above"> Can</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="PrecioU">
                <mat-header-cell *matHeaderCellDef matTooltip="Precio" matTooltipPosition="above"> Precio </mat-header-cell>
                <mat-cell *matCellDef="let element">S/ {{element.precioUnitarioDecimal}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="SubT">
                <mat-header-cell *matHeaderCellDef matTooltip="Sub Total" matTooltipPosition="above"> SubT</mat-header-cell>
                <mat-cell *matCellDef="let element">S/ {{element.subTotalDecimal}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="numeroActoM">
                <mat-header-cell *matHeaderCellDef matTooltip="N° Acto Médico" matTooltipPosition="above"> A. Med </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.idActoMedico}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Accion">
                <mat-header-cell *matHeaderCellDef> Seleccionar </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index">
                  <mat-checkbox [(ngModel)]="element.checked" [value]="true" (change)="getTiempo(element,$event)"></mat-checkbox>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedCitasProc"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedCitasProc;"></mat-row>
            </mat-table>
          </div>
          <div class="col-12 text-right" style="margin-left: -30px; padding-bottom: 10px;">
            <h6 style="margin-right: 150px;margin-bottom: -21px;" *ngIf="sumaTiempos==1">Tiempo total :
              <b>{{total}} min </b> - Monto total :
              <b>S/ {{totalPrecioDecimal}}</b>
            </h6>

            <button mat-raised-button (click)="getMedicos();daysColors()" [disabled]="total==0">Aceptar</button>

          </div>

        </div>
    
    </mat-card-content>
  </mat-card>
</div>



<div *ngIf="showFecha==2">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-3">
          <!-- <mat-card-header class="sombreadoSubtitulos">
                  <mat-card-title class="subtitulo-seccion txt-cale">Calendario</mat-card-title>
                </mat-card-header>
            <ngb-datepicker #dp [(ngModel)]="fecha1" (navigate)="selecMes($event)" (select)="selecFecha(fecha1)" [minDate]="today"></ngb-datepicker> -->
          <input class="checkCal" type="checkbox" id="cal" (click)="selectFecha()">
          <label for="cal">
            <div *ngIf="visionFechaSearchTurnos==true" class="form-grup form-group-sm">
              <mat-form-field class="col-sm-12" style="margin-top: 14px;">
                <input matInput ng appAirdatepicker placeholder="Fecha de Cita" [envioPruebaFinal]="arregloFinal" [(ngModel)]="fechaSearch"
                  id="fechaSearch" name="fechaSearch" [disabled]="true" >
              </mat-form-field>
            </div>
          </label>
        </div>

        <div class="col-9">
          <mat-card *ngIf="showMedicos==2">
            <mat-card-header class="sombreadoSubtitulos">
              <mat-card-title class="subtitulo-seccion">M&eacute;dicos</mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <div class="table-responsive">
                <mat-table #table [dataSource]="dataSourceDocs">
                  <ng-container matColumnDef="Fecha">
                    <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.feProgramacion}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Horario">
                    <mat-header-cell *matHeaderCellDef> Horario </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.horario}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nombreCompleto">
                    <mat-header-cell *matHeaderCellDef> Ape.Nom</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.medico}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="pacientesCitados">
                    <mat-header-cell *matHeaderCellDef> Citados </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <span (click)="openModalListarPacientes(element,0)" style="cursor: pointer;"> {{element.pacientesCitados}}
                        <u>(Ver Citados)</u>
                      </span>

                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="TiempoR">
                    <mat-header-cell *matHeaderCellDef> Tiempo Restante </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.tiempoRestante}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Generar">
                    <mat-header-cell *matHeaderCellDef> Próxima Cita </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index">
                      <button class="" mat-raised-button (click)="openModalListarPacientes(element,1,idProc,obtenerSolicitudes)" [disabled]="disabledGenerar(i)">Generar</button>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedDOCS"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedDOCS;"></mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
                  showFirstLastButtons></mat-paginator>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!--HISTORIAL DE PROCEDIMIENTOS-->
<div *ngIf="isValid==2">
  <mat-card>
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Historial de Procedimientos</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="table-responsive">
        <mat-table #table [dataSource]="dataSource2">
          <ng-container matColumnDef="Fecha">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fecProgramacion}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="HIniTur">
            <mat-header-cell *matHeaderCellDef> H Ini </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hoIni}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="HFinTur">
            <mat-header-cell *matHeaderCellDef> H Fin </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hoFin}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Subseccion">
            <mat-header-cell *matHeaderCellDef> Subseccion </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.subseccion}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Medico">
            <mat-header-cell *matHeaderCellDef> M&eacute;dico </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nombrePersonal}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="histProcedimiento">
            <mat-header-cell *matHeaderCellDef> Procedimiento </mat-header-cell>
            <mat-cell *matCellDef="let element" ngbPopover="{{element.descProcedimiento}}" triggers="mouseenter:mouseleave"
            popoverTitle="Procedimiento"> {{element.descProcedimiento | truncate: 50}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Consultorio">
            <mat-header-cell *matHeaderCellDef> Consultorio </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.consultorio}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedHistorialProc"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedHistorialProc;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="col-12 text-center">
    <button mat-raised-button (click)="closeHistorial()">Regresar</button>
  </div>
</div>