.mat-column-descProcedimiento {
  flex: 0 0 20%;
  width: auto;
}
.mat-column-Consultorio {
  flex:0 0 12%;
  width: auto;
}
.mat-column-codigoCPT {
  flex: 0 0 6%;
  margin-left: auto;
}
.mat-column-Accion {
  flex: 0 0 10%;
}


.mat-column-Medico {
  flex: 0 0 17%;
}
.mat-column-histProcedimiento {
  flex: 0 0 24%;
}
.alinearBtn{
  padding-top: 10px;
    margin-left: 9.5%;
}
.tamano-contenedor{
  width: 99%;
  margin: auto;
  margin-bottom: -25px;
}
.icon-ver{
  position: fixed;
  /* margin-bottom: -4px; */
  margin-top: 7px;
  margin-left: -15px;
}

.calendario{
  margin-top: 0px;
  padding-left: 35px;
}
.txt-cale{
  margin-left: 50px;  
}
.mat-form-field-flex5{
  display: inline-flex;
    align-items: baseline;
    width: 120%!important;
    margin-bottom: -15px;
}
.btnGenerar{
  line-height: 20px!important;
}
.checkCal{
  display: none !important;
}