.example-full-width {
  font-family:  sans-serif !important;
  position: relative;
  font-size: 14px;
  display: inline-block;
  //box-sizing: border-box;
  width: 100%;
  margin: 0;
  //padding: 11px 0 0 0 !important;
}
// .mat-input-element:disabled {
//   color: black !important;
//   cursor: default;
// }
// .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//   display: block;
//   color: #3f51b5;
//   font-weight: bold;
// }
// .mat-form-field-placeholder {
//   font-size: 14px;
//   color: #424242;
// }
// .mat-form-field-underline {
//   background-color: #424242 !important;
// }
// .mat-input-element {
//   color: black !important;
// }
// .mat-focused {
//   color: black;
// }
// .mat-select-disabled .mat-select-trigger {
//   cursor: not-allowed !important;
// }
// .mat-select-value {
//   color: black !important;
// }
// .mat-checkbox-disabled {
//   cursor: not-allowed !important;
// }
// // .mat-form-field-underline{

// //    background-color:#2962ff !important;
// // }

// // .mat-form-field-disabled .mat-form-field-underline {
// //     background-position: 0;
// //     border-bottom: 2px solid #3f51b5;
// // }
// .mat-form-field-prefix,
// .mat-form-field-suffix {
//   color: black;
//   font-size: 14px !important;
//   font-weight: 600 !important;
// }
// .mat-hint {
//   color: #424242;
//   font-weight: 600;
//   padding: 0 2px;
// }
