<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Datos de búsqueda de solicitudes de Almacenes</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #limpiarCamposTransferir="ngForm" novalidate name="limpiarCamposTransferir">
      <div class="card-body">
        <div class="row">

          <div class="col-sm-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <input matInput name="farmSoliTransfe" placeholder="Farmacia Solicitante:" disabled value="{{cabeceraAlmacen.almacenHijoList ? cabeceraAlmacen.almacenHijoList[0].descripcionAlmacen : '-'}}">
            </mat-form-field>
          </div>

          <div class="col-sm-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <input matInput maxlength="10" name="numSolicitudTransfe" placeholder="N° de Solicitud:" [(ngModel)]="params.numeroComprobante">
            </mat-form-field>
          </div>

          <div class="col-sm-4 mdl-input-group mdl-input-group__only" *ngIf="tipoAlmacen=='G'&&cabeceraAlmacen!=null">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <mat-select #listaAlmacenesTransfe name="listaAlmacenesTransfe" placeholder="Almacén solicitante:" [(ngModel)]="params.idAlmacen">
                <mat-option>
                  <strong>Seleccione</strong>
                </mat-option>
                <mat-option *ngFor="let item of cabeceraAlmacen.almacenHijoList" value="{{item.idAlmacen}}">
                  {{item.descripcionAlmacen}}
                </mat-option>
                <mat-option value="2">
                  Emergencia
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <mat-select #comboEstadoComproTransfe name="comboEstadoComproTransfe" placeholder="Estado" [(ngModel)]="params.flEstadoComprobante">
                <mat-option>
                  <strong>Seleccione</strong>
                </mat-option>
                <mat-option value="E">
                  Atendido
                </mat-option>
                <!-- <mat-option value="C">
                  Confirmado
                </mat-option> -->
                <mat-option value="P">
                  Pendiente
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!--FECHA INICIO-->
          <div class="col-sm-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <input matInput type="text" [matDatepicker]="dp" name="feDesdeTrans" #feDesdeTrans="ngModel" [(ngModel)]="feDesde" placeholder="Desde:"
                [maxDate]="feHasta" disabled>
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp disabled="false"></mat-datepicker>
              <mat-error>
                <app-validators-messages [controlVar]="feDesdeTrans" labelName="Fecha Desde">
                  <!-- [ngDirty]="true" [ngTouched]="true" -->
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>

          <!--FECHA FIN-->
          <div class="col-sm-4 mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width mat-form-field-flex3">
              <input matInput type="text" [matDatepicker]="dpp" name="feHastaTrans" #feHastaTrans="ngModel" [(ngModel)]="feHasta" placeholder="Hasta:"
                [minDate]="feDesde" disabled>
              <mat-datepicker-toggle matSuffix [for]="dpp"></mat-datepicker-toggle>
              <mat-datepicker #dpp disabled="false"></mat-datepicker>
              <mat-error>
                <app-validators-messages [controlVar]="feHastaTrans" labelName="Fecha Hasta">
                  <!-- [ngDirty]="true" [ngTouched]="true" -->
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>
       
      
      <div class="col-12 text-right empujar2 margenTop">
        <button mat-raised-button (click)="getComprobanteFarmacia()">Buscar</button>
        <button mat-raised-button (click)="limpiarCampos(limpiarCamposTransferir)">Limpiar</button>
      </div>
    </div>
  </div>
    </form>
  </mat-card-content>

  <mat-card-content>
    <div class="table responsive">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="Item">
          <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.i}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="numeroSolicitud">
          <mat-header-cell *matHeaderCellDef> Nro. de Solicitud </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.numeroComprobante}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Fecha">
          <mat-header-cell *matHeaderCellDef matTooltip="Fecha de Solicitud Comprobante" matTooltipPosition="above">Fecha </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.feComprobante}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Almacen">
          <mat-header-cell *matHeaderCellDef> Almacén Solicitante</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.almacenOrigen ? element.almacenOrigen.descripcionAlmacen : '-'}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Estado">
          <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.flEstadoComprobante ? (element.flEstadoComprobante == 'E' ? 'Atendido' : (element.flEstadoComprobante
            == 'C' ? 'Confirmado' : (element.flEstadoComprobante == 'P' ? 'Pendiente' : '-' ))) : '-' }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef> Visualizar </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!-- <div *ngIf="element.flEstadoComprobante =='P'"> -->
            <button mat-button (click)="modalTransferencia(element.idComprobante,element.feComprobante,element.almacenOrigen.descripcionAlmacen,element.numeroComprobante,element.flEstadoComprobante)">
              <div class="example-tooltip-host" matTooltip="Ver" [matTooltipPosition]="position">
                <span>
                  <i class="material-icons">visibility</i>
                </span>
              </div>
            </button>
            <!-- </div> -->
            <!-- <span *ngIf="element.flEstadoComprobante!='P'"> - </span> -->
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsComrobantes"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsComrobantes;"></mat-row>
      </mat-table>
    </div>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
  </mat-card-content>
</mat-card>