
.my-fab1 {
    width: 13px;
    height: 13px;
    line-height: 13px;
    background-color:red;
}
.my-fab2 {
    width: 13px;
    height: 13px;
    line-height: 13px;
    background-color:green;
}
.botonesAlLado{
display: flex;
    justify-content: flex-end;}

.sinRelleno {
    padding-bottom: initial;}