<mat-toolbar class="colorMenu3">
  <mat-toolbar-row>
      <a mat-button class="mat-button {{activado.listar-proveedor}}" (click)="goToModulo('listar-proveedor')">Listar Proveedor</a>

      <a mat-button class="mat-button {{activado.listar-material-proveedor}}" (click)="goToModulo('listar-material-proveedor')">Listar Material Proveedor</a>
      <a mat-button class="mat-button {{activado.ordenCompra}}" (click)="goToModulo('ordenCompra')">Orden Compra</a>
      <a mat-button class="mat-button {{activado.solicitarCotizacion}}" (click)="goToModulo('solicitarCotizacion')">Solicitud de Cotizaciones</a>
      <!-- <a mat-button class="mat-button {{activado.cotizaciones}}" (click)="goToModulo('cotizaciones')">Cotizaciones</a> -->
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>