<mat-card class="matCardMin">
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Agregar Medicamento</mat-card-title>
    <div class="margenSuperior">
      <button mat-button class="mat-button-icon closeModal" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-5">
            <mat-form-field class="col-sm-12">
              <mat-select id="combo" #listaOpciones (change)="placeDesc(listaOpciones.value)"
                [(ngModel)]="insert.tipoMedicamento" placeholder="Grupo de Medicamento" name="comboTipoMedic"
                disableRipple>
                <mat-option *ngFor="let gM of gruposMedicamentos" [value]="gM.id">
                  {{gM.valor}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-5" *ngIf="insert.tipoMedicamento!=null">
            <mat-form-field class="col-sm-12">
              <mat-label>{{ descripAutoComplete }}:</mat-label>
              <input matInput [matAutocomplete]="auto" (input)="busquedaServicioDescripcion($event.target.value)"  [(ngModel)]="medicamento" 
                matTooltip="mínimio 2 palabras para realizar búsqueda" [matTooltipPosition]="'above'">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let ld of lsMedicamentos" [value]="ld.productoFarmaceutico" (click)="seleccionarId(ld.idMedicamento)">
                  {{ ld.productoFarmaceutico }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-sm-2">
            <div class="text-center">
              <button mat-raised-button class="col-sm-2" style="margin-top: 15px;" (click)="insertarMedicamento()" [disabled]="!medicamento">Agregar</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>
<div *ngIf="showCoberturas==1">
  <mat-card class="agrandarContainer">
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Medicamentos</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <div class="row">
          <div class="col-sm-12">
            <mat-table #table [dataSource]="dataSource">
              <ng-container matColumnDef="Codigo">
                <mat-header-cell *matHeaderCellDef> Código</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.codigo}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Tipo">
                <mat-header-cell *matHeaderCellDef>Grupo Medicamento </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.tipoMedicamento}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Nombre">
                <mat-header-cell *matHeaderCellDef>Nombre </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.productoFarmaceutico}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Eliminar">
                <mat-header-cell *matHeaderCellDef>Eliminar </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <mat-icon class=" md-36" matTooltip="Eliminar" (click)="modalEliminarServicioCobertura(element.idMedicamentoCobertura,element.productoFarmaceutico)">delete</mat-icon>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="displayedSize" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize"
              (page)="pageEvent($event)" showFirstLastButtons></mat-paginator>
          </div>
        </div>
 
    </mat-card-content>
  </mat-card>
</div>