<main class="mat-content">
  <div class="card-body">

 
    <mat-card>
      <mat-card-header class="sombreadoSubtitulos">
        <mat-card-title class="subtitulo-seccion">Buscar Receta</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <form #limpiarCamposAtenderReceta="ngForm" novalidate name="limpiarCamposAtenderReceta"> -->
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field class="example-full-width ">
                <mat-select #listaOpciones placeholder="Doc. Iden. Paciente"
                  [(ngModel)]="params.idTipoDocumentoIdentidad" (selectionChange)="validatipoDoc()"
                  [disabled]="verificarDoc(params.idActoMedico,params.idReceta)">
                  <mat-option>
                    <strong>Seleccionar Tipo de Documento</strong>
                  </mat-option>
                  <mat-option *ngFor="let tipDoc of tipoDocumento" value="{{tipDoc.id}}">
                    {{tipDoc.valor}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label for="nroDocIden">Número de Documento: </mat-label>
                <input matInput type="text" maxlength="8" name="nroDocIden" #nroDocIden="ngModel" id="nroDocIden"
                  [(ngModel)]="params.numeroDocumentoIdentidad" maxlength="{{longitudDocumento}}"
                  minlength="{{longitudDocumento}}" (keypress)="setInputPattern($event, 'positiveDigits')"
                  [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
                  [disabled]="!params.idTipoDocumentoIdentidad" />
                <mat-error>
                  <app-validators-messages [controlVar]="nroDocIden" labelName="N° de Documento de Identidad">
                  </app-validators-messages>
                </mat-error>
                <mat-hint align="end" class="longitudInforme">
                  {{ params.numeroDocumentoIdentidad.length? params.numeroDocumentoIdentidad.length: '0' }} /
                  {{longitudDocumento}}
                </mat-hint>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width ">
                <mat-label for="nroDocNota">Número de Acto Médico: </mat-label>
                <input matInput type="text" name="nroDocNota" #nroDocNota="ngModel" id="nroDocNota"
                  [(ngModel)]="params.idActoMedico"
                  [disabled]="verificarActoMed(params.idReceta) || params.idTipoDocumentoIdentidad"
                  (keypress)="setInputPattern($event, 'positiveDigits')"
                  [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" />
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width ">
                <mat-label for="nroReceta">Nro. Receta: </mat-label>
                <input matInput type="text" name="nroReceta" #nroReceta="ngModel" id="nroReceta"
                  [(ngModel)]="params.idReceta"
                  [disabled]="verificarReceta(params.idActoMedico) || params.idTipoDocumentoIdentidad"
                  (keypress)="setInputPattern($event, 'positiveDigits')"
                  [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" />
              </mat-form-field>
            </div>
            <div class="col-sm-12 text-right empujar55">
              <button mat-raised-button (click)="buscarReceta()">Buscar</button>
              <!-- <button mat-raised-button (click)="limpiarCampos(limpiarCamposAtenderReceta)">Limpiar
                              <i class="material-icons">keyboard_return</i>
                          </button> -->
            </div>
          </div>
        </div>
        <!-- </form> -->
      </mat-card-content>
    </mat-card>
    <br>
    <!-- <app-persona-datos [idCita]="idCita" (sendDatosPersonales)="requestDatosPersonales($event)">
          </app-persona-datos> -->
    <mat-card *ngIf="jsonFlags.flgPaciente==true">
      <mat-card-header class="sombreadoSubtitulos alinearCabecera">
        <mat-card-title class="subtitulo-seccion">Datos del Paciente</mat-card-title>
        
          <button class="enlace negrita" type="button" (click)="verHistorial()">Historial Producto Farmacéutico /
            Dispositivo Médico</button>
        
      </mat-card-header>

      <mat-card-content>
        <div class="card-body">
          <div class="row">
            <div class="col-5 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width ">
                <input matInput placeholder="Apellido y Nombre:" readonly
                  value="{{datPaciente.apellidoPaterno}} {{datPaciente.apellidoMaterno}} {{datPaciente.nombres}}">
              </mat-form-field>
            </div>

            <div class=" col-3 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex3">
                <input matInput placeholder="T. de Documento:" readonly
                  value="{{datPaciente.tipoDocumentoIdentidad.descripcion}}">
              </mat-form-field>
            </div>

            <div class=" col-4  mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex3">
                <input matInput placeholder="N&ordm; de Documento:" readonly
                  value="{{datPaciente.numeroDocumentoIdentidad}}">
              </mat-form-field>
            </div>


            <div class=" col-4 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex3">
                <input matInput placeholder="N&ordm; Historia Clínica:" readonly
                  value="{{datPaciente.historiaList[0] ? datPaciente.historiaList[0].idHistoria : '-'}}">
              </mat-form-field>
            </div>

            <div class=" col-4 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex3">
                <input matInput placeholder="F. de Nacimiento:" readonly
                  value="{{datPaciente.feNacimiento | date: 'dd/MM/yyyy'}}">
              </mat-form-field>
            </div>

            <div class="col-4 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex3">
                <input matInput placeholder="Sexo:" readonly value="{{datPaciente.sexo.valor}}">
              </mat-form-field>
            </div>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
    <br>

    <mat-card *ngIf="jsonFlags.flgReceta==true">
      <mat-card-header class="sombreadoSubtitulos">
        <mat-card-title class="subtitulo-seccion">Recetas Pendientes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="table responsive">
          <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="numeroReceta" [class.isMobile]="isMobile">
              <mat-header-cell *matHeaderCellDef> Nro. Receta </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Nro. Receta:</span>
                {{element.idReceta}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actoMedicoatencion">
              <mat-header-cell *matHeaderCellDef>
                <div class="example-tooltip-host" matTooltip="Acto Médico / Atención" [matTooltipPosition]="position">
                  <span>Act. Méd. / Atención</span>
                </div>
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Ácto Médico/Atención:</span>
                {{element.actoMedico ? element.actoMedico.idActoMedico + '-' + element.actoMedico.idAtencion:
                                '-'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Area">
              <mat-header-cell *matHeaderCellDef> Área </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Área:</span>
                {{element.actoMedico.area.valor}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Especialidad">
              <mat-header-cell *matHeaderCellDef>Especialidad</mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Especialidad:</span>
                {{element.actoMedico.cita ?
                                element.actoMedico.cita.programacion.especialidad.descripcionEspecialidad:'-'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Fecha">
              <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Fecha:</span>
                {{element.fhReceta}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Estado">
              <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Estado:</span>
                {{element.recetaEstado}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="Accion">
              <mat-header-cell *matHeaderCellDef> Seleccionar </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Seleccionar:</span>
                <button mat-button (click)="getPacienteActoMedico(element.idReceta, element.recetaEstado)"
                  [disabled]="element.recetaEstado=='Atendido total'">
                  <div class="example-tooltip-host" matTooltip="Obtener Datos" [matTooltipPosition]="'above'">
                    <span>
                      <i class="material-icons">arrow_forward</i>
                    </span>
                  </div>
                </button>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="verActoMedico">
              <mat-header-cell *matHeaderCellDef> Acto Médico </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="mobile-label">Acto Médico:</span>
                <button mat-button (click)="verActoMedico(element.actoMedico.cita.idCitaEncriptado)">
                  <div class="example-tooltip-host" matTooltip="Ver Acto Médico" [matTooltipPosition]="'above'">
                    <span>
                      <i class="material-icons">visibility</i>
                    </span>
                  </div>
                </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumnsReceta"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsReceta;"></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
      <br>
    </mat-card>
    <br>


  <!-- <div class="col-sm-6 col-md-7" *ngIf="jsonFlags.flgPaciente==true && idCita!=null">
    <app-acto-medico-cita [idCita]="idCita"></app-acto-medico-cita>
  </div> -->
<div id="listadoDeRecetasID" *ngIf="recetaDetalle!=null" tabindex="1">
    <mat-card>
      <mat-card-header class="sombreadoSubtitulos">
        <mat-card-title class="subtitulo-seccion">Receta Nro: {{recetaDetalle.idReceta ? recetaDetalle.idReceta: '-'}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="">
          <table class="table responsive" *ngIf="recetaDetalle.recetaDetalleList">
            <thead>
              <tr>
                <th class="text-center">Código</th>
                <th class="text-center">
                  <div class="example-tooltip-host" matTooltip="Producto Farmacéutico / Dispositivo Médico"
                    [matTooltipPosition]="position">
                    <span>P. Farm. / D. Méd.</span>
                  </div>
                </th>
                <th class="text-center">
                  <div class="example-tooltip-host" matTooltip="Forma Farmacéutica / Tipo de Dispositivo"
                    [matTooltipPosition]="position">
                    <span>Form. Farm. / Tip. Disp.</span>
                  </div>
                </th>
                <th class="text-center">Stock</th>
                <th class="text-center">
                  <div class="example-tooltip-host" matTooltip="Cantidad Solicitada" [matTooltipPosition]="position">
                    <span>Cant. Sol.</span>
                  </div>
                </th>
                <th class="text-center">
                  <div class="example-tooltip-host" matTooltip="Unidad de Medida" [matTooltipPosition]="position">
                    <span>Und. Med.</span>
                  </div>
                </th>
                <th class="text-center">
                  <div class="example-tooltip-host" matTooltip="Cantidad a Atender" [matTooltipPosition]="position">
                    <span>Cant. At.</span>
                  </div>
                </th>
                <th class="text-center">
                  <div class="example-tooltip-host" matTooltip="Cantidad Pendiente" [matTooltipPosition]="position">
                    <span>Cant. Pend.</span>
                  </div>
                </th>
                <th class="text-center">
                  <div class="example-tooltip-host" matTooltip="Precio Unitario" [matTooltipPosition]="position">
                    <span>P. Unitario</span>
                  </div>
                </th>
                <th class="text-center">Sub Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of recetaDetalle.recetaDetalleList; let i = index">
                <td scope="row" class="text-center">{{item.medicamento ? item.medicamento.codigo :
                              (item.dispMedicoProdSanitario
                              ? item.dispMedicoProdSanitario.codigo: '-')}}
                </td>
                <td scope="row" class="text-center">{{item.medicamento ?
                              item.medicamento.dciProductoFarmaceutico
                              : (item.dispMedicoProdSanitario ?
                              item.dispMedicoProdSanitario.dciDispMedicoProdSanitario:'-')}}</td>
                <td scope="row" class="text-center">{{item.medicamento ? item.medicamento.formaFarmaceutica :
                              (item.dispMedicoProdSanitario
                              ? item.dispMedicoProdSanitario.tipoDispositivo.valor: '-')}}
                </td>

                <td scope="row" class="text-center">{{item.stock ? item.stock : '-'}}</td>

                <td scope="row" class="text-center">{{item.cantidad ? item.cantidad : '-'}}</td>


                <td scope="row" class="text-center">{{item.nombreUnidad ? item.nombreUnidad: '-'}}</td>

                <td scope="row" class="text-center">
                  <mat-form-field style="text-align: center;" [floatLabel]="'never'" class="example-full-width"
                    *ngIf="item.stock!=0">
                    <input matInput placeholder="Ingrese Cantidad A." name="cantAtenAct{{i}}" #cantAtenAct="ngModel"
                      id="cantAtenAct{{i}}" [disabled]="item.desaactivado" [(ngModel)]="item.cantidadAtendidaActual"
                      (keypress)="setInputPattern($event, 'positiveDigits')" required
                      [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
                      (keyup)="sumaTotal(item.cantidadAtendidaActual,i)" [min]="0"
                      [lte]="item.cantidad-item.cantidadAtendida">
                    <mat-error>
                      <app-validators-messages [controlVar]="cantAtenAct" labelName="Cantidad Atendida">
                      </app-validators-messages>
                    </mat-error>
                  </mat-form-field>
                  <span *ngIf="item.stock==0"> - </span>
                </td>


                <td scope="row" class="text-center">{{item.cantPend }}</td>

                <td scope="row" class="text-center">{{item.medicamento ? item.medicamento.precioVenta :
                              (item.dispMedicoProdSanitario
                              ? item.dispMedicoProdSanitario.precioVenta: '-')}}</td>

                <td scope="row" class="text-center">{{item.total}}</td>
              </tr>
            </tbody>
          </table>
         
            <div class="row" >
                <div class="col-12 flex5" style="margin-left: -1.2%; margin-bottom: 1%;">
                  <div><h6><b>Total: S/.</b> {{total}}</h6>   </div>
                  <div><button mat-raised-button (click)="previsualizar()" [disabled]="disabledAtender || (total==0)">Previsualizar</button></div>           
                </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
    
    <br>
        
    <div class="col-sm-12">
        <div class="row" >
          <div class="col-sm-12 text-right">
            <button mat-raised-button *ngIf="flgConPago" [disabled]="disabledAtender || (total==0)"
              (click)="generarOrden()">Generar Orden</button>
            <button mat-raised-button *ngIf="!flgConPago" (click)="atenderReceta(atenderRecetaValidator)"
              [disabled]="disabledAtender">Atender Receta
            </button>
          </div>
        </div>
      </div>


  </div>


    <!-- <form #atenderRecetaValidator="ngForm" novalidate name="atenderRecetaValidator">
      <mat-card *ngIf="recetaDetalle!=null" style="margin-top: 20px;">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Receta Nro:" disabled
                  value="{{recetaDetalle.idReceta ? recetaDetalle.idReceta: '-'}}">
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Fecha emisión de la receta:" disabled
                  value="{{recetaDetalle.fhReceta?recetaDetalle.fhReceta : 'no Obtenida'}}">
              </mat-form-field>
            </div>
          </div>
        </div>
        <mat-card-content style="padding-top: 10px" *ngIf="recetaDetalle!=null">
          <div class="table responsive">
            <table class="table" *ngIf="recetaDetalle.recetaDetalleList">
              <thead>
                <tr>
                  <th class="text-center">Código</th>
                  <th class="text-center">
                    <div class="example-tooltip-host" matTooltip="Producto Farmacéutico / Dispositivo Médico"
                      [matTooltipPosition]="position">
                      <span>P. Farm. / Disp. Médico</span>
                    </div>
                  </th>
                  <th class="text-center">
                    <div class="example-tooltip-host" matTooltip="Forma Farmacéutica / Tipo de Dispositivo"
                      [matTooltipPosition]="position">
                      <span>F. Farm. / T. Disp.</span>
                    </div>
                  </th>
                  <th class="text-center">Stock</th>
                  <th class="text-center">Cant. Solicitada</th>
                  <th class="text-center">Und. de Medida</th>
                  <th class="text-center" style="width: 11%;">Cant. a Atender</th>
                  <th class="text-center">Cant. Pendiente</th>
                  <th class="text-center">Precio Unitario</th>
                  <th class="text-center">Sub Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of recetaDetalle.recetaDetalleList; let i = index">
                  <td scope="row" class="text-center">{{item.medicamento ? item.medicamento.codigo :
                          (item.dispMedicoProdSanitario
                          ? item.dispMedicoProdSanitario.codigo: '-')}}
                  </td>
                  <td scope="row" class="text-center">{{item.medicamento ?
                          item.medicamento.dciProductoFarmaceutico
                          : (item.dispMedicoProdSanitario ?
                          item.dispMedicoProdSanitario.dciDispMedicoProdSanitario:'-')}}</td>
                  <td scope="row" class="text-center">{{item.medicamento ? item.medicamento.formaFarmaceutica :
                          (item.dispMedicoProdSanitario
                          ? item.dispMedicoProdSanitario.tipoDispositivo.valor: '-')}}
                  </td>
                  <td scope="row" class="text-center">{{item.stock ? item.stock : '-'}}</td>

                  <td scope="row" class="text-center">{{item.cantidad ? item.cantidad : '-'}}</td>

                  <td scope="row" class="text-center">{{item.nombreUnidad ? item.nombreUnidad: '-'}}</td>

                  <td scope="row" class="text-center">
                    <mat-form-field style="text-align: center;" [floatLabel]="'never'" class="example-full-width"
                      *ngIf="item.stock!=0">
                      <input matInput placeholder="Ingrese Cantidad A." name="cantAtenAct{{i}}" #cantAtenAct="ngModel"
                        id="cantAtenAct{{i}}" [disabled]="item.desaactivado" [(ngModel)]="item.cantidadAtendidaActual"
                        (keypress)="setInputPattern($event, 'positiveDigits')" required
                        [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
                        (keyup)="sumaTotal(item.cantidadAtendidaActual,i)" [min]="0"
                        [lte]="item.cantidad-item.cantidadAtendida">
                      <mat-error>
                        <app-validators-messages [controlVar]="cantAtenAct" labelName="Cantidad Atendida">
                        </app-validators-messages>
                      </mat-error>
                    </mat-form-field>
                    <span *ngIf="item.stock==0"> - </span>
                  </td>

                  <td scope="row" class="text-center">{{item.cantPend }}</td>

                  <td scope="row" class="text-center">{{item.medicamento ? item.medicamento.precioVenta :
                          (item.dispMedicoProdSanitario
                          ? item.dispMedicoProdSanitario.precioVenta: '-')}}</td>

                  <td scope="row" class="text-center">{{item.total}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="9" class="text-center">
                    <label class="mr-sm-2">Total: {{total}}</label>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
      <br>
      <div class="col-12" style="text-align: center" *ngIf="recetaDetalle!=null">
        <button mat-raised-button (click)="previsualizar()"
          [disabled]="isInvalid(atenderRecetaValidator) || disabledAtender">Previsualizar</button>
        <button mat-raised-button *ngIf="flgConPago"
          [disabled]="isInvalid(atenderRecetaValidator) || disabledAtender || (total==0)"
          (click)="generarOrden()">Generar Orden</button>
        <button mat-raised-button *ngIf="!flgConPago" (click)="atenderReceta(atenderRecetaValidator)"
          [disabled]="isInvalid(atenderRecetaValidator) || disabledAtender">Atender Receta
        </button>
      </div>
    </form> -->

  </div>
</main>