<div class="col-lg-12">
  <mat-card tabindex="-1">

    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">Movimiento de Transferencias</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <form #buscarMovIngreso="ngForm" novalidate name="buscarMovIngreso">

        <div class="card-body">

          <!-- GRUPO MEDICAMENTO -->
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-4">
                <mat-form-field class="example-full-width">
                  <mat-select id="combo" #listaOpciones (change)="placeDesc(listaOpciones.value,buscarMovIngreso.form.controls.descMedicReport)"
                    [(ngModel)]="flgMedicDisp" placeholder="Seleccionar Grupo" name="comboTipoMedic" disableRipple>
                    <mat-option *ngFor="let gM of gruposMedicamentos" [value]="gM.id">
                      {{gM.valor}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-4" *ngIf="flgMedicDisp=='M'||flgMedicDisp=='D'">

                <mat-form-field class="example-full-width">
                  <mat-label>{{ descripAutoComplete }}:</mat-label>
                  <input matInput [matAutocomplete]="auto" name="descMedicReport" #descMedicReport="ngModel" id="descMedicReport" [(ngModel)]="productoDescripcion"
                    (input)="buscarMedicDispProdDescripcion($event.target.value)" />
                  <mat-error>
                    <app-validators-messages [controlVar]="descMedicReport" labelName="Producto Farmacútico/Dispositivo Médico">
                      <!-- [ngDirty]="true" [ngTouched]="true" -->
                    </app-validators-messages>
                  </mat-error>
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <div>
                      <mat-option (onSelectionChange)="seleccionaMedicamento(dispMeD)" *ngFor="let dispMeD of filteredDispMedi" [value]="dispMeD.dispositivoMedicamento +' '+ dispMeD.marca + ' ' + (dispMeD.presentacion ? dispMeD.presentacion
                      : '') + ' ' + (dispMeD.viaAdministracion ? dispMeD.viaAdministracion : '') + ' ' + dispMeD.formaFarmaceutica
                      +' '+ dispMeD.concentracion">
                        <span>{{ dispMeD.dispositivoMedicamento +' '+ dispMeD.marca + ' ' + (dispMeD.presentacion ? dispMeD.presentacion
                          : '') + ' ' + (dispMeD.viaAdministracion ? dispMeD.viaAdministracion : '') + ' ' + dispMeD.formaFarmaceutica
                          +' '+ dispMeD.concentracion }}
                        </span>
                      </mat-option>
                    </div>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-sm-4" *ngIf="flgMedicDisp=='M'||flgMedicDisp=='D'">
                <mat-form-field class="example-full-width">
                  <mat-label>Número de Pecosa: </mat-label>
                  <input matInput id="typeahead-template" name="numeroComprobante" placeholder="Número de Pecosa" type="text" id="numComprobante"
                    [(ngModel)]="paramsBusqueda.numeroDocumento">
                </mat-form-field>
              </div>
            </div>

            <!-- PRODUCTO FARMACEUTICO - DISPOSITIVO MEDICO  -->

            <!-- Medicamento -->
            <div class="row">
              <!-- <div class="col-sm-4 mdl-input-group mdl-input-group__only" *ngIf="flgMedicDisp=='M'||flgMedicDisp=='D'">

                <mat-form-field class="example-full-width">
                  <mat-label>{{ descripAutoComplete }}:</mat-label>
                  <input matInput [matAutocomplete]="auto" name="descMedicReport" #descMedicReport="ngModel" id="descMedicReport" [(ngModel)]="productoDescripcion"
                    (input)="buscarMedicDispProdDescripcion($event.target.value)" />
                  <mat-error>
                    <app-validators-messages [controlVar]="descMedicReport" labelName="Producto Farmacútico/Dispositivo Médico">
                      [ngDirty]="true" [ngTouched]="true"
                    </app-validators-messages>
                  </mat-error>
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <div>
                      <mat-option (onSelectionChange)="seleccionaMedicamento(dispMeD)" *ngFor="let dispMeD of filteredDispMedi" [value]="dispMeD.dispositivoMedicamento">
                        <span>{{ dispMeD.dispositivoMedicamento +' '+ dispMeD.marca + ' ' + dispMeD.formaFarmaceutica +' '+ dispMeD.concentracion
                          }}
                        </span>
                      </mat-option>
                    </div>
                  </mat-autocomplete>
                </mat-form-field>
              </div> -->
              <!-- </div> -->

              <!-- por pecosa -->

              <!-- <div class="row"> -->
              <!-- fecha inicio -->
              <div class="col-sm-4 ">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" [matDatepicker]="dp" name="feIniForm" #feIniForm="ngModel" [(ngModel)]="feIni" [maxDate]="feFin"
                    placeholder="Desde:">
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                  <mat-error>
                    <app-validators-messages [controlVar]="feIniForm" labelName="Fecha Desde">
                      <!-- [ngDirty]="true" [ngTouched]="true" -->
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- fecha fin -->
              <div class="col-sm-4 ">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" [matDatepicker]="dpp" name="feFinForm" #feFinForm="ngModel" [(ngModel)]="feFin" [minDate]="feIni"
                    placeholder="Hasta:">
                  <mat-datepicker-toggle matSuffix [for]="dpp"></mat-datepicker-toggle>
                  <mat-datepicker #dpp></mat-datepicker>
                  <mat-error>
                    <app-validators-messages [controlVar]="feFinForm" labelName="Fecha Hasta">
                      <!-- [ngDirty]="true" [ngTouched]="true" -->
                    </app-validators-messages>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-sm-4 margenAuto fullcenter" *ngIf="flgMedicDisp=='M'||flgMedicDisp=='D'">
                <button mat-raised-button (click)="buscarIngMedicamentoxSalidaAux()" [disabled]="isInvalid(buscarMovIngreso)">Buscar
                </button>
                <button mat-raised-button (click)="imprimePDF_EXCEL(2)">Imprimir PDF</button>
                <button mat-raised-button (click)="imprimePDF_EXCEL(1)">Imprimir Excel</button>
              </div>
            </div>
            <!-- boton Buscar -->
            <!-- <div class="col-11"></div> -->

            <!-- Imprimir PDF y EXCEL -->
            <!-- FIN- MEDICAMENTOS -->

          </div>
        </div>
      </form>

    </mat-card-content>

    <mat-card-content>
      <!-- INICIA TABLA -->

      <div class="table responsive" *ngIf="movIngMedList.length!=0 && comprFarmNCList.length==0">

        <mat-table [dataSource]="movIngMedDataSource" matSort>

          <!-- CODIGO -->
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let movIngMed"> {{ movIngMed.codigo }} </mat-cell>
          </ng-container>

          <!-- PECOSA -->
          <ng-container matColumnDef="pecosa">
            <mat-header-cell *matHeaderCellDef> Pecosa </mat-header-cell>
            <mat-cell *matCellDef="let movIngMed"> {{ movIngMed.numeroDocumento }} </mat-cell>
          </ng-container>

          <!-- FECHA -->
          <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let movIngMed"> {{ movIngMed.fhMovimiento }} </mat-cell>
          </ng-container>

          <!-- DCI MEDICAMENTO -->
          <ng-container matColumnDef="dci">
            <mat-header-cell *matHeaderCellDef>
              <div class="example-tooltip-host" matTooltip="Producto Farmaceútico/Dispositivo Médico" [matTooltipPosition]="position">
                <span>P.D./D.M</span>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let movIngMed"> {{ movIngMed.dciProductoFarmaceutico }} </mat-cell>
          </ng-container>

          <!-- MARCA -->
          <ng-container matColumnDef="marca">
            <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
            <mat-cell *matCellDef="let movIngMed"> {{ movIngMed.marca }} </mat-cell>
          </ng-container>

          <!-- NOMBRE UNIDAD -->
          <ng-container matColumnDef="nombreUnidad">
            <mat-header-cell *matHeaderCellDef> N. Unidad </mat-header-cell>
            <mat-cell *matCellDef="let movIngMed"> {{ movIngMed.nombreUnidad }} </mat-cell>
          </ng-container>

          <!-- LOTE -->
          <ng-container matColumnDef="lote">
            <mat-header-cell *matHeaderCellDef> Lote </mat-header-cell>
            <mat-cell *matCellDef="let movIngMed"> {{ movIngMed.descripcionMedicamentoLote }} </mat-cell>
          </ng-container>

          <!-- CANTIDAD -->
          <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let movIngMed"> {{ movIngMed.cantidad }} </mat-cell>
          </ng-container>

          <!-- FECHA VENCIMIENTO -->
          <ng-container matColumnDef="fechaVencimiento">
            <mat-header-cell *matHeaderCellDef>Vencimiento </mat-header-cell>
            <mat-cell *matCellDef="let movIngMed"> {{ movIngMed.feVencimiento }} </mat-cell>
          </ng-container>

          <!-- PRECIO UNITARIO -->
          <ng-container matColumnDef="precioUnitario">
            <mat-header-cell *matHeaderCellDef> Precio Unitario </mat-header-cell>
            <mat-cell *matCellDef="let movIngMed"> {{ movIngMed.precioVenta ? movIngMed.precioVenta : ('—') }} </mat-cell>
          </ng-container>

          <!-- Header -->
          <mat-header-row *matHeaderRowDef="displayedColumnsMI"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsMI;">
          </mat-row>
        </mat-table>

        <!-- PAGINADOR -->
        <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
          showFirstLastButtons></mat-paginator>
        <!--  -->
      </div>


      <div *ngIf="comprFarmNCList.length!=0 && movIngMedList.length==0">
        <div class="table responsive">

          <mat-table #table [dataSource]="dataSource2" matSort2>

            <!-- CODIGO -->
            <ng-container matColumnDef="codigo">
              <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
              <mat-cell *matCellDef="let comprFarmNCList"> {{ comprFarmNCList.codigo }} </mat-cell>
            </ng-container>

            <!-- PECOSA -->
            <ng-container matColumnDef="pecosa">
              <mat-header-cell *matHeaderCellDef> Pecosa </mat-header-cell>
              <mat-cell *matCellDef="let comprFarmNCList"> {{ comprFarmNCList.numeroDocumento }} </mat-cell>
            </ng-container>

            <!-- FECHA -->
            <ng-container matColumnDef="fecha">
              <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
              <mat-cell *matCellDef="let comprFarmNCList"> {{ comprFarmNCList.fhMovimiento }} </mat-cell>
            </ng-container>

            <!-- DCI MEDICAMENTO -->
            <ng-container matColumnDef="dci">
              <mat-header-cell *matHeaderCellDef>
                <div class="example-tooltip-host" matTooltip="Producto Farmaceútico/Dispositivo Médico" [matTooltipPosition]="position">
                  <span>Product./Disp..</span>
                </div>
              </mat-header-cell>
              <mat-cell *matCellDef="let comprFarmNCList"> {{ comprFarmNCList.dciProductoFarmaceutico }} </mat-cell>
            </ng-container>

            <!-- MARCA -->
            <ng-container matColumnDef="marca">
              <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
              <mat-cell *matCellDef="let comprFarmNCList"> {{ comprFarmNCList.marca }} </mat-cell>
            </ng-container>

            <!-- NOMBRE UNIDAD -->
            <ng-container matColumnDef="nombreUnidad">
              <mat-header-cell *matHeaderCellDef> N. Unidad </mat-header-cell>
              <mat-cell *matCellDef="let movIngMed"> {{ movIngMed.nombreUnidad }} </mat-cell>
            </ng-container>

            <!-- LOTE -->
            <ng-container matColumnDef="lote">
              <mat-header-cell *matHeaderCellDef> Lote </mat-header-cell>
              <mat-cell *matCellDef="let comprFarmNCList"> {{ comprFarmNCList.descripcionMedicamentoLote }} </mat-cell>
            </ng-container>

            <!-- CANTIDAD -->
            <ng-container matColumnDef="cantidad">
              <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
              <mat-cell *matCellDef="let comprFarmNCList"> {{ comprFarmNCList.cantidad }} </mat-cell>
            </ng-container>

            <!-- FECHA VENCIMIENTO -->
            <ng-container matColumnDef="fechaVencimiento">
              <mat-header-cell *matHeaderCellDef> F. Vencimiento </mat-header-cell>
              <mat-cell *matCellDef="let comprFarmNCList"> {{ comprFarmNCList.feVencimiento }} </mat-cell>
            </ng-container>

            <!-- PRECIO UNITARIO -->
            <ng-container matColumnDef="precioUnitario">
              <mat-header-cell *matHeaderCellDef> Precio Unitario </mat-header-cell>
              <mat-cell *matCellDef="let comprFarmNCList"> {{ comprFarmNCList.precioVenta ? comprFarmNCList.precioVenta: ('—') }} </mat-cell>
            </ng-container>

            <!-- Header -->
            <mat-header-row *matHeaderRowDef="displayedColumnsMI"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsMI;">
            </mat-row>
          </mat-table>

          <!-- PAGINADOR -->
          <mat-paginator [pageSizeOptions]="displayedSizesNC" [length]="paginationNC.nuRegisMostrar" [pageSize]="pageSizeNC" (page)="pageEventNC($event)"
            showFirstLastButtons></mat-paginator>

        </div>
      </div>

    </mat-card-content>

  </mat-card>
</div>