<div class="modal-header sombreadoSubtitulos acomodarArriba ">
  <h4 mat-dialog-title class="subtitulo-seccion text-center" > <span>Eliminar Personal</span> </h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <p class="text-center">¿Esta seguro que desea eliminar al personal ?</p>
     
  </div>
</div>
<mat-dialog-actions class="modal-footer">
  <button type="button" mat-raised-button class="border-botton" (click)="close()">Cancelar</button>
   
  <button type="button" mat-raised-button class="border-botton " (click)="eliminarPersonal()" >Aceptar</button>
</mat-dialog-actions>
