<mat-card>
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Busqueda de Cobertura:</mat-card-title>
    <div class="emp">
      <button class="enlace negrita" type="button" (click)="modalBuscarCobertura()">Buscar Cobertura</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Código Cobertura:" [(ngModel)]="cobertura.coSubTipoCobertura"
              (keyup.enter)="getSubTipoCobertura           ($event)" name="coSubTipoCobertura" #coSubTipoCobertura="ngModel">
          </mat-form-field>
        </div>

        <div class="col-sm-9 offs">
          <h6 *ngIf="cobertura.coPagoFijo || cobertura.coPagoFijo==0" style="padding-top: 15px;"> <b>Pago Fijo:</b> S./ {{cobertura.coPagoFijo}}</h6>
          <h6 *ngIf="cobertura.coPagoVariable || cobertura.coPagoVariable==0" style="padding-top: 15px;"> <b>Pago Variable:</b>
            {{cobertura.coPagoVariable}}%</h6>

        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="cobertura.coPagoFijo && cobertura.coPagoVariable || cobertura.coPagoFijo==0 && cobertura.coPagoVariable==0">
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Agregar Servicios:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">
      <div class="row justifyContent">
        <div class="col-sm-2">
          <mat-form-field class="example-full-width">
            <mat-label>Nombre del Servicio:</mat-label>
            <input matInput [matAutocomplete]="auto" [(ngModel)]="servicio.descripcionTarifario"
              matTooltip="mínimio 2 palabras para realizar búsqueda" [matTooltipPosition]="'above'"
              (input)="getServicios($event.target.value)">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (click)="placeServDesc(sc)" *ngFor="let sc of servicioList" [value]="sc.descripcionTarifario">
                <span>{{ sc.descripcionTarifario }}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-sm-2 text-center">
          <h6 style="padding-top: 15px; "> <b>Cantidad:</b> {{servicio.cantidad}}</h6>
        </div>
        <div class="col-sm-2">
          <button type="button" mat-raised-button [disabled]="!servicio.idServicio" (click)="agregarServicio()"
            style="margin-top: 10px;">
            Agregar </button>
        </div>
      </div>
    </div>

    <mat-table #table [dataSource]="dsServicio">
      <ng-container matColumnDef="Codigo Servicio">
        <mat-header-cell *matHeaderCellDef> Código Servicio </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.idItem}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Descripcion Servicio">
        <mat-header-cell *matHeaderCellDef> Descripción Servicio </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Tipo Moneda">
        <mat-header-cell *matHeaderCellDef>Tipo Moneda</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.moneda}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="Precio">
        <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.precioUnitario}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Precio Total">
        <mat-header-cell *matHeaderCellDef>Precio Total</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.precioTotal}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <button mat-button>
            <i class="material-icons" (click)="deleteServicio(i)">delete_forever</i>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="dcServicio"></mat-header-row>
      <mat-row *matRowDef="let row; columns: dcServicio;"></mat-row>
    </mat-table>

    <div class="col-sm-12 text-right pads">
      <h6> <b>Total Servicios:</b> S./ {{totales.servicio}}</h6>
    </div>

  </mat-card-content>
</mat-card>

<mat-card *ngIf="cobertura.coPagoFijo && cobertura.coPagoVariable || cobertura.coPagoFijo==0 && cobertura.coPagoVariable==0">
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Agregar Medicamentos o Dispositivos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Grupo:" [(ngModel)]="dispMed.grupo" name="grupo" #grupo="ngModel" id="grupo"
              (selectionChange)="dispMed.descMedDisp=null; dispMed.idMedicamento=null; dispMed.idDispositivo=null;">
              <mat-option>Seleccione</mat-option>
              <mat-option value="M">Producto Farmaceútico</mat-option>
              <mat-option value="D">Dispositivos Médicos y/o Productos Sanitarios</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-3">
          <mat-form-field class="example-full-width">
            <mat-label>
              {{dispMed.grupo=="M"?'Producto Farmaceútico':(dispMed.grupo=="D"?'Dispositivos Médicos y/o Productos Sanitarios':'Nombre:')}}
            </mat-label>
            <input matInput [matAutocomplete]="autoMedDisp" (input)="getMedDisp($event.target.value)"
              [(ngModel)]="dispMed.descMedDisp" matTooltip="mínimio 2 palabras para realizar búsqueda"
              [matTooltipPosition]="'above'" [disabled]="!dispMed.grupo">
            <mat-autocomplete #autoMedDisp="matAutocomplete">
              <mat-option *ngFor="let md of dispMedList" [value]="md.dispositivoMedicamento"
                (click)="seleccionarMedDisp(md)">
                {{ md.dispositivoMedicamento }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Unidad de Medida:" [(ngModel)]="dispMed.idUnidad" name="idUnidad"
              #idUnidad="ngModel" id="idUnidad" (selectionChange)="dispMed.cantidad=null"
              [disabled]="!this.dispMed.idMedicamento && !this.dispMed.idDispositivo">
              <mat-option>Seleccione</mat-option>
              <mat-option *ngFor="let umd of unidadMedDispList" [value]="umd.idUnidad">{{umd.nombreUnidad}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-1">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Cantidad:" [(ngModel)]="dispMed.cantidad" name="cantidad" #cantidad="ngModel"
              [disabled]="!this.dispMed.idUnidad" type="number">
          </mat-form-field>
        </div>
        <div class="col-sm-2 text-right margenAuto">
          <button type="button" mat-raised-button [disabled]="!dispMed.cantidad" (click)="agregarMedDisp()">
            Agregar </button>
        </div>
      </div>

    </div>

    <mat-table #table [dataSource]="dsMedDisp">
      <ng-container matColumnDef="Codigo Medicamento">
        <mat-header-cell *matHeaderCellDef> Código Medicamento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.idItem}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Producto Farmaceutico - Dispositivo Medico">
        <mat-header-cell *matHeaderCellDef>
          <div class="example-tooltip-host" matTooltip="Producto Farmaceutico / Dispositivo Medico"
            matTooltipPosition="above">
            <span> P.F / D.M </span>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Unidad">
        <mat-header-cell *matHeaderCellDef>Unidad</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcionUnidad}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Cantidad">
        <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="Precio">
        <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.precioUnitario}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Precio Total">
        <mat-header-cell *matHeaderCellDef>Precio Total</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.precioTotal}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="eliminar">
        <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
          <button mat-button>
            <i class="material-icons" (click)="deleteMedDisp(i)">delete_forever</i>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="dcMedDisp"></mat-header-row>
      <mat-row *matRowDef="let row; columns: dcMedDisp;"></mat-row>

    </mat-table>

    <div class="col-sm-12 text-right pads">
      <h6> <b>Total Medicamentos y/o Dispositivos:</b> S./ {{totales.medDisp}}</h6>
    </div>

  </mat-card-content>
</mat-card>

<mat-card class="personal">
  <mat-card-content>
    <div class="col-sm-12 text-right" *ngIf="cobertura.coPagoFijo && cobertura.coPagoVariable">
      <h5 class="pads"><b>Total:</b> S./ {{totales.general}}</h5>
    </div>
  </mat-card-content>
</mat-card>