<!-- <div class="modal-header sombreadoSubtitulos">
    <h5 class="subtitulo-seccion text-center ">Atenci&oacute;n Particular</h5>

  </div>
  <div class="modal-body">
    <div class="col-12 text-center"> ¿Esta seguro de atender al paciente <b>{{nombres}} {{apellidoPaterno}} {{apellidoMaterno}}</b>  de manera particular?</div>
    <br>
    <div class="col-12 text-center">
      <button type="button" mat-raised-button (click)="guardarServicio()">SI</button>
      <button type="button" mat-raised-button (click)="dismiss()">NO</button>
    </div>
  </div> -->