<mat-toolbar id="submenu1" class="colorMenu3">
  <mat-toolbar-row>
    <!-- <a mat-button class="mat-button {{activo[uri]}}" *ngFor="let uri of arrayUris" (click)="goToModulo(uri)">{{jsonUris[uri]}}</a> -->
    <a mat-button class="mat-button {{activado.registrar}}" (click)="goToModulo('registrar-material')">Registrar Ingreso de Material</a>
    <a mat-button class="mat-button {{activado.registrar}}" (click)="goToModulo('salida-material')">Salida de Material</a>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>