
<mat-toolbar class="colorMenu3">
  <mat-toolbar-row class="itemsgs">
    <a mat-button class="mat-button {{activado.registrar}}" (click)="goToModulo('registrar-material')">Registrar Ingreso de Material</a>
    <a mat-button class="mat-button {{activado.registrar}}" (click)="goToModulo('salida-material')">Salida de Material</a>
    <a mat-button class="mat-button {{activado.registrar}}" (click)="goToModulo('consultar-movimientos')">Kardex</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>