.tabla-examen{
        height: 200px;
    overflow-y: auto;
}

hr { 
   border: 2px solid #428bca; 
   border-radius: 200px /8px; 
   height: 0px; 
   text-align: center; 
 } 

 hr.hr2 { 
 border: 2px solid #5bc0de; 
 margin-right: 85%;
 margin-left: 0%;
  
}

 hr.hr3 { 
 border: 2px solid #5bc0de; 
 margin-right: 92%;
 margin-left: 0%;
  
}

.borde {
    border-style: solid;
    border-width: 1px;
}
