input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
.ali{
    justify-content: center;
    padding-top: 1%;
    margin-left: 1%;
}