<mat-card>
    <mat-card-header class="sombreadoSubtitulos">
      <mat-card-title class="subtitulo-seccion">MAQUINARIAS INACTIVAS</mat-card-title>
      <button mat-button class="mat-button-icon" (click)="close()" tabindex="-1">
        <div class="example-tooltip-host" matTooltip="Cerrar" [matTooltipPosition]="'above'">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </mat-card-header>
      <mat-card-content>
          <div class="col-12 card-body text-center">
              <mat-form-field class="col-sm-6 mat-form-field-flex1">
                  <input matInput placeholder="Nombre de la maquinaria" [(ngModel)]="requestListar.nombre"
                      (input)="busqueda($event.target.value)">
              </mat-form-field>    
          </div>
  
      <div class="table responsive">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.codigo }} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="material">
            <mat-header-cell *matHeaderCellDef>Maquinaria</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.nombre }} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="marca">
            <mat-header-cell *matHeaderCellDef>Marca </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.marca }} </mat-cell>
          </ng-container>  
          
          <ng-container matColumnDef="ubicacion">
            <mat-header-cell *matHeaderCellDef> Ubicación </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.ubicacion }} </mat-cell>
          </ng-container>
  
  
          <!-- EDITAR -->
          <ng-container matColumnDef="activar">
            <mat-header-cell *matHeaderCellDef> Activar </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="activarMaquinaria(element.idMaquinaria)" >
              <button mat-button>
                <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                  <span>
                    <i class="material-icons">add_circle</i>
                  </span>
                </div>
              </button>
            </mat-cell>
          </ng-container>
  

  
          <!-- Header -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
        <!-- PAGINADOR -->
        <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
          showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  
  
  </mat-card>
  
  