<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion"> Solicitar Cita para Ex&aacute;men de Apoyo </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">
    
      <app-examenes-tipo [idPersona]="idPersona" [idActoMedico]="idActoMedico" [idAtencionEncriptado]="idAtencionEncriptado"></app-examenes-tipo>

      <app-examenes-anteriores [idPersona]="idPersona" [idAtencionEncriptado]="idAtencionEncriptado"></app-examenes-anteriores>

    </div>
  </mat-card-content>
</mat-card>