$fa-font-path : '../node_modules/font-awesome/fonts';
$font-family: 'Roboto', sans-serif;

$sidebar: #0273d4;
$sidebar-text: #ffffff;


 

$primary: #0273d4;
$info: #2dacd1;
$success: #00A404;
$warning: #DFB81C;
$danger: #e85656;

$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-ultraBold: 900;



//MATERIAL STYLES

//MODULOS
$color-default: #2e86de;
$color-error: #D32F2F;
$color-white: #FFFFFF;
$color-black: #424242;
$color-button-icon: #757575;
$color-tooltip: #616161;

//weight fonts
$weight-card: 400;
$weight-title: 600;
$weight-button: 600;

//NUEVO DISEÑO
// bg Colores
$bg-white: #FFFFFF;
$bg-black: #000000;
$bg-light_grey: #FAFAFA;

//size fonts
$size-card: 14px;
$size-title: 18px;
$size-supporting-text: 14px;
$size-actions: 16px;
$size-button: 12px;
$size-button-icon: 14px;
$size-height-nav: 64px;