// ::-webkit-input-placeholder{
//     font-weight: bold;
//     font-size: 90%;
// }
// :-ms-input-placeholder{
//     font-weight: bold;
//     font-size: 90%;
// }
// input, select, table{
//     font-size: 90%;
// }.tabla{
//     table-layout:fixed;
//     width: 100%;
// }input[type=number]::-webkit-inner-spin-button,
//  input[type=number]::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
// }
.bold-text{
    font-size: 1rem;
    font-weight: bold; 
    font-size: 20px;
    line-height: 2;
}
.example-spacer {
    flex: 1 1 auto;
}