<mat-card class="matCardMin">
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Visualizar Detalle de la receta</mat-card-title>
    <div class="emp"> 
      <button mat-button class="mat-button-icon" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <!-- <div class="modal-header">
      <h4 class="modal-title font"><b>Visualizar Detalle de la receta</b></h4>
      <button type="button" class="close btn btn info" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div> -->

      <div class="col-12 card-body">
        <div class="row-fluid" style="text-align: center">
          <div class="table-responsive">
            <font size="2">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Producto farmaceútico/Dispositivo Médico</th>
                    <th>Forma Farmaceútica</th>
                    <th>Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of recetaDetalleList">
                    <td>{{item.medicamento? item.medicamento.codigo : (item.dispMedicoProdSanitario ? item.dispMedicoProdSanitario.codigo : '-') }}</td>
                    <td>{{item.medicamento? (item.medicamento.dciProductoFarmaceutico) : (item.dispMedicoProdSanitario ? item.dispMedicoProdSanitario.dciDispMedicoProdSanitario : '-') }}</td>
                    <td>{{item.medicamento? item.medicamento.formaFarmaceutica : '-'}}</td>
                    <td>{{item.cantidad ? item.cantidad : '-'}}</td>
                  </tr>
                </tbody>
              </table>
            </font>
          </div>
        </div>
      </div>
  
  </mat-card-content>
</mat-card>
