<mat-card>
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Area por Especialidad de Actividad:</mat-card-title>
    <div class="emp">
      <button class="enlace negrita font" type="button" (click)="crearAreaEspecialidadActividad(null)">Registrar</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form #FormAreaxEspecxActividad="ngForm" novalidate name="FormAreaxEspecxActividad">
      <div class="card-body paddingbottonTop">
        <div class="row centrarFila">
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <mat-select #listaOpciones placeholder="Areas" [(ngModel)]="AreaEspActRequest.idArea" name="area_serch"
                #area_serch="ngModel" (selectionChange)="getAllEspecialidades(1)" id="area_serch" [disabled]="variable==1"
                required>
                <mat-option> -- </mat-option>
                <mat-option *ngFor="let area of ls_Areas" [value]="area.idArea"> {{area.descripcionArea}}
                </mat-option>
              </mat-select>
              <mat-error>
                <app-validators-messages [controlVar]="area_serch" labelName="Area"></app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <mat-select #listaOpciones placeholder="Especialidad" [(ngModel)]="AreaEspActRequest.idEspecialidad" name="especialidad_serch"
                #especialidad_serch="ngModel" (selectionChange)="getAllActividades(1)" id="especialidad_serch"
                [disabled]="AreaEspActRequest.idArea==null||variable==1" required>
                <mat-option> -- </mat-option>
                <mat-option *ngFor="let especialidad of ls_Especialidades" [value]="especialidad.especialidad.id">
                  {{especialidad.especialidad.valor}} </mat-option>
              </mat-select>
              <mat-error>
                <app-validators-messages [controlVar]="especialidad_serch" labelName="Especialidad">
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field class="example-full-width">
              <mat-select #listaOpciones placeholder="Actividad" [(ngModel)]="AreaEspActRequest.idActividad" name="actividad_serch"
                #actividad_serch="ngModel" (selectionChange)="getTipoProgramacion($event.value)" id="actividad_serch"
                [disabled]="AreaEspActRequest.idEspecialidad==null||variable==1" required>

                <mat-option> -- </mat-option>
                <mat-option *ngFor="let actividad of ls_Actividades" [value]="actividad.idActividad">
                  {{actividad.descripcionActividad}} </mat-option>
              </mat-select>
              <mat-error>
                <app-validators-messages [controlVar]="actividad_serch" labelName="Actividad">
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-1">
            <div>
              <div>
                <button mat-raised-button type="button" (click)="obtenerListaAreaEspAct()">Buscar</button>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- <div class="col-12">
          <div class="form-grup form-group-sm">
            <div class="text-center">
              <button mat-raised-button type="button" (click)="crearAreaEspecialidadActividad(null)">Registrar</button>
            </div>
          </div>
        </div> -->
      <!-- <div class="card-body padd">
          <div *ngIf="variabletipo == 1 ">
            <div class="row">
              <div class="col-sm-12 col-md-8">
                <mat-card>
                  <mat-card-header class="sombreadoSubtitulos">
                    <mat-card-title class="subtitulo-seccion">Actividad Médica:</mat-card-title>
                  </mat-card-header>
                  <div class="row">
                    <div class="column">
                      <mat-form-field>
                        <mat-select placeholder="Actividad Medica" [(ngModel)]="AreaEspActRequest.actMedica" #actMedica="ngModel" id="actMedica"
                          name="actMedica" required>
                          <mat-option> -- </mat-option>
                          <mat-option *ngFor="let d of actMeds" [value]="d.id"> {{d.valor}} </mat-option>
                        </mat-select>
                        <mat-error>
                          <app-validators-messages [controlVar]="actMedica" labelName="Actividad Medica">
                          </app-validators-messages>
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput type="number" #pacienteHora="ngModel" name="pacienteHora" id="pacienteHora" placeholder="Paciente por Hora:"
                          [(ngModel)]="AreaEspActRequest.pacienteHora" (keypress)="setInputPattern($event, 'positiveDigits')"
                          (focusout)="verificarPacienteHora('pacienteHora')" [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
                          (change)="cambioVacioC()" required />
                        <mat-error>
                          <app-validators-messages [controlVar]="pacienteHora" labelName="Paciente por Hora">
                          </app-validators-messages>
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field>
                        <mat-select placeholder="Ambiente" #ambiente="ngModel" [(ngModel)]="AreaEspActRequest.ambiente" name="ambiente" id="ambiente"
                          required>
                          <mat-option> -- </mat-option>
                          <mat-option *ngFor="let e of ambientes" [value]="e.id"> {{e.valor}} </mat-option>
                        </mat-select>
                        <mat-error>
                          <app-validators-messages [controlVar]="ambiente" labelName="Ambiente">
                          </app-validators-messages>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="column">
                      <div>
                        <div class="colum-input">
                          <mat-form-field>
                            <input [disabled]="!AreaEspActRequest.pacienteHora || habilitaInput.prioVolu" (focusout)="verificaSuma('cCitasVoluntarias')"
                              matInput type="number" #cCitasVoluntarias="ngModel" name="cCitasVoluntarias" id="cCitasVoluntarias"
                              placeholder="Cupos Citas Voluntarias:" [(ngModel)]="AreaEspActRequest.cCitasVoluntarias" (keyup)="onKey('cCitasVoluntarias')"
                              (keypress)="setInputPattern($event,'positiveDigits')" [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
                              required />
                            <mat-error>
                              <app-validators-messages [controlVar]="cCitasVoluntarias" labelName="Cupo Citas Voluntarias"></app-validators-messages>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="colum-checkbox">
                          <mat-checkbox #prioVolu="ngModel" name="prioVolu" id="prioVolu" [disabled]="!AreaEspActRequest.cCitasVoluntarias || habilitaCheck.prioVolu"
                            (change)="validarPrioridad($event,'prioVolu')" [checked]="checkeds.prioVolu" [(ngModel)]="AreaEspActRequest.prioVolu"></mat-checkbox>
                        </div>
                        <div class="colum-porc">
                          <label>{{porcentajes.cCitasVoluntarias}}</label>
                        </div>
                      </div>
                      <div>
                        <div class="colum-input">
                          <mat-form-field>
                            <input type="number" #cRecitas="ngModel" name="cRecitas" id="cRecitas" [disabled]="!AreaEspActRequest.pacienteHora  || habilitaInput.prioRecita"
                              (focusout)="verificaSuma('cRecitas')" matInput placeholder="Cupos Recitas:" [(ngModel)]="AreaEspActRequest.cRecitas"
                              (keypress)="setInputPattern($event, 'positiveDigits')" (keyup)="onKey('cRecitas')" [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
                              required />
                            <mat-error>
                              <app-validators-messages [controlVar]="cRecitas" labelName="Cupos Recitas">
                              </app-validators-messages>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="colum-checkbox">
                          <mat-checkbox #prioRecita="ngModel" name="prioRecita" id="prioRecita" [disabled]="!AreaEspActRequest.cRecitas || habilitaCheck.prioRecita"
                            (change)="validarPrioridad($event,'prioRecita')" [checked]="checkeds.prioRecita" [(ngModel)]="AreaEspActRequest.prioRecita"></mat-checkbox>
                        </div>
                        <div class="colum-porc">
                          <label>{{porcentajes.cRecitas}}</label>
                        </div>
                      </div>
                      <div>
                        <div class="colum-input">
                          <mat-form-field>
                            <input type="number" #cInterconsultas="ngModel" name="cInterconsultas" id="cInterconsultas" [disabled]="!AreaEspActRequest.pacienteHora || habilitaInput.prioInter"
                              (focusout)="verificaSuma('cInterconsultas')" matInput placeholder="Cupos Interconsultas:" [(ngModel)]="AreaEspActRequest.cInterconsultas"
                              (keypress)="setInputPattern($event, 'positiveDigits')" (keyup)="onKey('cInterconsultas')" [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
                              required />
                            <mat-error>
                              <app-validators-messages [controlVar]="cInterconsultas" labelName="Cupos Interconsultas">
                              </app-validators-messages>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="colum-checkbox">
                          <mat-checkbox #prioInter="ngModel" name="prioInter" id="prioInter" [disabled]="!AreaEspActRequest.cInterconsultas || habilitaCheck.prioInter"
                            (change)="validarPrioridad($event,'prioInter')" [checked]="checkeds.prioInter" [(ngModel)]="AreaEspActRequest.prioInter"></mat-checkbox>
                        </div>
                        <div class="colum-porc">
                          <label>{{porcentajes.cInterconsultas}}</label>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div>
                        <div class="colum-input">
                          <mat-form-field>
                            <input type="number" #cCitarReferido="ngModel" name="cCitarReferido" id="cCitarReferido" [disabled]="!AreaEspActRequest.pacienteHora || habilitaInput.prioReferidos"
                              (focusout)="verificaSuma('cCitarReferido')" matInput placeholder="Cupos Citas Referidos:" [(ngModel)]="AreaEspActRequest.cCitarReferido"
                              (keypress)="setInputPattern($event, 'positiveDigits')" (keyup)="onKey('cCitarReferido')" [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
                              required />
                            <mat-error>
                              <app-validators-messages [controlVar]="cCitarReferido" labelName="Cupos Citas Referidos">
                              </app-validators-messages>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="colum-checkbox">
                          <mat-checkbox #prioReferidos="ngModel" name="prioReferidos" id="prioReferidos" [disabled]="!AreaEspActRequest.cCitarReferido || habilitaCheck.prioReferidos"
                            (change)="validarPrioridad($event,'prioReferidos')" [checked]="checkeds.prioReferidos" [(ngModel)]="AreaEspActRequest.prioReferidos"></mat-checkbox>
                        </div>
                        <div class="colum-porc">
                          <label>{{porcentajes.cCitarReferido}}</label>
                        </div>
                      </div>
                      <div>
                        <div class="colum-input">
                          <mat-form-field>
                            <input type="number" #cCitasDias="ngModel" name="cCitasDias" id="cCitasDias" [disabled]="!AreaEspActRequest.pacienteHora || habilitaInput.prioDias"
                              (focusout)="verificaSuma('cCitasDias')" matInput placeholder="Cupos Citas Dias:" [(ngModel)]="AreaEspActRequest.cCitasDias"
                              (keypress)="setInputPattern($event, 'positiveDigits')" (keyup)="onKey('cCitasDias')" [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)"
                              required />
                            <mat-error>
                              <app-validators-messages [controlVar]="cCitasDias" labelName="Cupos Citas Dias">
                              </app-validators-messages>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="colum-checkbox">
                          <mat-checkbox #prioDias="ngModel" name="prioDias" id="prioDias" [disabled]="!AreaEspActRequest.cCitasDias || habilitaCheck.prioDias"
                            (change)="validarPrioridad($event,'prioDias')" [checked]="checkeds.prioDias" [(ngModel)]="AreaEspActRequest.prioDias"></mat-checkbox>
                        </div>
                        <div class="colum-porc">
                          <label>{{porcentajes.cCitasDias}}</label>
                        </div>
                      </div>                    
                      <div class="colum-checkbox arrimar">
                        <mat-checkbox #flgAmb="ngModel" name="flgAmb" id="flgAmb" [(ngModel)]="AreaEspActRequest.flgAmb">Dar Cita de Consulta Ambulatoria</mat-checkbox>
                      </div>
                    </div>
                  </div>
                </mat-card>vvv
              </div>
              <div class="col-sm-12 col-md-4">
                <mat-card>
                  <mat-card-header class="sombreadoSubtitulos">
                    <mat-card-title class="subtitulo-seccion">Cupos:</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-grup form-group-sm row">
                            <mat-form-field class="col-sm-6">
                              <input type="number" #tCuposNuevos="ngModel" name="tCuposNuevos" id="tCuposNuevos" matInput placeholder="Tope Cupos Nuevos:"
                                [(ngModel)]="AreaEspActRequest.tCuposNuevos" (keypress)="setInputPattern($event, 'positiveDigits')"
                                [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" required
                              />
                              <mat-error>
                                <app-validators-messages [controlVar]="tCuposNuevos" labelName="Tope Cupos Nuevos">
                                </app-validators-messages>
                              </mat-error>
                            </mat-form-field>

                            <mat-form-field class="col-sm-6">
                              <input matInput #dAdeLiberaCupos="ngModel" type="number" name="dAdeLiberaCupos" id="dAdeLiberaCupos" placeholder="Dias Adelanto Libera Cupos:"
                                [(ngModel)]="AreaEspActRequest.dAdeLiberaCupos" (keypress)="setInputPattern($event, 'positiveDigits')"
                                [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" required
                              />
                              <mat-error>
                                <app-validators-messages [controlVar]="dAdeLiberaCupos" labelName="Dias Adelanto Liber Cupos"></app-validators-messages>
                              </mat-error>
                            </mat-form-field>

                            <mat-form-field class="col-sm-6">
                              <input matInput #tCuposAdicionales="ngModel" name="tCuposAdicionales" id="tCuposAdicionales" type="number" placeholder="Tope Cupos Adicionales:"
                                [(ngModel)]="AreaEspActRequest.tCuposAdicionales" (keypress)="setInputPattern($event, 'positiveDigits')"
                                [pattern]="setValidatorPattern('positiveDigits', setQuantifier('+'), true, true)" required
                              />
                              <mat-error>
                                <app-validators-messages [controlVar]="tCuposAdicionales" labelName="Tope Cupos Adicionales"></app-validators-messages>
                              </mat-error>
                            </mat-form-field>

                            <mat-form-field class="col-sm-6">
                              <mat-select #idFormImpre="ngModel" name="idFormImpre" id="idFormImpre" placeholder="Formato Imp. Hora Citas" [(ngModel)]="AreaEspActRequest.idFormImpre"
                                required>
                                <mat-option> -- </mat-option>
                                <mat-option *ngFor="let f of formImps" [value]="f.idFormImpre"> {{f.valor}}
                                </mat-option>
                              </mat-select>
                              <mat-error>
                                <app-validators-messages [controlVar]="idFormImpre" labelName="Formato Imp. Hora Citas">
                                </app-validators-messages>
                              </mat-error>
                            </mat-form-field>

                          </div>
                          <div class="form-grup form-group-sm">
                            <div class="text-right">
                              <button mat-raised-button (click)="insertarAreaEspAct(FormAreaxEspecxActividad)" *ngIf="variable ==0" [disabled]="FormAreaxEspecxActividad.invalid">
                                Agregar
                              </button>
                              <button mat-raised-button (click)="editAreaEspAct(FormAreaxEspecxActividad)" *ngIf="variable ==1 " [disabled]="FormAreaxEspecxActividad.invalid">
                                Editar</button>
                              <button mat-raised-button (click)="cancelarAreaEspAct(FormAreaxEspecxActividad)" *ngIf="variable ==1 ">Cancelar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </div> -->
    </form>
  </mat-card-content>

  <mat-table #table [dataSource]="dataSource" class="table-responsive">
    <ng-container matColumnDef="area">
      <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado'" >Area</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'anchoListado'"> {{element.descripcionArea}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="especialidad">
      <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado2'">Especialidad</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'anchoListado2'">
        {{element.descripcionEspecialidad}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actividad">
      <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado2'">Actividad</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'anchoListado2'"> {{element.descripcionActividad}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actMed">
      <mat-header-cell *matHeaderCellDef  matTooltip="Actividad Medica" matTooltipPosition="above">Act.M</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.actMedica}} </mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="pacHora">
      <mat-header-cell *matHeaderCellDef matTooltip="Paciente Hora" matTooltipPosition="above">Pc.H</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.pacienteHora}} </mat-cell>
    </ng-container> -->
    <ng-container matColumnDef="ambiente">
      <mat-header-cell *matHeaderCellDef  matTooltip="Ambiente" matTooltipPosition="above"  >Amb</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ambiente}} </mat-cell>
    </ng-container>
    <!-- <ng-container matColumnDef="cupoVol">
      <mat-header-cell *matHeaderCellDef matTooltip="Citas Voluntarias" matTooltipPosition="above">C.Vol</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cCitasVoluntarias}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cupoRec">
      <mat-header-cell *matHeaderCellDef matTooltip="Cupo Recitas" matTooltipPosition="above">C.Rec</mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.cRecitas}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cupoInt">
      <mat-header-cell *matHeaderCellDef matTooltip="Cupo Interconsultas" matTooltipPosition="above">C.Int</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cInterconsultas}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cupoRef">
      <mat-header-cell *matHeaderCellDef  matTooltip="Citar Referido" matTooltipPosition="above">C.Ref
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cCitarReferido}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cupoDia">
      <mat-header-cell *matHeaderCellDef matTooltip="Cupo Dia" matTooltipPosition="above">C.Dia</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.cCitasDias}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="topNue">
      <mat-header-cell *matHeaderCellDef matTooltip="Tope Cupos Nuevos" matTooltipPosition="above">Top.N</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tCuposNuevos}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="topAdi">
      <mat-header-cell *matHeaderCellDef matTooltip="Tope Cupos Adicionales" matTooltipPosition="above" >Top.Ad
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tCuposAdicionales}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="diasAde">
      <mat-header-cell *matHeaderCellDef [ngClass]="'customWidthClass'"  matTooltip="Dias Liberar Cupos" matTooltipPosition="above">D.Ad</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dAdeLiberaCupos}} </mat-cell>
    </ng-container> -->
    <ng-container matColumnDef="formImp">
      <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado'" matTooltip="Forma de Impresion" matTooltipPosition="above">F.Imp</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'anchoListado'"  > {{element.descripcionFormImpre}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="flgAmb">
      <mat-header-cell *matHeaderCellDef  matTooltip="Consulta Ambulatoria" matTooltipPosition="above">C.Amb</mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.flgAmb}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="editar">
      <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button (click)="crearAreaEspecialidadActividad(row)" *ngIf="row.tipoProgramacion == 1">
          <i class="material-icons">edit</i>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="eliminar">
      <mat-header-cell *matHeaderCellDef  matTooltip="Eliminar" matTooltipPosition="above" >Elim</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button>
          <i class="material-icons" (click)="eliminarAreaEspAct(row, FormAreaxEspecxActividad)">delete_forever</i>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="displayedSize" [length]="pagination.nuRegiMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
    showFirstLastButtons></mat-paginator>
</mat-card>