<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Area Especialidad Actividad Grupo-Ocupacional</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="col-12 card-body">
      <form #insertActuAreaxEspecialidadxActividadxGrupoOcupacional="ngForm" novalidate name="insertActuAreaxEspecialidadxActividadxGrupoOcupacional">
      
          <div class="row alinearCabecera2">
            <div class="col-2">
              <mat-form-field class="example-full-width">
                <mat-select #idArea="ngModel" id="idArea" name="idArea" placeholder="Seleccione Area" [(ngModel)]="requestParam.idArea" (selectionChange)="getAllEspecialidades()"
                  [disabled]="variableArea">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let area of areas" [value]="area.idArea"> {{ area.descripcionArea }} </mat-option>
                </mat-select>
                <mat-error>
                  <app-validators-messages [controlVar]="idArea" labelName="Area"></app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field class="example-full-width">
                <mat-select #idEspecialidad="ngModel" id="idEspecialidad" name="idEspecialidad" placeholder="Seleccione Especialidad" [(ngModel)]="requestParam.idEspecialidad"
                  (selectionChange)="getAllActividades()" [disabled]="requestParam.idArea==null">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let es of ls_Especialidades" [value]="es.especialidad.id"> {{ es.especialidad.valor }} </mat-option>
                </mat-select>
                <mat-error>
                  <app-validators-messages [controlVar]="idEspecialidad" labelName="Especialidad"></app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field class="example-full-width">
                <mat-select #idActividad="ngModel" id="idActividad" name="idActividad" placeholder="Seleccione Actividad" [(ngModel)]="requestParam.idActividad"
                  [disabled]="requestParam.idEspecialidad == null">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let actividad of ls_Actividades" [value]="actividad.idActividad"> {{ actividad.descripcionActividad }} </mat-option>
                </mat-select>
                <mat-error>
                  <app-validators-messages [controlVar]="idActividad" labelName="Actividad"></app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field class="example-full-width">
                <mat-select #idGrupoOcupacional="ngModel" id="idGrupoOcupacional" name="idGrupoOcupacional" placeholder="Seleccione GrupoOcupacional"
                  [(ngModel)]="requestParam.idGrupoOcupacional">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let grupoOcupacional of ls_GruposOcupacionales" [value]="grupoOcupacional.idGrupoOcupacional"> {{ grupoOcupacional.descripcionGrupoOcupacional }} </mat-option>
                </mat-select>
                <mat-error>
                  <app-validators-messages [controlVar]="idGrupoOcupacional" labelName="Grupo Ocupacional"></app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>
           <div class="col-3">
            <button mat-raised-button [disabled]="insertActuAreaxEspecialidadxActividadxGrupoOcupacional.invalid || !requestParam.idActividad || !requestParam.idEspecialidad || !requestParam.idActividad || !requestParam.idGrupoOcupacional"
              (click)="insertar(insertActuAreaxEspecialidadxActividadxGrupoOcupacional)">
              Agregar</button>
            <button mat-raised-button type="button" (click)="obtenerAreaXEspecialidadXActividadXGrupoOcupacional(1,insertActuAreaxEspecialidadxActividadxGrupoOcupacional)">
              Buscar </button>
          </div>
         
          </div>
        
        
        
        
      </form>
    </div>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="area">
        <mat-header-cell *matHeaderCellDef> Area </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcionArea}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="especialidad">
        <mat-header-cell *matHeaderCellDef> Especialidad </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcionEspecialidad}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actividad">
        <mat-header-cell *matHeaderCellDef> Actividad </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcionActividad}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="grupoOcupacional">
        <mat-header-cell *matHeaderCellDef> Grupo Ocupacional </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcionGrupoOcupacional}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="eliminar">
        <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button>
            <i class="material-icons" (click)="eliminarAreaEspecialidadActividadGrupoOcupacionalModal(element)">delete_forever</i>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <!-- PAGINADOR -->
    <mat-paginator [pageSizeOptions]="displayedSize" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event)"
      showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>