<mat-card>
  <mat-card-header class="sombreadoSubtitulos separacion">
    <mat-card-title class="subtitulo-seccion">Reporte de Consumo de medicamentos por Servicio
    </mat-card-title>
    
  </mat-card-header>
  <mat-card-content>
    <form #buscarConsumxServi="ngForm" novalidate name="buscarConsumxServi">
      <div class="col-12 card-body text-center">
        <!-- GRUPO MEDICAMENTO -->
        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-3 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex3">
                <mat-select id="combo" #listaOpciones (change)="placeDesc(listaOpciones.value)" [(ngModel)]="flgMedicDisp" placeholder="Seleccionar Grupo Medicamento"
                  name="comboTipoMedic" disableRipple>
                  <mat-option *ngFor="let gM of gruposMedicamentos" [value]="gM.id">
                    {{gM.valor}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- PRODUCTO FARMACEUTICO - DISPOSITIVO MEDICO -->

            <!-- Especialidades -->
            <div class="col-sm-3 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex3">
                <mat-label>Especialidad</mat-label>
                <mat-select placeholder="Seleccionar" name="especialidades" [(ngModel)]="paramsBusqueda.idEspecialidad" required>
                  <mat-option (onSelectiChange)="seleccionarEspecialidad(esp)" *ngFor="let esp of especialidades" [value]="esp.idEspecialidad">
                    {{esp.descripcionEspecialidad}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- fecha inicio -->
            <div class="col-sm-3 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex3">
                <input matInput type="text" [matDatepicker]="dp" name="fhIniForm" #fhIniForm="ngModel" [(ngModel)]="fhinicio" [maxDate]="fhfin"
                  placeholder="Desde:" required>
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
                <mat-error>
                  <app-validators-messages [controlVar]="fhIniForm" labelName="Fecha Desde">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>
            <!-- fecha fin -->
            <div class="col-sm-3 mdl-input-group mdl-input-group__only">
              <mat-form-field class="example-full-width mat-form-field-flex3">
                <input matInput type="text" [matDatepicker]="dpp" name="fhFinForm" #fhFinForm="ngModel" [(ngModel)]="fhfin" [minDate]="fhinicio"
                  placeholder="Hasta:" required>
                <mat-datepicker-toggle matSuffix [for]="dpp"></mat-datepicker-toggle>
                <mat-datepicker #dpp></mat-datepicker>
                <mat-error>
                  <app-validators-messages [controlVar]="fhFinForm" labelName="Fecha Hasta">
                  </app-validators-messages>
                </mat-error>
              </mat-form-field>
            </div>

          </div>

          <!-- boton Buscar -->
          <!-- Imprimir PDF y EXCEL -->

          <div class="row alinearBotones" >
                  <button type="submit" mat-raised-button (click)="buscarConsumoServicio(buscarConsumxServi)" [disabled]="isInvalid(buscarConsumxServi)">Buscar
                  </button>
               
            <!-- PDF -->
            <button mat-raised-button (click)="imprimePDF_EXCEL(2)">Imprimir PDF</button>
            <!-- EXCEL -->
            <button mat-raised-button (click)="imprimePDF_EXCEL(1)">Imprimir Excel</button>
          </div>
        </div>
      </div>
    </form>

    <!-- INICIA TABLA -->
    <div>
      <div class="table responsive" *ngIf="medicamentos.length!=0" style="margin-top: -15px;">
        <mat-table #table [dataSource]="dataSource">
          <!-- CODIGO -->
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
            <mat-cell *matCellDef="let medicamentos"> {{ medicamentos.codigo }} </mat-cell>
          </ng-container>
          <!-- DCI MEDICAMENTO -->
          <ng-container matColumnDef="dciMedicDisp">
            <mat-header-cell *matHeaderCellDef matTooltip="Producto Farmaceútico/Dispositivo Médico" matTooltipPosition="above">P.F/D.M</mat-header-cell>
            <mat-cell *matCellDef="let medicamentos"> {{ medicamentos.dciMedicDisp }} </mat-cell>
          </ng-container>
          <!-- DESCR. UNIDAD -->
          <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef> Unidad de Medida </mat-header-cell>
            <mat-cell *matCellDef="let medicamentos"> {{ medicamentos.descripcion }} </mat-cell>
          </ng-container>
          <!-- CONSUMO -->
          <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef> Consumo </mat-header-cell>
            <mat-cell *matCellDef="let medicamentos"> {{ medicamentos.cantidadUnidadMax }} </mat-cell>
          </ng-container>
          <!-- Header -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize" (page)="pageEvent($event,buscarConsumxServi)"
          showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>