<mat-card class="matCardMin">
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Registrar Especialidad</mat-card-title>
    <div class="emp">
      <button mat-button class="mat-button-icon" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form #FormCrearEspecialidad="ngForm" novalidate name="FormCrearEspecialidad">
      <div class="modal-body">
        <div class="row centrarTituloModal">
          <div class="col-sm-10">
            <mat-form-field class="example-full-width">
              <input matInput type="text" value="" placeholder="Nombre de Especialidad" [(ngModel)]="lsEspecialidad.descripcion_especialidad"
                name="descripcion_especialidad" #descripcion_especialidad="ngModel" required (keypress)="setInputPattern($event, 'soloUnEspacio')"
                [pattern]="setValidatorPattern('soloUnEspacio', setQuantifier('+'), true, true)">
              <mat-error>
                <app-validators-messages [controlVar]="descripcion_especialidad" labelName=" Descripcion Especialidad">
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-10">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Abreviatura de Especialidad" [(ngModel)]="lsEspecialidad.abreviatura_espec"
                name="abreviatura_especialidad" #abreviatura_especialidad="ngModel" required (keypress)="setInputPattern($event, 'soloUnEspacio')"
                [pattern]="setValidatorPattern('soloUnEspacio', setQuantifier('+'), true, true)">
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <div class="modal-footer">
    <button mat-raised-button (click)="insertarEspecialidad()" [disabled]="FormCrearEspecialidad.invalid"> Aceptar
    </button>
    <button mat-raised-button (click)=" close()"> Cerrar </button>
  </div>
</mat-card>