.fullcenter{
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.alinearBotones{
    display: flex;
    align-items: center;
}
.we{
    background: none;
    border: none;
    cursor: pointer;
}