<mat-card>
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion"> Convenio </mat-card-title>
    <div class="emp">
      <button class="enlace negrita" type="button" (click)="modalInsertarConvenio()">
        Nuevo Convenio
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>

    <div class="table responsive" *ngIf="convenio.length!=0">

      <mat-table #table [dataSource]="dataSource">

        <!-- nombre convenio -->
        <ng-container matColumnDef="nomConvenio">
          <mat-header-cell *matHeaderCellDef matTooltip="Nombre de Convenio" matTooltipPosition="above" > Convenio </mat-header-cell>
          <mat-cell *matCellDef="let convenio"> {{ convenio.nombreConvenio }} </mat-cell>
        </ng-container>

        <!-- IAFA o EMPRESA -->
        <ng-container matColumnDef="IAFAEmpresa">
          <mat-header-cell *matHeaderCellDef [ngClass]="'anchoListado2'" matTooltip="Nombre de Iafa / Empresa" matTooltipPosition="above" >Nombre I/E</mat-header-cell>
          <mat-cell *matCellDef="let convenio" [ngClass]="'anchoListado2'" ngbPopover="{{convenio.nombreIafaEmpresa}}" triggers="mouseenter:mouseleave" popoverTitle="Nombre I/E"> {{ convenio.nombreIafaEmpresa | truncate: 45 }} </mat-cell>
        </ng-container>

        <!-- TIPO ORGANIZACION -->
        <ng-container matColumnDef="TipOrg">
          <mat-header-cell *matHeaderCellDef>Tipo Organización</mat-header-cell>
          <mat-cell *matCellDef="let convenio"> {{ convenio.iafaEmpresa }} </mat-cell>
        </ng-container>

        <!-- FHA -->
        <ng-container matColumnDef="FHA">
          <mat-header-cell *matHeaderCellDef matTooltip="Factor Honorario Auxiliar" matTooltipPosition="above">Valor Unidad FHA</mat-header-cell>
          <mat-cell *matCellDef="let convenio"> {{ convenio.valorUnidadFHA ? convenio.valorUnidadFHA : '-' }} </mat-cell>
        </ng-container>

        <!-- FSA -->
        <ng-container matColumnDef="FSA">
          <mat-header-cell *matHeaderCellDef matTooltip="Factor de Servicio Auxiliar" matTooltipPosition="above">Valor Unidad FSA</mat-header-cell>
          <mat-cell *matCellDef="let convenio"> {{ convenio.valorUnidadFSA ? convenio.valorUnidadFSA : '-' }} </mat-cell>
        </ng-container>

        <!-- editar -->
        <ng-container matColumnDef="Editar">
          <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
          <mat-cell *matCellDef="let convenio">
            <button mat-button (click)="modalActualizarConvenio(convenio)">
              <div class="example-tooltip-host" matTooltip="Editar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">edit</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- eliminar -->
        <ng-container matColumnDef="Eliminar">
          <mat-header-cell *matHeaderCellDef> Eliminar </mat-header-cell>
          <mat-cell *matCellDef="let convenio">
            <button mat-button (click)="modalEliminarConvenio(convenio)">
              <div class="example-tooltip-host" matTooltip="Eliminar" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">delete</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Header -->
        <mat-header-row *matHeaderRowDef="displayedColumnsA"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsA;">
        </mat-row>
      </mat-table>

      <!--  -->
    </div>

  </mat-card-content>
</mat-card>