<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Fisiol&oacute;gicos</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="card-body">

      <div class="form-grup form-group-sm row">
        <mat-form-field class="col-sm-6">
          <mat-select placeholder="Tipo de Nacimiento" id="disabledSelect1" [(ngModel)]="listaAntecedenteFisiologicoPersona.tipoNacimiento" name="tipo_nacimiento" #tipo_nacimiento="ngModel" (ngModelChange)="send()">
            <mat-option> -- </mat-option>
            <mat-option *ngFor="let tp of tipoNacimiento" [value]="tp.idOpcion"> {{tp.valorOpcion}} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-sm-6">
          <mat-select placeholder="Lactancia" id="disabledSelect5" [(ngModel)]="listaAntecedenteFisiologicoPersona.lactancia"
            name="tipo_lactancia" #tipo_lactancia="ngModel" (ngModelChange)="send()">
            <mat-option> -- </mat-option>
            <mat-option *ngFor="let tl of tipoLactancia" [value]="tl.idOpcion"> {{tl.valorOpcion}} </mat-option>

          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-grup form-group-sm row">
        <mat-form-field class="col-sm-6">
          <input matInput placeholder="Dentici&oacute;n" [(ngModel)]="listaAntecedenteFisiologicoPersona.denticion"
            (keyup)="send()">
        </mat-form-field>

        <mat-form-field class="col-sm-6" *ngIf="listaDisabled.metodoAnticonceptivo">
          <input matInput placeholder="Metodo Anticonceptivo" [(ngModel)]="listaAntecedenteFisiologicoPersona.metodoAnticonceptivo"
            (keyup)="send()">
        </mat-form-field>

      </div>

      <div class="form-grup form-group-sm row">

        <mat-form-field class="col-sm-6" *ngIf="listaDisabled.fur">
          <input matInput placeholder="Fur" [(ngModel)]="listaAntecedenteFisiologicoPersona.fur" (keyup)="send()">
        </mat-form-field>


        <mat-form-field class="col-sm-6" *ngIf="listaDisabled.climaterio">
          <input matInput placeholder="Climaterio" [(ngModel)]="listaAntecedenteFisiologicoPersona.climaterio" (keyup)="send()">
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- <div class="card">
  <div class="card-header">Fisiológicos</div>
  <div class="card-body">
    <div class="form-grup form-group-sm row">
      <label for="" class="col-sm-6 col-form-label">Tipo de Nacimiento: </label>
      <div class="col-sm-6">
        <select [(ngModel)]="listaAntecedenteFisiologicoPersona.tipoNacimiento" id="disabledSelect1" class="form-control form-control-sm" (ngModelChange)="send()">
          <option *ngFor="let cv of tipoNacimiento" [value]="cv.idOpcion">{{cv.valorOpcion}}</option>
        </select>
      </div>
    </div>

    <div class="form-grup form-group-sm row">
      <label for="" class="col-sm-6 col-form-label">Lactancia: </label>
      <div class="col-sm-6">
        <select [(ngModel)]="listaAntecedenteFisiologicoPersona.lactancia" id="disabledSelect5" class="form-control form-control-sm" (ngModelChange)="send()">
          <option *ngFor="let cv of tipoLactancia" [value]="cv.idOpcion">{{cv.valorOpcion}}</option>
        </select>
      </div>
    </div>
    <div class="form-grup form-group-sm row" >
      <label for="" class="col-sm-6 col-form-label">Dentición: </label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" placeholder="Dentición" [(ngModel)]="listaAntecedenteFisiologicoPersona.denticion" (keyup)="send()">
      </div>
    </div>
    <div class="form-grup form-group-sm row" *ngIf="listaDisabled.climaterio">
      <label for="" class="col-sm-6 col-form-label">Climaterio: </label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" placeholder="Climaterio" [(ngModel)]="listaAntecedenteFisiologicoPersona.climaterio" (keyup)="send()">
      </div>
    </div>
    <div class="form-grup form-group-sm row" *ngIf="listaDisabled.metodoAnticonceptivo">
      <label for="" class="col-sm-6 col-form-label">Metodo Anticonceptivo: </label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" placeholder="Metodo Anticonceptivo" [(ngModel)]="listaAntecedenteFisiologicoPersona.metodoAnticonceptivo" (keyup)="send()">
      </div>
    </div>
    <div class="form-grup form-group-sm row" *ngIf="listaDisabled.fur">
      <label for="" class="col-sm-6 col-form-label">FUR: </label>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-sm" placeholder="fur" [(ngModel)]="listaAntecedenteFisiologicoPersona.fur" (keyup)="send()">
      </div>
    </div>
  </div>
</div> -->