<mat-card>
  <mat-card-header class="sombreadoSubtitulos">
    <mat-card-title class="subtitulo-seccion">Búsqueda de recetas</mat-card-title>
  </mat-card-header>
  <mat-card-content class="margenCero">
    <div class="card-body">
      <form #buscarRecetasAnteriores="ngForm" novalidate name="buscarRecetasAnteriores">
        <div class="row justify-content-center">
          <div class="col-sm-2  mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width">
              <input id="feDesdeBuscarReceta" type="text" matInput [matDatepicker]="dp" name="feDesdeBuscarReceta"
                #feDesdeBuscarReceta="ngModel" [(ngModel)]="fechaInicio" [maxDate]="params.feFin" placeholder="Desde:">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
              <mat-error>
                <app-validators-messages [controlVar]="feDesdeBuscarReceta" labelName="Fecha Desde">
                  <!-- [ngDirty]="true" [ngTouched]="true" -->
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-2  mdl-input-group mdl-input-group__only">
            <mat-form-field class="example-full-width ">
              <input id="feFinBuscarReceta" matInput type="text" [matDatepicker]="dpp" name="feFinBuscarReceta"
                #feFinBuscarReceta="ngModel" [(ngModel)]="fechaFin" [min]="params.feInicio" [minDate]="params.feInicio"
                [max]="now" [max]="now" placeholder="Hasta:">
              <mat-datepicker-toggle matSuffix [for]="dpp"></mat-datepicker-toggle>
              <mat-datepicker #dpp></mat-datepicker>
              <mat-error>
                <app-validators-messages [controlVar]="feFinBuscarReceta" labelName="Fecha Hasta">
                  <!-- [ngDirty]="true" [ngTouched]="true" -->
                </app-validators-messages>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-2  margenTopBuscar mdl-input-group mdl-input-group__only">
            <button type="submit" mat-raised-button (click)="getRecetasAnteriores()" [disabled]="isInvalid(buscarRecetasAnteriores)">Buscar</button>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
  <mat-card-content>
    <div class="table responsive">
      <mat-table #table [dataSource]="matDataSource">
        <ng-container matColumnDef="Fecha">
          <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.fhReceta}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ActoMedico">
          <mat-header-cell *matHeaderCellDef> Acto Médico </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.actoMedico.idActoMedico}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="AreaOrigen">
          <mat-header-cell *matHeaderCellDef> Área de Origen </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.actoMedico.area.valor}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="EspecialidadOrigen">
          <mat-header-cell *matHeaderCellDef> Especialidad de origen </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.actoMedico.cita.programacion.especialidad.valor}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="NumReceta">
          <mat-header-cell *matHeaderCellDef> N° Receta </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.idReceta}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Accion">
          <mat-header-cell *matHeaderCellDef> Acci&oacute;n </mat-header-cell>
          <mat-cell *matCellDef="let item">
            <button mat-button (click)="modalVisualizarDetalleReceta(item.idReceta)">
              <div class="example-tooltip-host" matTooltip="Ver" [matTooltipPosition]="'above'">
                <span>
                  <i class="material-icons">visibility</i>
                </span>
              </div>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="displayedSizes" [length]="pagination.nuRegisMostrar" [pageSize]="pageSize"
        (page)="pageEvent($event)" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
<br>