<mat-card class="matCardMin">
  <mat-card-header class="sombreadoSubtitulos alinearCabecera">
    <mat-card-title class="subtitulo-seccion">Registrar SubActividad</mat-card-title>
    <div class="emp">
      <button mat-button class="mat-button-icon" (click)="close()">
        <div class="example-tooltip-host" matTooltip="Salir">
          <span>
            <i class="material-icons">close</i>
          </span>
        </div>
      </button>
    </div>
  </mat-card-header>
<mat-card-content>
  <form #FormCrearSubActividad="ngForm" novalidate name="FormCrearSubActividad">
    <div class="modal-body">
      <mat-form-field class="example-full-width">
        <input matInput type="text" value="" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();"
          placeholder="Nombre de Sub Actividad"
           [(ngModel)]="lsSubActividad.descripcionSubActividad" name="subactividad" #subactividad="ngModel"
           (keypress)="setInputPattern($event,'soloUnEspacio')" 
           required [pattern]="setValidatorPattern('soloUnEspacio', setQuantifier('+'), true, true)">
        <mat-error>
          <app-validators-messages [controlVar]="subactividad" labelName="Nombre de Sub Actividad">
          </app-validators-messages>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="text" value="" placeholder="Abreviatura de Sub Actividad"
         [(ngModel)]="lsSubActividad.abreviatura" name="abreviatura" #abreviatura="ngModel"
         (keypress)="setInputPattern($event,'soloUnEspacio')"
        required [pattern]="setValidatorPattern('soloUnEspacio', setQuantifier('+'), true, true)">
        <mat-error>
          <app-validators-messages [controlVar]="abreviatura" labelName="Nombre de abreviatura">
          </app-validators-messages>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <!--¿¿ <input matInput placeholder=""> -->
        <mat-select placeholder="Seleccione Actividad" [(ngModel)]="lsSubActividad.actividad.idActividad" name="idActividad" #idActividad="ngModel"
          required>

          <mat-option>--</mat-option>
          <mat-option *ngFor="let ls of lsActividad" [value]="ls.idActividad"> {{ls.descripcionActividad}}</mat-option>
        </mat-select>
        <mat-error>
          <app-validators-messages [controlVar]="idActividad" labelName="Nombre de Actividad">
          </app-validators-messages>
        </mat-error>
      </mat-form-field>

      <div class="text-center espa">
        <button mat-raised-button (click)="insertarSubActividad()" [disabled]="FormCrearSubActividad.invalid"> Aceptar </button>
        <button mat-raised-button (click)="  close()"> Cerrar </button>
      </div>
    </div>
  </form>

</mat-card-content>
</mat-card>