<div class="modal-header sombreadoSubtitulos">
  <h4 mat-dialog-title class="subtitulo-seccion text-center" > <span>Actividad Personal</span>   </h4>
</div>
<div class="modal-body">
  <div class="form-group">
    <p class="text-center">¿Desea eliminar Registro?</p>
     
  </div>
</div>

<mat-dialog-actions class="modal-footer">
    <button type="button" mat-raised-button class="border-botton" (click)="close()">Cancelar</button>
     
    <button type="button" mat-raised-button class="border-botton " (click)="eliminarActividadPersonal()" >Aceptar</button>
  </mat-dialog-actions>
