<mat-card class="matCardMin">   
    <mat-card-header class="sombreadoSubtitulos alinearCabecera">
        <mat-card-title class="subtitulo-seccion">Detalles de Ordenes</mat-card-title>
       
        <div class="emp">
          <button style="border: 0 !important; background: transparent !important; cursor:pointer !important;"  (click)="close()">
            x
          </button>
        </div>
      </mat-card-header>

<div class="container form-group">
  <div class="col-12">
    <div class="row">
      <div class="card-body">
        <mat-table #table [dataSource]="dsOrden">

          <ng-container matColumnDef="idOrdenPago">
            <mat-header-cell *matHeaderCellDef> Orden </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.idOrdenPago}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fhIns">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fhIns}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="area">
            <mat-header-cell *matHeaderCellDef> Área </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.area}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nombreItem">
            <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nombreItem}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="precioUnitario">
            <mat-header-cell *matHeaderCellDef> Precio Unitario </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.precioUnitario}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="precioSubtotal">
            <mat-header-cell *matHeaderCellDef> Monto</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.precioSubtotal}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="dispOrden"></mat-header-row>
          <mat-row *matRowDef="let row; columns: dispOrden;"></mat-row>
        </mat-table>
        <h4 align="end">Total:{{decimal}}</h4>
      </div>
    </div>

  </div>
</div>
<div class="col-12">
  <div class="row">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-1">
          <!-- PDF -->
        
        </div>
        <div class="col-5"></div>
        
        <div class="col-4"></div>
        <button mat-raised-button (click)="close(add)">Cancelar</button>
        </div>
      </div>
      </div>
      </div>
      
</mat-card> 