<div class="modal-header">
  <h4 class="modal-title text-center"> Confirmaci&oacute;n de cita </h4>
  <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="col-12 text-center">
    <div class="form-grup form-group-sm row">
      <mat-label class="col-sm-12  bold-text">
        ¿Est&aacute; seguro que desea confirmar la {{tipoCita}} con la cobertura {{descripCobertura}} con IAFAS {{descripIafas}}
        para el servicio de {{descripServicio}} con el m&eacute;dico {{descripMedico}} ?
      </mat-label>
    </div>
  </div>

  <div class="col-sm-12 text-center">
    <div class="form-grup form-group-sm">
      <button mat-raised-button color="primary" (click)="ConfirmarCitaComponent()"> Si </button>
      <button mat-raised-button color="warn" (click)="onNoClick()"> No </button>
    </div>
  </div>

</div>